[2019-11-14 01:28] membphis opened #1 "misc: some basic goals"
ingress本身是为了k8s入口流量转发，为了达到这样的效果，需要一层代理，我们用apisix实现
所以ingress本身的能力偏向管理，性能要求属于apisix自身特性
需要达到一些管理效果：
1、yaml文件的定义，兼容k8s 现有ingress的配置；
（测试现有ingress的yaml能否被aipsix ingress controller正确执行）
2、能支持apisix中新增的对象，比如route、upstream、plugin等；
（测试apisix对象是否能够通过yaml正确定义）
3、apisix的热加载；
（测试yaml变更之后，是否是热更新）
4、与k8s中的状态同步；
（测试k8s服务生命周期是否正常同步到apisix）
其他一些功能测试：
5、apisix本身的healthcheck等；
（测试k8s pod出现异常时，apisix能否及时调整流量）
6、ing

[2019-12-20 01:56] membphis opened #2 "test: need to add some test cases."

[2019-12-25 12:39] gxthrj opened #3 "discuss: the design of yaml for APISIX"
为了能够在k8s中使用yaml定义出apisix需要的对象，定义了以下结构。
如果存在没有覆盖到的功能可以增加 & 修改，欢迎大家一起讨论。

# 结构示例
### 1、ApisixRoute基础路由 结构上与ingress类似，方便迁移原生ingress yaml
[code]
#### 支持

- namespace、host、path、backend(service)
- path支持全量和深前缀匹配
- 支持部分annotation
[code]
#### 不兼容
- annotation，除了上面提到的以外，ingress中的其他annotation通过插件 ApisixPlugins 方式替代

### 2、定义ApisixService 对应apisix中的service对象
[code]
#### 支持

- 指定namespace下service 与upstream 的绑

[2019-12-26 07:55] linsir opened #4 "doc: How to deploy it on k8s?"
How to deploy it on k8s?

[2019-12-31 08:03] binlaniua commented on #3
建议增加 rewrite annotation
[code]

[2019-12-31 08:22] gxthrj commented on #3
@binlaniua ok，get it
We'll think about how to do it. maybe need a plugin in apisix

[2020-02-17 12:19] Icedroid commented on #3
希望支持grpc

[2020-02-23 06:21] gxthrj commented on #3
ApisixPlugins has be reomved , plugins are value objects in route and service.
You can define plugin in  ApisixRoute and ApisixService directly.
We also provide some annotations.
e.g.
[code]

[2020-03-16 10:29] 1026197530 opened #5 "apisix对etcd去集群问题"
我测试apisix对etcd集群的支持情况，发现有点问题。我的测试方法是：先逐一的把etcd集群的节点杀掉，每杀掉一个就看一些dashboard。只有把3个etcd集群中的节点都杀掉时，dashboard才开始报错。但是，当我把etcd节点启动其中部分节点时，dashboard始终是去连一个我没有启动的etcd节点，而不会去尝试连接我已经启动的etcd节点。

[2020-03-16 11:59] membphis commented on #5
please use English in public channel.

It is a bug of resty-etcd: https://github.com/api7/lua-resty-etcd/issues/55

[2020-03-16 13:28] gxthrj commented on #5
We provide ingress controller using apisix for k8s here.
It is a bug of resty-etcd: https://github.com/api7/lua-resty-etcd/issues/55

[2020-03-16 13:28] #5 closed

[2020-03-16 13:41] gxthrj opened #6 "[feature] provide ValidatingAdmission for CRD"
Perform basic verification on CRD to ensure that key fields are filled in correctly

[2020-03-16 13:44] gxthrj opened #7 "[TODO] Add unit tests"

[2020-03-16 13:47] gxthrj opened #8 "[TODO] Translate documents into English"

[2020-03-17 02:20] gxthrj opened #9 "[TODO] Add a complete demo to run with ingress-controller"

[2020-03-17 02:31] gxthrj opened #10 "[discuss] do we need to support parsing native ingress yaml?"
It is not supported temporarily. If there is a need, you can consider adding
There are mainly the following reasons:
1.In k8s, the coexistence of nginx ingress and apisx ingress can be selected;
2.Because ingress is edge traffic, during the migration from nginx ingress to apisix ingress, you may need to roll back. To facilitate quick rollback to nginx ingress, you should avoid modifying the origin

[2020-03-17 03:38] Miss-you commented on #10
我的建议如下
1、apisix入口支持标准的种类：ingress，不支持注解部分
2、apisix扩展功能通过apisixRoute支持
3、提供一个转换器，将标准ingress转换成apisixRoute

My suggestions are as follows
1. The types of apisix entry support standards ingress, no need to support the annotation part
2. Apache APISIX extension function supporting via apisixRoute
3. Provide a converter to convert standard ingress to apisixRoute

[2020-03-17 03:48] gxthrj opened #11 "[TODO] Active / standby deployment to improve availability"

[2020-03-17 03:49] gxthrj opened #12 "[TODO] Supplementary unit tests"

[2020-03-17 03:51] Miss-you commented on #10
We can refer to how the Kong ingress controller does it. Does it define a new CRD object or is it compatible with the original ingress configuration?

[2020-03-18 02:05] gxthrj commented on #10
Yes, this is an idea, but it will cause other problems. For example, the definition of a route will be in multiple files. You need to combine ingress and apisixRoute to determine the configuration of a route, which will cause troubles for operation and maintenance personnel.

[2020-03-18 04:03] gxthrj commented on #10
We did learn a lot from kong ingress. We still have some ideas of our own, because apisix and kong still have many differences, such as the implementation of route or plugins.

Well, let's continue to explore the definition of inress.
Kong ingress uses kongIngress CRD to extend the definition of inress, uses kongPlugin to define plugins, and then binds ingress and service through annotation.

I do

[2020-03-18 06:01] chzhuo opened #13 "Support ingress-nginx Canary ?"
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#canary

[2020-03-18 07:42] chzhuo opened #14 "BUG: Route mybe no desc field. And code not go fmt"
![image](https://user-images.githubusercontent.com/10919124/76936927-bc7de200-692e-11ea-8c1a-2b92f3748b0c.png)
![image](https://user-images.githubusercontent.com/10919124/76936963-c99ad100-692e-11ea-92e2-996bba8e0992.png)

as below picture show, Route mybe no `desc` field
/apisix/admin/routes
![image](https://user-images.githubusercontent.com/10919124/76936566-1b8f2700-692e-11ea-868f-ecb3b2a965dc.

[2020-04-17 02:34] Iflengmo opened #15 "Is ingress-controller be ready to use?"
I can't start this ingress follow the doc https://github.com/api7/ingress-controller/blob/master/doc/dev/develop.md
And it can be used now?

[2020-04-18 12:28] moonming commented on #15
@gxthrj please take a look. Does the document need to be updated?

[2020-04-23 03:49] dangfan commented on #15
In the deployment documentation, it is said that "并且补充APISIX image路径和版本号". Should this be the path of the image of APISIX ingress controller?

[2020-04-30 02:59] gxthrj commented on #15
Are there any more detailed error messages, or point out all unclear descriptions in the document "deploy.md", which I will add.

[2020-04-30 02:59] gxthrj commented on #15
yes,that is a mistake, I have fixed it  now
thanks for report

[2020-04-30 03:13] gxthrj commented on #14
@chzhuo
Yes, I will add a check here
However, it is recommended that when using `ingress-controller`, only define route through `CRD`, do not directly use `apisix dashboard` or `apisix admin api`, this will lead to inconsistent state between apisix and k8s, ingress-controller only does one-way synchronization `from k8s to apisix` , Two-way synchronization is more difficult.

Define route to use CR

[2020-04-30 03:26] gxthrj commented on #13
Yes, this is a useful annotation. At present, we support it by means of plug-ins. You can refer to the custom `canary plug-in` on the `route` or `service` through CRD (`ApisixRoute` & `ApisixService`).

The definition of annotation will be provided as a feature in the future, because we will rely on APISIX official canary plug-in support( @membphis ), and then we will provide both annotation and p

[2020-06-11 08:19] chestarss opened #16 "自定义apisixRoute实例后controller创建资源报错"
定义了Route资源
`apiVersion: apisix.apache.org/v1
kind: ApisixRoute
metadata:
  name: test-route
  namespace: testnamespace
  resourceVersion: '80141484'
spec:
  rules:
    - host: xxx.test-dev.com
      http:
        paths:
          - backend:
              serviceName: xxx
              servicePort: 8080
            path: /
`
controller分别添加route失败，到dashboard查看upstream创建了，重启controller，又创建了service，再重启

[2020-06-11 08:32] membphis commented on #16
@gxthrj do you have time take a look at this issue?

[2020-06-11 11:08] chestarss commented on #16
按我的理解，目前的controller没有感知 apisix中的状态是否和CRD instance中定义的资源一致，感觉像是命令式的发起单次api调用apisix，并没有确保CRD资源在apisix中终态保证，也没有重试机制。

从我的实验效果来看，只能通过强制重启controller触发全量更新来逐渐创建对应的upstream、service和router

[2020-06-16 01:49] gxthrj commented on #16
@chestarss  This is a bug from the last pr.
there is a http status check here https://github.com/api7/seven/blob/master/utils/http.go#L23.
but get code 201 when adding route.
I will fix it today

[2020-06-16 01:52] gxthrj commented on #16
We did sync between the CRD and apisix, it should be idempotent No matter how many times you run the controller

[2020-06-16 02:22] #16 closed

[2020-06-16 02:24] gxthrj commented on #16
If you find any problems, you can reopen this issue

[2020-07-12 23:23] mtx2d opened #18 "English README for a larger audience"
Dear Team,
I like the project and want to use APISIX as my ingress controller for a personal project.
Noticed that we only have Chinese readme, which limits the audience to only Chinese readers.

Would it make sense to have an English version, I can help if we need one.

[2020-07-13 01:38] moonming commented on #18
@mtx2d Of course, we should have an English version. That will be great if you can help:)

[2020-07-13 02:33] mtx2d commented on #18
PR #19 is submitted :D.

[2020-07-13 02:35] mtx2d commented on #8
#19 is submitted for this issue.

[2020-07-13 04:02] mtx2d commented on #9
Hi @gxthrj ,
This means we need a `Get Started`  session, right?
I really wish this demo integrates with `Helm` as well.

[2020-07-13 04:03] mtx2d commented on #9
I am in the process of deploying APISIX to my GCP cluster.
Will document the process here and hopefully we can compile it into a working demo.

[2020-07-13 04:05] mtx2d commented on #18
#19  merged, closing this issue.

[2020-07-13 04:05] #18 closed

[2020-07-14 07:16] gxthrj commented on #9
Great，I think it's a good way to use `helm`, Looking forward to your document

[2020-07-17 08:49] flyingfish7 opened #20 "apisix upsteam node cannot be deleted dynamically"
My configuration information is as follows

apisixroute Configuration:

---
apiVersion: v1
items:
- apiVersion: apisix.apache.org/v1
  kind: ApisixRoute
  metadata:
    creationTimestamp: "2020-07-17T05:51:42Z"
    generation: 7
    name: mall-apisix-ingress
    namespace: mall
    resourceVersion: "2771827"
    selfLink: /apis/apisix.apache.org/v1/namespaces/mall/apisixroutes/mall-apisix-ingress

[2020-07-17 10:35] membphis commented on #20
@gxthrj do you have time to look at this?

[2020-07-21 03:35] gxthrj commented on #20
@flyingfish7
1.Please show me the version of APISIX you are using.
2.show me some Related logs in ingress-controller, if you have time.

[2020-07-22 06:50] 107192468 commented on #4
我也需要一份详细的部署文档

[2020-07-22 07:32] moonming commented on #4
@gxthrj please take a look

[2020-07-25 02:53] gxthrj commented on #4
here is the doc for k8s
https://github.com/api7/ingress-controller/blob/master/doc/deploy/deploy.md

[2020-07-29 05:34] gxthrj commented on #4
this issue will be closed

[2020-07-29 07:09] flyingfish7 commented on #20
ingress log :
E0729 00:18:39.513125       1 builder.go:189] solver upstream failed, patch node info to etcd failed, err: http patch failed, url: http://apisix-gw-lb:9080/apisix/admin/upstreams/00000000000000000102/nodes, err: status: 400, body: {"error_msg":"invalid configuration: additional properties forbidden, found 172.30.118.22:8102"}
E0729 00:27:23.164890       1 builder.go:189] solver upstr

[2020-08-02 03:56] #4 closed

[2020-08-02 12:31] gxthrj commented on #20
Currently ingress-controller does not support APISIX v1.4.*, because the version does not support `patch` upstream nodes directly.
Unfortunately, The APISIX version you are currently using does not support the `patch` upstream nodes interface, you can downgrade APISIX to v1.3, or wait for the upcoming APISIX v1.5(Will be released in a few days).

[2020-08-06 03:28] flyingfish7 commented on #20
I tried apisix1.3 and 1.5 version, but the following error will still appear in ingress!

E0806 02:40:41.250639       1 builder.go:181] solver upstream failed, update upstream to etcd failed, err: http patch failed, url: http://apisix-gw-lb:9080/apisix/admin/upstreams/00000000000000000086, err: status: 400, body: {"error_msg":"invalid configuration: property \"nodes\" validation failed: expect obj

[2020-08-06 07:18] membphis commented on #20
we can fix this case in APISIX, make it support the number of the upstream node can be `0`.

[2020-08-13 04:34] neillee95 opened #21 "Official APISIX Ingress Controller Image"
In the [sample ingress controller](https://github.com/api7/ingress-controller/blob/e9e69058ee83a04ccf9dd52466d42e56f38cecb5/samples/deploy/deployment/ingress-controller.yaml#L30) doc, I need to modify the APISIX ingress controller image, Is there a built ingress controller image?

 I cloned this repository, and built a image by Dockerfile,
[code]
but the built image is 1.1 G, It's a little big.

[2020-08-16 07:13] moonming commented on #21
@gxthrj please take a look.

[2020-08-17 03:03] gxthrj commented on #21
ok,I will send a pr to reduce image volume

[2020-08-17 12:41] #21 closed

[2020-09-07 03:15] dayongi opened #23 "Some questions about deploying APISIX Ingress Controller"
问题一：k8s已经部署完成，一个master和一个node，完成部署后，我是直接在master节点上apply samples目录中的yaml文件就可以了吗？还是说需要做一些其他的操作？

问题二：因为我们需要的一个服务鉴权的功能，具体的业务需要自己来写，我理解 APISIX ingress controller是通过调度API的方式进行操作etcd以完成配置同步，真正操作客户端请求的还是APISIX，那可能需要自己开发一个小插件来满足业务需求，请问我理解的是否有误？

问题三：如果需要自己开发业务插件或者服务，那么我应该按照APISIX ingress controller文档中的"SDK"的来部署开发环境而不是"deployment"，如果需要部署开发环境，我需要自己开发一些业务，按照文档的描述，我理解是需要在集群外部署APISIX，这个“集群外”是什么意思？是部署在虚拟机上还是放到d

[2020-09-07 05:43] membphis commented on #23
please use English in public channels, and one issue for one question is a good way.
you should create 3 issues for each question.

[2020-09-07 06:01] #23 closed

[2020-09-07 06:38] dayongi opened #24 "standard_init_linux.go:190: exec user process caused "no such file or directory""
I can't startup the pod of ingress controller follow the doc: https://github.com/api7/ingress-controller/blob/master/doc/dev/develop.md.

step1: kubectl get pods -n coud
![image](https://user-images.githubusercontent.com/41787764/92355465-deeefc00-f116-11ea-95b6-572c0ffa783e.png)

step2:  kubectl describe pod ingress-controller-8686dfdb76-x7mvg -n cloud
![image](https://user-images.githubuserconte

[2020-09-07 10:05] #24 closed

[2020-09-07 10:07] gxthrj commented on #24
need to specify a `ENV` in configmap

[2020-09-09 02:06] dayongi opened #28 "Failed to startup APISIX ingress controller"
When I execute the `kubectl apply -f ingress_controller.yaml` command, I get the following error:
[code]

Here are the details of ingress controller pod:
[code]

[2020-09-09 02:43] dayongi commented on #28
Fixed, Missing `ENV` in ConfigMap.

[2020-09-09 02:43] #28 closed

[2020-09-09 02:46] dayongi opened #29 "Failed to list *v1.ApisixRoute: apisixroutes.apisix.apache.org is forbidden"
When i try to define a route through ApisixRoute, i get following error:
[code]

[2020-09-09 07:20] dayongi commented on #29
I create a new user to fix this.

[2020-09-09 08:28] dayongi opened #30 "find endpoint cloud/httpserver err%!(EXTRA string=endpoints "httpserver" not found)"
I have finished deployment of  the APISIX ingress controller,  but when i use this demo i get following error:

**demo:**
[code]

**ingress controller error log:**
[code]

---

I'm sure, the k8s master node hava been saved cofiguration to etcd,i use `kubectl get ApisixRoute httpserver-route -n cloud -o yaml` got that.
[code]

[2020-09-10 01:52] dayongi opened #32 "runtime error: invalid memory address or nil pointer dereference"
**An error occurred in the Ingress controller when I added the Ingress configuration:**
[code]

**ingress configuration:**
[code]

**K8S Service:**   I think the service is all right
[code]

**cloud.yaml: **

Because the `etcd` is a pod on the `master node` ,so i  don't know the `ETCD_SERVER_INTERNAL`  what to put in here
[code]

[2020-09-10 01:57] dayongi commented on #30
Because there is no corresponding service. So add the corresponding service to fix this.

[2020-09-14 02:12] gxthrj commented on #32
it seemed that your apisix has already defined routes before,and the `desc` is nil
two  solutions:
1. if the data is not important, you can remove all routes, and use CRD defined only;
2.or you can add `desc` field with CRD rules: `host` + `path`;

[2020-09-14 02:14] gxthrj commented on #30
yes, the httpserver is a demo,  There will be misunderstandings. need to point it out in the documentation.

[2020-09-17 08:29] maxluo1992 opened #33 "I execute the yaml file in k8s and report such an error in the log on the controller"
I execute the yaml file in k8s and report such an error in the log on the controller.
ingress-controller error log:
E0917 16:16:11.276293       1 builder.go:154] solver upstream failed, find upstream from etcd failed, upstream: &{ID:<nil> FullName:0xc0004a4100 Group:0xc0004a4070 ResourceVersion:0xc0004a4080 Name:0xc0004a40d0 Type:0xc0004a4110 HashOn:<nil> Key:<nil> Nodes:[0xc00000f1a0] FromKind:<n

[2020-09-17 14:40] membphis commented on #33
please confirm if you have set the right admin key.

[2020-09-18 01:12] maxluo1992 commented on #33
I tried to find api7/ingress-controller to access the admin-key of APISIX, but I did not find the corresponding option in the config.json file, may I ask where to configure the admin-key

[2020-09-18 07:51] membphis commented on #33
@gxthrj do you have time to take a look at this issue?

[2020-10-28 11:01] zyxtomcat opened #35 "There is not a official docker image， someone can help build one？"
I cann't find the official docker image anywhere, someone can help build one? Thanks

[2020-10-28 13:05] gxthrj commented on #35
yes, It is best to upload to dockerhub.
and then replace the image [here](https://github.com/api7/ingress-controller/blob/1ec0f6c8ef7c412d8fc57d635eec8134317b64d3/samples/deploy/deployment/ingress-controller.yaml#L30)

[2020-10-29 15:02] gxthrj opened #36 "[DISCUSS] About donating api7/ingress-controller as a sub-project of Apache APISIX"
Hello everyone,

I am the founder of `api7/ingress-controller`.

Recently, more and more friends have paid attention to this project, and it has also been used by some companies in the production environment. But we know that `api7/ingress-controller` still has a lot of room for improvement. In order to make `api7/ingress-controller` more useful, I want to start discussing donating `api7/ingress-c

[2020-10-29 15:06] moonming commented on #36
+1

[2020-10-29 15:12] gxthrj commented on #35
@zyxtomcat I will donating api7/ingress-controller as a sub-project of Apache APISIX, the [discuss](donating api7/ingress-controller as a sub-project of Apache APISIX) is here.

If all goes well, we will publish the image under the apache organization of dockerhub.

[2020-10-30 04:04] membphis commented on #36
agree +1

[2020-11-26 02:41] gxthrj opened #38 "feat: declare Apache header for all files"

[2020-11-26 02:43] gxthrj opened #39 "CI: verify Apache license header"

[2020-11-27 08:38] gxthrj opened #42 "chore: Organize and standardize code format"

[2020-12-02 14:05] tao12345666333 commented on #36
It looks like it is now a sub-project of Apache APISIX.

[2020-12-03 01:43] jxhsjxhs commented on #36
+1

[2020-12-03 07:43] moonming opened #45 "add asf.yaml"
like https://github.com/apache/apisix/blob/master/.asf.yaml

[2020-12-04 08:55] gxthrj commented on #36
OK， we can close this issue now.

[2020-12-04 08:55] #36 closed

[2020-12-05 02:51] membphis opened #46 "doc: add User Stories"
we can add `User Stories` in README.md.
same as: https://github.com/apache/apisix/tree/master#user-stories

aispeech: Why we create a new k8s ingress controller?(Chinese)
https://mp.weixin.qq.com/s/bmm2ibk2V7-XYneLo9XAPQ

Tencent Cloud: Why choose Apache APISIX to implement the k8s ingress controller?(Chinese)
https://www.upyun.com/opentalk/448.html

if need, we can add more

[2020-12-05 05:01] gxthrj commented on #46
That`s a good idea. I will add them to README.

[2020-12-05 14:31] #45 closed

[2020-12-05 15:32] gxthrj commented on #33
@maxluo1992 Now we do not support a way to config admin-key, I am not sure how to configure them when we use multi-APISIX cluster with `ingress.class` annotation. There should be many `admin-keys`.

For now , I suggest you to remove the `admin-key` and use `allow_admin` to keep `Admin API` safe.

[2020-12-05 15:39] gxthrj opened #50 "Discuss: how to configure `admin_key` for multi-APISIX cluster."

[2020-12-06 09:06] gxthrj opened #51 "Discuss: use terratest for testing with Kubernetes"
I proposal use [terratest](https://github.com/gruntwork-io/terratest) for testing with Kubernetes. It can test the logic of Kubernetes with code(APIs).

But `ingress-controller` has CRDs, and the `terratest`  do not CRDs testing.

Anybody has some good ideas?

I found an [issue](https://github.com/gruntwork-io/terratest/issues/491) to discuss the feature, need time to digest.

[2020-12-06 09:09] gxthrj opened #52 "feat: ApisixSSL support"
As design in the [discuss](https://github.com/apache/apisix-ingress-controller/issues/3), we had support the `ApisixRoute` `ApisixService` `ApisixUpstream`

`ApisixSSL` is needed, too.

[2020-12-06 12:40] membphis commented on #3
@gxthrj we need a English version

[2020-12-06 12:45] membphis commented on #51
Why we choose [terratest](https://github.com/gruntwork-io/terratest)?  Any reason?

[2020-12-06 13:33] gxthrj commented on #3
ok, will change to english next week

[2020-12-07 06:48] gxthrj commented on #2
close this issue now , we discuss the new test way in #51

[2020-12-07 06:48] #2 closed

[2020-12-07 06:51] gxthrj commented on #8
close this issue now , will add another issue for Translating other docs.

[2020-12-07 06:51] #8 closed

[2020-12-07 07:09] gxthrj commented on #1
close this misc now. We have a basic implements.

[2020-12-07 07:09] #1 closed

[2020-12-07 07:15] gxthrj commented on #6
close this issue now, will give a new proposal.

[2020-12-07 07:15] #6 closed

[2020-12-07 07:16] gxthrj commented on #12
close this now , we discuss it in #51

[2020-12-07 07:16] #12 closed

[2020-12-07 07:17] gxthrj commented on #7
close this issue now , we discuss it in #51

[2020-12-07 07:17] #7 closed

[2020-12-07 07:20] gxthrj commented on #11
It is suggest to use Kubernete election model, such as Kube-scheduler.

[2020-12-07 07:26] gxthrj commented on #15
close this issue now，reopen it  if have any problem

[2020-12-07 07:26] #15 closed

[2020-12-07 07:31] gxthrj commented on #13
Good news, the Apache APISIX community is discussing implementing a traffic-split plug-in, based on which canary can be implemented.

The discuss mail list is https://lists.apache.org/thread.html/rf02dc53a4af5d98d2513d89256b47466934d129af06d0bdcdb49cc8e%40%3Cdev.apisix.apache.org%3E

[2020-12-07 07:58] tokers opened #53 "The default namespace `cloud` is not declared in documents"
As per the configurations in sample/deploy, we have an implicit install namespace `cloud` for those API objects, we'd better to add some hints to create this namespace firstly, otherwise errors will occur while users are installing these resources.

[code]

What's more, i think the `cloud` namespace is not so specialized, i recommend to use `ingress-apisix` as the namespace.

[2020-12-07 07:59] tokers opened #54 "Support kustomize"
We need support the kustomize so users can install all the necessary API objects by just typing one command.

[2020-12-07 08:03] tokers opened #55 "unexpected characters in the definition of image in the pod template declarement"
See https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/deployment/ingress-controller.yaml#L30 for the details.

![image](https://user-images.githubusercontent.com/10428333/101324738-abeb0e80-38a5-11eb-97fb-382d5e61f3c3.png)

Users cannot really deploy apisix-ingress-controller.

[2020-12-07 08:06] gxthrj commented on #50
For now, `apisix-ingress-controller` do not support the config `admin_key` from Apache APISIX.
When using  `apisix-ingress-controller` with APISIX, it is recommended to remove the `admin_key` setting. You can use `allow_admin` to restrict the access scope of the `APISIX control plane` to ensure security.

Now we can discuss how to support the `admin_key` in `apisix-ingress-controller`.
 In differe

[2020-12-07 08:08] tokers opened #56 "We need a good CLI interface"
So far we don't have a CLI interface, the first step users may do is typing `./apisix-ingress-controller --help` to see each meaning of options when they build it in their own dev environment.

[2020-12-07 08:11] gxthrj commented on #33
@maxluo1992  For now, apisix-ingress-controller do not support the config admin_key from Apache APISIX.
When using apisix-ingress-controller with APISIX, it is recommended to remove the admin_key setting. You can use allow_admin to restrict the access scope of the APISIX control plane to ensure security.

[2020-12-07 08:11] tokers opened #57 "prometheus metrics support"
We need expose the prometheus metrics, this is important since we need monitoring and alarm to enhance the observability and find problems in time.

[2020-12-07 08:12] gxthrj commented on #9
hello， @mtx2d , any update ?

[2020-12-07 08:16] gxthrj commented on #55
related to #35

[2020-12-07 08:16] tokers opened #58 "The APISIX series Resources should be maintained in a separate repository"
So far both apisix-ingress-controller and apisix-dashboard maintain their own definitions for each APISIX resource, like Route, Upstream, Consumers and so on.

I propose to keep the definitions for those resources in a separate repository, and versioning them according to the release of data plane.

Protobuf 3 is a good choice to definition them.

[2020-12-07 08:17] tao12345666333 opened #59 "Need to add retry, when synchronization"
I occasionally encounter failures when requesting the admin API of the APISIX cluster.

[code]

This will cause the Ingress Controller to fail to create the corresponding resources normally. like this:

[code]

[2020-12-07 08:20] gxthrj commented on #53
Yes, maybe `default` namespace is better :)

[2020-12-07 08:21] gxthrj commented on #59
Yes ， `retry` is necessary feature.
We can support this feature first.

[2020-12-07 08:34] gxthrj commented on #54
agree

[2020-12-07 09:01] tokers commented on #59
We may re-add this failure job to the queue.

[2020-12-07 09:02] tokers commented on #59
Assigned to me.

[2020-12-07 09:09] tokers commented on #53
Yeah, `default` is good.

[2020-12-07 09:11] tokers commented on #54
Assigned to me.

[2020-12-07 09:41] gxthrj commented on #58
Agree

We can ref to https://github.com/kubernetes/code-generator/cmd/go-to-protobuf

the submodule [apisix-types](https://github.com/api7/types)  in `apisix-ingress-controller` also use the code-generator.

[2020-12-07 09:46] gxthrj commented on #55
We can build an official image under the Apache after the 0.1.0 milestone

[2020-12-07 09:48] gxthrj commented on #53
I will update it in PR #48 .

[2020-12-07 09:52] gxthrj commented on #51
Ref to kuma, I saw a [feat](https://github.com/kumahq/kuma/pull/784) about terratest.

[2020-12-07 09:54] gxthrj commented on #50
@tokers what do you think about this ?

[2020-12-07 10:01] gxthrj commented on #20
If Apache APISIX do not support this feature, we can do some protect.

[2020-12-07 10:04] gxthrj commented on #30
I think need to change the demo, use a public backend image.

[2020-12-07 10:05] gxthrj commented on #29
ok, we can close this issue now .

[2020-12-07 10:05] #29 closed

[2020-12-07 10:11] gxthrj commented on #33
I will organize this description into the document.

[2020-12-07 14:03] tokers commented on #30
We may create a demo by ourselves.

[2020-12-07 14:13] tokers commented on #55
@juzhiyuan @nic-chen @membphis We may also use it in Dashboard.

[2020-12-08 01:34] tokers opened #60 "We may need debounce mechanism to collapse Kubernetes events"

[2020-12-08 02:50] Bhanuji95 commented on #33
Hi, I removed admin_key and used allow_admin settings as you suggested, but then the log message says **admin_key is missing**.

[2020-12-08 07:05] tokers opened #62 "use zapcore to encapsulate a log package"
We need a good log package, which must contains the following features:

* support custom log level, log files
* support custom log rotation options (can be added in the future)
* support transmit logs to external servers like syslog server (can be added in the future)
* high performance as soon as possible

I propose to use [zapcore](https://github.com/uber-go/zap/tree/master/zapcore) to implemen

[2020-12-08 08:18] membphis opened #63 "About the status of this project"
we need some doc like this:

[code]

[2020-12-08 08:38] moonming commented on #33
ping @gxthrj

[2020-12-08 09:03] tokers commented on #33
Admin key should be stored in Kubernetes Secret, we should add secret informers to fetch them and use them when communicating with APISIX. @gxthrj @moonming @membphis

[2020-12-08 10:47] gxthrj opened #67 "Chore: change the module from `github.com/api7/ingress-controller` to `github.com/apache/apisix-ingress-controller`"

[2020-12-08 14:50] membphis commented on #63
fixed

[2020-12-08 14:50] #63 closed

[2020-12-08 14:52] gxthrj commented on #33
It is strange.
Please tell us what version of APISIX you are using.
And show the `admin_key` section in `config.yaml` and `config-default.yaml`.

[2020-12-08 14:54] gxthrj commented on #33
Yes, it is a way, but APISIX should know this secret, too. We can discuss this in #50 .

[2020-12-08 15:08] Bhanuji95 commented on #33
Hello, we used **apache/apisix:latest** image from docker hub and we completely commented out the admin_key part as below.

config-default.conf:
![tmp_1607439753475](https://user-images.githubusercontent.com/38535547/101500727-e1225a00-3994-11eb-88c1-354d4462b496.jpg)

config.yaml:
![tmp_1607439965466](https://user-images.githubusercontent.com/38535547/101500912-17f87000-3995-11eb-8244-beb4afd579b

[2020-12-08 17:53] gxthrj commented on #33
I will try to reproduce with the latest version of APISIX

[2020-12-09 02:06] tokers opened #69 "API specification for CRDs"
We need API references for our CRDs, like Istio, Service APIs.

* https://istio.io/latest/docs/reference/config/networking/virtual-service/
* https://kubernetes-sigs.github.io/service-apis/spec/

[2020-12-09 02:35] tokers opened #70 "Add command line tool test cases"
We create a CLI in https://github.com/apache/apisix-ingress-controller/pull/66 without test cases.

We will add necessary test cases after this PR is merged and

[2020-12-09 03:20] gxthrj commented on #53
close this issue now

[2020-12-09 03:20] #53 closed

[2020-12-09 03:22] gxthrj commented on #46
close this issue now.

[2020-12-09 03:22] #46 closed

[2020-12-09 06:58] tokers opened #71 "Service APIs support"
We have plan to support [Service APIs](https://kubernetes-sigs.github.io/service-apis/) but without concrete steps to do it, and we need more and more feedbacks from the community, more communications with the Service APIs sig.

This issue is used to track our new trend about Service APIs.

[2020-12-09 09:22] membphis commented on #33
any news?

[2020-12-09 09:42] tokers commented on #56
Solved.

[2020-12-09 09:42] #56 closed

[2020-12-09 10:28] tokers opened #73 "kubectl plugin support"
Just like ingress-nginx:

https://github.com/kubernetes/ingress-nginx/blob/master/docs/kubectl-plugin.md.

[2020-12-10 01:26] tokers commented on #54
Solved.

[2020-12-10 01:26] #54 closed

[2020-12-10 01:28] tokers commented on #62
Solved.

[2020-12-10 01:28] #62 closed

[2020-12-10 01:32] tokers commented on #50
Secret is the most appropriate way, we can watch all namespaces except some unexpected like kube-system, istio-system and etc.

[2020-12-10 01:43] tokers opened #74 "CI/CD Integration"
* [x] license checker
* [x] semantic
* [x] go unit test
* [x] go unit test coverage report
* [x] spell check

[2020-12-10 10:10] tokers commented on #38
Solved.

[2020-12-11 01:46] tokers opened #79 "Spelling check in CI"
Just like https://github.com/apache/apisix/pull/3011, we can also introduce after we enable CI.

[2020-12-11 01:56] gxthrj commented on #33
will update today

[2020-12-11 02:20] #38 closed

[2020-12-11 09:19] membphis commented on #74
I think we need to add CI first, it is important

[2020-12-11 10:30] tokers commented on #74
We are ongoing.

[2020-12-11 10:43] tokers commented on #50
The multiple APISIX cluster support should be implemented by Manager API. we as the invoker of Manager API, only need to pass cluster flag to it.

@gxthrj @membphis

[2020-12-11 10:57] tokers commented on #39
Assigned to me.

[2020-12-12 01:53] membphis commented on #50
for the CP API, need to support mTLS way. The Admin API has supportted this feature. The Manage API, need @nic-chen 's confirming.

if the `ingress-controller` needs to connect multiple APISIX clusters, I think using `mTLS` is a better way than the token or JWT method.

[2020-12-12 09:36] tokers opened #85 "leaderelection"
Currently, all apisix-ingress-controller instances will try to synchronize config changes to APISIX cluster(s), which is duplicate, actually we can elect a leader to synchronize, other instances should be standby and start re-election if the leader is down.

[2020-12-12 09:38] tokers commented on #85
We can use https://github.com/kubernetes/kubernetes/tree/323f34858de18b862d43c40b2cced65ad8e24052/staging/src/k8s.io/client-go/tools/leaderelection to achieve this.

[2020-12-13 06:11] tokers commented on #39
Solved.

[2020-12-13 06:12] #39 closed

[2020-12-13 09:47] gxthrj commented on #85
Agree, related to #11

[2020-12-13 13:03] membphis opened #86 "CI: code coverage"
the Manager API has supported this CI, we can migrate this feature

[2020-12-14 02:08] Firstsawyou commented on #67
This looks very interesting, let me try it. ^ _ ^

[2020-12-14 03:33] tokers opened #92 "project abstraction optimization"
* [x] apisix http client abstraction
* [x] cache abstraction
* [x] crd transation

[2020-12-14 03:37] tokers commented on #86
Solved.

[2020-12-14 04:03] Firstsawyou commented on #69
assigned to me.

[2020-12-14 11:48] tokers commented on #70
Solved.

[2020-12-14 11:48] #70 closed

[2020-12-14 11:48] tokers commented on #42
Solved.

[2020-12-14 11:48] #42 closed

[2020-12-14 11:49] tokers commented on #79
Solved.

[2020-12-14 11:49] #79 closed

[2020-12-14 11:59] tokers commented on #35
@zyxtomcat I have committed this PR to change the image.

https://github.com/apache/apisix-ingress-controller/pull/94

We use a temporary image (it works well) until we have the first apache release.

[2020-12-15 02:07] gxthrj opened #96 "Refactor: Move `seven` module into apisix-ingress-controller"
I suggest to move `seven` module into `pkg` path in `apisix-ingress-controller`. We can do unified management and testing.

[2020-12-15 02:21] tokers commented on #96
Agree.

It's still convenient if users want to import this package.

[2020-12-15 02:48] tokers commented on #55
Solved.

[2020-12-15 02:48] #55 closed

[2020-12-15 08:27] tokers opened #99 "Add test cases for pkg/kube"
After we use terratest, test cases will be added.

[2020-12-15 09:06] sober-wang opened #100 "standard_init_linux.go:211: exec user process caused "no such file or directory""
the ingress-controller pods start have error.
standard_init_linux.go:211: exec user process caused "no such file or directory"

ingress-controller : v0.1.0
k8s version: 1.18.2

[code]

the images is Docker build from Dockerfile.

[2020-12-15 09:33] sober-wang commented on #100
You used Mac edit the start script `build.sh` ，every line tail have a ^M in the `build.sh`.

Please used general Linux file format. @tokers @gxthrj

If we used config.json for ingress-controller ,why used build.sh and ConfigMapsValue

[2020-12-15 09:43] tokers commented on #100
@sober-wang I have submitted a PR #98 , which configures ingress apisix by commands,

![image](https://user-images.githubusercontent.com/10428333/102198122-fa7b5700-3efc-11eb-963f-420891b7d032.png)

so we don't depend on ConfigMap to pass configurations any more.

[2020-12-15 09:49] tokers commented on #100
We will change the docs and samples as soon as possible

[2020-12-15 11:06] sober-wang commented on #100
This PR not have any help for me  and why are you show  half image , What are the command paramater ?

[2020-12-17 02:36] gxthrj commented on #74
close this issue ， check e2e at #101

[2020-12-17 02:36] #74 closed

[2020-12-17 02:44] gxthrj commented on #51
Will add terratest in #101

[2020-12-17 02:44] #51 closed

[2020-12-17 02:53] tokers commented on #33
@maxluo1992 This is due to the lack of admin_key support, we will add some documents to tell users how to close APISIX's admin_key.

[2020-12-17 03:53] tokers commented on #32
Duplicated with #14 .

[2020-12-17 05:44] tokers commented on #32
Solved since #9 merged.

[2020-12-17 05:44] #32 closed

[2020-12-17 05:44] tokers commented on #33
@maxluo1992 See the point 4 in https://github.com/apache/apisix-ingress-controller/blob/master/docs/FAQ.md.

[2020-12-17 05:44] #33 closed

[2020-12-17 05:45] tokers commented on #14
Solved since #9 merged.

[2020-12-17 05:45] #14 closed

[2020-12-17 08:32] #52 closed

[2020-12-17 10:06] #59 closed

[2020-12-18 06:29] tokers commented on #100
That just an example, what i mean is now you can also launch apisix-ingress-controller by command line.

[2020-12-18 08:59] Firstsawyou opened #108 "docs: the `install.md` doc lacks the creation of namespaces "ingress-apisix""
When installing `ingress`, the following information is prompted:

[code]
The cause of the problem is the lack of creation of `namespaces`.

We need to create namespaces "ingress-apisix" before executing the installation command.

[2020-12-18 09:01] Firstsawyou commented on #108
Assigned to me.

[2020-12-18 10:30] gxthrj opened #110 "Add NOTICE file"
Add Apache APISIX NOTICE file .

[2020-12-18 12:08] tokers opened #111 "Add more use examples in `apisix-ingress-controller ingress --help`"
![image](https://user-images.githubusercontent.com/10428333/102613065-c9a15900-416c-11eb-97b1-64f1ef67923c.png)

We need more examples here.

[2020-12-20 02:21] #110 closed

[2020-12-20 02:22] #108 closed

[2020-12-21 01:43] gxthrj commented on #60
Is it related to #59 ?

[2020-12-21 01:50] tokers commented on #60
No.

[2020-12-21 04:21] gxthrj opened #114 "feat: Support GRPC definition"

[2020-12-21 04:22] gxthrj opened #115 "feat: Support TCP definition"

[2020-12-21 04:23] gxthrj opened #116 "feat: Support UDP definition"

[2020-12-21 04:23] gxthrj opened #117 "feat: Support healthchecks definition"

[2020-12-21 04:24] gxthrj opened #118 "feat: Support retries in upstream definition"

[2020-12-21 04:24] gxthrj opened #119 "feat: Support TCP + TLS definition"

[2020-12-21 05:39] gxthrj commented on #60
Or Is this issue meaning : Need a mechanism to ensure that the resources in k8s and apisix are consistent ?

[2020-12-21 05:56] tokers commented on #60
@gxthrj The debounce mechanism is used to prevent ingress-apisix/apisix overwhelming from too many resource change events arriving in.

[2020-12-21 06:11] gxthrj opened #120 "feat: Combine ApisixRoute, ApisixService, ApisixUpstream into one resource object"
During the development process, we maintained some additional complexity, because of splitting the CRD (custom resource object) to  `ApisixRoute` `ApisixService` and `ApisixUpstream`.
Controller need to handle broken links between resources and/or mismatched configuration.

I proposal combine `ApisixRoute`, `ApisixService`, `ApisixUpstream` into one resource object `ApisixRoute`.

Benefits:
Using

[2020-12-21 06:17] tokers commented on #120
What about changing a name, people may confuse with the two versions of ApisixRoute.

[2020-12-21 06:43] tokers opened #121 "[DISCUSS] e2e test cases"
We have the following groups of e2e cases.

* Annotations

Test wether the Annotations in ApisixRoute are normal.

* Proxy

Test the proxy result to upstream.

* Plugins

Test each plugin, just like APISIX.

* TLS/SSL

Test TLS/SSL certificates.

* ingress

Test the behavior of ingress controller, like bad CRDs.

[2020-12-21 13:12] tokers commented on #111
Solved.

[2020-12-21 13:12] #111 closed

[2020-12-22 01:32] tokers commented on #120
What about APISIXTrafficPolicy or APISIXPolicy?

[2020-12-22 01:39] tokers opened #123 "Run e2e cases in CI"
We should run e2e cases in CI, the Kubernetes cluster can be installed by https://github.com/marketplace/actions/setup-minikube-kubernetes-cluster.

[2020-12-22 05:59] tao12345666333 opened #125 "route value.id lost"
I have successfully created the data in APISIX by creating CustomResource (ar, au etc.).

[code]

[code]

I want to view its details in the [apisix-dashboard](https://github.com/apache/apisix-dashboard).
But through the dashboard's `/apisix/admin/routes?page=1&page_size=20` API, I got the following data.
The route's **id**  is empty.

[code]

I understand that we are currently using the lua API of

[2020-12-22 06:07] gxthrj commented on #125
It seems that admin api in lua and golang has different logic on generating route id.
The id will not be set when use POST method to create route with lua admin api. In this case, `route` will not be list in dashboard.

Please take a look, if you have time. @spacewander @nic-chen

[2020-12-22 06:48] spacewander commented on #125
Yes.

No. The Lua admin API will generate the id, but in a different way from Go version.

[2020-12-22 06:53] spacewander commented on #125
Maybe the dashboard API can't handle id in "00000000000000000274" format?

[2020-12-22 07:21] nic-chen commented on #125
yes, it's a bug here.
we are fixing it in https://github.com/apache/apisix-dashboard/pull/1063

[2020-12-22 08:23] gxthrj commented on #120
We can discuss about changing name.
* If we use a new name , such as `APISIXTrafficPolicy`, what is the relation between `APISIXTrafficPolicy` and others.
* If we use `ApisixRoute`, need to keep compatible.

[2020-12-24 03:45] tokers commented on #57
We have the basic prometheus /metrics API, will add more metics to it in the future.

[2020-12-24 03:45] #57 closed

[2020-12-24 03:59] tokers commented on #96
Let me do it.

[2020-12-24 13:32] tokers opened #130 "Support install by Helm Charts"
Currently we support to deploy apisix-ingress-controller by Kustomize. Now we should also support Helm Charts.

[2020-12-25 07:05] tokers opened #133 "Refactor: Optimize process of resources push to APISIX"
When `ApisixRoute`, `ApisixUpstream` and other CRDs are watched by ingress controller, it converts these objects to the format of APISIX Resources, like Route, Upstream and etc.

Currently, one rule in `ApisixRoute` object may generate a Route, Service, Upstream object; an `APISIXService` may generate
a Service and Upstream object; an `ApisixUpstream` will generate an Upstream object. What's more,

[2020-12-26 15:24] Miss-you opened #135 "feature: How to deploy dashboard quickly with APISIX Ingress ?"
Having a dashboard can greatly reduce the barrier to use and maintenance.

[2020-12-26 15:26] Miss-you opened #136 "How does the ingress controller work well with dashboard without relying on the Apache APISIX-Admin api?"
The Apache APISIX-Admin api will be deprecated in the next 3.0 version. The current ingress controller relies on the Apache APISIX-Admin api, which does not seem like a good choice

[2020-12-26 15:27] Miss-you commented on #135
Having a dashboard can greatly reduce the barrier to use and maintenance.

[2020-12-26 15:30] Miss-you opened #137 "The ingress controller requires the reconcile loop"
The reconcile loop is a basic feature of the controller model that guarantees the consistency of the Custom Resource Object with the actual business state or business rules

[2020-12-26 15:31] Miss-you opened #138 "The correspondence between ApisixService/ApisixRoute/ApisixUpstream CRD objects and APISIX Route and Upstream objects is a bit hard to understand"
A route created is ApisixRoute->apisixService->ApisixUpstream instead of ApisixRoute->ApisixUpstream, which is a bit strange

[2020-12-26 15:32] Miss-you opened #139 "The ingress controller does not support listening to specified namespaces"
The ingress controller listens to all namespaces by default

[2020-12-26 15:34] Miss-you opened #140 "Ingress controller calls admin api need to support passing token"
The current ingress controller calls api interface does not support token, so the deployment needs to apisix default off token authentication function, there is a security risk

[2020-12-26 15:37] Miss-you opened #141 "Ingress controller container image tool packaging is not reasonable"
1. The base image is not reasonable
2. Fewer tools, difficult to debug problems
3. Suggest adding curl, netstat, dlv and other common debugging tools

[2020-12-26 15:43] gxthrj commented on #135
We may integrate the dashboard for viewing the objects in APISIX first.

[2020-12-26 15:50] gxthrj commented on #136
I think whether we use `admin api` or not has nothing to do with the separation of apisix CP and DP.
But we can consider supporting both `admin api` way and `standalone` way.

[2020-12-26 15:58] gxthrj commented on #60
This will be an extreme scenario, we can simulate and test the current limiting capability of `workqueue`.

[2020-12-26 16:02] gxthrj commented on #137
This is a important feature for keeping the controller more robust.

[2020-12-26 16:03] gxthrj commented on #137
Let us make it done in milestone 0.2.0.

[2020-12-26 16:09] gxthrj commented on #139
The ingress controller does watched all namespaces. we can support  black and white list to limit the range of namespaces.

[2020-12-26 16:11] gxthrj commented on #140
Related to https://github.com/apache/apisix-ingress-controller/issues/50

[2020-12-26 16:19] gxthrj commented on #50
This sounds good.
But there is another problem. If we  need to specify / add  an APISIX Cluster in CRD,  the manager api need to config too.
The configuration link has become too long and uncontrollable

[2020-12-27 15:17] #96 closed

[2020-12-27 15:23] gxthrj commented on #125
Close this issue as fixed in https://github.com/apache/apisix-dashboard/pull/1063, feel free to reopen if you find any problem.

[2020-12-27 15:23] #125 closed

[2020-12-28 11:32] tokers commented on #30
We have fixed the develop.md with the explicit installation guide about the backend http server (use httpbin).

[2020-12-28 11:32] #30 closed

[2020-12-29 03:07] gxthrj commented on #133
There is not much frequency of using `Service` Resource,  but creating a service can unify the overall structure (route - service - upstream) and make the logic easier to abstract.

Agree with this.

Previously, I used the event-based notification mechanism implemented by channel, which allows events to arrive at the specified Resource in an orderly and precise manner.
* The sequential codes just

[2020-12-29 03:18] tokers commented on #133
The current event-based notification also is hard coded since the order is fixed just like the sequential way.
Actually i have another idea about to abstract the dependency, but i think it's over design, so what i pasted here is the sequential way, just rewriting the implementation, but keep this fixed order.

Nope, a `ResourceChange` object will be created once we need to generate a resource push

[2020-12-29 03:25] gxthrj commented on #133
Need some specific design about how to unifying the relation `route - upstream` or `route - service` or `service - upstream` and so on.

[2020-12-29 03:32] gxthrj commented on #133
I means one CRD may related many Routes/services/upstreams. Do you means they are all in one `[][]ResourceChange` ?

[2020-12-29 05:32] tokers commented on #133
A `[][]ResourceChange` object is a group of changes that they are related, there will be many `[][]ResourceChange` but each of them are independent and non-interfering.

[2020-12-29 05:32] tokers commented on #133
This could be a later step.

[2020-12-29 07:18] membphis opened #145 "chore: remove `conf/config-default.json`, only keep `conf/config-default.yaml`"
the JSON format is not good for the user.

related comment: https://github.com/apache/apisix-ingress-controller/pull/131/files#r548930435

[2020-12-29 08:01] tokers commented on #133
I think we should first refactor and abstract the APISIX HTTP Client object, and use sequential way to rewrite the dependencies delivery, then considering to strip the service creation and relax the dependency order.

[2020-12-29 17:11] sebbASF opened #146 "bug: broken hash and sig for Ingress Controller 0.1.0"
The hash and sig links for the 0.1.0 Ingress Controller are broken.

[2020-12-30 01:07] spacewander commented on #146
@gxthrj @tokers

[2020-12-30 01:32] tokers commented on #123
Solved since e2e cases now can be run in CI.

[2020-12-30 01:32] #123 closed

[2020-12-30 01:32] tokers commented on #86
Solved the e2e cases part.

[2020-12-30 01:32] #86 closed

[2020-12-30 02:36] tokers commented on #145
Yes, we can just remove the `conf/config-default.json` file.

[2020-12-30 05:33] tokers commented on #139
We need the capable to configure the watched namespaces from command line options and configuration file.

For command line options, we can add a `--watch-namespace` option.

[code]

For configuration file, add a `watch_namespaces` array.

[code]
 `SharedIndexInformerFactory` can be created with only one namespace, it's not so strong to satisfy some complex deployments. so we may need to watch res

[2020-12-30 06:10] gxthrj commented on #146
@sebbASF Thanks for your reminder.
The reason is that the link on svn changed the file name (`rc2` was deleted).
 I restored file name and submitted to svn.
Thanks again.

[2020-12-30 12:33] gxthrj opened #148 "Support getting the error of route creating/updating and trigger the retry correctly"

[2020-12-30 14:20] sebbASF commented on #146
As far as I can tell, the fix is incorrect.
Compare the hash and sig links for the other downloads on the page: http://apisix.apache.org/downloads/
and you will see that they use https://downloads.apache.org/apisix/..., and not
https://www.apache.org/dyn/closer.cgi/apisix/...

Hashes and sigs must point to https://downloads.apache.org/, and must not use the mirror system

[2020-12-31 01:39] gxthrj commented on #146
@sebbASF Got it. Fixed in https://github.com/apache/apisix-website/pull/123
Please take a look if you have time. Thanks.

[2020-12-31 01:53] tokers commented on #141
@Miss-you Do you have any recommended base images?

[2020-12-31 02:23] tokers commented on #141
The Dockerfile in this repo can be armed with a rich base image, while the one in apisix-ingress-controller-docker can be concise.

[2020-12-31 02:54] gxthrj commented on #141
Agree

[2020-12-31 14:31] gxthrj commented on #146
@sebbASF Got it. Fixed in apache/apisix-website#125
Please take a look if you have time. Thanks.

[2021-01-02 01:27] gxthrj commented on #146
Close this issue now, apache/apisix-website#125 has been merged.
Thanks.

[2021-01-03 07:16] gxthrj commented on #146
Hi, @sebbASF

I have to reopen this issue , because there seems to be a problem with my previous modification.

In my In the [voting email](https://lists.apache.org/thread.html/r4d55e4f94bf46fb4edc9243c1db37b8cdaed850630d7637e20e4e6a6%40%3Cdev.apisix.apache.org%3E), I always use the name `0.1.0-rc2`.

But when I was updating svn, because of some understanding errors, I manually removed rc2, which

[2021-01-04 01:09] tokers commented on #130
OK, let me do it in these days.

[2021-01-04 05:34] gxthrj commented on #139
@Miss-you Do you have time to contribute ?

[2021-01-04 05:44] gxthrj commented on #100
@sober-wang Any update? Do you still have problem with this?

[2021-01-04 05:57] gxthrj commented on #13
As `traffic-split` has been merged in https://github.com/apache/apisix/pull/2935, we can support Canary now.
You can bind plugin in `ApisixRoute` or `ApisixService` to implement it.

[2021-01-04 05:57] #13 closed

[2021-01-04 06:25] gxthrj commented on #9
Related to #69

[2021-01-04 07:33] #35 closed

[2021-01-04 09:26] tokers commented on #100
@sober-wang Please try to rebuild the image by the Dockerfile in the master branch.

[2021-01-05 00:25] #146 closed

[2021-01-05 01:05] sober-wang commented on #100
When I have times ,I'll try. Thanks .

[2021-01-05 01:10] tokers commented on #100
@sober-wang Feel free to paste any problems here, we will help you to solve them :)

[2021-01-05 08:01] tokers commented on #140
The related PR is #147

[2021-01-05 13:12] #69 closed

[2021-01-06 01:13] #148 closed

[2021-01-07 05:42] membphis opened #159 "chore: implement a script shell to check the version"
original comments: https://github.com/apache/apisix-ingress-controller/pull/158#issuecomment-755897013

here is an example: https://github.com/apache/apisix/blob/master/utils/check-version.sh

[2021-01-07 09:15] tokers opened #160 "Add new resource ApisixCluster to better support multi clusters"
Nowdays, we support multi clusters by annotation `k8s.apisix.apache.org/ingress.class`, but it lacks some necessary configurations like authentication.

It would be better if we add a new resource `ApisixCluster`, to define an APISIX cluster.

[code]

And we can reference the cluster by add a new field in `ApisixRoute`, `ApisixUpstream` and others.

[2021-01-07 10:55] gxthrj commented on #137
Close this Issue with #155

[2021-01-07 10:55] #137 closed

[2021-01-07 11:09] tokers commented on #160
admin_key should be saved in Kubernetes secret, also, other authentication way can be supported in the future.

[2021-01-08 05:48] tokers commented on #141
Solved.

[2021-01-08 05:48] #141 closed

[2021-01-08 13:30] tokers commented on #130
Supported by #153.

[2021-01-08 13:30] #130 closed

[2021-01-08 13:33] tokers commented on #140
Supoorted by #147.

[2021-01-08 13:33] #140 closed

[2021-01-08 13:34] tokers commented on #133
We have firstly optimized the apisix http client by #147.

[2021-01-09 13:58] #118 closed

[2021-01-11 02:37] tokers opened #167 "consummate docs"
Here is a basic docs plan

## Introduction (README)
* features
* project status
* links to other sections

## Architecture
* Overview with a picture(each components)
* Resource translation (diagram + paragraphs)

## FAQ

## Concepts of CRDs
* ApisixRoute
* ApisixUpstream
* ApisixService
* ApisixSSL

## Get Started

## Deployment
* ACK, GKE, AKS, minikube, kind, etc
* Install by Helm chart
* Instal

[2021-01-11 14:33] tokers commented on #139
Solved by #162 .

[2021-01-11 14:33] #139 closed

[2021-01-11 15:09] gxthrj commented on #167
Great! I will add some articles on architecture and design with more diagrams.

[2021-01-11 15:13] gxthrj commented on #160
We need to do this with https://github.com/apache/apisix-helm-chart, Put all sensitive information in secret, such as admin_key, SSL cert.

[2021-01-11 15:16] gxthrj commented on #145
Let's make it done in milestone 0.3.0.

[2021-01-13 12:41] #145 closed

[2021-01-14 06:32] #11 closed

[2021-01-14 06:32] #85 closed

[2021-01-19 01:33] tokers opened #179 "bug: ssl synchronization is pathlogical"
### Issue description

The logic for synchronizing ApisixSSL is pathlogical, we don't have a name/fullname field to index the SSL object in cache, so as to we cannot get its id in APISIX, the Update/Delete will failure.

### Environment

* your apisix-ingress-controller version: master branch
* your Kubernetes cluster version: have nothing to do with the Kubernetes cluster version
* if you run api

[2021-01-19 10:13] flying1pig opened #182 "bug: create leader election failed because of User "system:serviceaccount:ingress-apisix:apisix-view-serviceaccount" cannot create resource "leases" in API group "coordination.k8s.io" in the namespace "default""
### Issue description
Recently, we have deployed apisix ingress controller in my k8s cluster, however, our apisix cluster cannot synchronize upstream information from k8s cluster.

### Environment
apisix-ingress-controller version:
    Version: 0.2.0
    Git SHA: f72d75d
    Go Version: go1.13.8
    Building OS/Arch: linux/amd64
    Running OS/Arch: linux/amd64

Kubernetes cluster version:
    Cli

[2021-01-19 13:27] gxthrj commented on #182
It seems a `leases` resource permissions issue, we need to write permissions.
Thank you for the detailed description, will fix it ASAP.

[2021-01-19 14:08] gxthrj commented on #179
Thanks, It is a bug, I will fix it.

[2021-01-19 14:11] liodo198592 commented on #182
Let me do it， I will fix it ASAP.

[2021-01-19 14:12] gxthrj commented on #182
Great~

[2021-01-20 08:02] liodo198592 opened #186 "The Ginkgo tool is used in the e2e test script, but the pre-installation check is not performed in the makefile script"
### Issue description
The Ginkgo tool is used in the e2e test script, but the pre-installation check is not performed in the makefile script.

![image](https://user-images.githubusercontent.com/12790469/105144797-bbae7180-5b38-11eb-9557-2fe894db8a29.png)

[2021-01-20 08:06] gxthrj commented on #186
Thanks @liodo198592 , There needs to be a check on the ginkgo command.

[2021-01-20 08:07] gxthrj commented on #186
Is anyone interested in helping fix this issue?

[2021-01-20 08:33] cao19881125 commented on #186
let me have a try

[2021-01-20 09:58] tokers commented on #58
No plan to support it yet.

[2021-01-20 09:58] #58 closed

[2021-01-20 12:34] gxthrj opened #189 "request help: Unify the picture style in the document"
### Issue description

Now that we have a lot of documents to introduce our project, we hope to adjust the picture style and adjust it to a suitable size to make our article look more beautiful.

If anyone is interested, you are welcome to contribute a PR to us.

[2021-01-20 13:27] scn7th commented on #189
Let me have a try.^_^

[2021-01-21 08:14] gxthrj opened #193 "request help: Need to add Apache APISIX link in README"
Apache APISIX ingress is base on Apache APISIX, In order to facilitate users to quickly find information about Apache APISIX, a link to APISIX needs to be added to the README.

[2021-01-21 08:15] gxthrj commented on #193
Is there anybody interested to deal with this issue?

[2021-01-21 09:32] fukiki commented on #193
I will try it.

[2021-01-21 14:44] #186 closed

[2021-01-21 15:50] #193 closed

[2021-01-22 05:45] gxthrj opened #197 "docs: add milestone link in README"
As many friends wanted to know about the plan of our project, we need to put the [milestone link](https://github.com/apache/apisix-ingress-controller/milestones) in the readme, so that everyone can view it, and also facilitate the discussion and adjustment of the plan.

[2021-01-22 05:46] gxthrj commented on #197
Is anyone interested to help deal with this issue?

[2021-01-22 06:24] #197 closed

[2021-01-22 11:52] #159 closed

[2021-01-25 01:41] tokers commented on #117
Assigned to me.

[2021-01-25 01:45] tokers opened #201 "Support EndpointSlices"
# What is EndpointSlices

EndpointSlices provide a simple way to track network endpoints within a Kubernetes cluster. They offer a more scalable and extensible alternative to Endpoints.

# Why we need it

Quoted from https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/.

Also, Istio already supported it. But it's not so emergency, just implement it in the future.

[2021-01-25 02:11] tokers opened #202 "Check go lint errors"
We have some lint errors in current code base (run by "golangci-lint run")

![image](https://user-images.githubusercontent.com/10428333/105652995-9ed9bb80-5ef5-11eb-892c-3d664b9b8aad.png)

Also, we should have a Makefile directive like "make lint", to check unresolved lint errors, and check it in the CI.

[2021-01-25 03:53] pioneer-hash opened #205 "request help: supported mTLS in apisix-ingress"
### Issue description
When mTLS  be supported of  apisix-ingress?
### Environment

* apisix version (2.1):
* OS: (cmd: `uname -a`)
* OpenResty / Nginx version: (cmd: `nginx -V` or `openresty -V`)

[2021-01-25 07:41] #202 closed

[2021-01-25 14:44] Junnplus opened #209 "request help: separated base chart or merge base chart"
### Issue description

Hi, I see helm chart is now supported, but I have a confusion:
Why base is separated of controller?

It is possible to deploy multiple for ingress controller, but each controller may have a different serviceaccount/rbac, it is inconvenient to maintain multiple releases for separated base.

reference:
- [kong ingress controller](https://github.com/Kong/charts/tree/main/charts

[2021-01-25 14:50] gxthrj commented on #209
This is indeed a more convincing scenario. It is a better choice to merge base into ingress-apisix .

[2021-01-25 14:51] tokers commented on #209
Well, now think back it's not a good design to separate them, i suggest to merge them.

[2021-01-25 14:52] gxthrj commented on #209
OK, Let's wait to other people's thoughts.

[2021-01-26 07:46] lianghao208 opened #211 "request help: get "404 Route Not Found" when requesting to Apache APISIX to verify the route."
### Issue description

I follow the doc instruction to install apisix-ingress-controller: [https://github.com/apache/apisix-ingress-controller/blob/master/docs/install.md](https://github.com/apache/apisix-ingress-controller/blob/master/docs/install.md)

and Verified Installation following the doc: [https://github.com/apache/apisix-ingress-controller/blob/master/docs/samples/proxy-the-httpbin-servi

[2021-01-26 09:24] Junnplus commented on #209
It seems that not many people use this now. I'd like to refactoring this if nobody minds.

[2021-01-26 10:24] tokers commented on #209
@Junnplus Feel free to ask any questions here.

[2021-01-26 10:44] tokers commented on #211
@lianghao208 Did you see any errror messages in the controller, you may paste the logs.

[2021-01-26 10:47] lianghao208 commented on #211
@tokers can't find any errors messages

[code]

[2021-01-26 10:48] tokers commented on #211
@lianghao208 What about the apisix-ingress-controller?

[2021-01-26 10:49] lianghao208 commented on #211
@tokers sorry, I pasted the wrong log, this is the controller log
[code]

[2021-01-26 10:50] lianghao208 commented on #211
i guess it is using endpointslice instead of endpoint... @tokers

[2021-01-26 10:52] lianghao208 commented on #211
the controller have not supported endpointslice yet, right? But endpointslice feature gate is enable by default since kubernetes 1.20 @tokers

[2021-01-26 10:55] tokers commented on #211
@lianghao208 Yes, we don't support EndpointSlice, but it's in our TODO list (see #201 ).

[2021-01-26 10:56] tokers commented on #211
@lianghao208 if this is due to EndpointSlice, it doesn't influence the Route, just makes the Upstream no node.

[2021-01-26 10:56] tokers commented on #211
@lianghao208 You may try to paste the logs of the ingress-controller.

[2021-01-26 10:57] lianghao208 commented on #211
I think I just did.

[code]

[2021-01-26 11:07] lianghao208 commented on #211
@tokers I think the lack of endpoint influences the Route, apisix_route.go calls `newApisixRoute.Convert()` when updating the Route, which has `endpoint.BuildEps(ns, svcName, port)` in the `Convert()` function, WDYT?

[2021-01-26 14:47] tokers commented on #211
It seems your configure 127.0.0.1 as the ip address of your apisix gateway, be sure configuring the correct ip address.

[2021-01-27 02:09] lianghao208 commented on #211
@tokers I just configured the pod ip:port of apisix gateway, the controller log shows as follow:
[code]

[2021-01-27 03:44] tokers commented on #211
What's the configuration of apisix (config.y'all), it seems 9080 is not the admin port.

[2021-01-27 03:47] lianghao208 commented on #211
@tokers

[code]

[2021-01-27 04:00] lianghao208 commented on #211
@tokers I change the admin port to 9180, the controller log show 403:
[code]

[2021-01-27 05:22] tokers commented on #211
@lianghao208 By default APISIX has the source IP limitations, you need to change the `allow_admin` configuration.

You can see https://github.com/apache/apisix-ingress-controller/blob/master/docs/deployments/minikube.md#install-apisix for the details about how to customize the allow admin ip address list.

[2021-01-27 08:50] lianghao208 commented on #211
@tokers
Thanks, I followed the installation doc in [deployments/minikube.md](https://github.com/apache/apisix-ingress-controller/blob/master/docs/deployments/minikube.md) and succeed.

[2021-01-27 08:50] #211 closed

[2021-01-29 07:47] tokers opened #217 "bug: should use service port name as the last component of upstream name"
### Issue description

In the endpoints controller, we use the container port as the last component of the upstream name, while in ApisixUpstream controller, we use the service port as the upstream name.

The ApisixUpstream should be changed to reference the Service port name, and use it to compose the upstream name.

[2021-01-30 07:48] tokers opened #219 "types should have yaml tag"
All types in https://github.com/apache/apisix-ingress-controller/blob/master/pkg/kube/apisix/apis/config/v1/types.go should have yaml tags, now only some of them have.

[2021-02-01 02:41] Firstsawyou commented on #67
@gxthrj  I need to change all `github.com/api7/ingress-controller` to `github.com/apache/apisix-ingress-controller` right?

[2021-02-01 05:19] tokers commented on #67
@Firstsawyou Yes, you have to.

[2021-02-01 05:19] tokers commented on #67
Change module name is different from change dependencies, so we cannot use replace.

[2021-02-01 05:41] Firstsawyou commented on #67
Got it.

[2021-02-01 05:59] gxthrj commented on #189
We close this issue now .

[2021-02-01 06:00] #189 closed

[2021-02-01 06:05] tokers commented on #133
Closed since #147 merged.

[2021-02-01 06:05] #133 closed

[2021-02-01 06:23] gxthrj opened #221 "request help: SSL need to be updated when secret has been modified."
### Issue description
SSL need to be updated when secret has been modified.

[2021-02-01 06:25] gxthrj commented on #20
Close this issue now , we have support the feature the number of upstream node can be 0. Feel free to reopen if you have any question.

[2021-02-01 06:25] #20 closed

[2021-02-01 06:28] gxthrj commented on #9
Close this issue now, Feel free to reopen if you have any question.

[2021-02-01 06:28] #9 closed

[2021-02-02 03:31] tokers opened #223 "New design for ApisixUpstream"
The current design about CRDs basically follows the configuration of [Apache APISIX](http://apisix.apache.org/), i.e. ApisixRoute for Route, ApisixService for Service and ApisixUpstream for Upstream. See [CRDs specification](https://github.com/apache/apisix-ingress-controller/blob/master/docs/CRD-specification.md) for details.

The APISIX Service (distinguish from Kubernetes Service, so adding the

[2021-02-02 06:15] #67 closed

[2021-02-02 16:50] jp-gouin opened #227 "Question about the ingress part"
Hello i have a few questions regarding apisix ingress controller,

Is it really an Ingress Controller , as does the solution watch k8s resources type ingress and route traffic to the service ?
And is it planned to use annotations on the ingress to setup the plugin list to apply on the resource ? (Same for service ?)
This way we can use common helm charts and operators and override the ingress/serv

[2021-02-03 01:26] tokers commented on #227
@jp-gouin

Currently we don't support the Kubernetes Ingress resource, but it's in the TODO list, i believe it'll be supported in the near future.

Sure, we'll use the annotations capabilities to leverage the rich plugins set in Apache APISIX :).

[2021-02-03 01:31] #209 closed

[2021-02-03 02:06] tokers opened #228 "Version information should be shown when the program started"
Currently, the version information can be shown by running:

[code]

While in containerized environment, people have to login to the container and execute the above command. So it's more convenient to show these information when the program started. Just like the configuration information.

![image](https://user-images.githubusercontent.com/10428333/106687650-82313800-6607-11eb-9150-7ed2c19ee9a3.p

[2021-02-03 05:58] tokers opened #229 "bug: how to skip basic resources installation by helm chart"
### Issue description

Use helm charts to install apisix-ingress-controller in multiple namespaces.

[code]

### What's the actual result? (including assertion message & call stack if applicable)

The first installation is successful, while the second one failed since some cluster-scoped resources already exists.

![image](https://user-images.githubusercontent.com/10428333/106704938-e82db780-6627-

[2021-02-03 05:58] tokers commented on #229
@Junnplus Please take a look when you have time.

[2021-02-03 06:42] Junnplus commented on #229
We use ClusterRole now, ClusterRole is a non-namespaced resource, but helm release is namespaced resource and auto set annotation `meta.helm.sh/release-namespace` cause this problem.

Use different release name of helm can avoid this problem.

[2021-02-03 06:50] zhangxiaohui123456 opened #231 "request help: Failed connect to 127.0.0.1:9180; 拒绝连接"
### Issue description
My apisix-admin type is NodePort  accessible from the outside  but  can access the container
### Environment

* your apisix-ingress-controller version (now master);
* your Kubernetes cluster version (v1.16.0);
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`).

[2021-02-03 06:53] tokers opened #232 "request help: ignore the artifacts after make build"
`make build` generates `apisix-ingress-controller`, which is not ignored by git.

![image](https://user-images.githubusercontent.com/10428333/106709405-6f325e00-662f-11eb-8ba0-d89b5608dda4.png)

We should change the .gitignore file.

![image](https://user-images.githubusercontent.com/10428333/106709444-7eb1a700-662f-11eb-93c9-bf57082822de.png)

The `./apisix-ingress-controller` should be changed t

[2021-02-03 06:56] tokers commented on #231
@zhangxiaohui123456 I'm afraid that I didn't get your mean. Is your apisix-ingress-controller cannot access the apisix-admin?

[2021-02-03 06:59] tokers commented on #229
@Junnplus But users like me might not know this.

[2021-02-03 06:59] tokers commented on #229
@Junnplus Could we add a switch to control the installation of RBAC related resources?

[2021-02-03 07:02] zhangxiaohui123456 commented on #231
Sorry,Didn't make it clear . First  My   apisix-admin type is NodePort . when I   outside the container  send command :curl -XPUT http://127.0.0.1:9080/apisix/admin/upstreams/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -d '
{
    "nodes": {
        "10.244.143.48:8080": 100,
        "10.244.102.43:8080": 100,
        "10.244.102.63:8080": 100
    },
    "desc": "foo-upstream",
    "type": "

[2021-02-03 08:33] logonmy opened #233 "request help: where can see "X-Amzn-Trace-Id""
### where can see "X-Amzn-Trace-Id"

 In the offical demo

[code]

here has : X-Amzn-Trace-Id

[code]

and  in my practice：
 kubectl exec -it -n demo-project apisix-f868c968d-qx4wl -- curl http://127.0.0.1:9080/headers -H 'Host: httpbin.apisix.com'

Get this result，there have not X-Amzn-Trace-Id？what's wrong with me?

[code]

[2021-02-03 08:41] Junnplus commented on #229
`rbac.create` and `serviceAccount.create` can control create of rbac/serviceAccount resource.
But need manual bind serviceAccount to old clusterRole.

[2021-02-03 08:49] tokers commented on #233
@logonmy This is because I ran the Ingress APISIX on Amazon EKS, and through its Load Balancer.

[2021-02-03 08:51] tokers commented on #231
@zhangxiaohui123456 NodePort service doesn't mean you can access it by localhost, you have to change the IP to one of your Kubernetes worker nodes IP. This has nothing with Ingress APISIX.

[2021-02-03 08:51] #231 closed

[2021-02-03 08:52] tokers commented on #229
@Junnplus Would you like to add these best practices to the document, I think it's better to record them.

[2021-02-03 09:20] lianghao208 opened #234 "feat: add timer to sync apisix configuration"
### Issue description

The controller will sync Apisix configuration only once when it starts. But it won't detect the update of apisix (manually modification). It needs a timer mechanism to sync the configuration between Apisix and Apisix-Ingress CRD.

[2021-02-03 09:28] #114 closed

[2021-02-03 09:31] tokers commented on #234
Good idea! Do you have any good designs for this feature :)?

[2021-02-03 09:42] lianghao208 commented on #234
@tokers  I think setting up a default time interval to invoke `syncCache()` will work. In syncCache(), it sends request to fetch the latest configuration of Apisix, then updates the cache.

[2021-02-03 11:42] #233 closed

[2021-02-03 12:31] tokers commented on #234
What I care is whether the synchronization will block the resource pushing. Also, I think maybe an option like `--apisix-cache-sync-interval` is required to configure it?

[2021-02-03 15:01] Junnplus commented on #229
Sure, it may take some time.

[2021-02-03 15:44] jp-gouin commented on #227
Awesome ! thanks for the confirmation
look forward to test this release !

[2021-02-03 15:44] #227 closed

[2021-02-04 01:36] huahu0213 commented on #228
Seems not that hard , assigned to me  : )

[2021-02-04 01:40] tokers commented on #228
@huahu0213 Assigned, feel free to post any questions in this thread.

[2021-02-04 01:42] lianghao208 commented on #234
@tokers

I agree to make it optional.

What if we sync the resource to apisix at a specified time interval? Which means discarding the manually modifications from apisix, the configration will be consistent with CRD resources.

[2021-02-04 01:42] tokers commented on #229
@Junnplus I'll assign this issue for you and feel free to post your questions here :)

[2021-02-04 02:05] tokers commented on #234
What I mean is when we are in progress of synchronizing from APISIX while some data need to be pushed to APISIX, these incremental pushing might loss if the synchronization doesn't block the push.

It's really like the redis master-replica synchronization (we're like the master).

[2021-02-04 03:16] lianghao208 commented on #234
The controller pushes changes to APISIX incrementally when CRD is updated, on the other hand, it synchronizes the full cache to APISIX periodically. The whole point is that only the update of CRD can modify the cache and periodical full cache synchronization guarantees the data consistency, I guess there won't be any blocking.
And I think the redis master-replica synchronization only has increment

[2021-02-04 08:18] #179 closed

[2021-02-04 08:18] #182 closed

[2021-02-05 01:28] tokers commented on #217
Since service port name is optional when the service only exposes one port, so it's not feasible.

[2021-02-05 01:28] #217 closed

[2021-02-05 05:05] tokers opened #241 "Support Kubernetes Ingress resources"
We shall have the capability to watch [Ingress resources](https://kubernetes.io/docs/concepts/services-networking/ingress/) and convert them to APISIX resources like Routes and Upstreams.

Plugins can be supported by adding annotations.

[2021-02-05 08:39] tokers opened #242 "should add labels to mark resources are pushed by ingress controller"
We should add labels for each resource that created/updated by ingress controller, that's useful when we check whether other program also pushes data to the same APISIX cluster.

[2021-02-05 09:40] tokers opened #244 "Implement the admission server"
We should implement an admission server in the apisix ingress controller to validate configurations like plugins. But for now, we don't have a way to validate each plugins unless we have the json schema data.

[2021-02-06 06:36] masfbeca commented on #73
I can't get it , more detail about this?

[2021-02-07 01:09] tokers commented on #232
Sovled by #239 .

[2021-02-07 01:09] #232 closed

[2021-02-07 01:10] tokers commented on #228
Solved by #238 .

[2021-02-07 01:10] #228 closed

[2021-02-07 01:13] tokers commented on #73
@masfbeca You can see https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/ for the details.

[2021-02-07 01:33] masfbeca commented on #73
looks interesting, pls assigned to me

[2021-02-07 02:09] tokers opened #245 "Add unit test cases for Controllers"
We should add more and more unit test cases for Controllers like ApisixUpstream, ApisixRoute, ApisixTLS.

[2021-02-07 03:07] pioneer-hash opened #246 "request help: Client.Timeout exceeded while awaiting headers"
### Issue description
When apisixUpstream is configured, what is the reason for the error reported by the ingress-controller
logs:
2021-02-07T11:03:46+08:00 error apisix/upstream.go:89 failed to list upstreams: Get http://apisix-admin:9180/apisix/admin/upstreams: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
ERROR: logging before flag.Pars

[2021-02-07 05:57] #223 closed

[2021-02-07 05:59] tokers commented on #73
@masfbeca Assigned, feel free to ask any questions here :)

[2021-02-07 06:02] tokers commented on #246
@zhangxiaohui123456 Could you try to log in to the apisix ingress controller container and connect to the apisix-admin service?

[2021-02-07 07:55] zhangxiaohui123456 commented on #246
I use curl http://127.0.0.1:9180/apisix/admin/upstreams in pod of apisix-ingress-controller
This is error info :
<html>
<head><title>401 Authorization Required</title></head>
<body>
<center><h1>401 Authorization Required</h1></center>
<hr><center>openresty</center>
</body>
</html>
Is there a problem with my secret key? But I haven't changed the configuration

[2021-02-07 08:12] zhangxiaohui123456 commented on #246
this is add info ----------------------------------------------
I went into Apisix's POD and looked at the Admin Key , It is exactly the same as the ADMIN_KEY in config.yaml in apisix-ingress-controller pod

[2021-02-07 12:05] tokers commented on #246
It's weird, the apisix isn't deployed with the apisix ingress controller in the same pod, so how did you access it from the `127.0.0.1` ...

[2021-02-08 03:07] tokers commented on #92
Already added it.

[2021-02-08 03:07] #92 closed

[2021-02-08 03:08] tokers commented on #99
Will add test cases when new features come in.

[2021-02-08 03:08] #99 closed

[2021-02-08 03:13] gxthrj opened #248 "discuss: ApisixRoute change struct"

[2021-02-08 08:45] tokers opened #249 "strength e2e cases for health check"
Currently, in #247 , the e2e cases about health check are not so strong, We need to make partial endpoints unavailable and others are ready if we want to test the health check mechanism. This is not easy since all endpoints are from same Service and Deployments (with same template). We may use different version of deployments/pods (with deliberate unstable API embedded there) and include them in t

[2021-02-08 11:44] gxthrj opened #251 "feat: add the verification of the schema for CRD"
In order to avoid some errors caused by yaml grammar when users define CRD, we need to add schema verification.

This check should be part of admission.

[2021-02-18 01:11] tokers commented on #117
Already supported.

[2021-02-18 01:11] #117 closed

[2021-02-18 07:42] tokers commented on #248
The `ApisixRoute` should leverage the advantages of APISIX Routes as soon as possible, for instance, the flexible route match, native plugins support.

[code]

The `scripts` are used by plugin orchestration, we don't use it.

[2021-02-18 12:04] tokers opened #255 "Support of headless service"
We need to make sure that Headless backend services can be handled correctly by Apache APISIX Ingress Controller, also, e2e test cases should be covered.

[2021-02-18 12:08] tokers commented on #248
@gxthrj

[2021-02-18 13:25] gxthrj commented on #248
I think it might be a good idea to keep the `pathtype`, the structure is more expressive than `*`, and it will be easy to expand

[2021-02-18 13:30] gxthrj commented on #248
Are `priority` and `match` the same level ?

[2021-02-18 13:35] gxthrj commented on #248
I think  it is more readable using `upstream` instead of `route`
Such as
[code]

[2021-02-18 13:37] tokers commented on #248
Might as well. The route here is a verb.

[2021-02-19 01:27] tokers commented on #248
Yep.

[2021-02-19 01:28] tokers commented on #248
What about backend? Just like Ingress.

[2021-02-19 01:31] tokers commented on #248
Well, I think anyone who uses Linux is familiar with "*"; Also, I think we don't need to consider the extensibility now, it depends on Apache APISIX's iteration and if so, just use a new version of `ApisixRoute`.

[2021-02-19 11:33] tokers opened #256 "Migrate charts to repo apisix-helm-charts"
### Issue description

The repo [apisix-helm-chart](https://github.com/apache/apisix-helm-chart) contains the charts of APISIX, APISIX Dashboard, we consider to put the chart for apisix-ingress-controller there for the unified maintain.

We should, create a new directory apisix-ingress-controller in apisix-helm-chart's charts directory. Add some documents in this repo to guide people link to [apis

[2021-02-19 14:16] gxthrj commented on #248
Agreee

[2021-02-19 14:19] gxthrj commented on #248
We need a field to specify whether to use `pod IP` or `cluster service`.

[2021-02-20 01:41] tokers commented on #248
We always use Cluster Service, why we need this field?

[2021-02-20 15:45] gxthrj commented on #248
I mean is to give users the ability to choose whether to automatically register the pod IP.
The difference is that the node under upstream in APISIX is the pod IP or the cluster server name.

[2021-02-21 11:28] tokers commented on #248
What is automatically register pod ip? What can we get from it?

[2021-02-22 01:45] tokers opened #257 "Change the location of install.md"
### Issue description

Currently the [install.md](https://github.com/apache/apisix-ingress-controller/blob/master/docs/install.md) is in `doc/`, we can put it in the top level directory so people can see it easier.

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if

[2021-02-22 02:01] gxthrj commented on #248
I mean to give users a choice, use clusterip or POD IP

[2021-02-22 02:40] Junnplus commented on #256
I can do this.

[2021-02-22 02:52] tokers commented on #248
Got it.

[2021-02-22 12:34] Bhanuji95 opened #259 "request help: Getting route not found issue"
### We are facing route not found issue with apisix ingress controller

### Development

* apisix version: 2.2
* OS: APISIX docker image (ubuntu)
* OpenResty / Nginx version: openresty/1.19.3.1
* etcd version: 3.4.8

we have also added apisix route and upstream.

[2021-02-22 14:25] Bhanuji95 commented on #259
Hello,

Below is the ingress configuration I used.

## Upstream ##
apiVersion: apisix.apache.org/v1
kind: ApisixUpstream
metadata:
  name: myapp
spec:
  ports:
  - port: 80
    loadbalancer:
      type: chash
      hashOn: header
      key:
---
## Route ##
apiVersion: apisix.apache.org/v1
kind: ApisixRoute
metadata:
  name: myapp
spec:
  rules:
  - host: localhost
    http:
      paths:
      - ba

[2021-02-23 00:58] tokers commented on #259
@Bhanuji95 How did you install apisix-ingress-controller and apisix?

[2021-02-23 06:03] pioneer-hash opened #261 "request help: ingress-ui"
### Issue description
The current version does not support interface operations,I wonder if you can provide an API or other form of direct interface control of the configuration of these Ingress.
### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingre

[2021-02-23 06:43] zhangxiaohui123456 commented on #248
Will the routing rules under Ingress be the same as the standard version of Apisix?

[2021-02-23 10:53] tokers commented on #261
@zhangxiaohui123456 Could you describe your demands more detailed?

[2021-02-23 11:30] tokers commented on #248
Sure~.

[2021-02-23 11:56] Bhanuji95 commented on #259
Hello @tokers,

we installed using docker images and followed official installation document, below are the details:

etcd: quay.io/coreos/etcd:v3.4.8
apisix-gw: apache/apisix:latest
ingress: apache/apisix-ingress-controller:0.3.0

[2021-02-23 11:58] tokers commented on #259
It weird since the permission missing problem was fixed in `0.3.0`.

[2021-02-23 12:00] tokers commented on #259
@Bhanuji95 Could you please paste the contents of the serviceaccount `apisix-view-serviceaccount`.

[2021-02-23 12:14] Bhanuji95 commented on #259
Hello @tokers,

I am giving my serviceaccount, cluster role and role binding information here

[code]

[2021-02-24 00:55] tokers commented on #259
@Bhanuji95 It seems your `ClusterRole` is obsolete, how did you get it? Anyway, try the newest one https://github.com/apache/apisix-ingress-controller/blob/master/charts/apisix-ingress-controller/templates/rbac.yaml :)

[2021-02-24 06:03] tokers opened #264 "remove the useless conf.json"
There is a file which named as `conf.json` at the top level of this project, it's useless, we can delete it.

[2021-02-24 10:37] Bhanuji95 commented on #259
Hello @tokers,

We have tried APISIX earlier, looks like the old ClusterRole didn't get update during re-deployment. Now we have created the role again with the latest configuration. Thanks for your help 👍

[2021-02-24 10:40] tokers commented on #259
@Bhanuji95 You're welcome :).

[2021-02-24 11:21] Bhanuji95 commented on #259
Hi @tokers,

One more query, is it possible to integrate APISIX with AzureAD/Azure OIDC authentication?

[2021-02-24 11:56] tokers commented on #259
Well, that depends on whether APISIX supports it. @spacewander @membphis

[2021-02-24 14:02] stu01509 commented on #264
Can I pick this issue?

[2021-02-24 14:02] stu01509 commented on #257
Can I pick this issue?

[2021-02-25 00:50] tokers commented on #257
@stu01509 Sure, assigned for you.

[2021-02-25 01:00] tokers commented on #264
@stu01509 Assigned.

[2021-02-25 01:38] membphis commented on #259
@Bhanuji95 the APISIX does not support  AzureAD/Azure OIDC authentication now. if you need it, you can create a new issue for discussion.

link: https://github.com/apache/apisix/issues

[2021-02-25 04:02] gxthrj commented on #264
Close this issue now

[2021-02-25 04:02] #264 closed

[2021-02-25 04:09] gxthrj commented on #259
@Bhanuji95  Has the problem of not finding the route been resolved? If so, we can close this issue.

[2021-02-25 04:12] gxthrj commented on #261
@zhangxiaohui123456  We mainly support declarative configuration in this version. What kind of interface do you want? Can you give me an example?

[2021-02-25 05:12] #257 closed

[2021-02-25 09:00] Bhanuji95 commented on #259
Hello @gxthrj,

Our issue is resolved now, we can close the issue.

[2021-02-25 09:00] #259 closed

[2021-02-27 03:25] membphis opened #274 "docs: update the architecture diagram"
![image](https://user-images.githubusercontent.com/6814606/109374178-521b4300-78ee-11eb-8315-4da896383f53.png)

[2021-02-27 03:29] membphis commented on #274
@gxthrj if you need the source file, please let me know. I can provide it.

[2021-02-27 03:36] iamayushdas commented on #274
Can you please be elaborative? What exactly to do.

[2021-02-27 12:11] membphis commented on #274
We can submit a PR to replace the image of  `README.md`:

![image](https://user-images.githubusercontent.com/6814606/109386761-e6f65e80-7937-11eb-9a39-546ebe9e638f.png)

Update the image file `docs/assets/images/module-0.png`.

[2021-02-28 14:31] gxthrj commented on #274
Great~ but we need some clarification about the different colored arrows in the picture.

[2021-03-01 03:45] zhangxiaohui123456 commented on #248
Is there any progress on Apisix-Route？

[2021-03-01 07:12] tokers commented on #248
@pioneer-hash See #262 for more details.

[2021-03-02 03:22] pioneer-hash opened #276 "bug: Service cannot be dynamically aware of changes to the service when it is deleted and rebuilt again"
### Issue description
When there is a problem with upstream resource configuration, delete the service corresponding to upstream POD and re-expose it.A look at the Apisix-Ingress log shows that it also monitors old services。
This is deploymen yaml of  pod :

[code]

This is  service yaml  of pod : --- there is  problematic  because my apisix-ingress is gray-publish of namespace  , this servicde  c

[2021-03-03 06:08] #248 closed

[2021-03-03 06:39] tokers commented on #276
@pioneer-hash From the error log, we can see the `10.96.0.10:53` reporting error ahout the DNS server misbehaving, have you configured the CoreDNS correctly?

[2021-03-03 06:45] tokers commented on #241
Solved by https://github.com/apache/apisix-ingress-controller/pull/250

[2021-03-03 06:45] #241 closed

[2021-03-03 06:46] tokers commented on #256
@Junnplus Thanks for your contribution. Now it's time to close it.

[2021-03-03 06:46] #256 closed

[2021-03-03 06:57] tokers opened #277 "update deployment docs to use https://charts.apiseven.com"
Now we have a helm charts repository https://charts.apiseven.com, while in all deployment related docs like azure.md, aws.md, we still use the charts in apisix-helm-chart to install APISIX and apisix-ingress-controller, we should change to use the online repository.

For instance:

![image](https://user-images.githubusercontent.com/10428333/109765582-08a15f80-7c30-11eb-9e9a-40c8f239eb77.png)

We c

[2021-03-04 07:40] soulsoul opened #278 "docs: add chinese version of ducument"
add  chinese version  of ducument

[2021-03-08 06:21] gxthrj opened #286 "Proposal: Need to block the ip and id that appear in the declarative configuration"
### Issue description

We need a simpler configuration to block some specific implementations of APISIX.

Need to make a layer of abstraction, Just like the traffic-split plugin, you don’t want upstream Id or node IP to appear in the declarative configuration.

[2021-03-08 08:16] gxthrj opened #287 "bug: lease election error"
### Issue description
Encountered this error during local debugging, but later recovered automatically. Record this issue to collect more information.
error log：
[code]

### What's the expected result?

Lease election can run normally.

[2021-03-08 08:58] gxthrj commented on #221
Close this issue for PR has been merged.

[2021-03-08 08:59] #221 closed

[2021-03-09 09:13] tokers opened #289 "Support Traffic Split in ApisixRoute"
We have a [traffic split plugin](https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/traffic-split.md) in Apache APISIX, but it's not easy to use it in Ingress scenario because there are some resource reference relationships like `upstream_id`.

In consideration of the widely use of traffic split in Ingress, Service Mesh, I'd like to implement this function into ApisixRoute, as the

[2021-03-09 14:30] juzhiyuan commented on #289
Not familiar with this temporarily, just one point: how about using `serviceWithWeight` instead of `weightedBackends`?

[2021-03-10 04:02] Junnplus commented on #289
`weightedBackends` and `backend` can be unified?  But the weight are different, default weight 100.

[2021-03-10 05:16] tokers commented on #289
Maybe we can allow user to ignore the weight when there is only one backend.

[2021-03-10 05:18] tokers commented on #289
Just like @Junnplus , We can unify the `weightedBackends` and `backend`.

[code]

But the `backend` is used as an object, we may use another field `backends`, and telling people to use the `backends` field.In the future release, we may deprecate the `backend` field and even delete it.

[2021-03-11 14:35] Junnplus opened #293 "bug: crash when exist v1beta1.Ingress of extensions"
### Issue description

crash when exist v1beta1.Ingress of extensions

### Minimal test code / Steps to reproduce the issue

1. use `ingress_version: "networking/v1beta1"` in config.yaml
2. create a ingress with apiVersion is `extensions/v1beta1`
3. start ingress controller

### What's the actual result? (including assertion message & call stack if applicable)
[code]

### What's the expected resul

[2021-03-11 14:42] membphis opened #294 "architecture diagram"
how about change to this one?

![image](https://user-images.githubusercontent.com/6814606/110804201-e60be800-82ba-11eb-89dc-a18547d4d27e.png)

[2021-03-11 14:43] Junnplus commented on #293
the `extensions/v1beta1.Ingress` kind is deprecated but will not be removed until Kubernetes 1.22.
Some users running versions < Kubernetes 1.14, we may need to be compatible with it.

[2021-03-11 15:07] Junnplus opened #295 "request help: Both v1 and v1beta of ingress are supported"
### Issue description

`IngressVersion` limits the support of only one version of ingress, why not both v1 and v1beta of ingress are supported

[2021-03-12 01:11] tokers commented on #295
@Junnplus Kubernetes will create `v1` incarnation replica when you create a `v1beta1` version Ingress and vice versa. What the `--ingress-version` does is tell the controller use which version's informer and lister to serve.

[2021-03-12 01:15] tokers commented on #293
@Junnplus Seems we have a bug here:
![image](https://user-images.githubusercontent.com/10428333/110876941-7413bd00-8313-11eb-9a22-8139cea16f10.png)

We should use `Networking().V1beta1().Ingress().Informer().

Would you like to submit a PR to solve this? Thanks!

[2021-03-12 01:24] debu99 commented on #136
I need standalone mode for apisix ingress controller, does it currently support?

[2021-03-12 02:54] Junnplus commented on #293
ye, I make a PR to fixed.

In addition, After K8s 1.13 the API server automatically translate `extensions/v1beta1.Ingress` objects to `networking/v1beta1.Ingress` objects, we may need to be compatible with it.

[2021-03-12 05:28] tokers commented on #136
@debu99 By using the term "standalone", what's your exact meaning? Does it mean do not rely on ETCD?

[2021-03-12 05:31] tokers commented on #293
Then I think we should support "extensions/v1beta1.Ingress", instead of "networking/v1beta1.Ingress".

[2021-03-12 05:34] debu99 commented on #136
Yes, I would like to use git/yaml to update routing info, like Kong dbless

[2021-03-12 06:15] soulsoul commented on #294
nice！

[2021-03-12 09:25] tokers commented on #136
Currently we don't support it, we may do it in the future, it depends on a good standalone mode of APISIX, the current yaml based way is not so suitable in Ingress scanario.

[2021-03-12 09:26] tokers commented on #294
@soulsoul Would you like to submit a PR to change the diagram in README to this one? Thanks!

[2021-03-12 09:44] gxthrj commented on #289
It looks like we only support weight.
There are  some canary feature In [traffic split plugin](https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/traffic-split.md) .
How about add `match` rules in backends ?

[2021-03-12 09:50] tokers opened #298 "Support several plugins both in Ingress and ApisixRoute"
There are so many plugins in APISIX, we will add the following plugins to Ingress (annotations) and ApisixRoute, and adding e2e cases to cover them.

* basic-auth
* key-auth
* ip-restriction
* limit-req
* ip-restriction

[2021-03-13 06:28] soulsoul commented on #294
@tokers  ok

[2021-03-14 11:28] membphis commented on #294
fixed already by #301

[2021-03-14 11:28] #294 closed

[2021-03-15 09:57] #293 closed

[2021-03-15 10:03] gxthrj commented on #278
Thanks, but we don’t want us to maintain Chinese documents all the time, This will increase a lot of maintenance costs.
What other peoples think?

[2021-03-15 10:06] #277 closed

[2021-03-15 10:18] gxthrj commented on #286
refer to #289

[2021-03-15 10:33] gxthrj commented on #167
Close this issue, feel free to reopen.

[2021-03-15 10:33] #167 closed

[2021-03-15 10:36] gxthrj opened #302 "request help: ApisixRoute support ngx_vars logic"
Now we have ngx_var struct in ApisixRoute, but the logic need to be done.

[2021-03-15 12:15] tokers commented on #295
@Junnplus Any problems?

[2021-03-15 12:28] tokers commented on #302
I will do it.

[2021-03-15 14:22] gxthrj commented on #136
we don't support it,
If use the standalone mode, we need to develop an additional distribution system and ensure high availability.
BTW,Kong dbless is also not recommended for use in production.

[2021-03-17 05:58] #295 closed

[2021-03-17 07:01] #302 closed

[2021-03-17 08:36] tokers commented on #289
That's really, what about the following configuration snippet:

[code]

[2021-03-18 00:46] rviper opened #305 "bug: failed to open file: /usr/local/apisix/conf/nginx.conf on Openshift 4.6"
### Issue description
Tried to install via https://apisix.apache.org/docs/ingress-controller/deployments/minikube on Openshift 4.6

on the apisix container i'm getting a

"failed to update nginx.conf: failed to open file: /usr/local/apisix/conf/nginx.conf, error info:/usr/local/apisix/conf/nginx.conf: Permission denied"

### Environment

* Openshift 4.6
* helm charts described in https://apisix.ap

[2021-03-18 00:47] tokers commented on #305
@rviper What's your container running user, group?

[2021-03-18 01:48] gxthrj commented on #289
The `weight` configuration of the `match` part is confusing.
It seems that after being matched by `match`, people can continue to control the traffic through `weight`. So the `backend` with `match` should be `backends`.

Another point is about the default backend.
The default backends can be multiple, so that `weight` is meaningful.

BTW,  there is a typo `sweight` in default backends , should be

[2021-03-18 01:58] tokers commented on #289
I changed my mind, the canary release can be implemented by multiple rules in `spec.http`, for instance:

[code]

If people want to implement the traffic shifting by weighted backends, they can do like this:

[code]

[2021-03-18 03:12] gxthrj commented on #289
I think the newer proposal implemented by multiple rules in `spec.http` is better and more clear.

But still a point to note.
The order of the rules which has the same `host` and `vars`. We need the `priority ` the same as the route in APISIX.

[2021-03-18 03:13] tokers commented on #289
@gxthrj We already support to specify `priority` field in `ApisixRoute/v2alpha1`.

[2021-03-18 03:15] gxthrj commented on #289
OK, Need to be set in previous example.

[2021-03-18 03:20] gxthrj commented on #289
[code]

[2021-03-18 09:50] itfabrik commented on #305
i haven't changed the deployment config created from those helm chart

pod config:

...
securityContext:
        capabilities:
          drop:
            - KILL
            - MKNOD
            - SETGID
            - SETUID
        runAsUser: 1001960000
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - name: default-token-klz7w
          readOnly: true
          mountPath: /var/run

[2021-03-18 10:41] tokers commented on #305
It seems the pod definition contains several `securityContext` configurations.

![image](https://user-images.githubusercontent.com/10428333/111613021-0ab31300-8819-11eb-86bb-c6697c7ea4ba.png)

![image](https://user-images.githubusercontent.com/10428333/111613065-169ed500-8819-11eb-9f9d-cce73a0ca64e.png)

The User ID to run the process is `1001960000`, you may try to inspect it and try to change th

[2021-03-18 11:25] itfabrik commented on #305
[eos@osconfig os4]$ ./oc debug deployment/apisix --as-root
Starting pod/apisix-debug ...
Pod IP: 10.128.4.95
If you don't see a command prompt, try pressing enter.
/usr/local/apisix # ls -lat
total 4
drwxr-xr-x    1 root     root            56 Feb 11 08:39 .
drwxr-xr-x   13 root     root          4096 Feb 11 08:39 apisix
drwxr-xr-x    3 root     root            82 Feb 11 08:39 conf
drwxr-xr-x    5

[2021-03-18 11:33] itfabrik commented on #305
added

'oc adm policy add-scc-to-user anyuid -z default -n ingress-apisix'

so that those containers can run as root for now

[2021-03-19 01:28] tokers commented on #305
@itfabrik You're welcome, now considering it was solved, I will close this issue.

[2021-03-19 07:12] tokers opened #309 "We should clarify the compatibility between APISIX and apisix-ingress-controller"
We don't have any documents to tell users the compatibility between APISIX and apisix-ingress-controller. It's better to keep a record of this relationship between them, so people won't keep themselves in trouble just because of the compatibility problems.

[2021-03-22 03:01] #289 closed

[2021-03-23 00:54] #219 closed

[2021-03-24 06:41] pioneer-hash opened #312 "bug: Modify the route.yaml configuration to not update apisix synchronously"
### Issue description
1.when I first  create apisix-route.yaml and excecute kubectl apply -f  apisix-route.yaml . Configure synchronization successful ,My configuration can be viewed in the ETCD.
2.  When I modify the apisix-route.yaml configuration for some parameters ,For example, change zhangsan to zhangsan111 , Unfortunately, the latest configuration has not been synchronized.
this is my apisi

[2021-03-26 03:17] tokers opened #313 "bug: ingress resources in extensions/v1beta1 is not dealt reasonablely"
### Issue description

For Kubernetes prior to `1.14`, the API version group for [Ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/) is `extensions/v1beta1`, which is deprecated in newer versions and will be unavailable in `1.22`.

Currently, apisix-ingress-controller works well with `ingress.networking/v1beta1` and `ingress.networking/v1`, but if there are some `ingress.ex

[2021-03-27 05:22] gxthrj commented on #312
Do you have any error logs in the container of INGRESS ?

[2021-03-27 05:45] tokers commented on #312
It seems that the route synchronization logic is pathological, we may fix it.

[2021-03-27 06:32] pioneer-hash commented on #312
Looking forward to finishing soon.

[2021-03-27 06:33] pioneer-hash commented on #312
NO ,there are no error logs in the container of INGRESS

[2021-03-27 15:40] #313 closed

[2021-03-29 01:51] tokers commented on #312
@pioneer-hash Thanks for your report, I have captured this bug, I will fix it as soon as possible.

[2021-03-29 03:29] pioneer-hash opened #317 "request help: Could not resolve host:"
### Issue description
When I install ingress-controller I start creating the route  ,  unable to synchronize configuration.
this is my ingress-log:

[code]

this is  Request inside the container :
[code]
### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
The packaged image of the current master version
* your Kubernetes cluster version

[2021-03-29 05:32] tokers commented on #317
@pioneer-hash I have re-organized the description so that it can be more clear. BTW, please add the environment information in the text.

[2021-03-29 07:34] pioneer-hash commented on #317
This is because I changed the name generic type of the Charts.yaml file.  The Apisix address domain name in the Ingress-Controller should be consistent with the Charts name installed

[2021-03-29 07:34] #317 closed

[2021-03-29 07:41] pioneer-hash opened #318 "request help:"
### Issue description
When I install ingress-controller I start creating the route , unable to synchronize configuration.
this is my ingress-log:
[code]
This is my file
[code]
### Environment
your apisix-ingress-controller version (output of apisix-ingress-controller version --long);
The packaged image of the current master version
your Kubernetes cluster version (output of kubectl version);
v 1.1

[2021-03-29 09:25] tokers opened #321 "Add e2e test cases for plugins"
### Issue description

We don't cover plugins in e2e test suites, although we support them already. Here I want to initiate a plan to add test cases for most of all plugins in Apache APISIX.

- [ ] [batch-requests](http://apisix.apache.org/docs/apisix/plugins/batch-requests)
- [ ] [serverless](http://apisix.apache.org/docs/apisix/plugins/serverless)
- [x] [redirect](http://apisix.apache.org/docs/a

[2021-03-29 09:31] gxthrj commented on #321
Great Job ~

[2021-03-29 09:31] gxthrj commented on #321
Great Job ~

[2021-03-29 10:21] tokers commented on #318
Please add the apisix version and apisix-ingress-controller version.

Also, please add title.

[2021-03-29 12:33] pioneer-hash commented on #318
The packaged image of the current master version

[2021-03-29 12:42] pioneer-hash commented on #318
apisix version is apache/apisix:latest

[2021-03-29 13:36] gxthrj commented on #318
Please show the APISIX version， you had better use APISIX 2.4 version .

[2021-03-30 02:36] pioneer-hash opened #322 "bug: route vars configure synchronization data exceptions"
### Issue description
When I configured two rules in route.yaml, one carried the rules and the other did not ,Routes with rules are placed on top and routes without rules are placed below.Use the following configuration
[code]
[code]

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
apisix-ingress-controller version: now master  apis

[2021-03-30 02:52] gxthrj commented on #322
Yes， It is a bug
cc @tokers

[2021-03-31 05:25] tokers commented on #322
@gxthrj Yes, this bug is caused by the scope of `exprs`.

[2021-03-31 06:38] tokers opened #324 "bug: secret controller doesn't update ApisixTls but just re-push the old one"
### Issue description

Secret controller doesn't update the ApisixTls resources when the related secret resource was changed.
![image](https://user-images.githubusercontent.com/10428333/113100920-a3d92500-922e-11eb-89d4-44927bf57c39.png)

Though the related ApisixTls resources will be re-pushed to APISIX cluster, the content was not changed.

### Environment

* your apisix-ingress-controller versi

[2021-03-31 11:11] #322 closed

[2021-04-01 01:06] tokers commented on #312
Fixed by #319.

[2021-04-01 01:06] #312 closed

[2021-04-01 01:08] tokers commented on #138
We redesigned these CRDs, see http://apisix.apache.org/docs/ingress-controller/concepts/apisix_route for details.

[2021-04-01 01:08] #138 closed

[2021-04-01 01:11] tokers commented on #10
We have already supported it.

[2021-04-01 01:11] #10 closed

[2021-04-01 03:36] pioneer-hash opened #326 "bug: the priority configuration could not take effect"
### Issue description
I configured the priority generic type in route.yaml ,but the generic type is not synchronized to Apisix.
this is my route.yaml
[code]
When I execute the command kubectl apply-f roue.yaml and check the configuration of apisix, I find that the priority configuration is not successful.
etcd:
`{"status":1,"uris":["\/*"],"priority":0,"update_time":1617245342,"id":"bfd0375a","crea

[2021-04-01 06:14] tokers commented on #326
@pioneer-hash Thanks for your report.

[2021-04-01 06:44] tokers commented on #326
@pioneer-hash I have committed a PR to solve this problem: https://github.com/apache/apisix-ingress-controller/pull/329.

[2021-04-01 13:53] #326 closed

[2021-04-02 00:58] tokers commented on #274
Consider it to be resolved.

[2021-04-02 00:58] #274 closed

[2021-04-02 06:19] tokers opened #335 "add e2e test cases for request-rewrite plugin"
See https://github.com/apache/apisix-ingress-controller/issues/321 for more details.

[2021-04-02 06:20] tokers commented on #335
@Firstsawyou

[2021-04-02 06:29] Firstsawyou commented on #335
It looks great, let me try it.

[2021-04-03 22:59] bahtou opened #338 "bug: minikube setup"
### Issue description

Trying to go through the minikube setup here:
https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/minikube.md

The installation works fine. It is when I try to test the connection by following the practice example that I run into issues:
https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-h

[2021-04-05 05:28] gxthrj opened #339 "chore: use PUT instead of PATCH when update resources in APISIX"
### Issue description
Now we use `PATCH` method to update resources in APISIX, but some behaviors are inconsistent with expectations.
For example, the key in SSL will not be encrypted when use `PATCH`.

[2021-04-05 06:46] tokers commented on #339
@gxthrj Does this the bug in Apache APISIX?

[2021-04-05 07:00] tokers commented on #338
Basically, the `403` forbidden is returned due to the remote address is not in the allow list. As per your description, you try to access the Admin API from localhost but you just allow IPs from `10.244.0.0/16`.

As for the `httpbin-route`, actually it still uses the ApisixRoute/v1 while we recommend to use ApisixRoute/v2alpha1, the corresponding version of `httpbin-route` in v2alpha1 is just belo

[2021-04-05 07:01] tokers commented on #338
@bahtou By the way, after you run this case successfully, would you like to submit a PR to update the `httpbin-route` in https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md#test? Thanks!

[2021-04-05 12:02] gxthrj commented on #339
I think so, This leads to inconsistent admin API behavior.
cc @spacewander

[2021-04-05 14:33] bahtou commented on #338
@tokers thanks for the assist. When apply the `httpbin-route.yaml` I get the following: `no matches for kind "ApisixRoute" in version "apisix.apache.org/v2alpha1"`

[2021-04-06 00:55] tokers commented on #339
@gxthrj You may create an issue in APISIX repo and describe the details there.

[2021-04-06 00:56] tokers commented on #338
Oops, what's the version of your apisix-ingress-controller, you may try to install the latest one.

[2021-04-06 01:14] bahtou commented on #338
@tokers Uisng this one: https://github.com/apache/apisix-ingress-controller/releases/tag/0.4.0
  --set image.tag=0.4.0 \

[2021-04-06 01:25] tokers commented on #338
@bahtou You may try to install apisix-ingress-controller from the helm repo: https://charts.apiseven.com

[2021-04-06 01:53] bahtou commented on #338
--set image.tag=0.4.0 \
  --set config.apisix.baseURL=http://apisix-admin:9180/apisix/admin \
  --set config.apisix.adminKey=edd1c9f034335f136f87ad84b625c8f1 \
  --namespace ingress-apisix

Does this not install from the helm repo? I added the repo the step before that one: https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/minikube.md#install-apisix

[2021-04-06 02:16] tokers commented on #338
Have you updated the repo?

[2021-04-06 02:16] bahtou commented on #338
yes. This is the repo charts

apisix/apisix                   	0.2.0        	2.3.0      	A Helm chart for Apache APISIX
apisix/apisix-dashboard         	0.1.1        	2.3.0      	A Helm chart for Apache APISIX Dashboard
apisix/apisix-ingress-controller	0.3.0        	0.4.0      	Apache APISIX Ingress Controller for Kubernetes

[2021-04-06 02:18] tokers commented on #338
It's weird, Is the `ApisixRoute/v2alpha1` in the CRD list?

[code]

[2021-04-06 02:20] bahtou commented on #338
`apisixroutes.apisix.apache.org      2021-04-06T01:43:18Z`

[2021-04-06 03:06] tokers commented on #338
I'm afraid that i didn't get useful information there 😂, would you like to just paste all output from executing `k get crds`.

[2021-04-06 03:12] bahtou commented on #338
:)

NAME                                CREATED AT
apisixroutes.apisix.apache.org      2021-04-06T01:43:18Z
apisixtlses.apisix.apache.org       2021-04-06T01:43:18Z
apisixupstreams.apisix.apache.org   2021-04-06T01:43:18Z

[2021-04-06 14:13] Firstsawyou commented on #321
I'd like to write e2e test cases for plugin "response-rewrite".

[2021-04-06 17:10] #339 closed

[2021-04-07 09:54] mootezbessifi opened #346 "getting Error: apiVersion 'v2' is not valid. The value must be "v1" During installation"
Hi
Am using helm 2.17.0 on top of k8s 1.17.4 and once performing the installation described here https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/kubesphere.md
I got `Error: apiVersion 'v2' is not valid. The value must be "v1"`

Could anyone help

[2021-04-07 11:53] tokers commented on #346
@mootezbessifi In which step you met this problem?

[2021-04-07 11:55] mootezbessifi commented on #346
@tokers once running the helm install command

[2021-04-07 11:57] tokers commented on #346
Which step? Installing APISIX or the ingress controller? Could you paste some screenshots here?

[2021-04-07 12:08] tokers commented on #346
Well, the `apiVersion` in `Chart.yaml` is set to `v2` so you have to use helm version 3. Please try to upgrade your version. By the way, the helm v2 was deprecated.

[2021-04-07 12:08] #346 closed

[2021-04-07 12:25] mootezbessifi commented on #346
anyway to run it using helm 2. since am not able to upgrade helm now ??

[2021-04-08 04:56] juzhiyuan commented on #321
any update?

[2021-04-08 07:23] tokers commented on #338
@bahtou It seems the newest CRDs were not installed correctly. Have you tried to remove and install it? I doubt that CRDs are not configured when you installing the newest apisix-ingress-controller.

[2021-04-08 14:15] bahtou commented on #338
@tokers I started from scratch by blasting minikube.
I went through the first two instructions here: https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/minikube.md#install-apisix
1. install apisix
2. install apisix-ingress-controller

NAME                              SHORTNAMES   APIVERSION                        NAMESPACED   KIND
apisixroutes

[2021-04-08 14:18] tokers commented on #338
Well, you may try to apply the newest crds in samples/deploy. In fact, the newest charts in the https://charts.apiseven.com already fixed this issue.

[2021-04-08 16:15] bahtou commented on #338
@tokers have you gone through the instruction set? Is it working for you with a fresh minikube cluster? All methods you have mentioned have not worked.

[2021-04-08 16:44] bahtou commented on #338
@tokers I created the CRDs using the `samples/deploy` directory
This worked and the `httpbin-route.yaml` was created successfully with `apisix.apache.org/v2alpha1`

Looking at the pod `apisix-ingress-controller-847df99d4c-v5g2p`, initially it is up and running fine. But then it crashes and the following are the logs:
[code]
The tests fail (https://github.com/apache/apisix-ingress-controller/blob/m

[2021-04-09 01:01] #335 closed

[2021-04-09 01:37] tokers commented on #338
I'm sorry because in `0.4.0` we don't have a field called `backends` but only `backend`, so you can use the following snippet instead:

[code]

You may try to use the apisix-ingress-controller `0.5.0` .

[2021-04-09 05:17] sniper-xx opened #348 "bug: failed to sync route configuration to apisix"
### Issue description
1、apisix route configuration
[code]
2、the apisix-ingress-controller pod logs

`sync ApisixRoute failed, will retry	{"object": {"Type":2,"Object":{"Key":"quickstart-system/subscriber-ingress-v2","OldObject":{},"GroupVersion":"apisix.apache.org/v2alpha1"},"Tombstone":null}, "error": "2 errors occurred:\n\t* object missing primary index\n\t* object missing primary index\n\n"}
`

[2021-04-09 06:15] gxthrj opened #351 "bug: Update ApisixRoute has dirty configuration"
### Issue description
Apply ApisixRoute one by one cause dirty configuration
step 1:
[code]
The route in APISIX like this:
[code]

step 2:
[code]

The route in APISIX like this, the plugin `traffic-split`  should be removed.

[code]

[2021-04-09 07:01] tokers commented on #351
The route in step1 doesn't contain traffic-split?

[2021-04-09 07:05] gxthrj commented on #351
mistake, I will modify the spec of this issue.

[2021-04-09 07:23] tokers commented on #351
This bug is due to we use `PATCH` when updating, we should use `PUT` instead.

[2021-04-09 07:35] tokers opened #352 "optimize the data structure in apisix client"
We have a lot of similar data structures in `pkg/apisix` like `routeReqBody`, `routeItem` and `v1.Route`, they are almost identical, but once we add some new features, we have to change all of them, we might be overwhelm and error-prone.

So We may need to unify them to just one data structure.

[2021-04-09 08:12] tokers commented on #348
@sniper-xx The error message is strange, I didn't find it from APISIX or apisix-ingress-controller. Could you paste the Deployment configuration of your apisix-ingress-controller.

[2021-04-09 08:44] tokers commented on #276
ping @pioneer-hash Any news?

[2021-04-09 08:44] tokers commented on #276
It's not apisix-ingress-controller's problem but the CoreDNS misbehavior.

[2021-04-09 08:44] #276 closed

[2021-04-09 08:59] #351 closed

[2021-04-09 09:02] tokers commented on #298
Auth plugins cannot be implemented since there is no `consumer` concept in the world of apisix-ingress-controller.

[2021-04-09 09:03] tokers commented on #298
We have another issue #321 to track the plugins support.

[2021-04-09 09:07] tokers commented on #298
And we have supported a couple of plugins, we add e2e cases for all of them.

![image](https://user-images.githubusercontent.com/10428333/114157243-041a4600-9956-11eb-9706-8f4ed281e32b.png)

[2021-04-09 09:07] #298 closed

[2021-04-09 10:02] #309 closed

[2021-04-09 10:12] wjx8382 opened #356 "request help: KubeSphere setup"
### Issue description
When I try to test the connection on KubeSphere following the practice example:
https://apisix.apache.org/docs/ingress-controller/practices/proxy-the-httpbin-service-with-ingress
[code]
![image](https://user-images.githubusercontent.com/6300935/114163610-f87e4d80-995c-11eb-9af4-d9fb8a5bd857.png)

When I access `httpbin` through the `NodePort` of `httpbin`, I can get a success

[2021-04-09 13:02] sniper-xx commented on #348
[code]
this is installation args;  the apisix is installed in the local host , not on k8s.

[2021-04-09 13:04] sniper-xx commented on #348
@tokers  This installation type is ok ?

[2021-04-09 13:07] sniper-xx commented on #348
@tokers When will the next version(0.5.0) be released?

[2021-04-09 13:48] tokers commented on #348
The installation is OK.

[2021-04-09 14:43] bahtou commented on #338
@tokers sounds good. Happy to test when it is released. Thanks!

[2021-04-10 04:18] tokers commented on #251
We added the schema for ApisixRoute.

[2021-04-10 04:18] #251 closed

[2021-04-10 04:19] tokers commented on #229
Currently, we add a FAQ to mention users.https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/FAQ.md

[2021-04-10 04:19] #229 closed

[2021-04-10 04:23] tokers commented on #356
apisix-ingress-controller itself is not the proxy component but the controller to control the proxy plane (APISIX), you should acesss APISIX instead. By the way, have you installed APISIX?

[2021-04-10 04:24] tokers commented on #348
@sniper-xx It' will be released in few days.

[2021-04-10 05:34] sniper-xx commented on #348
@tokers I tracing the logs of  apisix-ingress-controller container and apisix  in debug mode.  I can see "apisix/upstream.go:179	try to create upstream" ,  but the controller is not send any request to apisix.
 I'm exec curl command to create routes is successful  in ingress-controller container. may it's ingress-controller bug.

[2021-04-10 10:56] Firstsawyou commented on #321
Currently, there is no configuration that supports the consumer object. I need to wait for the consumer configuration to be supported before submitting this test.

[2021-04-11 04:07] tokers commented on #348
@sniper-xx Could you paste the Deployment YAML configuration of apisix-ingress-controller? and the configmap that it used. I'd like to know the command-line options.

[2021-04-11 08:21] Marco-Zheng opened #360 "No TKE deploy solution"
### Issue description

I'm no sure there has TKE (Tencent) deploy solution, just found ACK(alibaba), could you please give me an advise.
![image](https://user-images.githubusercontent.com/52538259/114297196-ce09cd00-9ae1-11eb-9e74-a72efbddfef7.png)

[2021-04-11 14:55] Marco-Zheng commented on #360
i found it as below, close the issue.
https://apisix.apache.org/zh/docs/ingress-controller/deployments/tke

[2021-04-11 14:55] #360 closed

[2021-04-12 00:41] sniper-xx commented on #348
@tokers
1、The Deployment.yaml of apisix-ingress-controller
[code]

2、The configmap of apisix-ingress-controller
[code]

3、The command-line args
[code]

4、The Error message

[code]

[2021-04-12 00:45] sniper-xx commented on #348
@tokers
4、The ingress yaml
[code]

[2021-04-12 02:42] wjx8382 commented on #356
Our service is client-->nginx-->ingress-nginx-->service-->pod. I want to replace ingress-nginx with apisix. Should I use APISIX instead of apisix-ingress-controller? (I have installed APISIX:2.3-alpine)

[2021-04-12 05:33] tokers commented on #356
No, you need both the apisix-ingress-controller and APISIX. Just as I said above, apisix-ingress-controller is the control plane and APISIX is the data plane that processes the traffic. Even in ingress-nginx, there are two components, the one is nginx (DP) and the other is the controller (CP).

[2021-04-12 07:31] wjx8382 commented on #356
I have installed APISIX, how can I access httpbin through apisix

I have installed APISIX, how can I access httpbin through apisix?

[2021-04-12 08:07] Firstsawyou commented on #321
I'd like to write e2e test cases for plugin "referer-restriction".

[2021-04-12 08:09] Firstsawyou opened #362 "add e2e test cases for referer-restriction plugin"
See #321 for more details.

[2021-04-12 08:10] Firstsawyou commented on #362
Assigned to me.

[2021-04-12 10:19] tokers commented on #356
See http://apisix.apache.org/docs/ingress-controller/practices/proxy-the-httpbin-service for details.

[2021-04-13 02:07] tokers commented on #324
Fixed.

[2021-04-13 02:07] #324 closed

[2021-04-13 02:22] wjx8382 commented on #356
@tokers Why does `kubectl exec -it -n tools apisix-7987b5b7f-tmrk7 -- curl http://127.0.0.1:9080/headers -H 'Host: local.httpbin.org'` returns `{"error_msg":"404 Route Not Found"}`
[code]

[2021-04-13 02:24] tokers commented on #356
Could you access the apisix admin API by

[code]

To see the routes?

[2021-04-13 02:28] wjx8382 commented on #356
It returns
[code]

[2021-04-13 02:48] wjx8382 commented on #356
`kubectl exec -it -n tools apisix-7987b5b7f-tmrk7 -- curl http://127.0.0.1:9180/apisix/admin/routes -H 'X-API-Key: edd1c9f034335f136f87ad84b625c8f1'` returns
[code]

[2021-04-13 05:08] tokers commented on #356
It seems that there are some other routes in your APISIX cluster? How are they created?

[2021-04-13 05:08] tokers commented on #356
I found these routes were created by apisix-dashboard, just do not mix the use of apisix-ingress-controller and manual dashboard confiugration.

[2021-04-13 06:35] wjx8382 commented on #356
I deleted those routes created by apisix-dashboard,then running`kubectl apply -f httpbin-route.yaml -n tools`,routes still doesn't contain this route.
```{"node":{"key":"\/apisix\/routes","nodes":{},"dir":true},"action":"get","count":"1"}```

[2021-04-13 07:23] tokers opened #364 "ci: add golint workflow"
We can add the golangci-lint check in the CI.

[2021-04-13 08:00] batman-ezio commented on #364
assign to me @tokers

[2021-04-13 09:01] vincenthcui opened #365 "bug: ingress controller can't handle ingress"
### Issue description

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);

[code]

* your Kubernetes cluster version (output of `kubectl version`);

[code]

* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`).

run in k8s, installed by helm chart

### Minimal test code / Steps to rep

[2021-04-13 11:03] tokers commented on #356
Maybe there are some internal bugs, could you paste the error log of apisix-ingress-controller.

Just paste the result of `kubectl logs -f {apisix-ingress-controller pod name}`.

[2021-04-13 11:03] tokers commented on #364
@batman-ezio Assigned to you.

[2021-04-13 12:39] ryan4yin opened #368 "bug: cannot set backend's weight to 0"
### Issue description

cannot set backend's weight to 0, ingress-controller will use `_defaultWeight` if `weight` is `0`.

maybe we should use `-1` to indicate the `_defaultWeight`? or just use `_defaultWeight` itself.

related codes:
- https://github.com/apache/apisix-ingress-controller/blob/master/pkg/kube/translation/apisix_route.go#L200
- https://github.com/apache/apisix-ingress-controller/blo

[2021-04-14 00:50] #365 closed

[2021-04-14 00:53] tokers commented on #368
@ryan4yin Thanks for your report, I think we should distinguish the zero weight and `nil` weight, it will be good if we use a pointer to point the `Weight` field.

[2021-04-14 00:55] sniper-xx commented on #348
@tokers I upgrade apisix-ingress-controller to version 0.5.0，but the error is same.
[code]

[2021-04-14 01:41] tokers commented on #348
The deployment of apisix-ingress-controller looks very well except for the configuration of `config.apisix.baseURL`.

[code]

How did you deploy APISIX? Does the Admin API really listens on `9080`, If you deploy it just by helm, the Admin API should listens on `9180`.

The `object missing primary index` is reported when the controller trying to insert data to the in-memory cache but violating the

[2021-04-14 01:55] tokers commented on #348
@sniper-xx You may try to set the log level to debug and paste more and more error log here.

[2021-04-14 02:10] wjx8382 commented on #356
No error log,only
```[GIN] 2021/04/14 - 10:06:19 | 200 |      56.195µs |  172.16.110.186 | GET      "/healthz"```

[2021-04-14 02:38] tokers commented on #356
@wjx8382 You should change the log level, you can set it to `debug` by adding a `--set` option when using helm install.

[2021-04-14 02:47] sniper-xx commented on #348
@tokers   this is my ingress controller logs. I changed admin port and token.
I can see ingress-controller successfully to read original configuration from apisix,but ingress-controller can't write the config to apisix.  this is  strange. maybe my apisix configuration is not correct.
[apisix-ingress-controller.log](https://github.com/apache/apisix-ingress-controller/files/6307853/apisix-ingress-co

[2021-04-14 02:52] sniper-xx commented on #348
@tokers
this is apisix config.yaml
apisix:
  admin_key:
    - name: "admin"
      # yamllint disable rule:comments-indentation
      key: "12345678"  # using fixed API token has security risk, please update it when you deploy to production environment
      # yamllint enable rule:comments-indentation
      role: admin
  allow_admin:                  # http://nginx.org/en/docs/http/ngx_http_access_

[2021-04-14 03:06] tokers commented on #348
@sniper-xx It seems your APISIX cluster contains some other routes which were not created by ingress-controller.

[code]

[2021-04-14 03:07] tokers commented on #348
Seems the  `desc` field missing (which maps to `full_name` in the internal of apisix-ingress-controller), the in-memory DB checks one of the primary indexes (`full_name`), so the insertion is failed.

[2021-04-14 03:08] gxthrj opened #371 "feat: add jsonschema validate for ApisixUpstream resource"

[2021-04-14 03:08] gxthrj opened #372 "feat: add jsonschema validate for ApisixTls resource"

[2021-04-14 03:15] wjx8382 commented on #356
[code]

[2021-04-14 03:26] sniper-xx commented on #348
@tokers It's resovled, thanks very much. How can I add the external routes configuration in apisix which not from apisix-ingress-controller? I hope the apisix can proxy the k8s svc and other services of not in k8s?

[2021-04-14 03:44] sniper-xx commented on #348
I tested successfully. The manual created routes need add description. if not, the error above will be raised.

[2021-04-14 04:55] tokers commented on #348
We don't recommend this way.

[2021-04-14 04:56] tokers commented on #348
We will add some labels for resources created by apisix-ingress-controller, and only theses resources will be synced to apisix-ingress-controller (when it starts).

[2021-04-14 04:56] #348 closed

[2021-04-14 06:54] tokers commented on #356
@wjx8382 Your APISIX Admin API doesn't allow apisix-ingress-controller to access it. Please tweak the `allow.ipList` option, https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/values.yaml#L124.

[2021-04-14 07:07] #368 closed

[2021-04-14 08:30] wjx8382 commented on #356
Now logs
[code]

[2021-04-15 04:47] Marco-Zheng opened #376 "request help:"
### Issue description
My service were all deploy on k8s, This client address cannot be automatically resolved to upstream by apisix-ingress-conroller. It needs to be configured manually. You can configure the service name of k8s. But the name of the configuration service will report an error
![image](https://user-images.githubusercontent.com/52538259/114815165-41fceb80-9de8-11eb-8d57-a414cd4a5910.

[2021-04-15 04:51] Marco-Zheng opened #377 "client address cannot be automatically resolved to upstream by apisix-ingress-conroller"
### Issue description
My service were all deploy on k8s, This client address cannot be automatically resolved to upstream by apisix-ingress-conroller. It needs to be configured manually. You can configure the service name of k8s. But the name of the configuration service will report an error
![image](https://user-images.githubusercontent.com/52538259/114815165-41fceb80-9de8-11eb-8d57-a414cd4a5910.

[2021-04-15 05:18] tokers commented on #377
What apisix-ingress-controller resolves is the Kubernetes Service Name/FQDN, not client address.

Client address is the remote IP address where the requests sent from. It can be configured as IPv4/IPv6/CIDR.

[2021-04-15 05:21] tokers commented on #376
Duplicated with #377 .

[2021-04-15 05:21] #376 closed

[2021-04-15 07:16] #242 closed

[2021-04-15 09:09] Marco-Zheng commented on #377
Here has a problem, i configure the route /patient/patient/* as below , but it also said that 404 Route Not Found
`curl -i -X GET http://ip:host/patient/patient/id -H "Host: httpbin.org" -H 'apikey: superSecretAPIKey'`
![image](https://user-images.githubusercontent.com/52538259/114843934-e6912480-9e0c-11eb-8fad-b5cf1930a488.png)

It was amazing that there had no route of `/get` which i was update

[2021-04-15 09:14] pioneer-hash opened #379 "bug: Synchronization configuration error when setting backends in route.yaml"
### Issue description
When I set backends in route.yaml, the synchronization configuration received an error ,Observation logs are a problem with the traffic-split plugin.
This is my yaml
[code]
this is error.log
[code]
### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
apisix-ingress-controller version :0.5
apisix version : 2.5-centos

[2021-04-15 11:34] tokers commented on #377
@Marco-Zheng How did you use your APISIX? If you use it by configuring objects in apisix-dashboard, you should submit issue to apisix repo.

If you're using apisix-ingress-controller, please paste related information like apisix-ingress-controller version, how you create this route (ApisixRoute or Ingress).

[2021-04-15 12:42] vincenthcui opened #381 "bug: panic when translate ingress version"
### Issue description

panic when translate extensions/v1beta1.Ingress

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);

[code]

* your Kubernetes cluster version (output of `kubectl version`);

[code]

### Minimal test code / Steps to reproduce the issue

1. Use extensions/v1beta1.Ingress
2. set `config.kubernetes.ingressVersion=ex

[2021-04-15 13:32] #381 closed

[2021-04-15 14:35] Marco-Zheng commented on #377
Actually, i create the route on dashboard, but i tried to deploy the apisix and apisix dashboard only on aliyun server, it worked well, but i tried to use apisix-helm-chart and deploy all service, then meet that problem.

[2021-04-15 14:37] Marco-Zheng commented on #377
I'm no sure which part cause this problem. i'll also submit issue to apisix repo

[2021-04-15 14:50] Marco-Zheng commented on #377
There has an another question, may i know if can config the node domain/IP as below
`medcloud-dev.dental-practice-patient`
![image](https://user-images.githubusercontent.com/52538259/114889641-dee97400-9e3c-11eb-96cd-831226ae8be1.png)
medcloud-dev is namespace of service
dental-practice-patient is name of service

[2021-04-16 01:23] #377 closed

[2021-04-16 06:42] wjx8382 commented on #356
@tokers After I tweak the ```allow.ipList``` in ```apisix-helm-chart/charts/apisix/values.yaml```,there are still errors.
[code]
apisix-ingress-controller logs
[code]
APISIX logs
[code]

[2021-04-16 08:44] tokers commented on #356
Are you sure the IP of apisix-ingress-controller is configured correctly?

[2021-04-16 09:08] wjx8382 commented on #356
I see that the IP in the APISIX log is the IP that I configured，and the error before and after configuration is different.

[2021-04-16 09:43] tokers commented on #356
@wjx8382 Could you please paste the `config-default.yaml` and `config.yaml` in the APISIX pod?

[2021-04-18 02:51] #362 closed

[2021-04-18 15:14] fhuzero commented on #73
Hi @tokers and @masfbeca , it seems that this issue has not been updated for over two months. If possible, I would love to contribute to this repo starting from addressing this issue (#73). Would it be okay for you?

[2021-04-18 16:59] fhuzero commented on #321
I'd like to write e2e test cases for plugin "server-info".

[2021-04-19 01:05] tokers commented on #73
@fhuzero I will re-assign this issue for you.

[2021-04-19 02:35] tokers opened #387 "Add test cases to verify CRD schemas"
We may need some test cases to verify the CRD schemas.

[2021-04-19 06:29] Marco-Zheng opened #389 "request help: how to configure nginx param"
### Issue description

May i know how to configure nginx param like `proxy-read-timeout` `proxy-body-size` ... in apisix ingress
![image](https://user-images.githubusercontent.com/52538259/115191119-96230b00-a11b-11eb-86c6-e6cc52a230d2.png)

[2021-04-19 08:01] tokers commented on #389
@Marco-Zheng Currently we don't support so much annotations in `Ingress`, we have identical features in our own ApisixRoute resources but with the first-class support.

[2021-04-19 08:02] tokers commented on #389
We also have plans to rich the Ingress resources by creating more and more annotations, these annotations will be similar to the one in Ingress Nginx but nor portable.

[2021-04-19 08:03] tokers commented on #379
@pioneer-hash Have you ever modified the APISIX configuration?

[2021-04-19 08:03] tokers commented on #372
Supported.

[2021-04-19 08:03] #372 closed

[2021-04-19 08:03] tokers commented on #352
Supported by #373

[2021-04-19 08:03] #352 closed

[2021-04-19 08:04] wjx8382 commented on #356
[code]

[2021-04-19 08:04] tokers commented on #338
@bahtou We have released 0.5.0 version, would you like to try it?

[2021-04-19 08:07] tokers opened #391 "Support ApisixConsumer resource"
Please see https://lists.apache.org/thread.html/r4d0cdfc2d8d37abbbe09d2890b2adbe5bd0312e6d0c78d9a4e55ead0%40%3Cdev.apisix.apache.org%3E for more details.

[2021-04-19 08:09] tokers opened #392 "Support ApisixPlugin resource"
APISIX supports plugin_config object to reuse a group of plugins, we can also support it.

[2021-04-19 08:16] pioneer-hash commented on #379
No,I just changed the name generic type of Chart.yaml

[2021-04-19 09:53] Marco-Zheng commented on #389
if there any similar config or plugin like `proxy-read-timeout` `proxy-body-size` in apisix?

[2021-04-19 12:40] tokers commented on #356
From the configuration snippet the `allow_admin` was rendered correctly, so it should work, would you like to try the `0.5.0` version, it was released few days ago.

[2021-04-19 12:43] tokers commented on #379
@pioneer-hash It seems that the `traffic-split` plugin is not enabled in the current apisix helm chart release.

[2021-04-19 12:45] tokers commented on #379
I have submitted a PR to fix this: https://github.com/apache/apisix-helm-chart/pull/63.

[2021-04-19 12:49] tokers commented on #389
You can see this [document](http://apisix.apache.org/docs/ingress-controller/references/apisix_upstream) for more details.

[2021-04-19 17:29] fhuzero commented on #73
There are 2 commands (`version` and `ingress`) already implemented for `apisix-ingress-controller`. As for ingress-nginx kubectl plugin, 11 commands are available, such as `backends` and `ingresses`. Do I need to add support for all commands existing in ingress-nginx kubectl plugin? Or is there a list of commands to add support for?

[2021-04-20 01:06] tokers commented on #73
I think we can add some vital ones firstly, we can add more and more gradually. Welcome to paste your proposal in this issue.

[2021-04-20 03:09] tokers opened #394 "Support to record kubernetes events for resources processing"

[2021-04-20 03:10] tokers opened #395 "Support to report resources status"

[2021-04-20 03:11] tokers opened #396 "feat: support udp route"

[2021-04-20 03:23] tokers opened #397 "Use annotations to rich the Kubernetes Ingress"
related issues: https://github.com/apache/apisix-ingress-controller/issues/389.

* Canary
* Proxy Rewrite
* Cors

[2021-04-20 05:36] tokers commented on #379
@pioneer-hash Please try the apisix helm chart `0.3.1`.

[2021-04-20 07:44] wjx8382 commented on #356
After using the `0.5.0` version,apisix-ingress-controller logs
[code]
In addition, why `helm install apisix` will also generate apisix-ingress-controller, but its version is `0.4.0`, `helm install apisix-ingress-controller` will generate apisix-ingress-controller which version is `0.5.0`, which should I use?

[2021-04-20 14:01] tokers commented on #356
The error `object missing primary index` occurred basically due to you wrote some route on apisix-dashboard. It's **NOT** a recommended way.

We recommend you to use the `0.5.0` release.

[2021-04-20 14:39] bahtou commented on #338
@tokers
Following the documentation here: https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/minikube.md#install-apisix

[code]
`error: unable to recognize "httpbin-route.yaml": no matches for kind "ApisixRoute" in version "apisix.apache.org/v2alpha1"`

yaml file
[code]

I also installed the crds via the `samples/deploy/crd/v1beta1` but then get this error:

[2021-04-21 00:32] tokers commented on #338
@bahtou The indent of `backend` is wrong, it should be aligned with `match`, not inside `match`.

[2021-04-21 00:52] tokers commented on #364
@batman-ezio Ping, any updates? I will wait for you 3 more days.

[2021-04-21 00:53] tokers commented on #115
Assigned to me.

[2021-04-21 02:09] wjx8382 commented on #356
I did not write anything on apisix-dashboard.After I installed APISIX and apisix-ingress-controller,i just running `kubectl apply -f httpbin-route.yaml -n tools`

[2021-04-21 10:54] tokers commented on #356
@wjx8382 Have you ever seen how many routes are there in APISIX?

[2021-04-22 05:44] pioneer-hash commented on #379
success!

[2021-04-22 06:04] pioneer-hash opened #399 "request help: Support for grayscale scenes"
### Issue description
In a grayscale scenario, the grayscale upstream service and the production upstream service belong to different namespaces when switching environments.Routing configuration based on apisix-ingress-Controller is now cumbersome: only one namespace can be specified in each route configuration file and that namespace must be in the same namespace as the service below. Can the nam

[2021-04-22 06:12] tokers commented on #399
@pioneer-hash Why we don't support cross namespace reference is because crossing namespace might be the main course of privilege escalation attacks. See https://github.com/kubernetes/kubernetes/issues/17088.

For your case, you can still put them into one YAML file.

[code]

[2021-04-22 06:22] pioneer-hash commented on #399
Thanks for your answer

[2021-04-22 08:27] tokers commented on #379
OK. Consider it was solved now.

[2021-04-22 08:27] #379 closed

[2021-04-22 08:27] #399 closed

[2021-04-23 02:18] tokers opened #402 "Introduce global_rules (cluster scoped plugins)"

[2021-04-23 02:51] pioneer-hash opened #403 "request help: apply -f upstrem.yaml cannot find the service"
### Issue description
ingress-controller cannot discover services outside the default namespace
This is my upstream.yam configuration
[code]
This is my env info
[code]
This is error log
···
2021-04-23T10:33:14+08:00       warn    controller/apisix_upstream.go:182       sync ApisixUpstream failed, will retry  {"object": {"Type":3,"Object":"default/web2","Tombstone":{"metadata":{"name":"web2","names

[2021-04-23 02:57] tokers commented on #403
As per the error log, your ApisixUpstream object was created in the **default** namespace, while the `web2` service is in `gray-ns` namespace.

[2021-04-23 03:06] pioneer-hash commented on #403
But my configuration specifies that the namespace is  gray-ns.
[code]

[2021-04-23 03:25] wjx8382 commented on #356
@tokers I reinstalled APISIX again,and now logs this error
[code]

[2021-04-23 03:37] wjx8382 commented on #356
[code]

[2021-04-23 03:44] wjx8382 commented on #356
@tokers And why APISIX logs many upstream 404 request？
[code]

[2021-04-23 05:38] tokers commented on #356
The endpoints controller inside apisix-ingress-controller will try to fetch the Upstream object so it can apply the newest endpoints set to upstream node, if the object not found, it means the endpoints/service is not related with any ApisixRoute objects, and endpoints controller will ignore it.

[2021-04-23 05:48] tokers commented on #403
@pioneer-hash Is there a `ApisixRoute` object named as `web2` in the default namespace, the error log might be occurred due to that resource.

[2021-04-23 05:53] pioneer-hash commented on #403
No, That's not the name , route name is  test-cookie-222
[code]
This is route.yaml
[code]

[2021-04-23 06:01] tokers commented on #403
Sorry, my bad, I mean the `ApisixUpstream`.

[2021-04-23 06:14] pioneer-hash commented on #403
I found that the upstream of Web2 was referenced first in the route.yaml configuration and then execute  apply -f upstream.yaml
Its success.
Is it because you have to do it in order？

[2021-04-23 07:50] fhuzero commented on #321
Help needed: is there any way to run test cases for just one plugin? I want to run test cases I wrote for plugin "server-info". Modifying ginkgo command under PHONY `e2e-test` in `Makefile ` seems to have no effect, ginkgo still runs all test cases.

[2021-04-23 09:23] tokers commented on #403
No, it's not related with the order to create these to objects.

The error log prompts that there is an `ApisixUpstream` object in the `default` namespace which named as `web2`. You should check it.

[2021-04-23 09:25] tokers commented on #321
Yep, please read the issue description.

[2021-04-23 11:13] fhuzero commented on #321
Thanks for your reply!

Thanks! It's done by changing `Describe` to `FDescribe`. Sorry for not examining the issue description carefully. Just went through a hard time configuring the environment.

[2021-04-24 04:54] tokers commented on #321
Feel free to ask any questions here.

[2021-04-25 02:06] pioneer-hash commented on #403
I'm sure not. The puzzle is that a reference to ApisixRoute will succeed in ApisixUpstream

[2021-04-25 02:59] kingGang opened #404 "bug: Missing related consumer"
### Issue description

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
    # ./apisix-ingress-controller version --long
Version: 0.5.0
Git SHA:
Go Version: go1.13.8
Building OS/Arch: linux/amd64
Running OS/Arch: linux/amd64
/ingress-apisix # ersion: 0.5.0
Git SHA:
Go Version: go1.13.8
Building OS/Arch: linux/amd64
Running OS/Arch: l

[2021-04-25 06:10] tokers commented on #403
So here we have two problems. Let's solve them one by one.

The first problem the apisix upstream is ineffective is because the corresponding service doesn't exist, this is a conclusion from your error log. I'm not sure whether this apisixupstream object was deleted so you said you are sure it doesn't exist.

[2021-04-25 07:15] pioneer-hash commented on #403
Previously, I set up this service called web2 in the default namespace ，Maybe I set up an ApisixUpstrem called web2. This has now been removed, and later apisixUpstreams have been created to specify the gray-ns namespace

[2021-04-25 07:26] pioneer-hash commented on #403
I recreated ApisixUpstream ，This is my configuration . Creating upstream that is not introduced by route will still report an error. As long as I reference to ApisixRoute about new serviename , I can synchronize successfully
[code]
This is error.log
[code]

[2021-04-25 09:14] pioneer-hash opened #405 "request help: Multi-tenancy scenario solution"
### Issue description
Here's a scenario ：I need two sets of environment, mobile and PC, and I want to keep them apart ,Similar to the previous Apisix, two gateways were deployed.If I  install  a  apisix-ingress-controller ， can't differentiate by context. If I install two Apisix-Ingress-Controllers, which Apisix-Ingress-Controller will handle it when I create a CRD resource? I hope we can discuss

[2021-04-25 10:10] tokers commented on #403
So the web3 service exists?

[2021-04-25 10:13] tokers commented on #405
You can set up namespace isolation for different customers, and configuring different watching namespaces for apisix-ingress-controller.

[2021-04-25 12:22] tokers commented on #404
It seems that the consumer data are not synchronized to APISIX, could you paste the error.log in the APISIX container? It's in `/usr/local/apisix/logs/error.log`. You can execute the following like command to fetch it:

[code]

[2021-04-25 15:04] fhuzero commented on #321
Now I have a workable version for "server-info" test cases. But as for implementation details and how the test is done I would like to
raise some questions for discussion. Shall we create a dedicated issue for "server-info" plugin test cases or I just start a PR so we can discuss in that PR?

[2021-04-26 00:10] tokers commented on #321
I think so, you can go ahead and create it.

[2021-04-26 01:07] kingGang commented on #404
**No error logs**
kubectl exec -n ingress-apisix apisix-57bd6d8969-85rsn -- cat /usr/local/apisix/logs/error.log
Defaulted container "apisix" out of: apisix, wait-etcd (init)

[2021-04-26 01:12] tokers commented on #404
Your pod is still in initial, the init container is running.

[2021-04-26 05:17] tokers commented on #404
@kingGang By the way, could you supplement the issue title, so that people can easily find this issue when they searching similar problems in search engines.

[2021-04-26 14:55] tokers commented on #404
We need the error.log contents in apisix container.

[2021-04-27 01:39] tokers commented on #403
@pioneer-hash The newest logs pasted lost some vital contexts, please paste more logs so we can know why the synchronization of `endpoints` failed.

[2021-04-27 02:40] tao12345666333 commented on #397
/assign

[2021-04-27 02:42] tao12345666333 commented on #391
/assign

[2021-04-27 03:33] kingGang commented on #404
因为我之前删掉过apisix的 pod， 后面在进去到容器内，看查询的日志内容只有一条“Defaulted container "apisix" out of: apisix, wait-etcd (init)”

[2021-04-28 01:47] kingGang commented on #404
我重新添加consumer apisix报错，错误信息如下
 *191165894 [lua] config_etcd.lua:550: failed to fetch data from etcd: failed to check item data of [/apisix/consumers] err:additional properties forbidden, found id,  etcd key: /apisix/consumers, context: ngx.timer

[2021-04-28 01:49] tokers commented on #404
What's the version of apisix-dashboard and apisix?

[2021-04-28 02:11] kingGang commented on #404
# apisix version
/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua version
2.5
/manager-api --version
Version : 2.5
GitHash : 448e980
/usr/local/apisix-dashboard # ersion
Version : 2.5
GitHash : 448e980

[2021-04-28 02:13] tokers commented on #404
Well, actually if you're using apisix/2.5, you should use the apisix-dashboard `2.6`. Have you ever seen error message like "mismatched version of apisix and apisix-dashboard" when you open apisix-dashboard.

[2021-04-30 08:56] #395 closed

[2021-04-30 09:04] sober-wang commented on #73
we can first supports these:
- `kubectl apic route`
- `kubectl apic route <ROUTE_NAME>  service `
- `kubectl apic route <ROUTE_NAME> service <SVC_NAME> upstream`

[2021-04-30 09:08] tokers commented on #73
The semantic term `apic` is not so strong. what about `ingress-apisix`?

[2021-04-30 09:11] sober-wang commented on #73
I think `apic` means is `apisix ingress controller` abbreviation.

[2021-04-30 09:35] tokers commented on #73
This abbreviation is not semantic

[2021-05-02 07:31] sober-wang commented on #356
But when I entry apisix pod request my http server is connect. see ...
[code]

And apisix pod have some error log .
[code]

my ApisixRoute :
[code]

my server information:
[code]

[2021-05-03 02:56] tokers commented on #356
What is your problem? And if it's not related to this issue, please address your problem by creating another issue.

[2021-05-03 08:12] sober-wang commented on #356
Can't passbay the apisxi connecet the server.

[2021-05-05 04:52] fregie commented on #364
@tokers Please assigned this to me.

[2021-05-05 06:27] iamayushdas commented on #405
@pioneer-hash can you close the issue if that its resolved?
Thank you

[2021-05-05 06:30] iamayushdas commented on #404
@kingGang if the your issue is resolved , kindly close the issue

[2021-05-06 01:49] tokers commented on #364
@fregie Assigned to you.

[2021-05-06 02:04] gxthrj commented on #371
https://github.com/apache/apisix-ingress-controller/pull/407

[2021-05-06 02:04] #371 closed

[2021-05-06 02:06] #394 closed

[2021-05-06 06:53] fhuzero commented on #73
Thanks for suggesting a list. I'll first add supports for those while determining a suitable abbreviation.

[2021-05-06 11:04] lxm opened #420 "add examples about migrating from nginx ingress controller"
### Issue description

Due to most people started to get in touch with Kubernetes ingress is using `nginx ingress controller`, so it is likely to use a lot of nginx ingress's annotations. It's a good idea to add some example about migrating from nginx ingress controller. Such as

[code]

[code]

and so on.

[2021-05-06 11:24] tokers commented on #420
@lxm That's right, we may maintain a document to tell people if you're using xxx feature in ingress-nginx, and you're trying to migrate to ingress-apisix, that what you need to configure to achieve the same purpose.

Workload is huge, but we can list some common and important features, adding examples for them preferentially.

[2021-05-06 11:24] tokers commented on #420
@gxthrj @tao12345666333

[2021-05-06 11:55] Donghui0 opened #421 "bug: The upstream associated with other routes cannot be deleted, and the delete event keeps retrying"
### Issue description
controller log as below:
![image](https://user-images.githubusercontent.com/7134928/117293086-8b9a9c80-aea3-11eb-9177-601820ac6e95.png)

upstream delete failed, The delete event is added to the queue again.

### Environment

* apisix-ingress-controller version:  v0.5.0
* Kubernetes cluster version: v1.16.9

### Minimal test code / Steps to reproduce the issue
1.  create apisi

[2021-05-06 14:30] tokers commented on #421
We may need to handle the given error from the caching operation.

[2021-05-07 02:16] tokers commented on #115
Implemented.

[2021-05-07 02:16] #115 closed

[2021-05-07 02:37] tokers commented on #421
Ignore this please.

[2021-05-07 05:29] tokers commented on #421
@Donghui0 Thanks for your report, I have captured the root reason about this bug, I will fix it.

[2021-05-07 05:59] tao12345666333 commented on #420
We are now expanding the functionality of apisix-ingress, see #397
Use the same annotation similar to ingress-nginx.

[2021-05-07 10:10] WinSuperStar commented on #356
when I run in kubeSphere，I got some warn message like this：

2021-05-07T17:45:11+08:00       warn    controller/endpoint.go:93       service kube-system/kube-scheduler was deleted
2021-05-07T17:45:11+08:00       warn    controller/endpoint.go:93       service default/ceph.com-rbd was deleted
2021-05-07T17:45:11+08:00       warn    controller/endpoint.go:93       service default/ceph.com-cephfs was

[2021-05-07 10:19] tokers commented on #356
These logs are redundant but harmless, also, You don't give any useful contexts, I cannot judge whether this is a bug.

[2021-05-07 10:19] tokers commented on #356
If you want to report your problem in detail, please create another issue, thanks!

[2021-05-07 11:44] Marco-Zheng opened #423 "bug: ingress routing resource manifest file does not take effect 路由的资源清单文件不生效"
### Issue description
添加路由的资源清单文件如下：
![image](https://user-images.githubusercontent.com/52538259/117444743-750c4800-af6c-11eb-9767-f4249b423e57.png)
apisix-gateway使用nodeport形式访问关联到slb的出口上
然后test1.laoganma.fun解析到slb的公网出口地址
浏览器访问域名服务
![image](https://user-images.githubusercontent.com/52538259/117444757-7b022900-af6c-11eb-88c0-422c98653a78.png)

[2021-05-08 02:11] WinSuperStar commented on #356
I  got the error message like this：

2021-05-07T22:29:45+08:00       error   controller/endpoint.go:141      failed to get upstream  {"upstream": "dev-httpbin_httpbin_80", "cluster": "name=; base_url=http://apisix-admin:9180/apisix/admin", "error": "Get http://apisix-admin:9180/apisix/admin/upstreams/d18cbca1: net/http: request canceled while waiting for connection (Client.Timeout exceeded while a

[2021-05-08 02:29] WinSuperStar opened #426 "request help: apisix-ingress-controller run in kubeSphere,It doesn't work！"
### Issue description
When I try to test the connection on KubeSphere following the practice example:
https://apisix.apache.org/docs/ingress-controller/practices/proxy-the-httpbin-service-with-ingress

-------httpbin-apisix-ingress.yaml begin-----

[code]
-------httpbin-apisix-ingress.yaml end-----

---------------error log begin --------------------------
[code]
---------------error log end------

[2021-05-08 02:55] wjx8382 commented on #356
@tokers The above my errors are caused by not setting config.apisix.baseURL when installing apisix-ingress-controller by helm. Now I set the local url to reinstall apisix-ingress-controller. It’s all right now, thanks!

[2021-05-08 04:18] pioneer-hash opened #427 "request help: failed to wait the default cluster to be ready:"
### Issue description
A few days ago, when the deployment was completed, there was no problem in synchronizing the data. Now, there was an error when synchronizing the configuration. Could you please help me to see what caused the error
[code]
I I go inside pod of apisix-ingress-controller and get Route information directly it was successful
[code]
### Environment
* your apisix-ingress-controller

[2021-05-08 05:18] tokers commented on #427
This line:

[code]

is the root cause, it seems your kube-apiserver is not running normally.

[2021-05-08 05:47] #421 closed

[2021-05-08 06:05] pioneer-hash commented on #427
Could you please tell me what command I can use to query the status of kube-apiserver

[2021-05-08 06:41] tokers commented on #427
How did you configure apisix-ingress-controller? Especially the baseURL.

[2021-05-08 06:45] pioneer-hash commented on #427
apisix install
[code]
apisix-ingress-controller install
[code]

[2021-05-08 06:49] tokers commented on #427
OK, the apisix base url `sitech-gray-admin` confuses me.

From the error log, your controller cannot communicate to apisix admin, could you try to send request to `sitech-gray-admin` from the controller container?

[2021-05-08 06:56] tokers commented on #423
@Marco-Zheng By default apisix-ingress-controller watches ingress in networking/v1, you should adjust the command line option `--ingress-version`, see https://github.com/apache/apisix-ingress-controller/blob/master/conf/config-default.yaml#L50 for details.

[2021-05-08 06:57] pioneer-hash commented on #427
I I go inside pod of apisix-ingress-controller and get Route information directly it was successful
[code]

[2021-05-08 07:17] tokers commented on #426
@WinSuperStar How did you deploy apisix-ingress-controller, what's the configuration about command line option `--ingress-version`?

[2021-05-08 07:27] Marco-Zheng commented on #423
apisix-ingress-controller：0.5.0
apisix：2.4-alpine
让资源路由规则生效的命令：kubectl apply -f route.yaml
日志：

Thanks, i'll try it, our company's k8s version is v1beta1, so you means the `config-default.yaml` must configure with `v1beta1`,but here comes a problem, we install ingress by helm-chart, and there has no file named `config-default.yaml`

below is the dictionary file tree for apisix-ingress-comtroller

[2021-05-08 07:48] WinSuperStar commented on #426
@tokers
You remind me that I cloned the source code to the local installation before. There may be some problems. I just uninstalled it and then re installed the apisix-ingress-controller. I see that It’s all right now. Thank you very much!

[2021-05-08 07:59] tokers commented on #426
@WinSuperStar Feel free to ask any questions here!

[2021-05-08 07:59] #426 closed

[2021-05-08 08:00] tokers commented on #423
@Marco-Zheng You can pass options to helm.

[code]

[2021-05-08 08:31] Marco-Zheng commented on #423
I tried above option, but still didn't work, then i searched `ingressVersion` in all files, but not found, i also checked the

[2021-05-08 08:58] Marco-Zheng commented on #423
Here is the full k8s resource file
[code]

[2021-05-08 10:29] tokers commented on #356
Got it.

[2021-05-08 10:29] #356 closed

[2021-05-09 02:24] tokers commented on #423
@Marco-Zheng Configurations are in configmap. Please check it out. Also, please tell us what's the version of apisix-ingress-controller.

[2021-05-10 02:19] Marco-Zheng commented on #423
Our version is
[code]

Here is the comfigmap
[code]

[2021-05-10 08:48] tokers commented on #423
[code]

[2021-05-11 03:07] tokers commented on #423
@Marco-Zheng Any suspicious error logs?

[2021-05-11 03:14] tokers opened #432 "Pull Request template doesn't conform our demand"
### Issue description

The current Pull Request template is not so good, we may change it to [the one](https://github.com/apache/apisix/blob/master/.github/PULL_REQUEST_TEMPLATE.md) in APISIX.

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress

[2021-05-11 03:31] Marco-Zheng commented on #423
Here is apisix log
![image](https://user-images.githubusercontent.com/52538259/117753983-02d98300-b24c-11eb-85c8-bb5a96745041.png)
and here is apisix-ingress-controller log
![image](https://user-images.githubusercontent.com/52538259/117754009-108f0880-b24c-11eb-828c-54ae93981621.png)
no error was found, but I found a strange thing per the first log , i send request to
![image](https://user-images.

[2021-05-11 05:24] gxthrj commented on #420
Sure，We should also add documents to describe
1. the configuration scope of our support for native k8s Ingress resource.
2. How to migrate from K8s Ingress resource to ApisixRoute resource.

[2021-05-11 07:04] #404 closed

[2021-05-11 08:48] shuoshadow opened #433 "request help: 配置路由不生效，访问404"
### Issue description
按照文档部署后，运行正常，但是apisix-ingress-controller pod一直刷warn日志。配置ingress和apisixroute都无效。
![image](https://user-images.githubusercontent.com/10016360/117786642-4fd34e80-b278-11eb-9a21-a12f147b0d91.png)

这个是apisix的日志
![image](https://user-images.githubusercontent.com/10016360/117786802-798c7580-b278-11eb-817e-a99120644ff1.png)
![image](https://user-images.githubusercontent.com/10016360/

[2021-05-11 09:15] shuoshadow commented on #433
![image](https://user-images.githubusercontent.com/10016360/117790941-6b405880-b27c-11eb-9b2e-dd51ddf8083d.png)

[2021-05-11 09:26] tokers opened #434 "bug: status update is failed"
### Issue description

Error log was reported when I run e2e test cases:

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`); 0.6.0
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`).

### What's the actual result? (inc

[2021-05-11 11:01] tokers commented on #433
From your error log snippet, apisix-ingress-controller doesn't find the service koa-svc in default namespace.

[2021-05-11 11:38] sniper-xx opened #435 "request help: The 0.6.0 version canceld?"
### Issue description

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`).

[2021-05-11 11:59] shuoshadow commented on #433
oh, sorry，i didn't set namespace. Thanks, problem solved

[2021-05-11 12:07] #435 closed, assigned to nobody

[2021-05-11 12:10] gxthrj commented on #434
I will check it.

[2021-05-12 02:34] Marco-Zheng commented on #423
Do you have any idea or advise for that case? I had reviewed my configuration by checking your configure doc, but i still have no idea about it.

![image](https://user-images.githubusercontent.com/52538259/117909889-9c1c9e00-b30d-11eb-804b-6014f477c9a1.png)

[2021-05-12 03:04] tokers commented on #423
@Marco-Zheng The `0.5.0` apisix-ingress-controller release doesn't contain the event and status feedback, Is it convenient for you to change the log level of apisix-ingress-controller to debug, we may get some clues from these debug logs.

[2021-05-12 03:19] tokers commented on #434
@gxthrj Please describe the error reason here after you capture this bug.

[2021-05-12 04:03] shuoshadow opened #436 "request help: annotations, k8s.apisix.apache.org/whitelist-source-range not work"
### Issue description
![image](https://user-images.githubusercontent.com/10016360/117916459-c70cef00-b319-11eb-8e9b-dcdfe95a4bbe.png)

![image](https://user-images.githubusercontent.com/10016360/117916555-f91e5100-b319-11eb-8459-cdbcbeb4f3b2.png)

i set the whitelist annotation, but i can still access the domain.
### Environment

Version: 0.5.0
Git SHA:
Go Version: go1.13.8
Building OS/Arch: linux

[2021-05-12 05:49] tokers commented on #436
@shuoshadow That's a known bug, will fix it as soon as possible.

[2021-05-12 05:53] tokers opened #437 "bug: typo in docs/en/latest/references/apisix_route_v2alpha1.md"
### Issue description

The `remoteAddrs` field was written as `remote_addrs`.

![image](https://user-images.githubusercontent.com/10428333/117925161-6b4a6200-b329-11eb-87e4-29124fc0cc9c.png)

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-c

[2021-05-12 06:04] shuoshadow commented on #436
I configure the field, but the return code is 404, is that right?
![image](https://user-images.githubusercontent.com/10016360/117926216-ff68f900-b32a-11eb-8ba5-708175904b87.png)
![image](https://user-images.githubusercontent.com/10016360/117926139-dea0a380-b32a-11eb-9c50-73bca38f97f6.png)

[2021-05-12 07:17] Marco-Zheng commented on #423
I change the log to debug and the logs as below
![image](https://user-images.githubusercontent.com/52538259/117934361-304e2b80-b335-11eb-860b-86392eeaa5ec.png)

[2021-05-12 07:35] #437 closed

[2021-05-12 07:40] tokers commented on #423
![image](https://user-images.githubusercontent.com/10428333/117937212-51644b80-b338-11eb-82bc-76d9f66cfb22.png)
It seems your apisix-ingress-controller still tries to watch the Ingress in networking/v1.

[2021-05-12 07:42] tokers commented on #436
@shuoshadow Yes, the `remoteAddrs` is set as the route match condition.

If this is not what you desired, may be you can set up the ip-restriction plugin, you can see this [test](https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/plugins/ip-restriction.go#L36) as the guide.

[2021-05-12 07:48] tokers opened #439 "fuzzing test for apisix-ingress-controller"
### Issue description

We need to set up the fuzzing test for apisix-ingress-controller, we already have [fuzzing test](https://github.com/apache/apisix/blob/master/.github/workflows/fuzzing-ci.yaml) for Apache APISIX, in apisix-ingress-controller, we focus on the test for the controller itself.

[2021-05-12 07:48] tokers commented on #439
Anyone who is interested in this?

[2021-05-12 08:36] shuoshadow opened #440 "request help: how to configure ssl"
### Issue description
I set redirect plugin: http-to-https. and create apisixtls resource

![image](https://user-images.githubusercontent.com/10016360/117944868-4ca39580-b340-11eb-8f93-6efa6009e3c6.png)
![image](https://user-images.githubusercontent.com/10016360/117944638-10703500-b340-11eb-8a46-a7c57b408a49.png)

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress

[2021-05-12 08:36] tokers opened #441 "Support to use a subset of Kubernetes Service as the backend of ApisixRoute"
### Issue description

Currently, when we specify a Kubernetes service in `ApisixRoute` as the backend, we push all endpoints/pod to the target upstream in APISIX.

Sometimes a Kubernetes Service will contain multiple versions, for instance, some endpoints are `v1` while others are `v2`. Users might need to do some traffic management among these different releases. But this is not feasible in apis

[2021-05-12 08:59] Marco-Zheng commented on #423
I have reconfirmed my config and follow below file
![image](https://user-images.githubusercontent.com/52538259/117946937-53330c80-b342-11eb-97d7-611f03a4ce6d.png)
change my file to
![image](https://user-images.githubusercontent.com/52538259/117947307-a7d68780-b342-11eb-8f9d-e0b608133d11.png)
coud you please help me to check again, i try to change `apisix.apache.org/v1` to `apisix.apache.org/v1beta

[2021-05-12 09:37] shuoshadow commented on #440
apisix-ingress-controller  error log

![image](https://user-images.githubusercontent.com/10016360/117953518-a90ab300-b348-11eb-927a-b2df50691308.png)

[2021-05-12 10:05] tokers opened #442 "refactor the annotations process"
The current process for annotations is pathological and the abstraction is not so good. We need to refactor it so the following goals can be achieved.

* Integrate with new annotations handling will be easily
* Handling these annotations when parsing Ingress resources.

[2021-05-12 10:54] tokers commented on #321
Merged #406 , thanks!

[2021-05-12 11:01] tokers commented on #423
@tokers This is the version for [Kubernetes Ingress resource](https://kubernetes.io/docs/concepts/services-networking/ingress/).

[2021-05-12 11:18] shuoshadow opened #444 "bug: etcd routes will not update when i delete pod apisix-ingress-controller and recreate"
### Issue description

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`).

### Minimal test code / Steps to reproduce the issue

1. apply apisixroute resource
2. dele

[2021-05-12 11:20] tokers commented on #444
@shuoshadow In which step you re-deploy apisix-ingress-controller? It's not recorded in your reproduce steps.

[2021-05-12 11:45] Marco-Zheng commented on #423
Yes, as you can see the config map version is `v1beta1` now, and apisix route.yaml as above, and i try all methods to let it works, but failed, i add the route in apisix dashboard, it can work well..

[2021-05-12 11:47] tokers commented on #423
What you configured is not ingress but the apisix route.

[2021-05-12 12:13] shuoshadow commented on #444
after i deploy apisixroute resource,  than i delete pod and recreate

when apisix-ingress-controller pod recreated, i changed apisixroute config and apply it, but it was not update to etcd

[2021-05-12 13:01] gxthrj commented on #440
@shuoshadow  The secret referenced in ApisixTls needs to be defined. In your environment, it is the `xxx-secret` under the `ingress-apisix` namespace.

The secret need to contains `cert` and `key`, There is a template in https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/scaffold/ssl.go#L26-L33.

We will add this piece of documentation soon.

[2021-05-12 13:19] Marco-Zheng commented on #423
below configure also failed to send request, as you mentioned before, the log still print networking/v1, but the configmap actually is v1beta1, does any other config will influence it
![image](https://user-images.githubusercontent.com/52538259/117980851-f72eaf00-b366-11eb-90f5-3ac175a48441.png)

[2021-05-12 13:23] tokers commented on #423
OK, let me try to reproduce it.

[2021-05-12 13:29] gxthrj commented on #444
@shuoshadow Please show the log of apisix-ingress-controller, if the configuration in etcd are not update, There must be some error logs about that.

[2021-05-12 13:32] gxthrj commented on #441
I like this feature, it will be useful.

[2021-05-13 02:04] tokers commented on #444
@shuoshadow Note since apisix-ingress-controller uses a leader-election mechanism, when you destroyed the apisix-ingress-controller, the lease resource was still there, after you recreated a new instance, it might run as the candidate for a while, so you may need to wait some times.

[2021-05-13 02:06] shuoshadow commented on #440
ok, i created the secret contains cert and key。The apisixtls configure has update to etcd. but i still can not access domain with https。

the apisix pod log is
![image](https://user-images.githubusercontent.com/10016360/118067112-81f8c380-b3d2-11eb-8b27-448e23467254.png)

the etcd ssl data
![image](https://user-images.githubusercontent.com/10016360/118067242-bf5d5100-b3d2-11eb-8914-c9b14210f0cb.pn

[2021-05-13 02:09] tokers commented on #440
@shuoshadow Seems that you send HTTPS to HTTP port.

[2021-05-13 02:24] shuoshadow commented on #440
I install apisix and apisix-ingress-controller with helm.  --set gateway.type=LoadBalancer

this is svc in namespace ingress-apisix, just one port
apisix-gateway              LoadBalancer   172.18.192.111   121.41.xx.xx 80:32755/TCP        41h
![image](https://user-images.githubusercontent.com/10016360/118068550-23811480-b3d5-11eb-946d-7802175da502.png)

the port in apisix pod
![image](https://use

[2021-05-13 02:30] tokers commented on #440
@shuaijinchao You should set `tls.enabled` to `true` when you install apisix by helm chart.

[2021-05-13 02:35] Marco-Zheng commented on #423
Thanks a lot

[2021-05-13 03:13] shuoshadow commented on #440
Thanks very much! I reinstall apisix and https access ok.
Mybe tls.enabled should be set true default, i think.

[2021-05-13 05:39] #440 closed

[2021-05-13 07:44] tokers opened #445 "feat: support blocklist-source-range annotation"
### Issue description

Add the support of `blocklist-source-range` annotation, so that people can configure the denied client IP addresses or nets in the Ingress resources.

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-controller in Bare-

[2021-05-13 08:53] liuxiran opened #447 "bug: fatal error reported when run `make build` in release src"
### Issue description

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);

  Version: 0.5.0
  Git SHA:
  Go Version: go1.14.6
  Building OS/Arch: linux/amd64
  Running OS/Arch: linux/amd64

* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-controller in Bare-metal environment, also show your O

[2021-05-13 09:29] slene opened #448 "bug: Always sync ingress failed if apisix cluster not ready when apisix-ingress start."
### Issue description

### Environment

* apisix-ingress-controller, latest master branch
* k8s v1.20.2
* apisix 2.5

### Minimal test code / Steps to reproduce the issue

1. start apisix-ingress first
2. then start apisix
3. change some ingress resources
4. always sync ingress failed

### What's the actual result? (including assertion message & call stack if applicable)

[code]

### What's the ex

[2021-05-13 09:55] gxthrj commented on #448
Yes, It is a bug, when connecting refused, need to retry.
@tokers PTAL, If you have time.

[2021-05-13 10:14] tokers commented on #447
Thanks for your report!

@gxthrj I think we can record the gitsha into a file when publish a new release.

[2021-05-13 10:32] slene opened #449 "bug: When controller become to leader from candidate code panic error"
### Issue description

### Environment

* apisix-ingress-controller, latest master branch
* k8s v1.20.2
* apisix 2.5

### Minimal test code / Steps to reproduce the issue

1. start apisix-ingress first
2. stop kube-apiserver
3. controller now is running as a candidate
4. start kube-apiserver
5. controller now is running as leader
6. panic: "close of closed channel" (close of closed channel)

### W

[2021-05-13 11:16] tokers commented on #449
@slene Thanks for your report and analysis, would you like to submit a PR to fix it? Thanks!

[2021-05-13 11:38] tokers commented on #448
@slene Thanks for your report.

I have captured this bug, after we got a signal from `c.cacheSynced` channel, we should in turn check the `c.cacheSyncErr` as the caching synchronization is asynchronous.

[2021-05-13 12:19] tokers commented on #448
I have submitted a PR to fix this: https://github.com/apache/apisix-ingress-controller/pull/450.

[2021-05-13 15:14] gxthrj commented on #447
I think GITSHA can be turned into an option.
When users usually use `make build` to package, they can easily record the dist ID,
but when we release the release, the src is under a specific tag,  In this case, GITSHA is not needed.

[2021-05-14 01:55] tokers commented on #447
@gxthrj Yep, then we can optimize this Makefile.

[2021-05-14 03:15] #442 closed

[2021-05-14 03:21] gxthrj opened #451 "feat: Support ingress.class on ApisixRoute resources"
Currently, we support
1. Specify `kubernetes.io/ingress.class` on the Ingress resource.
2. Specify `kubernetes.ingress_class` in config to determine the synchronization target apisix cluster (the configuration is deprecated)
3. Restrict the management scope of apisix-ingress-controller through `kubernetes.app_namespaces`;

When multiple apisix-ingress-controllers are deployed at the same cluster a

[2021-05-14 07:09] #445 closed

[2021-05-16 08:55] tokers commented on #434
Fixed.

[2021-05-16 08:55] #434 closed

[2021-05-16 08:57] tokers opened #454 "The features and docs needing to add After General Availability"
Now we are so closed to make this project GA, but before that, we still have some jobs to complete, this issue will be used to track the progress and status for publishing the apisix-ingress-controller/1.0, i.e. the first GA release.

## Feature

- [x] Support `ApisixConsumer`, so that Authentication can be done - https://github.com/apache/apisix-ingress-controller/issues/391 - Priority: High
- [x

[2021-05-16 09:03] gxthrj commented on #454
Need to add `docs` and `tests` group.

[2021-05-16 13:53] tokers commented on #454
Just add by yourself :)

[2021-05-17 03:57] lingsamuel commented on #255
/assign

[2021-05-17 04:01] gxthrj opened #455 "feat: ApisixClusterConfig status recording"

[2021-05-17 04:02] gxthrj commented on #454
Updated with some issue links.

[2021-05-17 04:19] gxthrj opened #456 "docs: More and more docs for APISIX Ingress Controller"
We will soon be GA release, the relevant discussion is here https://github.com/apache/apisix-ingress-controller/issues/454

In the GA release, we need to list some best practice articles to help everyone better understand and use APISIX Ingress Controller.

Now list some topics, everyone can contribute. Articles or ideas are fine.

- [ ] Deployment introduction
- [ ] Traffic control
- [ ] Usage ex

[2021-05-17 09:13] gxthrj opened #457 "Discuss: Remove the priority field under the ApisixRoute resource"
### Issue description
When ApisixRoute resources use `exprs` for traffic split, they need to be used with the priority field. It is particularly troublesome when used, and the user has to display the priority to the related rules.

In order to make the configuration easy to understand, and there is no need to modify the priority when declaring the configuration, and to further increase the ease of

[2021-05-17 13:19] tokers commented on #457
+1, agree.

[2021-05-18 01:46] Cassuis opened #461 "request help: Does it have native deployment yaml? i don't want to use helm to deployment apisix"
### Issue description
 Does it have native deployment yaml? i don't want to use helm to deployment apisix

[2021-05-18 09:02] flying1pig opened #464 "bug: endpoint controller sync changes failed"
### Issue description
endpoint controller will not sync changes when endpoints change from something to nothing

### Environment
apisix-ingress-controller: v0.4.0
k8s: 1.17.4

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-controller in Bare-metal environme

[2021-05-18 10:01] tokers commented on #461
@Cassuis Try Kustomize: https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/deployment/kustomization.yaml.

[2021-05-19 05:40] gxthrj opened #468 "bug: report scheme error when event record"
### Issue description
Report scheme error when event record: no kind is registered for the type v2alpha1.ApisixRoute in scheme "pkg/runtime/scheme.go:100"
![image](https://user-images.githubusercontent.com/4413028/118761807-ab6c9000-b8a7-11eb-9bdf-5f3d47db5550.png)

### Environment

* your apisix-ingress-controller version : master;

[2021-05-19 07:48] gxthrj opened #471 "bug: ingress controller still retry if upstream is used by other routes when delete upstream with APISIX admin api"
### Issue description
relate to : #421

when upstream is be used by multi-routes, it will not be allowed to remove in. APISIX.

In apisix ingress controller, we delete upstream in order:
1.[Delete upstream through APISIX admin api first](https://github.com/apache/apisix-ingress-controller/blob/master/pkg/apisix/upstream.go#L180)
2.[Then delete cache](https://github.com/apache/apisix-ingress-contro

[2021-05-19 08:31] LuChenjing commented on #468
Met the same issue with above screentshot.
apisix version: apisix-2.1-2.noarch
apisix ingress-controller: 0.6.0

apisix ingress config likes:
[code]

[2021-05-20 07:09] tokers opened #473 "bug: e2e case for tcp proxy is unstable"
The test case https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/ingress/tcp.go#L38 is not stable, which makes the e2e test CI failed.

[code]

[2021-05-20 08:58] Cassuis commented on #461
thx !

[2021-05-20 09:38] Donghui0 opened #475 "request help: extensions/v1beta1 ingress resource conversion apisix route is ignored"
### Issue description
k8s ingress resource  conversion apisix route is ignored

ingress controller config:
![image](https://user-images.githubusercontent.com/7134928/118955578-66248d00-b991-11eb-98dd-eebff013fabf.png)

ingress resource config:
![image](https://user-images.githubusercontent.com/7134928/118955668-7b99b700-b991-11eb-9db4-57137e90154b.png)

config `ingress_class` is the same as `kuber

[2021-05-20 10:37] #461 closed

[2021-05-20 10:46] Donghui0 commented on #475
ingress controller  start logs:

`2021-05-20T17:08:05+08:00	info	ingress/ingress.go:112	apisix ingress controller started
2021-05-20T17:08:05+08:00	info	ingress/ingress.go:114	version:
Version: 0.6.0
Git SHA:
Go Version: go1.13.8
Building OS/Arch: linux/amd64
Running OS/Arch: linux/amd64

2021-05-20T17:08:05+08:00	info	ingress/ingress.go:120	use configuration
{
	"log_level": "debug",
	"log_output"

[2021-05-20 10:57] Firstsawyou commented on #473
Assigned to me.

[2021-05-20 13:10] tokers commented on #475
Oops, actually we should use `controller.config.Kubernetes.IngressClass`.
Would you like to submit a PR to fix this bug? Thanks!

[2021-05-20 13:12] #255 closed

[2021-05-20 15:25] #471 closed

[2021-05-21 03:41] Donghui0 opened #476 "request help: ingress event translate route is problematic"
### Issue description
ingress PathType column  on Kubernetes 1.18+ support.   After the translate, the routes can only match exactly.
I expected  /    ->   /*     translate result.

only remove this judgment from the code ?

    `if pathRule.PathType != nil && *pathRule.PathType == extensionsv1beta1.PathTypePrefix`

### Environment

* your apisix-ingress-controller version: 0.6
* your Kubernetes c

[2021-05-21 03:56] tokers commented on #476
@Donghui0 See https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#httpingresspath-v1beta1-extensions

`PathType` is a valid field.

[2021-05-21 03:59] tokers commented on #476
@Donghui0 I think we cannot remove this for users using ingress in the extensions group on Kubernetes 1.18+.

Does `/*` at `path` work for you?

[2021-05-21 04:05] Donghui0 commented on #476
We are migrating traefik in the test environment to apisix ingress controller.   If i modify the / of path to /*, it is not sure whether traefik can be compatible.  I can try it .

[2021-05-21 06:11] gxthrj commented on #476
In traefik use `Path` and `PathPrefix` rule for the route match, which can be used to decide how to set Paths in ApisixRoute resource.

[2021-05-21 08:33] wjx8382 opened #478 "request help: hostNetwork"
### Issue description

I added ```hostNetwork: true``` in the configuration file，then restart apisix，etcd can't start，logs error ```nc: bad address 'apisix-etcd.tools.svc.cluster.local'```

### Environment

* your apisix-ingress-controller version (0.5.0);
* your Kubernetes cluster version (Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.7", GitCommit:"be3d344ed06bff7a4fc6065

[2021-05-21 08:39] tokers commented on #478
@wjx8382 Please check out https://github.com/flannel-io/flannel/issues/1243, it should be related with networking route table settings, basically it should not be a problem caused by APISIX or apisix ingress controller.

[2021-05-21 08:45] wjx8382 commented on #478
But I added same config in apisix-ingress-controller，it is no problem.

[2021-05-21 08:46] tokers commented on #478
Which configs were added? Could you please paste the related context?

[2021-05-21 08:53] wjx8382 commented on #478
Both added ```hostNetwork: true```

APISIX config:
[code]

apisix-ingress-controller config:
[code]

[2021-05-21 09:01] tokers commented on #478
Not sure whether this is caused by the CNI plugin that you're using. @wjx8382 Could you show some details?

@tao12345666333 Are you familiar with this?

[2021-05-21 15:52] tao12345666333 commented on #478
If you using `hostNetwork: true` , you should change the dnsPolicy to `dnsPolicy: ClusterFirstWithHostNet`

[2021-05-22 12:23] tokers commented on #441
After deep consideration, I found it's not a good idea to define subset in ApisixRoute directly, the following problem has to be addressed in such a case:

* How to name the Apisix Upstream?

We cannot just use service namespace + service name + service port to name an upstream, as there might exist multiple subsets for the service, we may need to use subset name as the extra component to compose

[2021-05-24 02:54] lingsamuel opened #481 "request help: run e2e test in existed cluster"
### Issue description
Run e2e in existed cluster. Current e2e requires docker registry at `localhost:5000`.

[2021-05-24 02:54] lingsamuel opened #482 "chore: add codegen to Makefile"
### Issue description
Add deepcopy code generation to Makefile.

[2021-05-24 03:24] wjx8382 commented on #478
It is resolved,thx!

[2021-05-24 03:24] #478 closed

[2021-05-24 06:40] phantooom opened #483 "request help: how to config multi k8s cluster"
i found this ingress controller support multi-cluster.
how can i config mult-cluster support?

![image](https://user-images.githubusercontent.com/10242001/119307206-ea328980-bc9d-11eb-925d-bd77d0a0e763.png)

[2021-05-24 09:28] tokers commented on #481
I am wondering whether this is really necessary as it's trivial to create a kind cluster.

cc @tao12345666333

[2021-05-24 10:16] gxthrj commented on #483
It is for Multi-APISIX Cluster.

[2021-05-24 16:15] tao12345666333 commented on #481
I agree with @tokers

But if you don't want to do this, we can simply modify our script.

By load image instead of downloading from a local registry.

[2021-05-25 02:01] #473 closed

[2021-05-25 02:15] tokers commented on #481
Maybe add some makefile directives like "push-images-to-kind", "push-images-to-minikube" and blah blah blah.

[2021-05-25 08:37] #482 closed

[2021-05-25 11:06] tokers opened #493 "Do not run CI for draft PRs"
https://github.community/t/dont-run-actions-on-draft-pull-requests/16817/6

[2021-05-26 03:37] shuoshadow opened #495 "request help: websocket reqeust failed"
### Issue description
![image](https://user-images.githubusercontent.com/10016360/119598950-913a3100-be16-11eb-8817-8684da9c4213.png)

![image](https://user-images.githubusercontent.com/10016360/119599041-c777b080-be16-11eb-8326-1cff851e1823.png)

![image](https://user-images.githubusercontent.com/10016360/119599143-fe4dc680-be16-11eb-8625-eba340068b87.png)

etcd :
,{"modifiedIndex":95,"value":{"u

[2021-05-26 04:06] gxthrj opened #496 "CI: add cronjob CI to verify the stability of the ingress controller"
Create a timer CI (executed once a week) to verify the latest APISIX release in different k8s versions.

[2021-05-26 06:10] tokers commented on #496
good idea, support from me.

[2021-05-26 06:11] tokers commented on #495
@shuoshadow How did you send requests? Please give us a minimal reproducible case.

[2021-05-26 06:39] shuoshadow commented on #495
frontend
const initSocket = () => {
    const socketURI = `${WEBSOCKET_URL_OBJ[props.namespace]}/api/v1/pod/exec/${props.namespace}/${props.podName}`

    socketRef.current = new WebSocket(socketURI)
    socketOnClose()
    socketOnOpen()
    socketOnError()
  }

  const socketOnClose = () => {
    socketRef.current.onclose = () => {
      socketRef.current.close()
      termRef.current.write('con

[2021-05-26 06:55] shuoshadow commented on #495
![image](https://user-images.githubusercontent.com/10016360/119615812-6a89f380-be32-11eb-9c99-91992d571f1a.png)

[2021-05-26 09:08] shuoshadow commented on #495
apisix pod logs
[code]

when i set websocket true by dashboard

[2021-05-26 09:24] shuoshadow commented on #495
[code]

[code]

[2021-05-26 10:15] gxthrj commented on #496
May add this in Jun.

[2021-05-26 11:36] shuoshadow opened #500 "request help: no kind is registered for the type v1.ApisixUpstream in scheme "pkg/runtime/scheme.go:100""
### Issue description
apisixUpstream:
[code]

crd from v0.6.0:
https://github.com/apache/apisix-ingress-controller/blob/v0.6.0/samples/deploy/crd/v1beta1/ApisixUpstream.yaml

apisix-controller log
[code]

### Environment
apisix-ingress-controller version 0.6.0--go1.13.8

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster versi

[2021-05-26 11:57] gxthrj opened #501 "Who is using APISIX ingress controller？（欢迎使用 APISIX ingress controller 的个人和公司在此留言）"
## Who is using APISIX ingress controller?
Sincerely thank everyone who constantly keeps on using and supporting APISIX ingress controller. We will try our best to make APISIX ingress controller better and make the community and ecology more prosperous.

## The original intention of this issue
- We’d like to listen to the community to make APISIX ingress controller better.
- We want to attract mor

[2021-05-26 20:27] lingsamuel opened #504 "request help: Add .dockerignore to avoid unwanted cache miss"

[2021-05-27 02:53] tokers commented on #500
@gxthrj @tao12345666333 @lingsamuel Have you ever seens this?

[2021-05-27 03:00] tokers commented on #495
@lingsamuel Please take a look when you have time.

[2021-05-27 12:57] gxthrj commented on #500
@shuoshadow Please use the command `kubectl get crd | grep apisixupstreams` to check if the CRD has been defined.

[2021-05-28 01:57] #504 closed

[2021-05-28 03:10] lingsamuel opened #511 "bug: RBAC: should be able to create `events`"
### Issue description

Lack of permission to create `events`: [clusterrole.yaml](https://github.com/apache/apisix-ingress-controller/blob/23e5ebdb837cf581db94a613e02e292167d52eae/samples/deploy/rbac/apisix_view_clusterrole.yaml)

Helm chart also has this issue: [rbac.yaml](https://github.com/apache/apisix-helm-chart/blob/ab1dbe50854de3ee6a6fb42d8e1b8c4b8eb09699/charts/apisix-ingress-controller/tem

[2021-05-28 03:28] tokers commented on #511
@gxthrj

[2021-05-28 03:28] tokers commented on #511
It seems the problem was not fixed totally.

[2021-05-28 03:37] lingsamuel commented on #511
[code]

[2021-05-28 03:39] lingsamuel opened #512 "bug: can't update status, resource not found"
### Issue description

![image](https://user-images.githubusercontent.com/14567045/119926083-43096700-bfa9-11eb-9704-7c0ab8c30ecf.png)

[2021-05-28 07:16] #511 closed

[2021-05-28 07:16] #512 closed

[2021-05-28 07:42] tokers opened #515 "Use controller-gen to generate CRDs instead of writing them by humanbeings"
Currently, we write CRDs by ourselves, it's tedious and error-prone. We should use tools like [controller-gen](https://book.kubebuilder.io/reference/controller-gen.html) to generate them so that we can focus on the changes of go data structures, and let it do the rest jobs.

[2021-05-28 07:42] tokers commented on #515
@gxthrj @tao12345666333 @lingsamuel

[2021-05-28 08:49] lingsamuel commented on #515
To do so, we need to remove usage of:
any type (`interface{}`), float64 (or enable `allowDangerousTypes=true` flag).

And add [markers](https://book.kubebuilder.io/reference/markers.html) like [this](https://github.com/lingsamuel/apisix-ingress-controller/blob/mtls/pkg/kube/apisix/apis/config/v1/types.go#L271-L327).

[2021-05-28 10:03] tokers commented on #515
Got it.

[2021-05-31 01:10] tokers commented on #476
@Donghui0 Any new updates?

[2021-05-31 01:35] gxthrj opened #517 "test: Supplement CRD status e2e test case"
### Issue description
Now we use terratest for e2e testing, but It does not support CRD API, Need to do some extensions to support CRD status acquisition.

[2021-05-31 02:05] lingsamuel opened #518 "request: `ApisixTls`: rename `secret` field"
### Issue description

`secret` field name has zero information, `server.certSecret` would be better.

[2021-05-31 03:32] #205 closed

[2021-05-31 10:42] Donghui0 commented on #476
no problem.
I temporarily modified part of this code. this feature may not be used by most people, so won’t submit a pull request.

[2021-05-31 10:42] #476 closed

[2021-05-31 11:08] Donghui0 commented on #501
组织:   igetcool.com  (少年得到)
地点:  中国北京
联系方式:  oliverDong1991
使用场景:  处理 南北 + 部分东西流量.      原使用 traefik, 正在全量替换中...

[2021-05-31 11:24] gxthrj commented on #501
@Donghui0 Thanks for your report.

[2021-05-31 23:14] lingsamuel opened #521 "docs: update mTLS support in ApisixTls reference"
https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/references/apisix_tls.md

[2021-06-02 05:57] shuoshadow opened #523 "request help: 为什么apisix response header 中的location会携带9443端口"
### Issue description
apisix前使用slb 443端口转发到apisix的9443端口
apisix 代理https请求后 携带了9443端口导致无法重定向
![image](https://user-images.githubusercontent.com/10016360/120430719-01fac380-c3aa-11eb-98a6-66440e9f51b7.png)

是因为header的原因吗？我配置了apisixroute的proxy-rewrite插件也不行
### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster versio

[2021-06-02 09:51] tokers commented on #523
@shuoshadow Which action results in this redirect? Is this a behavior of APISIX itself or its backend?

[2021-06-07 03:30] wgy-home opened #532 "request help: ApisixRoute plugins configuration does not take effect"
### Issue description
ApisixRoute customer  plugins configuration does not take effect。
yaml:
[code]

Plug-in JWT is a custom plug-in，It requires configurations such as Redis Host and Redis Port，The plug-in has been started, but the configuration has not taken effect，Is there something wrong with my YAML configuration？Please help me, thanks！

The plug-in has been started, but the configuration has

[2021-06-07 07:10] fhuzero opened #533 "feat: add support for Knative"
Knative is designed for serverless workloads on top of Kubernetes. [Knative Serving](https://knative.dev/docs/serving/) runs scalable containers based on ingress gateway as its network layer. Currently, a few ingress gateway implementations such as [Istio](https://istio.io), [Kong](https://github.com/kong/kong) and [Gloo](https://github.com/solo-io/gloo) are supported. APISIX ingress controller, h

[2021-06-07 08:02] wgy-home commented on #532
My YAML configuration is wrong, need to add config

[code]

[2021-06-07 08:02] #532 closed

[2021-06-07 08:03] wgy-home commented on #532
My YAML configuration is wrong, need to add config

[code]

[2021-06-07 10:11] tokers commented on #533
Interesting, welcome to submit proposals!

[2021-06-08 01:04] tokers opened #536 "Be compatible with the broken change of resource count field from APISIX"
PR https://github.com/apache/apisix/pull/4385 changes `count` field from `string` to `number`. We use `count` field in some places such as e2e suites, we may make the code base compatible with this change.

@lingsamuel @gxthrj @tao12345666333

[2021-06-08 01:05] tokers commented on #536
@lingsamuel Please take a look when you have time.

[2021-06-08 01:17] gxthrj opened #537 "docs: need docs to introduce checking resource status"
### Issue description

Now, we have support the status of CRD, and will update the status of resouce when the state of resource has been modified.
The feature will help users quickly find configuration problems.

But there is no documents about this feature. Need to introduce how to use .

[2021-06-08 02:18] lingsamuel commented on #536
Please assign me.

[2021-06-08 07:23] kingGang opened #538 "Failed to watch *v1.Ingress &Failed to watch *v2alpha1.ApisixClusterConfig"
### Issue description

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
 0.6.0
* your Kubernetes cluster version (output of `kubectl version`);
azure k8s v1.18.14
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`).
unkown

apisix-ingress-controller 运行之后 出现两条报警日志，apisix各项功能正常，但是我不知

[2021-06-09 01:28] tokers commented on #538
@kingGang
How did you install Apache APISIX Ingress Controller? You should apply the newest CRD files, see https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/crd/v1beta1.

[2021-06-09 06:28] kingGang commented on #538
我是通过helm 安装（helm.sh/chart: apisix-0.3.1），后面把ingress-controller 由0.5.0，改成了0.6.0；
按照你的说法我重新apply CRD文件，且重新启动了 ingress-controller pod，一样的问题还是存在

[2021-06-09 06:31] kingGang commented on #538
我是通过helm 安装（helm.sh/chart: apisix-0.3.1），后面把ingress-controller 由0.5.0，改成了0.6.0；
按照你的说法我重新apply CRD文件，且重新启动了 ingress-controller pod，一样的问题还是存在

[2021-06-09 08:10] gxthrj opened #539 "bug: Need to verify if the resource has already been removed when retry."
### Issue description
Take ApisixRoute as an example,
1. When applying a new ApisixRoute resource to the k8s cluster, if an error occurs during the synchronization process, a retry will be triggered.
2. At this time, the ApisixRoute that failed to synchronize is deleted, and the previous retries will continue.

### What's the expected result?
We need to make another judgment when the watch reaches

[2021-06-09 09:04] tao12345666333 commented on #391
I think we can close this.

[2021-06-09 09:08] #391 closed

[2021-06-09 10:16] Donghui0 opened #540 "bug: remove apisixroute resource failed, resulting in duplicate routes in apisix controller"
### Issue description
Delete the service  resource first, then delete the apisixroute, and the apisix controller will throw an exception:
![image](https://user-images.githubusercontent.com/7134928/121335331-106a5180-c94d-11eb-8197-e80a3fa3b6ef.png)

When creating a new apisixroute resource, the name of spec.http.name will change again, which will result in a lot of historical routes remaining.

![

[2021-06-09 10:19] gxthrj opened #541 "request help: Add remote_addr support in expression"

[2021-06-09 10:44] gxthrj commented on #540
Let us discuss, if the k8s service has been deleted, what should be the behavior when deleting ApisixRoute ?

[2021-06-09 11:28] tokers commented on #540
I'd like to set a retry max times for all controllers' loop, after exceeding the threshold, just dropping the event, you can see this behavior in Kubernetes Controller Manager, just like:

* https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L61
* https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controller.g

[2021-06-09 11:29] tokers commented on #541
@gxthrj Why? We can set remoteAddrs in route match conditions. See https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/features/remote_addrs_match.go.

[2021-06-09 11:34] tokers commented on #538
@kingGang Oops, I took some wrong words, the problem was caused by the incorrect service account settings.

@tao12345666333 @lingsamuel We may need to publish a new helm repo.

[2021-06-09 11:41] Donghui0 commented on #540
I think there should be a correspondence between resources, such as:
service  -> upstream
apisixroute ->  route

so,  the correct behavior for deleting ApisixRoute should only be to monitor whether the apisixroute resource is deleted.

[2021-06-09 11:47] tao12345666333 commented on #538
yep, my PR hasn't been merged

[2021-06-09 15:45] guoqqqi commented on #493
Hi, @tokers I created a Draft PR to test if the deployment was successful, please review it for me, I am not sure if it is correct.

[2021-06-10 00:59] tokers commented on #540
I'm afraid I didn't capture your mean.

[2021-06-10 01:03] tokers commented on #493
@guoqqqi OK I have checked it out, it works well now I think you can mark it ready so we can review it.

[2021-06-10 02:23] gxthrj commented on #541
Great !

[2021-06-10 02:23] #541 closed

[2021-06-10 03:14] Donghui0 commented on #540
I hope that deleting the Service resource will not affect the resource deletion of ApiSixRoute.

[2021-06-10 06:52] kingGang commented on #538
现在是需要等你们那边更新 helm repo才能解决吗？我还能做些什么吗？

[2021-06-10 08:47] gxthrj commented on #540
I think it can be divided into two scenarios to look at this problem:
1. When creating or updating ApisixRoute resources, if there is no service, an error will be reported and a retry will be triggered.
2. When deleting ApisixRoute resources, don't need to do too strict verification during object conversion. Just make sure that the APISIX route object can be deleted normally to avoid object conver

[2021-06-10 09:30] tokers commented on #540
For the first case, we may add more logics in admission server in the future, so that the ApisixRoute won't be created if some dependencies are missing.

For the second one, we may just fetch ids of all routes in this ApisixRoute resource, and delete them?

[2021-06-10 09:52] tokers commented on #538
We'll release it as soon as possible, PR is ongoing.

[2021-06-10 09:56] gxthrj commented on #540
That sounds good.

[2021-06-11 00:53] #493 closed

[2021-06-11 00:54] tokers commented on #540
@Donghui0 Let's do the second case now, would you like to submit a PR to help this project to fix this? Thanks!

[2021-06-11 10:45] #537 closed

[2021-06-13 08:35] fhuzero commented on #338
I have encountered the same problem when following [proxy-the-httpbin-service](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md#resource-delivery) practice. It seems the issue here is still unresolved. After reading [ApisixRoute CRD](https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/crd/v1beta1/Apisix