[2021-12-21 05:18] tao12345666333 commented on #441
@vicaya SGTM.  This is a useful scene.

[2021-12-21 07:04] tao12345666333 commented on #441
@vicaya This function is already supported, you can refer to this test case as an example

https://github.com/apache/apisix-ingress-controller/blob/7b6237521b322c3662bece3ab701661f58bed347/test/e2e/features/subset.go#L123-L138

[2021-12-21 07:04] #441 closed

[2021-12-21 08:06] zenglongfeng opened #809 "bug: kubectl apply -f some_apisix_route.yaml does not take effect"
### Issue description

kubectl apply -f some_apisix_route.yaml does not take effect
When I want to add a virtual host to the hosts field, and I execute kubeapply -f some_apisix_route.yaml at the same time, it will not take effect, but kubectl delete -f some_apisix_route.yaml && kubectl create -f some_apisix_route.yaml will have no problem.

### Environment

- your apisix-ingress-controller version

[2021-12-21 10:54] tokers commented on #809
Anyway error logs reported by APISIX Ingress Controller?

[2021-12-21 11:36] tao12345666333 commented on #809
Please provide more information, such as logs, installation methods, etc.

[2021-12-21 18:15] vicaya commented on #441
The current subsets doesn't support dynamic label based on route matching as my example illustrated, which means people need write extra code to maintain/sync the routes when the statefulset resizes.

[2021-12-22 06:08] tao12345666333 commented on #799
xref: #638

[2021-12-22 06:09] tao12345666333 commented on #798
@ccwall3  any update?

[2021-12-22 06:10] tao12345666333 commented on #796
#805 has been merged. I will close this one. Thanks!

[2021-12-22 06:10] #796 closed

[2021-12-22 06:12] tao12345666333 commented on #787
yes, we already update CRD apiversion to V1

[2021-12-22 10:15] stone2world commented on #769
![image](https://user-images.githubusercontent.com/43597843/147076070-06deddf9-5316-495b-8fb0-706a2b062b7c.png)
![image](https://user-images.githubusercontent.com/43597843/147076523-cf169826-9246-475f-b46d-d7abc56f12d4.png)
![image](https://user-images.githubusercontent.com/43597843/147076609-16ca0702-d559-430c-86b4-507679053d2b.png)
i get it

[2021-12-23 12:52] GhangZh opened #810 "bug: service not found，and then I edited it and it still kept reporting errors."
### Issue description

My original configuration of ApisixRoute had a service that didn't exist, and then I edited ApisixRoute and it still kept reporting errors.
![image](https://user-images.githubusercontent.com/92301646/147242908-1f215777-70ac-4710-8c01-9655e6d792af.png)
![image](https://user-images.githubusercontent.com/92301646/147243156-af89b78f-6847-4866-a7df-f8608291f39c.png)

### Environm

[2021-12-23 16:32] tao12345666333 commented on #810
Thanks for report. I will try to reproduce it

[2021-12-23 16:38] tao12345666333 commented on #807
No, I cannot reproduce it locally. Occasionally appear in GitHub Action.

[2021-12-24 06:37] xiongyunhua-star opened #811 "ingress-controller failed to list routes"
### Issue description

logs:
[root@k8smaster apisix]# kubectl logs -f apisix-ingress-controller-f68756d54-59vsk -n ingress-apisix
2021-12-24T13:37:57+08:00       info    ingress/ingress.go:112  apisix ingress controller started
2021-12-24T13:37:57+08:00       info    ingress/ingress.go:114  version:
Version: 1.3.0
Git SHA: no-git-module
Go Version: go1.13.8
Building OS/Arch: linux/amd64
Running OS

[2021-12-24 07:25] tao12345666333 commented on #811
How did you install it?

[2021-12-24 09:38] tokers commented on #811
@xiongyunhua-star Does the Ingress Controller run before Apache APISIX? I suspect that you're suffering from this bug https://github.com/apache/apisix-ingress-controller/pull/774.

[2021-12-24 09:57] tao12345666333 commented on #769
#774  has been merged. It will be released in v1.4 (next week)

If you want to try it now, you can also build docker image to use it.

I will close this one.

[2021-12-24 09:57] #769 closed

[2021-12-24 10:05] tao12345666333 commented on #798
This issue has not been updated for too long, and it is very likely that apache/apisix-helm-chart#143 has been fixed.

I will close it. If you have other questions, please feel free to reopen it.

[2021-12-24 10:05] #798 closed

[2021-12-25 10:54] FlonFl opened #813 "request help: 采用CRD方式，如何通过ApisixRoute配置转发到三方ip:端口服务"
### Issue description

如下方式，通过CRD ApisixRoute是否能够代理到baidu.com?  thanks.
[code]

### Environment

[code]

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a):

[2021-12-25 12:30] tao12345666333 commented on #813
You can add an ExternalName service.

[2021-12-25 12:41] xiongyunhua-star commented on #811
参考的这个链接 https://github.com/apache/apisix-helm-chart/blob/master/docs/en/latest/apisix-ingress-controller.md

[2021-12-25 12:51] xiongyunhua-star commented on #811
以前有运行Apache apisix, 然后更新了helm重新部署，这个bug计划什么时候能修复

[2021-12-25 15:09] FlonFl commented on #813
Thanks;
However I found: I can create "ExternalName service", but can't add into the apisix gateway use "kubectl apply - f" 。

[2021-12-25 16:40] allenhaozi commented on #811
Have the same problem

[code]

[2021-12-25 19:24] tao12345666333 commented on #811
#774 has been merged. It will release in v1.4 (next week

[2021-12-25 19:27] tao12345666333 commented on #813
I don't understand.

[2021-12-26 02:35] FlonFl commented on #813
My ApisixRoute  "ar.yaml" (Namespace is “default”) :
[code]
Used :
kubectl apply - f ar.yaml

But,  I can't see route and upstream from the dashboard.
通过配置后，我不能从ApisixGateway控制台看到配置的ApisixRoute，其他的非ExternalName service却能够看到，且能访问到。

And, I use K3S.
Thanks.
我使用的是K3S环境，非K8S，期待您的解答，谢谢。

[2021-12-26 02:56] allenhaozi commented on #811
Thank u
I used the master branch to build a new image,
This upgrade fixed the problem

[2021-12-26 03:19] allenhaozi opened #814 "request help: pkg/apisix/upstream.go List Returns when an error is encountered"
### Issue description

The following logic, if I run into an error, causes all nodes after this node to be skipped

Is this by design

https://github.com/apache/apisix-ingress-controller/blob/819b00318e8cd9b6639913301fb89d2acb168926/pkg/apisix/upstream.go#L127

[code]

[code]

### Environment

- current master

[2021-12-26 07:26] tao12345666333 commented on #814
yes. If it doesn't return directly here, the user may not find this error.

[2021-12-26 07:27] tao12345666333 commented on #813
Are there any error logs?

[2021-12-26 08:20] tokers commented on #814
And it looks like the problem with the old type format of apisix.

[2021-12-27 02:09] allenhaozi commented on #814
A node problem causes other nodes to be unavailable. Whether this logic makes sense ?

Looking for an error of one node can provide other reasonable ways ?

[2021-12-27 02:56] FlonFl commented on #813
Please look my error log (请查看我的错误日志):
My ExtenalName Service（SVC配置）:
[code]
Image:
![image](https://user-images.githubusercontent.com/25891550/147428704-8be0d77c-d749-43fb-80fe-7d34413867ff.png)

Ingress Controller Error Logs （错误日志）:
无法找到对应的Service:
![image](https://user-images.githubusercontent.com/25891550/147428622-5bc768de-dcdf-4264-8319-c4714bfa0ed4.png)

[2021-12-27 10:03] juzhiyuan commented on #700
Ping @LuChenjing, do you need any help to submit more information? 😄

[2021-12-28 01:48] gxthrj commented on #810
Do you mean that after deleting the `service` that does not exist in `ApisixRoute`, `ingress-controller` is still converting the old `service`?

[2021-12-28 02:05] gxthrj commented on #810
This is indeed a bug.
When the `ApisixRoute` resource is updated, the old `ApisixRoute` resource object is indeed recorded, so this wrong object always exists.

[2021-12-28 04:57] tao12345666333 commented on #813
let me check it.

[2021-12-29 02:29] tokers opened #816 "bug: namespace update event will be retried unconditionally even if it was deleted"
### Issue description

Namespace  events will be retried endlessly even if it's expired, for instance, an update event should be mark as expired if a new delete event is handled.

[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):

[code]

- your Kubernetes cluster version (output of kubectl version):

[code]

- if you run apisix

[2021-12-29 04:43] tao12345666333 commented on #816
It is similar to  #810
I will fix it in v1.5 version.

[2021-12-29 07:24] GhangZh commented on #810
At the moment I can only restart the ingress-controller after updating the service pod?

[2021-12-29 08:42] hoanhax opened #817 "request help: Rewrite URL using ApisixRoute"
### Issue description

I want to rewrite my request using **ApisixRoute**.
For example any requests with **/app** prefix will be forwarded to backend without the **/app/** part, e.g. request **/app/ip** will be forwarded to **/ip**
As the example in rewrite-target annotation for Ingress (https://apisix.apache.org/docs/ingress-controller/concepts/annotations/#rewrite-target)

Could you please help?

[2021-12-29 09:13] tao12345666333 commented on #817
You can find some examples at https://github.com/apache/apisix-ingress-controller/tree/master/test/e2e

[2021-12-29 09:32] hoanhax commented on #817
thanks for your quick answer.
I have checked and I can use plugin proxy-rewrite for ApisixRoute.
Thanks again

[2021-12-29 09:32] #817 closed

[2021-12-29 14:29] tao12345666333 commented on #638
Hi folks,

The main part of the ApisixPluginConfig function has been implemented, thanks for your hard work  @neverCase , great!

I’m about to initiate a vote for the release of a new version of v1.4. This feature will appear for the first time in v1.4.

[2021-12-31 03:53] crazyMonkey1995 opened #822 "bug: The performance of ingress-controller's event handling"
### Issue description

After I create 3000+ apisixroute objects in the cluster, when the apisix-ingress-controller is started or restarting(OOM Maybe), due to the rate limit of client-go, the resource synchronization time is very long, so the changes of endpoints within this time will not be affected synchronize in time, causing 502 problems
![image](https://user-images.githubusercontent.com/21658

[2021-12-31 04:00] crazyMonkey1995 commented on #822
Maybe I’ve said too much, I just think it’s better if the service discovery is done by apisix itself

[2021-12-31 04:01] tao12345666333 commented on #822
Thanks for your report.

What's your apisix-ingress-controller version? The latest version is v1.4 (not release)

The problem you encountered is somewhat similar to #806  and https://github.com/apache/apisix-ingress-controller/pull/760

[2021-12-31 04:03] tao12345666333 commented on #822
before #706 , we using `workqueue.AddRateLimited`, this will cause some problems.

[2021-12-31 04:05] gxthrj commented on #822
Yes, before #706  we indeed have this issue.

[2021-12-31 04:06] crazyMonkey1995 commented on #822
It's v1.4，I incorrectly provided the version of apisix

[2021-12-31 04:10] gxthrj commented on #822
How did you install ingress-controller? using helm？

[2021-12-31 04:10] crazyMonkey1995 commented on #822
I want to know if you would consider combining apisix-ingress-controller with this way: https://github.com/apache/apisix/pull/4880

[2021-12-31 04:14] crazyMonkey1995 commented on #822
Yes, I make my own helm chart, because at that time the official only supported 1.3.0 at the highest

[2021-12-31 04:15] tao12345666333 commented on #822
It has not been put into the current roadmap.

Can we make an online meeting? I want to know the specific problems you are currently encountering and your thoughts.

[2021-12-31 04:17] gxthrj commented on #822
Please help confirm whether your own `ingress-controller· image contains bugfix #760.

[2021-12-31 04:34] crazyMonkey1995 commented on #822
Okay, why not make an appointment next week, so I can summarize it briefly.

[2021-12-31 04:48] tao12345666333 commented on #822
Sure. Due to the holiday, how about we make an appointment next Tuesday 14:00? Or other time you have free.

[2021-12-31 05:58] tao12345666333 commented on #799
Hi, ApisixPluginConfig has been implemented. See #638  for details.

[2021-12-31 06:06] crazyMonkey1995 commented on #822
Emailed you.

[2021-12-31 07:06] suninuni opened #823 "bug: panic when upgrade from 1.2 to 1.3 because of not set spec.http[].backends in v1beta1/ApisixRoute"
### Issue description

I upgraded apisixroute from v1alpha1 to v2beta1 before, so I kept `spec.http[].backend` in ApisixRoute.

And now, I'm trying to upgrade apisix-ingress-controller from 1.2 to 1.3, then I ran into this problem.

After investigation, this is because in the new version of CRD, ApisixRoute is stored as the v2beta2 version, but because the previous configuration file does not set

[2021-12-31 07:09] suninuni commented on #823
related https://github.com/apache/apisix-ingress-controller/issues/672#issuecomment-973047308

@tao12345666333

And after I applied the new version of crd, I couldn't get ApisixRoute through k8s cli for a long time. Is there any way to refresh k8s api server?

[code]

[2021-12-31 07:14] tao12345666333 commented on #823
Can you try to run `kubectl api-resources --api-group=apisix.apache.org` ?

[code]

[2021-12-31 07:26] suninuni commented on #823
[code]

Now I can get it normally, maybe I can try it when I upgrade other environments

[2021-12-31 07:40] tao12345666333 commented on #823
When upgrading from APISIX Ingress v1.2 to v1.3, you need to upgrade ApisixRoute resources first, because we have removed the support for the following:

* remove `spec.backend` using `spec.backends` instead
* remove `spec.tcp` using `spec.stream` instead

xref: https://github.com/apache/apisix-ingress-controller/pull/698

And we have introduced the `v2beta2` version of ApisixRoute, it's will be t

[2021-12-31 07:40] suninuni commented on #823
In  1.4, apisix.apache.org/v2beta3 will be the stored version? Can I wait until version 1.5 to upgrade ApisixRoute from v1beta1 to v2? There are too many changes in our clusters for each modification.

[2021-12-31 07:44] tao12345666333 commented on #823
Yes. In the last few versions, we are upgrading the api version, in order to make it easier to use.

It is explained in the release note of version 1.3 and #707

https://github.com/apache/apisix-ingress-controller/blob/master/CHANGELOG.md#roadmap-1

[2021-12-31 07:49] tao12345666333 commented on #823
Yes, you can.

Note the following configuration before upgrading:

* `spec.http.bakend`
* `spec.stream`

There is not much breaking change in other parts.

[2021-12-31 07:56] suninuni commented on #823
Thanks, I have no other questions.

And for this panic, it depends on you whether to resolve it or not.

[2021-12-31 08:28] tao12345666333 opened #824 "doc: need some upgrade practice documents"
Starting from the Apache APISIX Ingress v1.2 version, we are continuing to unify the api version in order to make it easier to use. #707

However, the upgrade process will contain some destructive changes, we need to add documents to explain it, in order to ensure that users can upgrade smoothly.

[2021-12-31 08:28] tao12345666333 commented on #823
Thanks for your report.

I will close this issue, maybe we need to add some upgrade practice documents. (Using https://github.com/apache/apisix-ingress-controller/issues/824 for tracking)

[2021-12-31 08:28] #823 closed

[2021-12-31 08:33] tao12345666333 commented on #822
ok.

[2021-12-31 10:15] tao12345666333 opened #825 "clean up: remove BaseURL and AdminKey in config"
`BaseURL` and `AdminKey` have been marked as obsolete a long time ago. I think we can remove it safely.

Just need to remove these two configuration items, and clean up the related logic.

https://github.com/apache/apisix-ingress-controller/blob/ae69cd3ee42245100b1c559df4518a418f66f6bd/pkg/config/config.go#L107-L114

[2022-01-01 05:14] gxthrj commented on #825
Right，I agree.

[2022-01-01 07:25] zaunist commented on #825
Hi, please assign to me, I will work for this issue.

[2022-01-04 01:57] lxm commented on #799
got it

[2022-01-04 05:47] #752 closed

[2022-01-04 05:54] suninuni commented on #823
I think this problem still needs to be fixed. If someone re-applies the ApisixRoute of the v2beta1 version with http.backend after the upgrade, it will cause apisix-ingress-controller crashed.

[2022-01-04 06:03] suninuni commented on #823
https://github.com/apache/apisix-ingress-controller/blob/a1ef63963c5ee9f4b225e5e663ec060afd4da2f8/pkg/kube/translation/apisix_route.go#L946-L949

Here we need to deal with the situation of http.backend.

[2022-01-04 06:07] suninuni commented on #823
@tao12345666333 you need reopen this issue.

[2022-01-04 06:53] suninuni commented on #823
https://github.com/apache/apisix-helm-chart/tree/master/charts/apisix-ingress-controller/crds

I can't find CRD file with v2beta3...

[2022-01-04 10:21] lxm commented on #799
no update for crds in charts?

[2022-01-05 01:21] tao12345666333 opened #831 "discuss: New feature in Apache APISIX Ingress controller v1.5"
Hi, folks

The Apache APISIX Ingress controller v1.4 version has been released, and it is time to discuss the plans in the v1.5 version together.

I think the following features need to be included:

* [x] Implement v2 version of CRD resources. https://github.com/apache/apisix-ingress-controller/issues/954
    more details: https://github.com/apache/apisix-ingress-controller/issues/707

* [x] Impl

[2022-01-05 04:28] tao12345666333 commented on #822
After discussing with @crazyMonkey1995 , he is currently encountering the following problems:

* He encountered some 502 errors during rolling updates of a large number of instances. (No health check is configured)  The main focus here is that the endpoint update is not fast enough.

    * I think there are two pieces of information that need attention.

        1. The health check is very helpful

[2022-01-05 05:34] tao12345666333 commented on #799
@lxm  do you mean Helm chart? v1.4 helm chart has not be merged. https://github.com/apache/apisix-helm-chart/pull/208

you can using  https://github.com/apache/apisix-ingress-controller/tree/master/samples/deploy/crd/v1

[2022-01-05 05:36] tao12345666333 commented on #638
For this feature, there is one last task left.

- [ ] Add docs to describe it.

Who has time to help with this task?

[2022-01-05 05:37] tao12345666333 commented on #831
* docs: add doc for  ApisixPluginConfig  https://github.com/apache/apisix-ingress-controller/issues/638#issuecomment-1005397071

[2022-01-05 06:17] tao12345666333 commented on #811
Can I close this one?

[2022-01-05 06:21] #825 closed

[2022-01-05 06:35] neverCase commented on #638
I think it's my job -,-.

[2022-01-05 09:25] tao12345666333 commented on #822
https://github.com/apache/apisix-ingress-controller/pull/760#issuecomment-1005503358

[2022-01-05 09:30] tao12345666333 commented on #822
@crazyMonkey1995 I have modified this title, all of which can be considered to be related to the efficiency of the APISIX Ingress controller for event processing.

[2022-01-05 09:45] yin6516008 commented on #501
Organization: NIIMBOT
Location: WuHan，China
Contact: yinming@niimbot.com
Purpose: Kubernetes gateway cluster entry, currently use AliCloud cloud native gateway, could not be a custom function, considering some migrated to apisix-ingress

组织：武汉精臣智慧标识科技有限公司
地点：中国·武汉
方式：yinming@niimbot.com
使用场景：Kubernetes集群网关入口，目前使用阿里云云原生网关，因无法自定义功能，考虑部分迁移至apisix-ingress

[2022-01-05 10:11] suninuni commented on #824
[code]

@tao12345666333 When applying the crd of v2beta3 version, I encountered the above error, which made me have to delete these CRD before reapplying, and related resources would also be deleted, resulting in short-term unavailability.

[2022-01-05 13:10] tao12345666333 commented on #767
We need to wait for APISIX to implement this feature before we can start

[2022-01-05 13:13] tao12345666333 commented on #761
This anomaly has not been seen in recent PRs. I will close it first. If necessary in the future, reopen it

[2022-01-05 13:13] #761 closed

[2022-01-05 17:35] tao12345666333 commented on #638
Thanks! @neverCase

[2022-01-06 07:29] suninuni commented on #758
These errors are also unnecessary, I did not create these resources. Watcher needs to distinguish between `failed` and `not found`.

[code]

[2022-01-07 09:02] zlhgo commented on #831
ApisixGlobalRule crd

[2022-01-07 14:05] tao12345666333 commented on #831
can you add some details?

[2022-01-10 02:13] zlhgo commented on #831
only two global plugins can now be enabled via ApisixClusterConfig, when i want to enable more i can only go through admin api or dashboard.
hopefully, enable it via k8s crd.

[2022-01-10 09:55] tokers commented on #831
I think if we can also optimize the documentations, that would be grateful for users' self-education.

[2022-01-10 10:55] zlhgo commented on #831
@tao12345666333 @tokers i am very sorry, is there already this feature?

[2022-01-11 01:22] tokers commented on #831
Sorry, what did you mean?

[2022-01-11 02:02] zlhgo commented on #831
非常抱歉，我英语不好，就用中文吧。
我是想通过k8s crd添加全局插件，好想目前只能在ApisixClusterConfig配置开启prometheus和skywalking作为全局插件。

[2022-01-12 08:31] qq54903099 opened #835 "request help: Install Fail"
### Issue description

helm install apisix apisix/apisix   --set gateway.type=NodePort   --set ingress-controller.enabled=true   --namespace ingress-apisix   --set ingress-controller.config.apisix.serviceNamespace=ingress-apisix

I execute this command,but start fail

![image](https://user-images.githubusercontent.com/3895272/149091547-26113ddf-5898-40dc-943e-f4339d9ae1f1.png)

![image](https://us

[2022-01-13 05:55] tokers opened #836 "bug: the tranlsation of route with plugin_config is pathological"
### Issue description

https://github.com/apache/apisix-ingress-controller/blob/de522437bd3db3dc3e8d8f33c92f322de67531b8/pkg/kube/translation/apisix_route.go#L534-L539

The code snippet pasted above has two problems:

1). The plugin config id generation should not rely on the name of backend service name, which will cause all routes with the same backend generated with the same plugin config id.
2

[2022-01-13 07:18] tao12345666333 commented on #836
cc @neverCase

[2022-01-13 07:20] neverCase commented on #836
ok, got it.

[2022-01-14 11:32] tao12345666333 commented on #750
FYI: this is the blog content https://apisix.apache.org/blog/2021/12/17/exposure-istio-with-apisix-ingress/

[2022-01-17 11:46] aoisososola commented on #16
我在k8s中安装的apisix 2.10.0, 在命令行用 kubectl apply 创建的apisixroute ，在dashboard上不显示，重启
apisix-ingress-controller 服务后dashboard 才加载出来，route规则才开始生效。这是怎么回事，还是这个bug吗

[2022-01-18 06:24] tao12345666333 commented on #569
https://apisix.apache.org/zh/blog/2021/11/17/dapr-with-apisix/#%E5%9F%BA%E6%9C%AC%E9%A1%B9%E7%9B%AE%E6%A6%82%E8%A7%88

We have a blog post for this one.

[2022-01-19 02:04] 283713406 opened #837 "question: dashboard modified records are overwritten after controller restart"
### Issue description

首先利用apisix-ingress-controller的ApisixRoute这个CRD资源创建了一个route，接着在apisix-dashbord修改并添加了一个limit-conn插件，添加后插件能正常使用。但是当apisix-ingress-controller重启后，在apisix-dashbord添加的limit-conn插件就丢失了。这是不是不合理？

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
apisix-ingress-controller version 1.4.0-b7dd90a-go1.16

- your Kubernetes clus

[2022-01-19 02:41] gardun0 opened #838 "resolveGranularity doesnt sync service clusterIP when set to "service""
Hello,

I have this issue where the ingress controller doesn't sync the 'clusterIP' from service once node is terminated.
I have this scenario because I'm using Preemptible/Spot VMs within my cluster, so once the node and pods are recreated the ingress fallback to Pod IP instead of service and my 'resolveGranularity' is set to 'service'

[2022-01-19 03:10] tao12345666333 commented on #837
Yes. This is normal.
Resources created by Apache APISIX Ingress cannot be modified manually.

After the APISIX Ingress controller restarts, it will re-synchronize resources, so it will overwrite your modified routes.

[2022-01-19 03:45] gxthrj commented on #837
Note: Please do not modify the configuration through multiple tools.
`apisix-ingress` using declarative configuration, which will be synchronized with APISIX according to the YAML you declare,
`apisix-ingress` will not synchronize the configuration in the dashboard, because those are not declared and not persisted in k8s.

It is recommended that you use the `apisix-ingress` CRD to declare the conf

[2022-01-19 04:53] tao12345666333 commented on #837
I edited the title, I think the above answer should solve your confusion. I will close this issue, thanks!

[2022-01-19 04:53] #837 closed

[2022-01-19 05:04] tao12345666333 commented on #838
Thanks for your report. What's the version of your APISIX ingress controller?

There is a typo in our CRD which is causing this bug. Please see  https://github.com/apache/apisix-ingress-controller/pull/830

[2022-01-19 05:09] gardun0 commented on #838
APISIX Ingress Controller version is `1.3.0`

[2022-01-19 05:10] tao12345666333 commented on #838
What is your installation method?

[2022-01-19 05:12] gardun0 commented on #838
It's installed by helm and managed by Terraform.

[2022-01-19 05:19] tao12345666333 commented on #838
Can you check the api-version used by the `ApisixRoute` resource?

I fixed it when I released the v1.3 Helm chart. (v2beta2 version)

[2022-01-19 05:27] gardun0 commented on #838
That's `v2beta2 `, i also changed the `ApisixRoute` version on ingress.

<img width="334" alt="Screen Shot 2022-01-18 at 23 26 37" src="https://user-images.githubusercontent.com/3385668/150069499-d906e045-7154-4b4b-8911-9a26436fcfe2.png">

I can see the typo within the CRD:

<img width="322" alt="Screen Shot 2022-01-18 at 23 24 10" src="https://user-images.githubusercontent.com/3385668/150069275-d

[2022-01-19 05:40] tao12345666333 commented on #838
There are two problems here:

1. When checking the ApisixRoute resource version, I hope you can check the version in YAML.

2. Why does deleting and re-creating your node cause the cluster IP of the service to change? What is your CNI? Usually Service IP is an overlay network IP

[2022-01-19 05:41] 283713406 commented on #837
@tao12345666333   通过apisix-ingress-controller的crd配置插件，有详细的文档吗？

[2022-01-19 05:43] tao12345666333 commented on #837
You can see related examples here:
https://github.com/apache/apisix-ingress-controller/tree/master/test/e2e/plugins

[2022-01-19 05:45] 283713406 commented on #837
@tao12345666333  thanks!

[2022-01-19 06:17] tao12345666333 commented on #831
@zlhgo we can change `ApisixClusterConfig`  https://github.com/apache/apisix-ingress-controller/blob/de522437bd3db3dc3e8d8f33c92f322de67531b8/samples/deploy/crd/v1/ApisixClusterConfig.yaml#L55-L71  ref to `ApisixPluginConfig` resource.

[2022-01-19 06:22] gardun0 commented on #838
1. If you mean the Kubernetes resource, there you have, this is the resource created:
[code]
2. I was wrong about it, it's not changed, but for some reason APISIX couldn't reach the upstream, for example this is the service IP `10.28.14.200` and this is the one set by the Ingress Controller `10.24.1.9` which is endpoint IP and `resolveGranularity` is set to `service`. My workload http services are

[2022-01-19 06:29] namdiag opened #839 "request help:"
### Issue description

Setup Apisix on GKE using helm with website tutorial
After that i have:
     - 2 deployment apisix, apisix-ingress-controller
     - 5 services : apisix-admin, apisix-etcd, apisix-etcd-headless, apisix-gateway, apisix-ingress-controller
To use gateway i have to expose apisix-gateway service to outside world( of course) and with https so i can't use service type loadbalancer

[2022-01-20 00:05] gardun0 commented on #838
@tao12345666333 I've managed to fix this by let APISIX within Kuma to have direct access to Pod's IP, anyways, the expected behavior when `resolveGranularity` set to `service` to always keep the service IP which it's not happening. For now everything is working.

[2022-01-20 06:00] juzhiyuan commented on #839
Hi @namdiag, could you please share your solution here?

[2022-01-20 06:21] marchlhw commented on #659
我也遇到了一些类似的问题，如下：
![图片](https://user-images.githubusercontent.com/7006014/150284429-d4b39cb5-a027-4a9b-aef6-84323c5445ec.png)
![图片](https://user-images.githubusercontent.com/7006014/150284531-39f77694-4db5-47a1-9ef5-33877303f4cc.png)

[2022-01-20 08:50] tao12345666333 commented on #659
@marchlhw  what's your apisix-ingress version?

It looks like the APISIX Ingress controller is not connected to the APISIX cluster.

[2022-01-21 07:34] marchlhw commented on #659
![图片](https://user-images.githubusercontent.com/7006014/150485491-54e72cf8-58d6-4a07-b06f-49e03685ee55.png)

[2022-01-23 10:37] gavinhot opened #840 "request help: panic happen in my cluster"
### Issue description

apisix_ingress_controller run in my cluster,but there is a panic.
![1](https://user-images.githubusercontent.com/19619272/150674527-babfec21-78f1-4fbd-9e46-b551194185e6.png)

what should i do

### Environment

2022-01-23T17:30:26+08:00	info	ingress/ingress.go:112	apisix ingress controller started
2022-01-23T17:30:26+08:00	info	ingress/ingress.go:114	version:
Version: 1.4.0
G

[2022-01-23 11:04] tao12345666333 commented on #840
How did you install it?

And can you run `kubectl get ar -A`?

[2022-01-24 01:27] tokers commented on #659
@tao12345666333 If I remember correctly, we don't merge the #774 in 1.3.0?

[2022-01-24 03:07] purekeeper opened #841 "request help: Can we split the route crd and plugin crd?"
### Issue description

When i want to add a plugin for different uri ,I have to write two times same backends like below. So can we split the route crd  to route crd and plugin crd ? If i am wrong ,please tell me ,thanks in advance

`spec:
  http:
    - name: rule1
      match:
        hosts:
          - www.hh.com
        paths:
          - /a/b/c
      backends:
        - serviceName: gateway

[2022-01-24 03:21] gavinhot commented on #840
Step for it and APISIX of  Version is  1.4.0
1、cd samples/deploy/
2、kubectl apply -f .yaml

[2022-01-24 06:39] tao12345666333 commented on #659
@tokers right! #774 was merged into v1.4.

[2022-01-24 06:40] tao12345666333 commented on #659
@marchlhw Please try to restart APISIX Ingress controller.
Or check if the connection information of APISIX is correct.

[2022-01-24 06:47] tao12345666333 commented on #840
The content in this directory only contains the APISIX Ingress controller itself, not the deployment of APISIX.

From the logs it looks like you have made changes to the https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/configmap/apisix-ingress-cm.yaml file, but I don't Determine what exactly you modified.

This file is out of sync with the config file we are currently

[2022-01-24 06:49] tao12345666333 commented on #840
And the image version of the APISIX Ingress controller in this directory is still 1.0 and needs to be updated.

[2022-01-24 06:50] tao12345666333 commented on #841
Thanks. Now we can using `ApisixPluginConfig`  resource to split route and plugin configurations.

[2022-01-24 08:22] purekeeper commented on #841
你没明白我意思， 我的意思是 能不能增加一个ApisixPlugin CRD 专门用于给某些uri 指定plugin,  因为现在APISixRoute 里面backed是必须的,适合定义route ，举个列子，  ApisixRoute 我定义了spec http[0]  path /aa/*   backend 是 xxx,,,, 但是 我想给 aa/bb 定义个plugin 这时候 我该怎么写 ？按照我现在的理解是 再增加一个 spec http[1] ?   为什么不能像Admin api 那样 route的配置和plugin的配置是两个API

[2022-01-24 08:27] purekeeper opened #842 "request help: How to set global rule ?"
### Issue description

request help:  How to set global rule ?  such as I want to add a ip-limit plugin for all path no matter what host and uri it is ?

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also

[2022-01-25 01:10] tokers commented on #842
Hi, @purekeeper

We haven't expose the global rules to the declarative configurations level yet, indeed, currently the `ApisixClusterConfig` will be translated into the global rule but it can only used to configure some observability features so far.

[2022-01-25 01:11] tokers commented on #841
@purekeeper I think @tao12345666333 really understood your means, `ApisixPluginConfig` works like you said.

[2022-01-25 02:39] #842 closed

[2022-01-25 02:39] #841 closed

[2022-01-25 04:49] tao12345666333 commented on #842
We can add this feature. Please see
https://github.com/apache/apisix-ingress-controller/issues/831#issuecomment-1016120453

[2022-01-25 08:58] siaron opened #843 "request help: Deployments of k8s are scaled down. Will the upstream be updated automatically?"
### Issue description

- k8s 缩容某个Deployment

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): laster version
- your Kubernetes cluster version (output of kubectl version): v1.22.5
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a): macos

[2022-01-25 09:16] 283713406 opened #844 "request help: Using the client control plug-in, call the interface to return 501 Not Implemented"
### Issue description

给ApisixRoute添加一个client-control的plugin，访问route直接返回501 Not Implemented，如图：
![image](https://user-images.githubusercontent.com/19170385/151097225-ffcfb6d1-7121-4193-b0d2-1636be8d5e5e.png)

![image](https://user-images.githubusercontent.com/19170385/151097136-304187b9-a599-4498-a1fd-74e42f94e660.png)

不加这个插件时能正常访问
![image](https://user-images.githubusercontent.com/19170385/15109

[2022-01-25 10:47] purekeeper opened #846 "request help: proxy-rewrite plugin does not work when apply by ApisixRoute ?"
### Issue description

proxy-rewrite  plugin does not work when apply by ApisixRoute ,right ? i had test it and found it not work

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (u

[2022-01-25 11:24] tokers commented on #846
@purekeeper Please provide some steps that you test it.

[2022-01-25 12:04] tao12345666333 commented on #846
Or you can refer to the test case https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/plugins/proxy_rewrite.go

[2022-01-26 03:35] #846 closed

[2022-01-26 03:36] namdiag commented on #712
When i set image tag to 1.4.0 i get the error
`apisix/upstream.go:122	failed to convert upstream item	{"url": "http://apisix-admin.apisix.svc.cluster.local:9180/apisix/admin/upstreams", "upstream_key": "/apisix/upstreams/f7a2533e", "error": "unexpected non-empty object"}`
but it's not legacy upstream objects either, it's the upstream object create by using ApisixRoute

[2022-01-26 03:51] #811 closed

[2022-01-26 04:30] purekeeper opened #847 "request help: I want to change upstream"
### Issue description

英语不好，直接中文了哈，我定义了个ApisixRoute 里面的 backend 是 test-server,  同时我也自定义了一个插件 用来计算一个请求要不要转发到其它domain,这个我怎么实现转发到其它domain呢？是更改up_conf配置吗

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also sho

[2022-01-26 04:57] tao12345666333 commented on #847
If I understand correctly, you probably need the ability of `proxy-rewrite` or `redirect` plugin?

You can refer to these cases

* https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/plugins/redirect.go
* https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/plugins/proxy_rewrite.go

[2022-01-26 05:03] tao12345666333 commented on #712
@namdiag Did you upgrade the CRD configuration?

[2022-01-26 07:00] namdiag commented on #712
No i'm not update anything. After apply an ApisixRoute object, i check dashboard and didn't see upstream object, check log and it has same error as in the topic question.
After check comment i set image of ingress controller to 1.4.0 tag, then this error appear

[2022-01-26 07:09] marchlhw commented on #659
![图片](https://user-images.githubusercontent.com/7006014/151118484-1321640f-672b-444f-9375-9b8c67f78a60.png)
![图片](https://user-images.githubusercontent.com/7006014/151118530-2b120fdf-6d90-4a64-b375-af8202e87374.png)
在apisix ingress controller容器里调用管理API是正常的

[2022-01-26 09:44] marchlhw commented on #659
重建了ingress-controller，现在报：022-01-26T17:41:05+08:00       error   ingress/pod.go:131      failed to delete pod from cache

[2022-01-26 09:44] tokers commented on #847
It seems like your problem is about how to write a plugin to change some request behaviors, for this purpose, you need to read some source code of Apache APISIX, or checking our some other plugins.

The behaviors are just like the traffic split, you may also check out the traffic split plugin, or, you can define a few routes in `ApisixRoutes`, and assign different match rules for them.

[2022-01-26 09:50] purekeeper commented on #847
@tokers   Thant's right, I'm reading the code and success do it ,thanks!

[2022-01-26 09:50] #847 closed

[2022-01-27 10:09] CabelChang opened #849 "bug: 配置x-forwarded-for后不生效"
### Issue description

在apisix的configmap中添加：add_header: X-Forwarded-For $http_x_forwarded_for后，后端节点依然无法获取X-Forwarded-For，业务场景中有需求获取X-Forwarded-For，目前没有找到如何配置的方法

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environmen

[2022-01-27 10:21] tokers commented on #849
APISIX doesn't have the setting `add_header`.

[2022-01-27 11:02] CabelChang commented on #849
下面配置是添加的一个test的header
            proxy_set_header   X-Forwarded-for  $var_x_forwarded_for;
            proxy_set_header   test     $var_x_forwarded_for;
在我们的后端节点上是可以收到的，然而却没有收到X-Forwarded-for 的header
host=***.com
x-real-ip=XXXX
test=11XXX0.130, 1XXX.56
x-forwarded-proto=http
x-forwarded-host=***.com
x-forwarded-port=9080
content-length=4
accept=application/x-protobuf

[2022-01-27 11:13] CabelChang commented on #849
下面是我添加的 X-Forwarded-for header，同时X-Forwarded-for也存在
           proxy_set_header   X-Forwarded-for  $var_x_forwarded_for;
            proxy_set_header   x-forwarded-for  $var_x_forwarded_for;
在我们的后端节点上只收到了x-forwarded-for ，也就是说不支持X-Forwarded-for

[2022-01-27 11:52] tao12345666333 commented on #844
you can refer to this doc https://apisix.apache.org/docs/apisix/plugins/client-control/#name

notice: This plugin requires APISIX to run on [APISIX-OpenResty](https://apisix.apache.org/docs/apisix/how-to-build#step-6-build-openresty-for-apache-apisix).

[2022-01-27 11:54] tao12345666333 commented on #843
Yes. Apache APISIX Ingress controller will watch resources and update upstream.

[2022-01-27 11:55] tao12345666333 commented on #840
Hi, Any update?

[2022-01-28 02:24] gavinhot commented on #840
I unmount webhook-certs and it's fine. I do this because my Dev environment is fine on my MAC laptop。

[2022-01-28 02:29] gavinhot commented on #840
I'm still on the road to discovery and I'm using ApisixUpstream only. But I found that my app was not registered with Apisix

[2022-01-28 05:49] gavinhot commented on #840
my ApisixUpstream :

apiVersion: apisix.apache.org/v2bate3
kind: ApisixUpstream
metadata:
  name: test-a
spec:
  loadbalancer:
    type: roundrobin

[2022-01-28 10:08] nic-6443 opened #850 "bug: the secret controller cannot handle secret update events in sometime"
### Issue description

In our environment, there is a bug that the certificate in secret is updated, but the ingress controller does not update the new certificate to APISIX. The reason for this is not known yet.
Since the environment where the bug occurred is no longer present, we cannot provide more information for now. If we reproduce it later, we will provide further information.

### Environm

[2022-01-28 14:15] tao12345666333 commented on #850
Thanks! What's your APISIX Ingress version? And did you use the ApisixTls resource?

[2022-01-29 09:08] MirtoBusico opened #851 "bug: Ingress controller error: apisix/route.go:117 failed to list routes"
### Issue description

I'm unable to define routes. But looking at the apisix ingress controller log I see these error:

[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
[code]
- your Kubernetes cluster version (output of kubectl version):
[code]
- if you run apisix-ingress-controller in Bare-metal environment, also show your O

[2022-01-29 12:25] tao12345666333 commented on #851
Thanks！ let me check

[2022-01-29 18:50] MirtoBusico commented on #851
**UPDATE**
I tried (in this order)

- delete apisix pod
- delete apisix-ingrass-controller

After this operation the apisix-ingress-controller log is:
[code]

Seems that nothing changes

[2022-01-30 01:26] tao12345666333 commented on #851
@MirtoBusico thanks for your report. I have found the problem it's due #769 and fixed in #774 （version v1.4）

We need update Helm chart version to using v1.4 apisix-ingress-controller

[2022-01-30 02:47] apit commented on #851
using ingress-controller 0.9 (v1.4) with apisix 0.8 (v2.12.0) still produced error

[code]

[2022-01-30 03:11] tao12345666333 commented on #851
@apit How did you deploy it?

[2022-01-30 03:23] apit commented on #851
i cloned apisix-helm-chart repo, created apisix-ingress-controller-0.9.0.tgz, updated apisix Charts.yaml to use 0.9 and run this from on apisix chart folder,

[code]

i created an `ApisixRoute` but it doesn't shows up on  ` kubectl exec -it -n apisix $(APISIX_POD) -- curl http://127.0.0.1:9180/apisix/admin/routes -H 'X-API-Key: mykey'`, and got previous log on the ingress pod.

[2022-01-30 03:34] tao12345666333 commented on #851
@apit  if you restart(or delete) the apisix-ingress pod, does it work fine?

[2022-01-30 03:43] apit commented on #851
no changes

[2022-01-30 11:49] MirtoBusico commented on #851
**UPDATE**
I reinstalled apisix from scratch and looked at the apisix-ingress-controller log before ever trying to create a route.
The pod is trapped in a loop between the "GET /healtz" messages
[code]
This loop is repeated continuously.
Hope this helps

[2022-01-31 12:51] apit opened #852 "request help: on crd controller: error no kind is registered for the type v2beta3.ApisixRoute in scheme"
### Issue description

I must first declare that I'm very new to writing operators :-).

I installed the latest apisix-ingress-controller (1.4) in my cluster. Beside for #851, all crds are looking fine:

[code]

I then wrote a controller that in its reconciling method creates an ApisixRoute.

[code]
the trouble is,

[code]

so, `no kind is registered for the type v2beta3.ApisixRoute`. My understan

[2022-01-31 16:14] gamer22026 commented on #851
Same for me. Using latest 1.4.0

[2022-01-31 16:52] apit commented on #852
i missed adding it to scheme :speak_no_evil:

[code]

Updated controller that works:

[code]
Though `Authentication` is mandatory even when the spec isn't marked so.

[2022-01-31 23:15] gamer22026 commented on #851
If you are running apisix 2.12.0, I found that even though [this doc](https://github.com/apache/apisix/blob/master/docs/en/latest/stream-proxy.md#how-to-enable-stream-proxy) says that stream_proxy is configured if **_enable_admin: true_** it appears it does not. I added the snippet from the doc:
[code]
and once I restarted apisix, the ingress-controller also started working and those errors went a

[2022-02-01 02:39] tao12345666333 commented on #852
What are your installation steps？

[2022-02-01 02:55] apit commented on #852
my installation from #851, using helm 0.9 on k3s  1.21

[2022-02-01 04:52] apit commented on #851
thx @gamer22026, it's working now.

shouldn't apisix chart's values.yaml lists all configurations default? just like `config-default.yaml` in this repo?

[2022-02-01 12:27] MirtoBusico commented on #851
The @gamer22026 suggestion worked for me.
The step I followed:
1) create the namespace
[code]
2) get the apisix chart values
[code]
3) change the lines 115-123 and 355-360
[code]
4) installed with:
[code]

Now there is no error and I can define routes
I can also view the route defined in the dashboard.

[2022-02-01 15:07] tao12345666333 commented on #851
Thanks all. Let me fix the APISIX helm chart configuration

[2022-02-05 07:15] tokers commented on #850
@nic-6443 .

[2022-02-06 14:13] tao12345666333 commented on #852
@apit Did you try this way https://github.com/apache/apisix-ingress-controller/issues/851#issuecomment-1026306420

[2022-02-06 15:15] apit commented on #852
i did. still "failed to create typed patch object: .spec.http[0].authentication.keyauth: field not declared in schema". wasnt it because of json tag of ApisixRouteAuthentication.KeyAuth?

[2022-02-06 19:54] MirtoBusico opened #853 "question: How to use Service IP as upstream instead of Pod IP"
### NOT SOLVED - see my replies

### Issue description

When creating a route using a yaml file and kubectl the generated upstream uses the **pod address** instead of the **service address**.
Whenever the cluster is restarted or the pod is redeployed the pod address changes and the route stop working

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller ve

[2022-02-06 20:11] MirtoBusico commented on #853
**SOLVED**

Found solution at [Service Resolution Granularity](https://apisix.apache.org/docs/ingress-controller/concepts/apisix_route/)

Adding
[code]
creates an upstream with the service address

Now the route definition is
[code]

[2022-02-07 09:07] tao12345666333 commented on #853
@MirtoBusico good job :+1: I edited the title to make it more clear

[2022-02-07 09:21] tao12345666333 commented on #838
It looks like your problem has been solved.
I am going to close this issue.

Another similar issue is https://github.com/apache/apisix-ingress-controller/issues/853

[2022-02-07 09:21] #838 closed

[2022-02-07 17:32] MirtoBusico commented on #853
@tao12345666333 Thanks

[2022-02-08 00:19] tao12345666333 commented on #659
@marchlhw please refer to https://github.com/apache/apisix-ingress-controller/issues/851#issuecomment-1026306420

I will fix the Helm chat today.

[2022-02-08 01:46] yin6516008 opened #854 "request help: How to configure ApisixPluginConfig？"
### Issue description

CRD resource configuration files：
[code]

apisix-ingress-controller log:
`2022-02-08T09:43:51+08:00	[33mwarn[0m	ingress/apisix_pluginconfig.go:224	sync ApisixPluginConfig failed, will retry	{"object": {"Type":2,"Object":{"Key":"default/openapi-auth","OldObject":{},"GroupVersion":"apisix.apache.org/v2beta3"},"Tombstone":null}, "error": "1 error occurred:\n\t* unexpected sta

[2022-02-08 09:16] tokers commented on #854
@yin6516008 The reason is the config of `authz-casbin` is not correct, it doesn't match the jsonschema requirements.

@tao12345666333 We don't have strong check for plugin config? I think we need to strengthen it.

[2022-02-08 10:15] yin6516008 commented on #854
I create succeeded in using the following way：
[code]
[code]

create a consumer
[code]
[code]

But when I quote this plugin in routing, don't take effect.
[code]

plugin config is not in the route:
[code]

Don`t take request header  also can get to success.
[code]

Why response status code is not 401?

[2022-02-08 11:55] nic-6443 opened #855 "bug: ingress controller panic after delete ingress resource"
### Issue description

APISIX Ingress Controller will panic while handle ingress delete event, panic log:
[code]

### Environment

use code in master branch

### Minimal test code / Steps to reproduce

/

### Actual result

/

### Error log

/

### Expected result

_No response_

[2022-02-08 12:29] nic-6443 commented on #850
It's a bit complicated, because the version we use is a branch we maintain for special reasons, using code from: https://github.com/nic-6443/apisix-ingress-controller/tree/patch-1 to support upstream mtls, but the code has been merged to upstream.

Yes

[2022-02-08 13:01] tao12345666333 commented on #850
If you're not using this repository but a fork version, I can't easily provide support.

[2022-02-08 13:02] tao12345666333 commented on #850
And it's not easy to reproduce.

[2022-02-08 13:05] tao12345666333 commented on #855
Can you provide a minimal steps to reproduce?

[2022-02-08 18:13] MirtoBusico commented on #853
@tao12345666333 Sorry it is a real bug. Please reopen

After three or four times that I restart the cluster (it is a lab framework: start on the morning and shutdown on the night) the route takes a POD address again.

The same framework used in my previous reply now shows:
Route definition, service addresses and pod addresses
[code]
The route definition taken from the apisix dashboard:
[code]
Clea

[2022-02-08 21:03] tao12345666333 commented on #853
thank you for your message. let me confirm again.

[2022-02-09 01:08] tokers commented on #850
We may try to reproduce this problem with the standard version. @nic-6443

[2022-02-09 02:21] nic-6443 commented on #850
Okay, we will try to test with the latest version of the ingress controller and sync up if we get any new clues

[2022-02-09 07:42] purekeeper commented on #813
@tao12345666333   How about this issue ,i have the same error , "not found"

[2022-02-09 08:56] tao12345666333 opened #856 "bug: when some features in APISIX are disabled, the shared context will cause some exceptions"
* When the APISIX Ingress controller synchronizes data, it is expected that all resources can be successfully synchronized (in this issue, resources such as stream_routes will inevitably fail because stream_proxy is not configured, but APISIX Ingress congtroller does not handle this situation. It's a bug.

_Originally posted by @tao12345666333 in https://github.com/apache/apisix-ingress-controller

[2022-02-09 12:07] tao12345666333 commented on #856
cc @lingsamuel

[2022-02-09 12:40] tao12345666333 opened #857 "e2e test: ApisixClusterConfig enable prometheus failed"
[code]

[2022-02-09 12:40] tutuV opened #858 "bug: there are error logs for stream_routes"
### Issue description

apisix pod: [warn] 45#45: *18736 [lua] init.lua:144: handler(): stream mode is disabled, can not add any stream routes, client: 10.1.11.197, server: , request: "GET /apisix/admin/stream_routes HTTP/1.1", host: "apisix-admin.apisix.svc.cluster.local:9180"

ingress-controller pod: error   apisix/cluster.go:223   failed to list stream_routes in APISIX: unexpected status code 40

[2022-02-09 14:43] tao12345666333 commented on #858
Thanks for your report.

This is a known issue due to stream_route mode being disabled by default when using the APISIX v2.12.0 image.

You can change the configmap to add stream_route configuration.

I'm already working on this issue and will fix it this week.

[2022-02-09 14:45] tao12345666333 commented on #858
Refer to https://github.com/apache/apisix-ingress-controller/issues/851#issuecomment-1026306420

[2022-02-09 18:33] MirtoBusico commented on #853
Hi @tao12345666333 I don't know if it is related, but if you delete an apisixroute, it results deleted for kubernetes but is still alive in apisix-dashboard.

First I deleted the route and waited for one hour and half
<img width="783" alt="ksnip_20220209-192544" src="https://user-images.githubusercontent.com/11090934/153266401-18853ea6-a881-4e21-ae1f-418b29520891.png">

Then I looked at upstream l

[2022-02-10 00:00] tao12345666333 commented on #857
If we rollback the APISIX docker image used by the e2e test then it works fine.

Created an issue https://github.com/apache/apisix/issues/6276

[2022-02-10 06:53] purekeeper commented on #813
@tao12345666333    I read your code and found ingress-controller does not support extenel name

[2022-02-10 07:15] tao12345666333 commented on #813
@purekeeper sorry for delay.
I've been fixing other high priority bugs recently and haven't had time to check it yet.

Can you post the code link directly?

[2022-02-10 08:04] xianshun163 opened #860 "request help: Install by Kustomize fail"
### Issue description

I clone the code  from the github， and  install by kustomize：
cd  apisix-ingress-controller/samples/deploy
kubectl create namespace ingress-apisix
kubectl kustomize ./ | kubectl apply -f -
It  have a  err msg like this, anyone know what is the problem?

customresourcedefinition.apiextensions.k8s.io/apisixclusterconfigs.apisix.apache.org configured
customresourcedefinition.ap

[2022-02-10 08:21] #776 closed

[2022-02-10 08:29] tao12345666333 commented on #860
apisix-ingress-controller/samples/deploy cannot be used directly for installation.

If you look at the content, you will find that other than the CRD, the other content has expired

[2022-02-10 09:01] xianshun163 commented on #860
if this a good way to install : https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/the-hard-way.md

when I look at the install.md ,  it  like below, there are almost  base the  cloud.  My k8s  is  deploy in my linux local home.

Installation
This is an index page about installing Ingress APISIX in several environments. Click the following links on demands.

[I

[2022-02-11 01:42] tao12345666333 commented on #853
Is there any information in the apisix-ingress-controller  log?

[2022-02-11 01:51] devops-utils-tools opened #861 "bug: plugin kafka-logger configuration error"
### Issue description

plugin kafka-logger configuration error

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a):

### Minimal test code / Steps to reproduce

![image](htt

[2022-02-11 02:49] tao12345666333 commented on #861
Thanks for your report. Let me check it.

[2022-02-11 02:50] 283713406 commented on #844
Upgrade the version of APISIX and the problem is solved，Please close this issue。thanks！

[2022-02-11 02:50] #844 closed

[2022-02-11 07:17] liangyuanpeng commented on #853
it's absolutely weird, how can we reproduce it?

[2022-02-11 07:48] MirtoBusico commented on #853
Hi, @liangyuanpeng this issue started as a bug report. You can follow the section "Step to reproduce"

[2022-02-11 07:51] MirtoBusico commented on #853
Hi @tao12345666333 I didn't see anything in the controller log.
In this moment I'm reistalling from scratch.
asap I can test I'll post the complete controller log

[2022-02-11 07:53] xianshun163 commented on #860
hi, @tao12345666333
I have deploy the ingress  version 1.3.0 by the follow step：
1、kubectl apply -k  samples/deploy/crd -n  ingress-apisix
2、kubectl apply  -k samples/deploy/rbac -n ingress-apisix
3、kubectl apply -k samples/deploy/admission -n ingress-apisix
4、kubectl apply -k samples/deploy/configmap -n ingress-apisix
5、kubectl apply -k samples/deploy/deployment -n ingress-apisix
It work ok,  I c

[2022-02-11 08:12] xianshun163 commented on #860
I can not use helm, because I have modify some code of the apisix,
I find "the-hard-way.md"  and the kustomize   install doc  is  not work right.
Is that another  guide  doc to install the new version?

[2022-02-11 08:51] tao12345666333 commented on #851
For the first of these I have fixed it in the Helm chart. This problem can be solved if you use the latest Helm chart. (chart version 0.8.2 ) https://github.com/apache/apisix-helm-chart/pull/233

For the second item, we can use #856 for tracking.

I will close this issue, thank you all.

[2022-02-11 08:51] #851 closed

[2022-02-11 09:40] tao12345666333 commented on #860
This documentation is outdated.  Probably written in version 0.5.

The recommended way to install is to use Helm.

Even if you modify the apisix code, you can use Helm to install only the ingress controller.

[2022-02-11 16:15] cbouisson-csgroup commented on #781
Hi
Do you have any idea how long it will take to fix this problem? Is the fix planned in a release? Because we are impacted in our projects (for the moment we are going through DNS01 challenge but it is not the solution desired by our end customers)
Thank you in advance for your help
Regards

[2022-02-11 16:59] tao12345666333 commented on #781
@cbouisson-csgroup thanks for reminding. It's on my list.
I have some ideas, and I'll start a discussion next week. Find a relatively reasonable solution and implement it.

[2022-02-12 08:01] apit commented on #853
what's the use case for this? is it to let k8s handle the load balance?

[2022-02-12 08:02] purekeeper opened #862 "How can I get value for path variable ？"
### Issue description

I define Apisix Route  and use exprs field :

- name: test
      match:
        hosts:
          - service.xx.cn
        paths:
          -  /aaa/**:var1**/test
      exprs:
        - subject:
            scope: Path or Query ?
            name: **var1**
          op: RegexMatch
          value: "^[^/]{16,}"

I want get the **### va1** value and use exprs to filter request ,

[2022-02-12 16:28] MirtoBusico commented on #853
Hi @apit my use case is:

- a portable (must run on a notebook) kubernetes cluster that should work also in airgapped site
- security, authentication, networking and telemetry outside the microservices I'll develop
- a virtual machine for services (DNS, Keycloak, etc...) and a 3 node cluster on virtual machines running K3S

In this scenatio I access sevices using the /etc/host file for external ma

[2022-02-12 17:25] MirtoBusico commented on #853
I've completed the reinstallation, but after 4 cluster restart the Service address is substituted by a Pod address
The route just defined
![route_defined](https://user-images.githubusercontent.com/11090934/153720675-4ab228b1-a853-469a-8827-8d7beb47c53b.jpg)
The route the day after
<img width="1716" alt="route after_4_restart" src="https://user-images.githubusercontent.com/11090934/153720696-e30add

[2022-02-12 17:40] MirtoBusico commented on #853
Hi @liangyuanpeng with this chart it seems to work
The delete route command (timestam in Rome time thea are UTC+1 - So in apisix log look for 17 instead of 18)
[code]
 The apisix ingress controller log (nothing appear here)
[code]
In the apisix dasboard the route and upstream disappeared as expected
![route_deleted](https://user-images.githubusercontent.com/11090934/153722005-010eabe5-7f64-45c6-88

[2022-02-12 17:53] MirtoBusico commented on #853
Recreated the route using v2beta3
[code]
Installed with
[code]
The warning in the log still complains the **v2beta1** version
[code]
The route correctly point to the Service address
<img width="1709" alt="v2beta3-route-defined" src="https://user-images.githubusercontent.com/11090934/153722325-229bdfbc-a572-4932-acc8-8f16d3b95ad9.png">

Now I'll try some cluster restarts to se if the address change

[2022-02-13 03:33] purekeeper opened #863 "request help: ingress-controller error"
### Issue description

Always alert error:    but i i can call  http://apisix-admin.ingress-apisix.svc.cluster.local:9180/apisix/admin/routes by curl

2022-02-13T11:29:24+08:00 error apisix/cluster.go:197 failed to list route in APISIX: Get http://apisix-admin.ingress-apisix.svc.cluster.local:9180/apisix/admin/routes: context canceled
2022-02-13T11:29:24+08:00 error apisix/cluster.go:164 failed to

[2022-02-13 03:42] apit commented on #853
@MirtoBusico @tao12345666333  wouldn't apisix controller watch services so recreating cluster, in case of granularity is not service, new pod ip will be reflected in the apisixroute config?

[2022-02-13 03:46] tao12345666333 commented on #863
How did you install it?  What is the version?

[2022-02-13 08:02] marchlhw opened #864 "request help: 创建apisixupstream对象抛upstream is not referenced异常"
### Issue description

1. 我在使用apisix ingress controller的情况下，只创建apisixupstream对象，发现etcd中没有生产对应的upstream，如下：
![图片](https://user-images.githubusercontent.com/7006014/153744168-66f0ae55-500a-49b9-bfd0-cdfc8abaa72d.png)
apisix ingress controller输出如下类似的日志：
2022-02-13T15:16:29+08:00	warn	apisix/upstream.go:70	upstream not found	{"name": "apisix_httpbin_80", "url": "http://10.115.21.113:9180/apisix/admin/

[2022-02-13 16:10] Phoebus888 opened #865 "question: ApisixTls resource not syncing due to not upgrade CRD"
### Issue description

ApisixTls创建  Apisix后台不会自动创建证书
apiVersion: apisix.apache.org/v1
kind: ApisixTls
metadata:
  name: lylb1
  namespace: test
spec:
  hosts:
    - lylbnew.01lb.vip
  secret:
    name: lylb1
    namespace: test

web后台不会自动创建  需要手动填写和上传证书
![image](https://user-images.githubusercontent.com/45359605/153761900-a07a1ed5-8631-492b-b718-1c07ec0077c3.png)

### Environment

- your apisix-in

[2022-02-14 01:10] tokers commented on #865
@Phoebus888 After you created the Secret, is the certificate created also?

[2022-02-14 01:38] #857 closed

[2022-02-14 01:50] marchlhw commented on #864
请问apisix-ingress-controller中apisixupstream的用途是什么？或在什么场景下使用？

[2022-02-14 01:50] tao12345666333 commented on #865
Can you run ` kubectl api-resources --api-group=apisix.apache.org` ?

In v1.4, the API version used by the ApisixTls resource is v2beta3.

[2022-02-14 02:07] Phoebus888 commented on #865
[root@k8s-mast1 apisix-ingress]# kubectl api-resources --api-group=apisix.apache.org
NAME                   SHORTNAMES   APIGROUP            NAMESPACED   KIND
apisixclusterconfigs   acc          apisix.apache.org   false        ApisixClusterConfig
apisixconsumers        ac           apisix.apache.org   true         ApisixConsumer
apisixpluginconfigs    apc          apisix.apache.org   true

[2022-02-14 02:11] tao12345666333 commented on #865
How did you install the APISIX Ingress controller? Or you can update the CRD.

[2022-02-14 02:24] Phoebus888 commented on #865
helm install apisix  \
 --create-namespace \
 --set gateway.type=NodePort  \
 --set ingress-controller.enabled=true \
 --set dashboard.enabled=true  \
 --set gateway.tls.enabled=true \
 --set etcd.persistence.size="300Gi" \
 --set admin.allow.ipList="" \
 --namespace ingress-apisix apisix/

[2022-02-14 02:25] Phoebus888 commented on #865
how to update crd?

[2022-02-14 03:02] Phoebus888 commented on #865
大佬  我重新找了一个k8s集群安装   新安装的APIGROUP都是apisix.apache.org  不是apisix.apache.org/v2beta3

[2022-02-14 09:25] marchlhw opened #866 "request help: failed to list stream_routes"
### Issue description

apisix-ingress-controller报错输出：
![图片](https://user-images.githubusercontent.com/7006014/153836221-627744ba-7f37-40dd-a5e2-8620ea0ad182.png)
apisix报错输出：
![图片](https://user-images.githubusercontent.com/7006014/153836335-82ffac8e-56d6-4ba6-b634-3c4c73ab3569.png)

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
![图片]

[2022-02-14 09:36] tao12345666333 commented on #866
Please upgrade your Helm chart version.

xref: https://github.com/apache/apisix-ingress-controller/issues/851#issuecomment-1026306420
https://github.com/apache/apisix-helm-chart/pull/233

duplicate: https://github.com/apache/apisix-ingress-controller/issues/858

[2022-02-14 09:41] tao12345666333 commented on #865
you can just using this CRD.

[2022-02-14 09:47] marchlhw commented on #864
apisix-ingress-controller中apisixupstream的逻辑有可能会调整吗？创建apisixupstream crd并与kubernetes service关联也会创建upstream

[2022-02-14 11:10] Belyenochi commented on #661
If no one else, please assign to me

[2022-02-14 11:11] tao12345666333 commented on #661
👌

[2022-02-14 11:45] tao12345666333 commented on #864
This may be up for discussion.

[2022-02-14 11:45] tao12345666333 commented on #864
If you have time, you can join the meeting this Wednesday #614

[2022-02-15 00:25] tao12345666333 commented on #767
APISIX has implemented the forward-auth plugin.

We can consider adding support for this feature. But before we start we need a design proposal.

https://github.com/apache/apisix/pull/6037

[2022-02-15 02:20] tao12345666333 commented on #853
I will come to confirm this today.

[2022-02-15 05:18] Phoebus888 commented on #865
没问题了  使用新的crd就可以了    helm包安装后面是不是要改一下

[2022-02-15 06:30] xianshun163 commented on #860
ok, I  have use the helm   sucessful.

[2022-02-15 06:30] #860 closed

[2022-02-15 06:42] tao12345666333 commented on #860
This is really good news.  @xianshun163

If you're interested, I really hope you can add kustomize support to this project.
Currently I have some other high priority tasks working on it.

[2022-02-15 07:43] tao12345666333 commented on #865
Unfortunately, Helm currently does not have the ability to upgrade CRDs. For details, see
https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you

[2022-02-15 08:47] tao12345666333 commented on #853
@MirtoBusico This is a configuration item, in configmap.  It can be changed at values.yaml https://github.com/apache/apisix-helm-chart/blob/051998d8cc1816674fcbc3c8029f9e7d1330e3d5/charts/apisix-ingress-controller/values.yaml#L113-L115

[2022-02-15 09:03] tao12345666333 commented on #853
I noticed that you have the following log here, which caused the exception of APISIX Ingress controller and APISIX request.

[code]

Other errors related to `context canceled` are caused by this.  The current APISIX Ingress controller communicates with APISIX with the same context, so once a request fails, other requests will also exit.

Can you show me your `394532502988915297` upstream detail?
I

[2022-02-15 09:25] tao12345666333 commented on #853
Thanks for the detailed report, I have been able to reproduce this issue. i will fix it.

[2022-02-15 12:00] MirtoBusico commented on #853
Thens @tao12345666333
Now I'll reinstall with (if I understand correctly)
[code]

[2022-02-15 13:31] MirtoBusico commented on #853
Hi @tao12345666333 I've reinstalled apisix with these changes in values.yaml:
[code]
And installed with:
[code]
Created a route with:
[code]
Using the command:
[code]

The route is created with the service address
Nothing appears about route creation in apisix-ingres-controller log:
[code]
The command executed op apisix pod (using the upstream_id from apisix dashboard) says
[code]

[2022-02-15 13:38] tao12345666333 commented on #853
Thanks!

I want to know the upstream information that will generate the error` "error": "unexpected non-empty object"`

[2022-02-15 18:30] MirtoBusico commented on #853
Hi @tao12345666333 seems that in this installation the error doesn't appear
In the apisix pod log I see
[code]

Mybe it is relate to the route deletion test.
Now I'll try to delete the route and I'll report here

[2022-02-15 18:34] tao12345666333 opened #869 "Flaky test: check the ingress lb status is updated"
This problem has been encountered in many PRs recently

[code]

ref: https://github.com/apache/apisix-ingress-controller/runs/5203498158?check_suite_focus=true

[2022-02-15 19:08] MirtoBusico commented on #853
Well @tao12345666333 seems that no error appears in the logs after deleting the route.

Command to delete the route:
[code]
Nothing appears in the ingress-controller log
[code]
In the apisix log appears the deletion
[code]
Then I stopped and started the cluster and I don't see anything wrong in the startup logs:

Apisix ingress controller log:
[code]

Apisix log
[code]
Now I'll try to define again

[2022-02-16 01:17] tao12345666333 opened #870 "bug: resolveGranularity: service fails, when restarted multiple times"
I found that `resolveGranularity: service ` no longer takes effect after multiple restarts of the APISIX Ingress controller

xref: #853

[2022-02-16 01:44] tao12345666333 commented on #853
For this bug, we can use #870 to track.

If you find another error log, please update it at any time.

[2022-02-16 01:59] purekeeper commented on #862
@tao12345666333   Do you know about the issue?

[2022-02-16 03:01] myselfghost opened #871 "suggest：proxy scheme should be in ApisixRoute not ApisixUpstream"
why:  In most scenarios, we only need to define a ApisixRoute, and we don't need to bother to define ApisixUpstream. but, if we proxy a grpc service , we have to define ApisixUpstream like

[code]
so suggest：proxy scheme should be in ApisixRoute not ApisixUpstream, that way we can do less work

[2022-02-16 06:05] tao12345666333 commented on #871
We can take a discuss on mail list.

[2022-02-16 06:18] tao12345666333 commented on #866
I will close this issue.  It will be fixed in https://github.com/apache/apisix-ingress-controller/pull/868

[2022-02-16 06:18] #866 closed

[2022-02-16 06:21] tao12345666333 commented on #865
I will close this issue. Feel free to reopen it if you have any question.

[2022-02-16 06:21] #865 closed

[2022-02-16 06:25] tao12345666333 commented on #863
ping @purekeeper  any update?

[2022-02-16 06:27] tao12345666333 commented on #862
you can see https://github.com/api7/lua-resty-expr docs.

[2022-02-16 06:31] tao12345666333 commented on #861
the `broker_list` is an object not list format.

https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/kafka-logger.md#attributes

[2022-02-16 06:33] tao12345666333 commented on #855
@nic-6443 any update?

[2022-02-16 06:33] purekeeper commented on #863
I upgrade to latest and work well, I need do more test.

[2022-02-16 06:35] tao12345666333 commented on #854
let me check it.

[2022-02-16 06:37] tao12345666333 commented on #852
Thanks for report. Let me check it.

[2022-02-16 08:28] tao12345666333 commented on #863
Thanks for your reply.

[2022-02-16 09:46] devops-utils-tools commented on #861
Please help provide an example, thank you

[2022-02-16 09:51] champly commented on #855
I meet the same probelm, because the `EventDelete` will cause ingressLister got with namespace and name error, variable `ing` is nil.

[2022-02-16 13:24] Belyenochi commented on #661
I'm a little confused, exprs can support some NginxVars, should we expand the fields based on ApisixRouteHTTPMatchExpr?

[2022-02-16 13:24] Belyenochi commented on #661
I'm a little confused, exprs can support some NginxVars, should we expand the fields based on ApisixRouteHTTPMatchExpr?

[2022-02-16 13:28] MirtoBusico commented on #870
Hi @tao12345666333 the problem appeared after 5 cluster restarts
How I've done the tests:
1) start the cluster and wait everything goes green
2) inspect the upstream address with apisix dashboard
3) shutdown the cluster.

I've done this 5 times. In the first four times in the upstream there is the service address; but in the fifth attempt appears the POD address

In apisix dashboard
<img width="17

[2022-02-16 16:32] tao12345666333 commented on #861
Copy from your example.  Just change it to

[code]

The full example:

[code]

[2022-02-16 16:41] tao12345666333 opened #873 "Occasionally some unexpected logs appear"
[code]

[2022-02-17 02:53] xianshun163 opened #874 "always print err log: reqFailed to watch *v2beta3. in k8s v1.19.3, but not in k8s v1.17"
### Issue description

my  apisix ingress controller always print err logs like this(in the  k8s v1.19.3, but in the k8s v1.17,it do not print the logs)
Is that any problem ?
E0217 10:45:31.493142       1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.22.4/tools/cache/reflector.go:167: Failed to watch *v2beta3.ApisixConsumer: failed to list *v2beta3.ApisixConsumer: the server could not find the req

[2022-02-17 02:55] tao12345666333 commented on #874
Thanks for your report, it is a duplicate of #873
I will close this issue, we can use #873 to track.

[2022-02-17 02:55] #874 closed

[2022-02-17 07:59] cmssczy commented on #860
`apisix-ingress-controller` process will also panic if we use the image builded by master branch source code.

[2022-02-17 08:08] cmssczy commented on #860
`apisix-ingress-controller` process will also panic **occasionally** when I use the image build from master branch source code.

[code]

[2022-02-17 09:25] tao12345666333 commented on #860
@cmssczy Can you create a new issue for track? And we need more informations

[2022-02-17 09:41] devops-utils-tools commented on #861
Thank you. You can use it

[2022-02-17 10:14] Belyenochi commented on #321
I'd like to write e2e test cases for plugin "prometheus"

[2022-02-17 13:07] cmssczy commented on #860
@tao12345666333  Maybe the `ApisixRoute` defination is incorrect in your [document](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/the-hard-way.md#install-apisix-ingress-controller). The apisix-ingress-controller pod could start successfully when I delete the `ApisixRoute` defined in this doc.😓

[2022-02-17 17:42] tao12345666333 commented on #321
@Belyenochi Thanks! We currently have it covered.  But in the latest APISIX the Prometheus plugin needs to be exposed using the public-api plugin, it would be great if you could modify this part.

[2022-02-18 01:17] tao12345666333 commented on #861
Has this solved your problem? @devops-utils-tools

[2022-02-18 03:57] xiongyunhua-star opened #876 "通过dashboard 更新ingress-controller生成的路由信息"
### Issue description

操作步骤：

1.  通过Yaml创建的AR资源,形成路由信息之后，在dashboard上编辑上游信息，删除一个上游Pod实例

问题：
在没有更新业务deployment和ingress-controller pod 的情况下，什么时候会把上有信息恢复原有的默认配置？
是通过ingress-controller pod 加载的cm的 resync_interval: "1h"   进行周期性 同步？
apiVersion: v1
data:
  config.yaml: |
    # log options
    log_level: "info"
    log_output: "stderr"
    http_listen: ":8080"
    enable_profiling: true
    kubernetes:

[2022-02-18 04:06] xiongyunhua-star commented on #876
现象没有复现

[2022-02-18 05:22] Belyenochi commented on #321
OK, I'm willing to help and I'll check the documentation of the public-api plugin.

[2022-02-18 10:04] xuminwlt commented on #813
need too.

[2022-02-18 19:41] MirtoBusico opened #877 "request help: how to setup proxy-rewrite in dashboard?"
### Issue description

Im trying to use the dashboard to transform the url path before reaching the upstream service.

I have a httpbin service that works correctly if I use these urls
[code]
Now I want that
[code]
If I uderstand correctly I have to use the proxy-rewrite plugin
Using dashboard I set these parameters:
<img width="1184" alt="apisix-proxy-rewrite" src="https://user-images.githubuserc

[2022-02-19 18:52] MirtoBusico opened #878 "request help: How to correct "proxy-rewrite err: invalid regex_uri(^/user/(*), /$1)""
### Issue description

Hi all,
In the apisix pod log I see this error and my route doesn't work.
The log:
[code]
The route definition is:
[code]
Strangely this other route works perfectly
[code]

Mybe it is a stupid type error; but I cannot figure out why this is correct
[code]
and this is wrong
[code]
Any hint?

### Environment

- apisix version (cmd: `apisix version`):
[code]
- OS (cmd: `uname -

[2022-02-20 10:01] lingsamuel opened #879 "Makefile: add `update-` for `verify-`"
i.e. `update-license` for `verify-license`

[2022-02-20 10:04] lingsamuel opened #880 "e2e: custom registry"
Support for custom registries can make it easier to run e2e in existing clusters directly using ginkgo.

[2022-02-20 10:07] lingsamuel commented on #869
I can't reproduce it locally. I suspect it is caused by the same problem with PR #829
@tao12345666333 PTAL

[2022-02-20 10:19] tao12345666333 commented on #869
@lingsamuel #829 has been merged

[2022-02-21 06:41] mangoGoForward commented on #879
I'd like to work on this issue, please assigned to me. :)

[2022-02-21 09:47] tao12345666333 commented on #879
Thanks. Assigned.

[2022-02-21 11:01] tokers commented on #879
@lingsamuel Could you describe the issue deliberately?

[2022-02-22 01:12] mangoGoForward commented on #879
Got it, thanks.

[2022-02-22 02:25] tao12345666333 commented on #869
I see this problem is also encountered in CI of https://github.com/apache/apisix-ingress-controller/pull/868 , the code in master branch should have been merged in this PR

https://github.com/apache/apisix-ingress-controller/runs/5272092692?check_suite_focus=true#step:7:4943

[2022-02-22 04:17] tao12345666333 commented on #869
#881

https://github.com/apache/apisix-ingress-controller/runs/5282496494?check_suite_focus=true

[2022-02-22 07:38] Belyenochi commented on #321
hi @tao12345666333, on which branch should I find the currently code for prometheus e2e tests?

[2022-02-22 09:32] lingsamuel commented on #879
We may also need a unified formatting tool (just a suggestion).
Example script:
[code]

[2022-02-22 09:50] mangoGoForward commented on #879
How about `gofmt` or `goimports` to sort import packages?

[2022-02-22 09:59] lingsamuel opened #883 "bug: failed to list plugins' names"
![ZQP6UFwF91](https://user-images.githubusercontent.com/14567045/155108623-3227c5bd-e06e-4408-af8e-45a400a285d7.png)

Using apache/apisix:dev and master branch apisix-ingress-controller.

[2022-02-22 10:05] lingsamuel commented on #879
`goimports-reviser` can sort project packages as a separate group, e.g.:

[code]

instead of

[code]

IIRC `gofmt` or `goimports` can't do this.

[2022-02-22 10:13] lingsamuel commented on #879
Of course we can. Just create it and cross reference this issue.

[2022-02-23 02:07] lingsamuel opened #884 "Makefile: add a formatting tool"
We may also need a unified formatting tool (just a suggestion).
Example script:
[code]

_Originally posted by @lingsamuel in https://github.com/apache/apisix-ingress-controller/issues/879#issuecomment-1047597239_

[2022-02-23 02:48] mangoGoForward commented on #884
I want to try and make a test.

[2022-02-23 13:45] tao12345666333 commented on #781
Sorry for delay. We could modify this behavior, but it should be a breaking change, and I'll send it to the mailing list as well.  update later.

I set this to high priority and will fix it soon.

[2022-02-23 14:35] #816 closed

[2022-02-23 17:00] tao12345666333 commented on #807
using #869 instead.

[2022-02-23 17:00] #807 closed

[2022-02-23 17:08] #855 closed

[2022-02-23 17:09] tao12345666333 commented on #863
I will close this issue. Feel free to reopen it if you have any question.

[2022-02-23 17:24] tao12345666333 commented on #712
@namdiag Please upgrade CRD if you want to use v1.4. We have received some similar feedback for issues caused by not upgrade the CRD.

[2022-02-23 23:55] tao12345666333 commented on #321
@Belyenochi you can just use master branch

[2022-02-23 23:56] tao12345666333 commented on #813
I will provide an example later

[2022-02-24 00:01] tao12345666333 commented on #840
If you only using ApisixUpstream, it will not be sync to APISIX

[2022-02-24 00:02] tao12345666333 commented on #840
https://github.com/apache/apisix-ingress-controller/issues/864

[2022-02-24 00:06] tao12345666333 commented on #659
@marchlhw @RunYuannn Do you still have problems if you use the latest version?

[2022-02-24 00:10] tao12345666333 commented on #824
@suninuni You can use the CRD from the Helm chart, we have optimized and fixed it

[2022-02-24 00:26] tao12345666333 commented on #787
Do you still have problems if you use the latest version?

[2022-02-24 05:56] navendu-pottekkat commented on #814
@tao12345666333 Can't the error just be logged and the return skipped?

[2022-02-24 06:38] tao12345666333 commented on #814
Making this modification is not difficult.
Can you describe your scenario and expectations?

[2022-02-24 08:24] GhangZh opened #886 "bug: ingress-controller always shows this log not found service, but the service is actually there"
### Issue description

ingress-controller always shows this log, but the service is actually there
![image](https://user-images.githubusercontent.com/92301646/155486114-a44a6117-8610-4c8a-942d-c855788c1b52.png)
![image](https://user-images.githubusercontent.com/92301646/155486141-bd817922-c7b3-41a1-a4ff-fd22e2a1efb9.png)
![image](https://user-images.githubusercontent.com/92301646/155486153-ffb17a4

[2022-02-24 08:36] #884 closed

[2022-02-24 09:14] tao12345666333 commented on #886
can you run  `kubectl api-resources --api-group=apisix.apache.org` ?

[2022-02-24 09:17] GhangZh commented on #886
![image](https://user-images.githubusercontent.com/92301646/155495078-1c1c7291-64ca-4c85-ab48-8c32df1aef64.png)

[2022-02-24 09:20] navendu-pottekkat commented on #814
Just removing the return statement and only logging the errors. So, even if one node fails, it will log the error but the loop will continue for other nodes.

[2022-02-24 09:26] tao12345666333 commented on #886
Are you using the latest CRD?
https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/crds/customresourcedefinitions.yaml

[2022-02-24 11:14] GhangZh commented on #886
Okay, I'll try it out.

[2022-02-24 11:36] tao12345666333 commented on #814
Obviously we should make some changes.

Do you remember why this is done here?  @gxthrj @tokers

[2022-02-24 11:36] tao12345666333 commented on #886
We have made some adjustments to CRD in the new version

[2022-02-24 12:11] tokers commented on #814
A half-successful upstream set could cause other problems, which will be hard to troubleshoot, just let it fail can pin the problem and won't propagate.

[2022-02-25 07:20] FesonX opened #887 "request help: "error retrieving resource lock" on APISIX Ingress Controller the Hard Way"
### Issue description

**Steps:**

I follow the docs: [APISIX Ingress Controller the Hard Way](https://apisix.apache.org/zh/docs/ingress-controller/practices/the-hard-way#install-apisix-ingress-controller) in section "Install APISIX Ingress Controller"

When I create apisixroute via file, it always return 404.
When I create apisixroute via admin api, it works.

**Errors:**

[code]

I get the logs

[2022-02-25 08:31] tao12345666333 commented on #887
Thanks! The docs should be updated. Welcome send a PR to fix it.

[2022-02-25 08:42] xianshun163 commented on #851
@tao12345666333     is this problem  fix?  I have the same err,  I use the 1.3 version.

[2022-02-25 08:45] tao12345666333 commented on #851
Yes. It has been fixed. Please using latest Helm chart (APISIX Ingress v1.4

[2022-02-25 09:56] cmssczy commented on #883
/assign

[2022-02-25 10:04] xianshun163 opened #889 "can it let apsix's upstream directly use k8s's service name"
### Issue description

can  it  let  apsix's upstream directly use k8s's service name?
just like  nginx  annotations:  ingress. kubernetes. IO / service upstream: true
this will let the nginx ingress the config the nginx upstream as a service name ,not the pod ip.

this is usefull for the service mesh 。

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller

[2022-02-25 10:16] xianshun163 commented on #851
@tao12345666333  I have update the version to 1.4
that is a err log like this :
2022-02-25T18:11:17+08:00       error   apisix/upstream.go:156  failed to create upstream: Put "http://apisix-gw-lb.default.svc.cluster.local:9080/apisix/admin/upstreams/db067616": context deadline exceeded (Client.Timeout exceeded while awaiting headers)
2022-02-25T18:11:19+08:00       error   apisix/upstream.go:76

[2022-02-25 10:26] tao12345666333 commented on #851
@xianshun163 Are you using the latest APISIX Helm chart?  Or did you just upgrade the APISIX ingress?  Please provide detailed steps.

[2022-02-25 10:28] tao12345666333 commented on #883
Assigned. Thanks

[2022-02-25 10:28] xianshun163 commented on #851
helm uninstall apisix-ingress-controller --namespace  x

kubectl delete crd apisixclusterconfigs.apisix.apache.org
kubectl delete crd apisixconsumers.apisix.apache.org
kubectl delete crd apisixpluginconfigs.apisix.apache.org
kubectl delete crd apisixroutes.apisix.apache.org
kubectl delete crd apisixtlses.apisix.apache.org
kubectl delete crd apisixupstreams.apisix.apache.org

helm install apisix-in

[2022-02-25 10:36] tao12345666333 commented on #851
The issue was fixed via the APISIX Helm chart.  So what you did above won't fix the problem.

This problem is caused by stream_route being turned off in APISIX.  Please refer to the comments in this issue to fix.  Or use the latest APISIX Helm chart.

[2022-02-25 10:37] tao12345666333 commented on #889
Please use

[code]

[2022-02-25 11:29] xianshun163 commented on #851
@tao12345666333  My apisix is not deploy by helm,I deploy it  by docker images
    Can you tell me which config  to modify  in the apisix,  I  do it  myself

[2022-02-25 11:34] xianshun163 commented on #851
My apisix version is v1.11 .

[2022-02-25 11:37] tao12345666333 commented on #851
https://github.com/apache/apisix-ingress-controller/issues/851#issuecomment-1026306420

[2022-02-28 02:51] xianshun163 commented on #889
ok， thanks

[2022-02-28 02:51] #889 closed

[2022-02-28 03:57] drrrMikado commented on #886
Same. It's using ltest CRD.
![image](https://user-images.githubusercontent.com/11224565/155919483-6b69a660-fdea-4c35-8b21-6c2967d98329.png)

[2022-02-28 06:32] tao12345666333 commented on #886
@drrrMikado can you show me your full logs?
And definitions for resources such as ApisixRoute and Service

[2022-02-28 07:28] xianshun163 commented on #873
@tao12345666333 Hello, do you know what caused this log?Not sure if synchronization will be affected

I used the latest ingress controller and still have this log:

W0228 14:51:12.613401       1 reflector.go:441] pkg/mod/k8s.io/client-go@v0.22.4/tools/cache/reflector.go:167: watch of *v2beta3.ApisixUpstream ended with: an error on the server ("unable to decode an event from the watch stream: unabl

[2022-02-28 08:03] tao12345666333 commented on #873
synchronization will not be affected.

[2022-02-28 08:11] tao12345666333 commented on #873
There will be some retry mechanism here.  But I don't have time to fix it yet, working on other high priority tasks

[2022-03-01 00:01] tao12345666333 opened #891 "[DISCUSS] APISIX Ingress's roadmap for 2022"
hi, folks, here are the goals and roadmap for the Apache APISIX Ingress project this year.

It will mainly include the following three aspects:

* Usability
  - [ ]  redesign documentation
  - [ ]  add more examples
  - [x]  keep updating
  - [ ]  use a uniform CRD APIVersion #707

* Function enhancement

    - [ ] full Gateway API support, progress tracking at: #644
    - [x] enhanced observabili

[2022-03-01 01:57] drrrMikado commented on #886
log:
[code]

ApisixRoute:
[code]

Service:
[code]

[2022-03-01 03:49] xianshun163 commented on #873
If it can't synchronize, there will be problems.
@tao12345666333   Is there any other way to avoid it ?
 I used v1.3 before, but because of the problem of  "context cancel " #851 ,  I  changed to V1.4.  But this problem will also lead to instability in production.

[2022-03-01 03:52] tao12345666333 commented on #886
hi @drrrMikado  I see that your ApisixRoute resource is in `flow-control-server-go` namespace, but Service `flow-control-server-go-dev` is in `flow-control-server-go-dev` namespace, so it will not be found.

[2022-03-01 03:54] tao12345666333 commented on #873
@xianshun163  I will add this one to my list.  Fix it after ending other high priority tasks.

[2022-03-01 09:07] drrrMikado commented on #886
I'm sorry. It's my fault. I copied it wrong. I updated the above configuration and added screenshots.
![image](https://user-images.githubusercontent.com/11224565/156138830-37c14610-33d0-438e-ad3d-6b6061d639e4.png)

[2022-03-01 09:58] drrrMikado commented on #886
Also, I get a different error.
[code]

[2022-03-01 14:08] tao12345666333 commented on #886
Could you please post the complete installation and reproduction steps?

Your newly posted log indicates that you have enabled the Ingress LB status function, which requires you to check your Kubernetes environment.

[2022-03-02 01:01] #883 closed

[2022-03-02 01:02] #887 closed

[2022-03-02 02:24] FesonX opened #892 "bug: IngressController crash when backend service not found"
### Issue description

I **create an Ingress reference a service httpbin NOT exists in current namespace**.

After a create the resource and delete, the APISIX Ingress Controller service panic and restart.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):

- your Kubernetes cluster version (output of kubectl version):

- if you run api

[2022-03-02 05:18] #892 closed

[2022-03-02 06:11] tao12345666333 commented on #876
it's not recommanded.

[2022-03-02 06:18] xuminwlt commented on #864
yes，we need too.
same to @marchlhw
Combined with our actual usage scenarios, I just want to create the apisix upstream, the controller calls the apisix management api to generate the corresponding upstream in etcd, and update it in real time. Other objects such as route, plugin, customer, etc. are uniformly created through dashbord, but according to The above situation I actually tested can not me

[2022-03-02 06:47] FesonX opened #895 "request help: account permission isolation based on etcd url prefix"
### Issue description

The APISIX use etcd as config center with url prefix like '/apisix'.
It support limited role control like admin or viewer.
Means that:
1. Different teams can only use one account for api management.
2. Or use multiple apisix deployment with multiple account without a central dashboard to manage.

I have checked the data in etcd, looks like:
[code]

If we treat `/apisix/*` as

[2022-03-02 08:55] Belyenochi commented on #880
hi @lingsamuel , I tried adding custom registry support.

[2022-03-02 09:29] tao12345666333 commented on #864
I want to know, why not use declarative configuration directly in the Kubernetes environment, but rather a combination of declarative + dashboard? @xuminwlt @marchlhw

[2022-03-02 10:04] tao12345666333 commented on #880
Thanks @Belyenochi

[2022-03-02 11:51] #856 closed

[2022-03-02 12:23] xuminwlt commented on #864
We need a k8s-based service discovery function that can synchronize to the latest service pods information in real time. At present, only ingress has such a function, but the routing and consumer functions of the management side are currently carried out in the dashboard. Based on the current status , which is an optimal choice.

Our implementation process is:
1. The business applies for service a

[2022-03-02 12:47] gxthrj commented on #814
I think the issue is related to https://github.com/apache/apisix-ingress-controller/issues/712, they have similar points:
The `id` in upstream is a string type, but the `id` from upstreams get from the `List` is `int`.
We need to consider the compatibility of this field.

[2022-03-02 13:21] tao12345666333 commented on #836
#845 has been merged. I will close this issue. If you have any question, feel free to reopen it.

[2022-03-02 13:21] #836 closed

[2022-03-02 13:35] tao12345666333 commented on #876
In fact, we recommend setting the APISIX dashboard to be read-only.
It is not safe to manage resources in two ways at the same time

[2022-03-02 13:41] tao12345666333 commented on #895
This is not the goal of this project.

The permissions isolation that is concerned in this project is based on Kubernetes' RBAC approach.

The content in your issue can be solved by deploying multiple sets of APISIX and adding different etcd prefixes to them.

[2022-03-02 13:41] #895 closed

[2022-03-02 14:19] tao12345666333 commented on #814
@gxthrj For #712 I don't think we need to provide compatibility with dashboard upstream resources. The project directly manipulates etcd, and in the new roadmap of APISIX I see that this function will be weakened. Compatible with it probably doesn't make sense.

I have seen some issues recently. Most of the scenarios are to use ApisixUpstream resources to perceive changes in Kubernetes services/en

[2022-03-03 01:37] tb51cx opened #897 "request help: helm安装apisix-ingresscontroller，并且外部ETCD开启了TLS"
### Issue description

helm安装apisix-ingress时，如果用外部ETCD。并且外部ETCD是启用SSL的。那么除了--set etcd.enabled=false和 --set etcd.host以外应该还要指定ca cert 和key请问能给个使用外部ETCD并且ETCD开始SSL的例子吗？

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal envir

[2022-03-03 02:12] drrrMikado commented on #886
It took a while for the problem to occur, so I can't give you the reproduction steps.

Thanks, I will check the Kubernetes environment.

[2022-03-03 07:16] yin6516008 commented on #854
I'm sorry, I won't be free debugging it recently。

apply
[code]

[code]
Why are there no plugin_config_name field？

[2022-03-03 08:38] tao12345666333 commented on #854
@yin6516008  How was your CRD installed?

Can you use this CRD? https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/crds/customresourcedefinitions.yaml

[2022-03-04 01:19] tao12345666333 commented on #864
got it.

[2022-03-04 02:50] tao12345666333 opened #899 "Unified structured log (Gin)"
Currently our logs are not fully structured, there is some log output from Gin[1] that looks like this:

[code]

However, such logs are not structured and are not conducive to our subsequent log collection.
We need to improve it.

[1]: https://github.com/gin-gonic/gin

[2022-03-04 02:58] Belyenochi commented on #899
@tao12345666333  pls assign it to me.

[2022-03-04 02:59] tao12345666333 commented on #899
Thanks! Assigned

[2022-03-04 06:39] yin6516008 commented on #854
![image](https://user-images.githubusercontent.com/23651702/156710894-940aea93-a47f-4921-8810-cfd1e05894dc.png)

I use the latest crd file. but apisixroute dispaly v2beta1.  I delete v2betav1、v2betav2 in the apisixroute, apply the route agin, the plugin_config_name appeared.

Let's ignore the situation above. to pay attention to the following questions
[code]
When I apply this file, apisix-ingress

[2022-03-04 06:41] cmssczy commented on #806
I think not only `endpoint` resource has this problem, other resources such as `apiroute`/`ingress`/`namespce` also have this problem.

[2022-03-04 07:21] tao12345666333 commented on #871
It's duplicate of  https://github.com/apache/apisix-ingress-controller/issues/864
I will close this one, using #864  for track.

[2022-03-04 07:21] #871 closed

[2022-03-04 07:22] tao12345666333 commented on #864
copy from #871  @myselfghost

[2022-03-04 07:22] #863 closed

[2022-03-04 07:23] lihuawei321 opened #900 "request help: 使用apisix代理grpc服务性能较低"
### Issue description

使用apisix代理grpc服务，发现性能较低。发现一个现象：压测POD,对应的端口只有几个TCP链接；但是通过apisix压测试，POD里的有上千条TCP连接。是不是apisix没有复用tcp链接。以下是测试结果：
![image](https://user-images.githubusercontent.com/31987918/156717935-be36476c-62a3-455c-9484-3e1305636d00.png)
有没有可能和k8s的dns请求有关系？
是否有可以优化的地方。

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kube

[2022-03-04 07:30] xianshun163 commented on #873
@tao12345666333 ,   my  crd  yaml config is like below , I define ApisixUpstream and ApisixRoute, is that anything error for my config file?     with the config, the apisix  work   all right, but  except  the err log below print always.
`
2022-03-04T15:15:13+08:00       error   ingress/apisix_upstream.go:130  failed to get service test-env/xss: service "xss" not found
2022-03-04T15:15:13+08:00

[2022-03-04 07:49] tao12345666333 commented on #900
Thanks for you report. The actual traffic proxying is done by APISIX, the APISIX Ingress is the control-plane component. I will move this issue to the APISIX repository.

[2022-03-04 08:18] tao12345666333 commented on #873
#893 will solve the "xxx not found" problem

[2022-03-04 08:20] tao12345666333 commented on #861
This issue has not been updated for too long, I will close it. If you still have problems, please feel free and open it again.

[2022-03-04 08:20] #861 closed

[2022-03-04 10:19] tao12345666333 commented on #806
@cmssczy Thanks, I will reopen this issue.

Let's check it out in more detail.

[2022-03-04 10:20] tao12345666333 commented on #806
@cmssczy Can you help with confirmation?

[2022-03-04 10:31] tao12345666333 commented on #854
The CRD version is the cause of the problem.

This feature was only introduced in the latest version.

As for the second question you mentioned, we will use the #817 for tracking

[2022-03-04 10:37] tao12345666333 commented on #854
In previous versions, it can be configured as follows

[code]

[2022-03-04 10:50] yin6516008 commented on #854
plugins do not meet my needs. I wait for the result of #873

![image](https://user-images.githubusercontent.com/23651702/156749298-0c6a895f-af96-4e64-beae-07ec0bed4d9a.png)
I use  https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/crds/customresourcedefinitions.yaml there are three versions of aipsixroute, they are v2beta1、v2beta2、v2beta3。
![image](https://use

[2022-03-04 11:19] tao12345666333 commented on #854
OK. Other versions are kept for compatibility.

[2022-03-04 12:56] cmssczy commented on #806
Confirm what resources are related to this issue? @tao12345666333
I will take a look this weekend.

[2022-03-04 15:20] tao12345666333 commented on #806
yep, thanks!

[2022-03-04 15:35] tao12345666333 commented on #71
use #644  instead

[2022-03-04 15:35] #71 closed

[2022-03-04 15:46] tao12345666333 commented on #481
ref: #880

[2022-03-04 15:50] tao12345666333 commented on #500
I will close this one , use #873 for track. thanks.

[2022-03-04 15:50] #500 closed

[2022-03-04 16:02] tao12345666333 commented on #518
This will look cleaner and correspond to `client`.

But we need to consider compatibility when modifying.

[2022-03-04 16:06] tao12345666333 commented on #659
This issue has not been updated for too long, and based on current testing and some feedback, the issue has been fixed. I will close it.  If you still have this problem, please feel free to reply or reopen it.

[2022-03-04 16:06] #659 closed

[2022-03-04 16:08] tao12345666333 commented on #538
This issue has not been updated for too long, I will close it. If you continue to experience this problem, please feel free to reopen it.

[2022-03-04 16:08] #538 closed

[2022-03-04 16:10] tao12345666333 commented on #843
This issue has not been updated for too long, I will close it. Please feel free to reopen it if needed.

[2022-03-04 16:10] #843 closed

[2022-03-04 16:17] tao12345666333 commented on #767
I edited the title to make it more clear. Maybe we just need to add some annotations to support it.

[2022-03-04 16:20] tao12345666333 commented on #773
#893 will fix it.
And #899 will unify the logs.
I will close this one. Using #893 and #899 for track.

[2022-03-04 16:20] #773 closed

[2022-03-04 16:24] tao12345666333 commented on #744
I modified the title and this has been added to the roadmap.

Can you describe your scene?

[2022-03-04 16:25] tao12345666333 commented on #787
This issue has not been updated for too long, I will close it, if you still have problems please feel free to reopen it.

[2022-03-04 16:25] #787 closed

[2022-03-05 11:03] cmssczy commented on #806
I think the resources (located in `/pkg/ingress/xxx.go`.) that follow the logic below will be affected.
[code]
 These resources include `ApisixClusterConfig`/`ApisixConsumer`/`ApisixPluginConfig`/`ApisixRoute`/`ApisixTls`/`ApisixUpstream`/`endpoints`/`Gateway`/`Ingress`/`Namespace`/`Secret`.

`endpointSlice` resource is not affected because we get the latest ep everytime instead of using the objec

[2022-03-05 13:37] tao12345666333 commented on #806
This situation can happen.  Adding double-checking might be more safer,  what do you think? @lingsamuel @gxthrj @tokers

[2022-03-06 03:29] tokers commented on #806
If I am correct, we don't save the updated object when we get the update event, instead, we save the key and fetch the object when we handle it, so even we handle an old event, we still get the newest object and we can compare the `ResourceVersion` so that stale update can be avoid.

[2022-03-06 11:31] gxthrj commented on #806
After checking the code in `endpointController`, [here](https://github.com/apache/apisix-ingress-controller/blob/master/pkg/ingress/endpoint.go#L136) is strange ，why using `==` here? It should be `>=`.

[2022-03-06 12:05] tokers commented on #806
Yes.

[2022-03-06 12:26] lingsamuel commented on #806
IIRC what we enqueued is the meta key, is this really happened?

[2022-03-06 13:53] gxthrj commented on #814
Yes, That is true.

[2022-03-06 13:56] gxthrj commented on #814
If that, we can not resolve this issue and #712. What is the plan about this issue?

[2022-03-06 13:58] #781 closed

[2022-03-06 14:02] gxthrj commented on #744
I don't think this is a high priority.  What do you think?

[2022-03-06 14:03] tao12345666333 commented on #814
As I said above, there will not be full support for the scenarios mentioned by #712.

But we can consider using APISIX Ingress to define ApisixUpstream, and route resources are maintained by others.

[2022-03-06 14:06] gxthrj commented on #814
OK, I see, so the `ApisixUpstream` resource will be supported frist.

[2022-03-06 14:14] tao12345666333 commented on #806
yes.

Stability is one of the roadmaps of APISIX Ingress, I think we need to check the existing code and fix some bugs.

The processing logic of resources can be unified or optimized.  As mentioned in the previous issue, the handling of events can also be optimized, like #893

[2022-03-06 14:22] tao12345666333 commented on #744
Yes. I need more feedback.  No specific feedback on this issue has been seen so far

[2022-03-06 14:26] tao12345666333 commented on #814
Yes. I've seen a lot of feedback on that issue.

[2022-03-06 15:34] cmssczy commented on #806
Should we submit a PR to fix this first?

[2022-03-06 16:48] fracarvic commented on #744
I would like to use this feature to improve security ( limit connections, geoip) to my private imap server exposed throught apisix. Currently I can't attach plugins to an ApisixRoute like this:

[code]

[2022-03-07 00:54] tokers commented on #806
Sure, PR's welcome!

[2022-03-07 01:07] tao12345666333 commented on #744
Thanks for your information

[2022-03-07 08:57] lihuawei321 opened #903 "request help: 代理grpc服务性能低"
### Issue description

当我使用apisix代理grpc服务进行性能测试的时候，发现性能较低
![image](https://user-images.githubusercontent.com/31987918/156999259-ce167c01-6926-48f4-8e4b-7f30a7159e72.png)
并且发现一个现象：压测pod时候，对应端口只有几个TCP连接，但是通过apisix压测时候，pod里有上千条TCP连接，是因为没有复用tcp连接吗。
还是和k8s环境有关系啊，有什么可以优化的地方吗？

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernete

[2022-03-07 09:31] nic-chen commented on #903
hi, here is your prev issue:
https://github.com/apache/apisix/issues/6511

could you please provide some detail? thanks

[2022-03-07 15:48] #806 closed

[2022-03-08 00:50] #880 closed

[2022-03-08 00:51] lingsamuel commented on #481
Resolved by #896

[2022-03-08 00:51] #481 closed

[2022-03-08 01:01] lingsamuel opened #905 "docs: merge contribute.md and development.md"
These two documents seem to play the same role. And the contribute.md doesn't mentioned the development.md, but it is the default contributing guide linked in project README.

Goals:
1. Move "How to contribute" and "How to report a bug" to README.
2. Merge "How to add a new feature or change an existing one" with development.md
3. Rename development.md to contribute.md

Discussion is welcome.

[2022-03-08 01:12] lingsamuel opened #906 "docs: add pre-commit todo in the development guide"
i.e. `update-license update-mdlint update-gofmt` in Makefile.

[2022-03-08 02:28] tao12345666333 commented on #903
Please add more information to your previously submitted issue https://github.com/apache/apisix/issues/6511

I will close this one.

[2022-03-08 02:28] #903 closed

[2022-03-08 02:30] #810 closed

[2022-03-08 05:45] jwrookie commented on #906
Can you assign it to me?

[2022-03-08 06:10] zlhgo commented on #775
还是希望能加上这个功能。比如把标签同步到 apisix 后，可以在access_log里多加一些group,project相关的日志信息，这样更方便告警时通知对应项目的负责人。谢谢！

[2022-03-08 06:22] jwrookie commented on #906
Can you assign it to me?

[2022-03-08 06:53] lingsamuel commented on #906
@jwrookie Assigned, thanks!

[2022-03-08 06:59] tao12345666333 commented on #321
Kind reminder, is there anything I can help you  @Belyenochi

[2022-03-08 07:19] tao12345666333 commented on #775
Are your alerts log-based rather than metrics-based?
Sounds like this would bring some convenience, but so far I haven't seen other similar feedback.

[2022-03-08 07:59] zlhgo commented on #775
都有可能。

[2022-03-08 10:12] cmssczy opened #908 "bug: apisix-controller will watch all namespace when no namespaces match namespaceSelector"
### Issue description

I set `namespace_selector: ["apisix.ingress=watching"]` in conf.yaml before I start the apisix-ingress-controller. And there are no namespaces can match this label. So I think what we want is that the controller would **not** watch any namespaces.  But in fact it watch all the exsiting namesapces(default/kube-system/kube-public...).

I check the code and find that it will li

[2022-03-08 10:14] Belyenochi commented on #744
can i try to add this feature?

[2022-03-08 11:08] tao12345666333 commented on #744
Sure! Thanks

[2022-03-09 01:43] #906 closed

[2022-03-09 03:06] #899 closed

[2022-03-09 03:36] tao12345666333 commented on #908
Thanks！ I think this issue has been discussed before.
cc @gxthrj @tokers @lingsamuel

[2022-03-09 05:47] cmssczy commented on #908
[code]
Is this the right way?

[2022-03-09 07:27] gxthrj commented on #908
This way is more reasonable.

[2022-03-09 09:26] tao12345666333 commented on #908
ref:
[bug: The newly created namespace will not be watched · Issue #741 · apache/apisix-ingress-controller](https://github.com/apache/apisix-ingress-controller/issues/741)

[fix: ingress do not watching any namespace when namespaceSelector is empty by gxthrj · Pull Request #742 · apache/apisix-ingress-controller](https://github.com/apache/apisix-ingress-controller/pull/742)

[feat: add label-selec

[2022-03-09 09:54] cmssczy commented on #908
I think this is the right way to solve this problem.  We should put all exsiting namespaces in `watchingNamespaces` only when both `c.watchingNamespaces` and `c.watchingLabels` are empty.

[2022-03-09 10:42] dantegarden opened #911 "apisix-ingress-controller can't run on k8s 1.16"
我在我的本地k8s集群上，参考本仓库的minikube部署方式的文档，使用helm install最新的apisix-ingress-controller：
[code]
部署完成后，我看到集群中包含以下资源：
[code]

之后，我尝试创建一个deployment和service，并使用apisix-route暴露服务：
[code]
route.yaml：
[code]
我在我的笔记本上修改hosts，使**local.httpbin.org**指向随便一台集群节点。
然后通过浏览器访问 **local.httpbin.org**，返回 **ERR_CONNECTION_REFUSED**。

此前，我的k8s集群中已经安装了**ingress-controller**，并可以正常工作。
我通过删除**ingress-controller**的daemonset使其释放了80和443

[2022-03-09 11:31] zlhgo opened #912 "bug: Structured log field types are not uniform"
### Issue description

ApisixRoute update event arrived, new object and old object are empty in log.

[code]

Inconsistent data types will cause elasticsearch write failures

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
Version: master branch
Git SHA: 1159522
Go Version: go1.17.2
Building OS/Arch: linux/amd64
Running OS/Arch: linux

[2022-03-09 15:33] Belyenochi commented on #744
@tao12345666333, I found that there is a Golang CRD definition for Stream Route, but I did not find the corresponding Stream Route CRD yaml under samples/deploy/crd/v1. Is there any historical reason for this?

[2022-03-10 00:36] tao12345666333 commented on #912
Apart from this log, are there any other logs with a similar situation?

[2022-03-10 00:40] tao12345666333 commented on #911
You can modify its configuration.

https://github.com/apache/apisix-ingress-controller/blob/75098d1e4b26136de3164a3aabd6ed018ffdcd6b/conf/config-default.yaml#L68-L70

[2022-03-10 00:46] lingsamuel commented on #908
Agreed. When the selector is not empty, it is more semantic to watch nothing.

[2022-03-10 02:05] zlhgo commented on #912
Only this one has now been found.

[2022-03-10 02:45] tao12345666333 commented on #912
@zlhgo Are you interested in helping to improve it?

[2022-03-10 03:24] zlhgo commented on #912
Please give me some advice though.

[2022-03-10 03:56] dantegarden commented on #911
感谢回复。
按照您的提示，我将`configmap`中的ingress apiVersion修改为`extensions/v1beta1`，apisix-ingress-controller不再报`Failed to watch *v1.Ingress`。
但是我通过浏览器访问 `local.httpbin.org`仍然显示 `ERR_CONNECTION_REFUSED`，并没有解决问题。
我有一些疑惑：
1. apisix是否可以独立工作，是否需要安装nginx-ingress？
2. deployment，service，apisixroute是否必须创建在apisix-ingress命名空间下？
3. 我发现无论apisix还是apisix-ingress-controller都没有占有80和443端口，我部署后产生的资源是否完全，是否缺少别的资源？

[2022-03-10 04:22] Belyenochi opened #913 "bug: apisix-ingress-controller start panic"
### Issue description

apisix ingress controller start panic

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
1.4.0(master branch)
- your Kubernetes cluster version (output of kubectl version):
1.16.9
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a):
Darwin MacBook-Pro.local 19.5.0

[2022-03-10 05:16] tao12345666333 commented on #913
Can you check the commit id?

[2022-03-10 05:47] shuaijinchao opened #914 "docs: deploy go runner in apisix Ingress controller"
### Issue description

Currently there is no standard way to deploy GoRunner in APISIX Ingress Controller in the documentation, I think we should supplement relevant documentation.
I'm not sure if this issue is better created in the current project or in apisix-helm-chart, please help move if there is a problem.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-c

[2022-03-10 06:38] Belyenochi commented on #913
75098d1

[2022-03-10 06:39] Belyenochi commented on #913
I don't know if starting two ingress controllers is what's causing the problem, there is already an apisix ingress controller in the cluster before I start it locally.

[2022-03-10 06:46] Belyenochi commented on #913
I found a fact that the CR I created is v2beta1, but can be obtained from the List method of ApisixV2Beta3, maybe the incompatible Beta1 and Beta3 CRD formats are causing the problem.

[2022-03-10 06:51] Belyenochi commented on #913
Maybe we should update [this document](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/concepts/apisix_route.md).

[2022-03-10 07:01] tao12345666333 commented on #913
`spec.http[].backend` has been removed. we should use `spec.http[].backends` .

[2022-03-10 07:15] tao12345666333 opened #915 "docs: Update apiversion in documentation."
Currently APISIX Ingress controller has upgraded the default supported custom resource version to `v2beta3` ,but our documentation is a bit outdated.

We need to upgrade the `v2beta1` or `v2beta2` used in these documents to `v2beta3`.

[2022-03-10 07:19] tao12345666333 commented on #913
Here's a configuration that determines how to handle CRs. The CR version you are using needs to be the same as here.

https://github.com/apache/apisix-ingress-controller/blob/75098d1e4b26136de3164a3aabd6ed018ffdcd6b/conf/config-default.yaml#L73-L74

Sure, I have created an issue, it is suitable for newbies to get involved in this project https://github.com/apache/apisix-ingress-controller/issues/9

[2022-03-10 07:24] Belyenochi commented on #915
if no one else, pls assign it to me.

[2022-03-10 07:29] tao12345666333 commented on #913
I think we can close this one.

* This problem can be solved after modifying the configuration.
* And  `v2beta1` will be removed soon, xref: #820

[2022-03-10 07:30] #913 closed

[2022-03-10 07:31] tao12345666333 commented on #915
Sure, thanks!

[2022-03-10 08:40] tb51cx opened #917 "request help: apisix-ingress-controller一直初始化"
### Issue description

helm安装命令如下

helm install apisix-ingress-controller apisix/apisix-ingress-controller  \
--set gateway.type=NodePort \
--set ingress-controller.enabled=true \
--namespace ingress-apisix \
--set ingress-controller.config.apisix.serviceNamespace=ingress-apisix \
--set etcd.enabled=false \
--set etcd.auth.tls.enabled=true \
--set etcd.host={https://172.18.188.205:2379\,https://17

[2022-03-10 08:41] Belyenochi commented on #912
Could you provide a way to reproduce it, maybe I can fix this problem.

[2022-03-10 09:32] tb51cx commented on #917
kubectl logs -f apisix-ingress-controller-5b89f5c67b-hcprv -c wait-apisix-admin -n ingress-apisix
waiting for apisix-admin
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'

[2022-03-10 12:30] cmssczy commented on #908
[code]
It could solve this problem after add `len(c.watchingLabels) == 0`.  I'd like to fix this If you think it's okay. @tao12345666333 @gxthrj @lingsamuel

[2022-03-11 01:37] #915 closed

[2022-03-11 02:27] lingsamuel commented on #908
I assume that the new behavior is accepted. This could be a breaking change for some environments.
I have assigned this issue to @cmssczy

/cc @tao12345666333 @gxthrj

[2022-03-11 03:15] tao12345666333 commented on #908
Yes, this is a breaking change.  But it's also valuable and I think we should make changes.

[2022-03-11 03:20] tao12345666333 commented on #908
@cmssczy This modification is required, and some comments or documentation may need to be modified.  Also need to check other related sections

[2022-03-11 06:24] cmssczy commented on #908
I will check it. Thanks for remind.

[2022-03-11 08:52] cmssczy commented on #908
what is the difference between `app_namespaces` and `namespace_selector` in `config-default.yaml`?  It seems that `app_namespaces` is outdated.

[2022-03-14 03:07] zlhgo commented on #912
Hi, just run the latest code directly.

[2022-03-14 14:52] Belyenochi commented on #912
Thanks.

[2022-03-15 10:00] dantegarden opened #921 "How to use apisix-python-plugin-runner with apisix-ingress"
我在k8s集群中部署了Apisix Ingress 2.12.1，apisix可以正常工作。
我想写一个自定义插件用于实现特殊的鉴权逻辑，通过参考[apisix-python-plugin-runner](https://github.com/apache/apisix-python-plugin-runner)的master分支，写了一个自定义插件的demo：
[code]

然后我重新制作了apisix镜像，Dockerfile如下：
[code]

我将helm template中的镜像改完新制作的镜像，并修改configmap，使config.yml增加：
[code]

随后我重新`helm install apisix`，pod可以正常启动，原本的apisixroute也可以正常代理流量。

我尝试创建一个ApisixRoute，并使用我的自定义插件：
[code]
此时访问

[2022-03-16 01:04] #905 closed

[2022-03-16 01:31] tao12345666333 commented on #921
Thanks for your report. Let me check it.

[2022-03-16 06:13] tao12345666333 commented on #911
Yes, we don't need nginx-ingress.

No,  APISIX ingress controller will watch all namespaces by default. You should keep service and ApisixRoute in same namespace only.

The actual traffic is proxied by APISIX.

[2022-03-16 07:29] dantegarden commented on #921
Thanks. Please let me know if there is any progress

[2022-03-16 08:11] #911 closed

[2022-03-16 08:26] Belyenochi opened #922 "[DISCUSS] support automatic Ingress configuration for Service in Apisix-ingress-controller"
@tao12345666333 Do we have plans to support automatic generation of Ingress (by identifying the annotation field of the service) to reduce the cost of use for users.Maybe I can do a version design and send a PR if needed.

[2022-03-16 08:39] Belyenochi commented on #891
I observed that APISIX has plans to support XDS to adapt to Servicemesh like istio, whether APISIX-ingress needs to do similar support.

[2022-03-16 10:48] tao12345666333 commented on #922
I think we need to discuss it carefully. I will add my opinion later

[2022-03-16 13:11] cmssczy commented on #767
I want to try to implement this. Plz assign to me.

[2022-03-16 14:17] tao12345666333 commented on #891
@Belyenochi It will be an independent project, APISIX Ingress will not need to be modified

[2022-03-17 12:33] dantegarden commented on #921
我再提供一些线索。
我在apisix ingress之上部署了dashboard，通过观察dashboard，我发现当创建以下内容的apisixroute时，在dashboard的路由列表中无法看到新创建的apisixroute。似乎apisix本身并没有成功添加这条路由规则，因此在访问时返回了404。
[code]

而当我将上面内容的spec.http.plugins[0].enable改为false时，重新创建apisixroute，新的路由便出现在了dashboard的列表中。
看起来像是plugins字段导致了路由未能添加成功，然而这些并没有在apisix warn级别的日志中发现。

那么apisixroute中的plugins应该如何配置，才能使用我的apisix-python-plugin-runner中的自定义插件？

[2022-03-17 13:14] cmssczy opened #924 "bug: panic when apisixRoute resource's backends is not existed"
### Issue description

Create a ApisixRoute resource before start the apisix-ingress-controller and set the `backends` with a nonexistent service name. Then start the apisix-ingress-controller  and it will panic.

The root cause is the failure of type assertion.
https://github.com/apache/apisix-ingress-controller/blob/c9e0c965cd2226e2c44aa4e692a8bf57d1586aa3/pkg/ingress/apisix_route.go#L267

Actua

[2022-03-17 18:43] tao12345666333 commented on #921
Can you look at the logs output by apisix-ingress-controller?

[2022-03-18 01:25] tao12345666333 commented on #924
Thanks for your feedback, after I reproduced, I submitted a PR to fix it.

I'll answer your question about why we designed it this way later

[2022-03-18 01:58] dantegarden commented on #921
ok，I found error message in apisix-ingress-controller logs
[code]

[2022-03-18 05:51] tao12345666333 commented on #921
you need restart APISIX pod. It can't update automatically

[2022-03-18 08:34] tao12345666333 commented on #645
I've recently spent a lot of time understanding your actual needs and writing a detailed proposal. I'll post on the mailing list and GitHub later, and we'll discuss how to implement it.

IIRC, this feature is not included in all current Ingress controller implementations. This will be a huge feature.

[2022-03-18 08:59] tao12345666333 opened #926 "bug: we should create APISIX routes even if Service is created later"
@cmssczy  This change is to fix the #810 and was introduced in #893

**This does cause some problems.**

For example, create an ApisixRoute first, which references a service that does not exist.
But when a Service is created, the APISIX Ingress controller can't actually create a route.

_Originally posted by @tao12345666333 in https://github.com/apache/apisix-ingress-controller/issues/925#issuecom

[2022-03-18 09:05] #924 closed

[2022-03-18 09:12] tao12345666333 commented on #853
I will close this issue. Thanks for your report.

And I will fix #870  ASAP, it's on my list.

[2022-03-18 09:12] #853 closed

[2022-03-18 14:10] dantegarden commented on #921
Ok，the problem was sloved when I add `ext-plugin-pre-req` to `config.yml` and redeploy apisix-ingress. Thanks.

[2022-03-18 14:11] #921 closed

[2022-03-21 09:33] tao12345666333 commented on #926
@cmssczy Are you interested in fixing this problem?

[2022-03-21 09:35] tao12345666333 opened #927 "Proposal: support external name service"
I have seen some voices in the community, hoping that APISIX Ingress can proxy external services e.g: #813 #645

For these two types of requirements, it is a relatively simple requirement for #645, we only need to add the corresponding External name type service to complete.

But for #645 , I found a very interesting situation. No other Ingress controller implements similar functionality yet, and

[2022-03-21 11:18] elvis-cai commented on #927
+1, multi external url support with active health check and upstream node pass is the major block before we rollout Apisix ingress controller in all of our kubernetes clusters.
It’s quite common for an organisation to expose services internally or externally in hybrid environment without the boundaries of kubernetes cluster concept, you can easily have your apps running in serverless platform, kub

[2022-03-21 12:06] cmssczy commented on #926
I think we should discuss a plan first.

IMO, first we should return `nil` if we got an `ApisixRoute` with no backends existed.
https://github.com/apache/apisix-ingress-controller/blob/2178857fbe2608cec1dc8ce5b1e0ec232568b375/pkg/kube/translation/util.go#L37-L41

Then we need a `service` controller to list/watch `update/create/delete` event which will be used to apply to apisix admin API.(maybe ne

[2022-03-21 12:06] gxthrj commented on #927
I think the feature is useful,
If we can configure `external name type service` in ApisixUpstream resource as a node of upstream object in APISIX，we can use `health check` feature between external services.

[2022-03-21 12:54] gxthrj commented on #908
Yes, `app_namespaces` is outdate.

[2022-03-21 16:08] tao12345666333 commented on #927
In order for us to reach an agreement as soon as possible, I will give a more detailed design ASAP.

[2022-03-22 04:15] tao12345666333 commented on #707
Update:

I think we can drop the v2beta1 support when the v2 API version is introduced in v1.5. This makes the whole easier to maintain.

[2022-03-22 10:05] xianshun163 commented on #854
@yin6516008 @tao12345666333   I  have the same problem. Could you tell me  how to  delete the  v2beta1 and v2beta2?

[2022-03-22 10:20] tao12345666333 commented on #854
You can modify the CRD configuration to remove unwanted versions

[2022-03-22 11:18] xianshun163 commented on #854
@tao12345666333    use the ApisixPluginConfig , make the apisix ingress controller  panic:

W0322 19:03:41.005468       1 reflector.go:441] pkg/mod/k8s.io/client-go@v0.22.4/tools/cache/reflector.go:167: watch of *v2beta3.ApisixPluginConfig ended with: an error on the server ("unable to decode an event from the watch stream: unable to decode watch event: no kind \"ApisixPluginConfig\" is registered

[2022-03-22 12:33] tao12345666333 commented on #854
@xianshun163 what's your APISIX Ingress version? In the current master branch, we have fixed some issues related to ApisixPluginConfig

[2022-03-23 02:57] xianshun163 commented on #854
my apisix ingress version is 1.14

[2022-03-23 03:29] #908 closed

[2022-03-23 03:51] tao12345666333 commented on #813
Sorry, I did not remember correctly, we don't currently support this capability. I submitted a Proposal #927  to support this capability. We will implement this feature as soon as possible.

I will close this issue, let's track it with #927 Thanks!

[2022-03-23 03:51] #813 closed

[2022-03-23 03:55] tao12345666333 commented on #120
We have removed the ApisixService resource.

Using ApisixRoute and ApisixUpstream is closer to the concept of APISIX itself, and the learning cost for users is lower.
I recommend keeping the current ApisixRoute and ApisixUpstream

[2022-03-23 04:08] Belyenochi commented on #922
@tao12345666333 tao, I mean like this [repo](https://github.com/Belyenochi/Automatic-Ingress).

[2022-03-23 04:18] tao12345666333 commented on #136
For stateless deployment mode, let's use #610 for tracking.

In a Kubernetes environment we recommend using declarative configuration, but APISIX Dashboard does not include this capability. This aspect is not in the roadmap of the APISIX Ingress project. I will close this issue, thanks

[2022-03-23 04:18] #136 closed

[2022-03-23 04:37] tao12345666333 commented on #234
Do you mean sync from APISIX to APISIX Ingress controller?

[2022-03-23 04:38] tao12345666333 commented on #278
+1

This issue has not been updated for too long, I will close it

[2022-03-23 04:38] #278 closed

[2022-03-23 04:45] tao12345666333 commented on #427
You can try deploying with the new version and see if the problem persists.

I'll close this issue because it's been too long. If your issue is not resolved, feel free to reopen it, or create a new issue.

Thanks for your report.

[2022-03-23 04:45] #427 closed

[2022-03-23 04:46] tao12345666333 commented on #436
This issue has not been updated for too long, I will close it. If your issue is not resolved, feel free to reopen it, or create a new issue

[2022-03-23 04:46] #436 closed

[2022-03-23 04:49] tao12345666333 commented on #444
I have not reproduced locally.

And this issue has not been updated for too long, I will close it. If your issue is not resolved, feel free to reopen it, or create a new issue. Thanks!

[2022-03-23 04:49] #444 closed

[2022-03-23 04:49] tao12345666333 commented on #464
This issue has not been updated for too long, I will close it. If your issue is not resolved, feel free to reopen it, or create a new issue. Thanks!

[2022-03-23 04:49] #464 closed

[2022-03-23 04:52] tao12345666333 commented on #475
#447 has been merged. I think we can close this one.

Thanks!

[2022-03-23 04:52] #475 closed

[2022-03-23 05:03] tao12345666333 commented on #523
Can you provide more detailed information?

[2022-03-23 05:04] tao12345666333 commented on #547
LGTM

[2022-03-23 05:07] tao12345666333 commented on #743
I think that question has been answered. i will close it

[2022-03-23 05:07] #743 closed

[2022-03-23 07:56] tao12345666333 opened #929 "docs: remove ApisixRoute v2beta1"
Currently, we are planning to remove support for the v2beta1 version #928
Documentation also needs to be updated.

[code]

[2022-03-23 07:58] Chever-John commented on #929
Pls assign to me:)

[2022-03-23 07:59] tao12345666333 commented on #929
Assigned. Thanks!

[2022-03-23 08:58] #929 closed

[2022-03-23 09:06] tokers commented on #234
It means syncing data to APISIX periodically.

[2022-03-23 09:06] tokers commented on #234
LGTM, would you like to submit a PR?

[2022-03-23 10:01] tao12345666333 commented on #234
This means that inconsistencies between data in APISIX and custom resources for other reasons can be avoided

[2022-03-23 11:40] cmssczy commented on #908
I will send a pr to fix it.

[2022-03-23 12:04] cmssczy commented on #908
Do we plan to delete `app_namespaces` paremeter in `conf/config-default.yaml` in next version? I'd like to fix this If so.

[2022-03-23 12:54] tao12345666333 commented on #908
@cmssczy yes, please! Thanks

[2022-03-24 00:43] tokers commented on #234
Yes.

[2022-03-24 00:44] tokers commented on #234
Even Kubernetes Controller Manager has this functionality.

[2022-03-24 00:57] tao12345666333 commented on #854
@xianshun163 Can you give me a minimal steps to reproduce?

[2022-03-24 08:03] tao12345666333 commented on #678
I think we can close this one.

[2022-03-24 08:03] #678 closed

[2022-03-24 08:07] tao12345666333 opened #932 "CI: Split e2e test cases to reduce overall time consumption"
Currently, it takes more than an hour to run a complete e2e test case, which is a bad experience both for the developer experience and for the development progress.

Although we can specify to run specific test cases before submitting code, in a CI environment, we want to run all cases in full to ensure the quality of our code.

I suggest that we can split and run the current test cases to reduce

[2022-03-24 08:20] tao12345666333 commented on #729
Did you try the new version? I can't reproduce your problem.

This issue has not been updated for too long and I will close it.
If you're still having this problem, please feel free to reopen it.

[2022-03-24 08:20] #729 closed

[2022-03-24 09:45] xianshun163 commented on #854
I  can not do it  again  just  now because the env is used by others.  I wil  goto deploy another k8s env to reproduce it  later.

[2022-03-24 10:06] Chever-John commented on #321
Hi, I want to continue this issues about add test cases for prometheus plug-in.
If you(@Belyenochi ) are still in this issues or finish it a while, please tell me in time.
I plan to finish this in five days. @tao12345666333

[2022-03-24 10:07] tao12345666333 commented on #321
👌 thanks

[2022-03-24 10:32] Belyenochi commented on #321
Thanks, please continue, sorry for not updating the status in time.

[2022-03-24 10:40] tao12345666333 commented on #321
@Belyenochi Don't worry, thanks for your continued contributions

[2022-03-24 11:40] tao12345666333 commented on #854
thanks

[2022-03-25 01:53] PGDream opened #934 "request help: apisix/cluster.go:343 cluster default now is ready, cost time 608.392498ms"
### Issue description

i see https://github.com/apache/apisix-ingress-controller/pull/872  merged to master, pull master branch to local and build dockerfile,docker mirrors address: zengqiang/apisix-ingress-controller:1.4.1, `restart install apisix-ingress-controller error log`:

[code]

### Environment

- k8s 1.20.11-aliyun.1
- apisix 2.12
- apisix-ingress-controller 1.4

[2022-03-25 01:59] xianshun163 opened #935 "Is that any way to set the node priority as it do in the admin api?"
### Issue description

the function is  like  the nginx  config:
upstream server_tomcat1 {
server 127.0.0.1:9001 weight=1 max_fails=5  fail_timeout=60s;
server 127.0.0.1:9010 weight=1  max_fails=5  fail_timeout=60s backup;
}

And  the apisix  admin api doc  like below:
https://apisix.apache.org/docs/apisix/admin-api

Note:
Each node can be configured with a priority. A node with low priority will

[2022-03-25 03:07] tao12345666333 commented on #934
Have you created some custom resources?

[2022-03-25 03:14] tao12345666333 commented on #935
In fact in Kubernetes, our backends are Pods, and they don't actually make any difference.

But we do have a way to do what you need (if you really need it)
You can use subset to achieve this. Please refer to https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/features/subset.go

[2022-03-25 05:47] PGDream commented on #934
NO , not create CRD
default with ingress

[2022-03-25 06:17] xianshun163 commented on #935
ok， I will try it later  thanks.

[2022-03-25 06:17] #935 closed

[2022-03-25 06:26] tao12345666333 commented on #934
Is there any special configuration? Is it possible to provide steps to reproduce

[2022-03-25 08:26] xianshun163 commented on #854
@tao12345666333

my env
k8s：v1.19.3
apisix： 2.11.1
apisix ingress controller： helm install apisix-ingress-controller apisix/apisix-ingress-controller --version=0.9.0 --namespace ingress-apisix --set config.kubernetes.ingressVersion=networking/v1beta1 \
 --set config.apisix.serviceName=apisix-gw-lb  --set config.apisix.serviceNamespace=default --set config.apisix.servicePort=9080 --set config.logLe

[2022-03-25 09:04] xianshun163 opened #936 "what is the best practices for plugin configuration shared by multiple services in apisixingress"
### Issue description

what is the best practices for plugin configuration shared by multiple services in apisixingress?

when I use dashboard  or  admin api  I  found it can do like this:
1、use the  public service  when  config a route:
![image](https://user-images.githubusercontent.com/32457473/160088583-afe62250-4793-403f-af39-30635b246354.png)

2、use the  plugin template when config a route:
!

[2022-03-26 00:36] tao12345666333 commented on #854
thanks， let me check

[2022-03-26 00:37] tao12345666333 commented on #936
Thanks for your feedback, I'll try to reproduce your problem first

[2022-03-26 03:56] liujiabaoaa opened #938 "docs: the-hard-way doc is out of date."
### Issue description

根据该文档进行安装部署。https://apisix.apache.org/zh/docs/ingress-controller/practices/the-hard-way

其中apisix部署没有问题。
部署到apisix ingress controller的时候 启动apisix ingress controller的deployment的pod的时候启动报错

bad configuration: apisix base url is required

部署了apisix的service的啊。configmap里面配置的有这些 都没有错的
    apisix:
      default_cluster_base_url: "http://apisix-admin.apisix:9180/apisix/admin"

[2022-03-26 14:10] tao12345666333 commented on #938
This documentation is out of date.  Please note that the current latest version is v1.4.

The image used in your above configuration is 0.5.

The most recommended way is to install directly using Helm, which is the only way we currently maintain.

[code]

[2022-03-26 14:18] tao12345666333 commented on #938
You can try to modify the image to the latest version, and submit a PR to update this document after the deployment is successful, thank you

[2022-03-26 14:18] liujiabaoaa commented on #938
是的。我后来也发现了。我有个问题想请教下。apisix和apisix ingress controller版本的对应关系 在哪里呢？

[2022-03-26 14:23] tao12345666333 commented on #938
The error is due to the fact that when we introduced the default configuration option default_cluster_base_url , all relevant content was modified globally, but the rest of this document was not updated

[2022-03-26 14:28] liujiabaoaa commented on #938
I tried to modify the version of apifix ingress controller again. The version of the image is 1.4.0, which has been solved.
What I want to know is whether there is a corresponding relationship between the version of APIs IX and the mirrored version of APIs IX ingress controller.

[2022-03-26 14:30] tao12345666333 commented on #938
In README

Prerequisites

In fact, their correspondence is maintained in the Helm chart

[2022-03-26 14:34] liujiabaoaa commented on #938
well. got it. Because I want to understand the process by manually installing yaml files for the first time. Although helm is simple, he didn't understand it very well at first.

[2022-03-27 14:52] gxthrj commented on #120
OK, let's close this stale discussion.

[2022-03-27 14:52] #120 closed

[2022-03-28 01:07] tao12345666333 commented on #926
This feature is useful and we will not stop supporting it

[2022-03-28 01:11] tao12345666333 commented on #926
Maybe we can discuss it at the community meeting on Wednesday

[2022-03-28 03:08] cmssczy commented on #926
we should create an apisix `upstream` with an empty `nodes` when user creates a `ApisixRoute` with a non-existent `service`.
I write a demo for this solution. PTAL, https://github.com/cmssczy/apisix-ingress-controller/commit/3a729d9927d10481403ea0f5169c9a12b450fd8d

[2022-03-28 04:37] tao12345666333 commented on #926
Creating an empty Upstream sounds good.
In this way, when the Service is actually created, we can update it again.
WDYT @lingsamuel @gxthrj

[2022-03-28 13:29] xianshun163 opened #940 "how to start this controller in goland ide"
### Issue description

![image](https://user-images.githubusercontent.com/32457473/160407758-ddd39e16-16fa-4462-b03b-7bbf67299719.png)

I  use the goland  ide  and  start it with the  program  arguments like this :
ingress --kubeconfig D:\dev\config --http-listen :8080 --log-output stderr --default-apisix-cluster-base-url http://172.16.11.15:30980/apisix/admin --default-apisix-cluster-admin-key ed

[2022-03-28 13:36] alf5 opened #941 "bug: ingress controller pod crashes when ingress is deleted"
### Issue description

Pod crashes when ingress resource is deleted (i.e. kubectl delete ingress http-bin).

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
[code]
- your Kubernetes cluster version (output of kubectl version): `1.21.1` - running in a kind cluster

- if you run apisix-ingress-controller in Bare-metal environment, also

[2022-03-29 01:39] tao12345666333 commented on #941
Thanks for your report. It has been fixed https://github.com/apache/apisix-ingress-controller/pull/872

It will be released in v1.5 this month.

You can use the latest code in the master branch for testing. Or wait for v1.5 to be released.

[2022-03-29 01:39] #941 closed

[2022-03-29 01:45] tao12345666333 commented on #940
Sorry I have no experience with IDEs. I only use Vim.

Usually, if you want to start outside the Kubernetes cluster, you would use the following command:

[code]

Your above parameters seem to be fine.

[2022-03-29 02:42] xianshun163 commented on #940
ok, thanks

[2022-03-29 08:12] #940 closed

[2022-03-29 09:17] xianshun163 commented on #854
@tao12345666333
I have  know why the pluginconfig is not  effect in the route,

becarse the apisix ingress controller  who was deploy by helm  use the v2beta1 default.
I  redeploy  it  and add the parameter:  --set config.kubernetes.apisixRouteVersion=apisix.apache.org/v2beta3
is ok now.

the route is like below,  it  have a  plugin_config_id , and it work well.

{
  "uris": [
    "/arch/xsapp/*"

[2022-03-29 11:55] xianshun163 commented on #854
@tao12345666333
After I updated the apisix ingress controller according to the above steps, a seemingly serious problem occurred。
All my routes have been added a configuration:  plugin_config_id.
I only create ApisixUpstream  and  ApisixRoute , but the  the  apisix ingress controller  create the plugin config auto.
Sometimes,  I create tow  routes  for a  Microservices( as a k8s svc). every routes

[2022-03-30 01:05] tao12345666333 commented on #854
@xianshun163 This is a bug https://github.com/apache/apisix-ingress-controller/issues/836 and has been fixed in the latest code. #845

[2022-03-30 03:07] xianshun163 commented on #854
@tao12345666333
I see that version 1.5 will not be released for some time. I plan to update the code on the 1.4 version of the code branch. Can you tell me where the dockerfile of the official package image is?
thanks.

[2022-03-30 04:34] tao12345666333 commented on #854
@xianshun163 you can just run ```
make build-image
[code]

[2022-03-30 04:35] xianshun163 commented on #854
ok  thanks

[2022-03-30 07:12] jerrytaotz commented on #864
Yes！We need this feature too, eagerly

[2022-03-30 07:14] xiangtianyu commented on #864
Our team have the same scenary, we may need this feature! Is there any schedule about this?

[2022-03-30 07:15] xuminwlt commented on #864
In many cases, upstream is actually some kind of metadata. It is a system configured based on metadata, such as the publishing system. Routing is a dynamic configuration in which the control surface controls how traffic enters the corresponding upstream. It is more processed by the micro service traffic management system. If the two can be configured separately, it will bring great flexibility.

[2022-03-30 07:33] tao12345666333 commented on #864
@jerrytaotz @xiangtianyu @xuminwlt  Thanks for your feedback.   Based on discussions on multiple issues and community meetings, I added a `triage/accepted` label for this and added this feature to our roadmap.

I will write a proposal for the specific implementation plan.

[2022-03-30 07:46] tao12345666333 commented on #840
This issue has not been updated for too long, I think the above reply should have solved your problem.
I will close this issue, if your problem is solved, please feel free to reopen it, thanks.

[2022-03-30 07:46] #840 closed

[2022-03-30 08:10] tao12345666333 commented on #876
I think we've explained why, I'll close this issue, feel free to open it again if you have other ideas

[2022-03-30 08:10] #876 closed

[2022-03-30 08:12] tao12345666333 commented on #809
This issue has not been updated for a long time, I will close it, if you still have questions please feel free to open it again.

[2022-03-30 08:12] #809 closed

[2022-03-30 23:43] tao12345666333 commented on #599
We can track this requirement with #592 and we will implement it.  Thanks!

I will close this issue. If you want to participate in more discussions you can add in #592

[2022-03-30 23:43] #599 closed

[2022-03-31 04:41] lingsamuel commented on #926
Sorry for the late reply.
Instead of creating a placeholder, I think it would be better to resync the routes that references the newly created service.

[2022-03-31 04:47] tao12345666333 commented on #926
@lingsamuel  But currently we have discarded the event, how to resync it?

We discussed the compensation mechanism for adding timing before https://github.com/apache/apisix-ingress-controller/issues/234   but this method is not real-time enough

[2022-03-31 14:36] brighten1023 commented on #784
I almost forgot this issue. The problem was solved by reinstalling the whole apisix and ingress controller, as well as the problem should be related to etcd cluster. This issue can be closed. Many thanks!

[2022-03-31 14:36] #784 closed

[2022-03-31 14:50] brighten1023 opened #945 "request help: How to rewrite http to https in the apisix ingress controller"
### Issue description

I have a web-based cluster and it can be accessed by using http successfully. Now I am prepared to use https, but after browsing https://apisix.apache.org/docs/apisix/plugins/redirect/ and https://apisix.apache.org/docs/apisix/FAQ/#how-to-redirect-http-to-https-via-apache-apisix, I still confusing what should I do first. Could you please give some advice? am

### Environment

[2022-04-01 01:10] tao12345666333 commented on #945
You have two ways:

1. You can use the Ingress resource and add `k8s.apisix.apache.org/http-to-https: "true"` annotation.   ref: https://github.com/apache/apisix-ingress-controller/blob/3b993533d66b25c186f4096727d373e5ed4131c6/test/e2e/annotations/redirect.go#L39

2. You can use the ApisixRoute resource, and add plugin configuration:
[code]
ref: https://github.com/apache/apisix-ingress-controller/

[2022-04-01 23:45] lingsamuel commented on #926
Perhaps we need a cache to store the reference relationships.
This cache should always store the relationships, regardless of whether sync raises an error or not.

[2022-04-02 02:07] xuminwlt commented on #864
Great to me.

[2022-04-02 06:59] tao12345666333 commented on #926
Currently, we have a cache https://github.com/apache/apisix-ingress-controller/blob/master/pkg/apisix/cache/memdb.go
we can extend it. WDYT?  @lingsamuel @gxthrj @tokers

[2022-04-02 09:22] fgksgf commented on #932
We can refer to this [PR](https://github.com/jaegertracing/jaeger-operator/issues/1726).

[2022-04-02 09:38] tao12345666333 commented on #932
@fgksgf Great! This is exactly what I expected

[2022-04-02 09:43] fgksgf commented on #932
Ok, i will have a try. Assign it to me, pls.

[2022-04-02 10:00] #938 closed

[2022-04-04 12:06] joyyir opened #948 "feat: Support for 'discovery_type' in ApisixUpstream"
Hello,

When integrating with service discovery, `discovery_type` is specified in the upstream settings as described in the following document: https://apisix.apache.org/docs/apisix/discovery/#upstream-setting

However, there is no `discovery_type` field in the `ApisixUpstream` spec, so to use the service discovery integration I need to register upstream with the dashboard or Admin API.

So I prop

[2022-04-04 14:33] tao12345666333 commented on #948
Can you describe your specific use case?  I would like to know what service do you need to integrate with

[2022-04-05 01:21] joyyir commented on #948
I want to integrate with `Eureka`. I added the upstream setting by dashboard. I found that the upstream setting cannot be defined as `ApisixStream` because of `discovery_type`.

Here is the upstream setting:
[code]

Here is the route setting:
[code]

[2022-04-06 00:43] gxthrj commented on #926
I think it is OK.
Before, we had to create an upstream because of the limitation of APISIX, an error will be reported when there is no upstream. Now that APISIX can support the creation of routes without upstream, I think it is time to let `ApisixRoute` manage its own life cycle independently.

[2022-04-06 00:48] tao12345666333 commented on #948
I understand your situation.
But the current APISIX Ingress controller is designed to automatically discover changes to resources in Kubernetes.
We need some discussion about this feature.

[2022-04-06 01:27] #869 closed

[2022-04-06 03:45] zlhgo opened #950 "feat request: rotate log"
### Issue description

当日志输出到文件时增加日志切割功能。
比如在我的环境，有一个自动删除3天没有写入日志的文件，ingress-controller是candidate状态的时候，就算是开启debug级别的日志也不会有日志输出，所以当过了3天日志文件就被清理了。之后ingress-controller成为了leader, 不过文件句柄还在，ingress-controller程序也能正常工作写入日志，但是日志采集程序就采不到日志了。希望能增加日志切割功能或定时写点日志也行。谢谢。

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
Version: 1.4.0
Git SHA: 1159522

[2022-04-06 06:28] PGDream opened #951 "request help: ApisixRoute object add external endpoint"
### Issue description

`ApisixRoute` object can't with external endpoint, proxy request external endpoint, now not's support proxy external endpoint.
when support external endpoint not create upstream ,only `apisixroute.http.match.backends` supoort
 add `serviceEndpoint` field, example:
[code]

### Environment

- apisix-ingress-controller version  1.4
- Kubernetes cluster version 1.20

[2022-04-06 06:34] tao12345666333 commented on #950
In a Kubernetes environment, we usually recommend writing logs to stdout/stderr, which I don't think is a high priority requirement.

https://github.com/apache/apisix-ingress-controller/blob/7e4ec36e36c9114d99156e72b19142d2026533fc/conf/config-default.yaml#L24-L28

Why are you writing the log to a file?

[2022-04-06 06:41] tao12345666333 commented on #951
Thanks, we can use #927 for the track and discuss.
I will close this one.

[2022-04-06 06:41] #951 closed

[2022-04-06 06:44] PGDream commented on #927
we use scenes is multi k8s cluster，`A` and `B` service not in diff k8s cluster，`A` mirrors-flow to `B` now not support.

[2022-04-06 07:29] tao12345666333 opened #952 "CI: fix the e2e test case of the server-info plugin for APISIX v2.13"
@Chever-John  Could you please create another PR to fix the test case of the server-info plugin

_Originally posted by @tao12345666333 in https://github.com/apache/apisix-ingress-controller/issues/942#issuecomment-1089920843_

[2022-04-06 07:32] zlhgo commented on #950
@tao12345666333 嗯，只是一个建议，合理的话希望能考虑下。

[2022-04-06 07:33] Chever-John commented on #952
Yeah, Leave it to me.

[2022-04-06 07:55] tao12345666333 commented on #950
@zlhgo Thanks for your advice. We can discuss it at the next community meeting.

[2022-04-06 09:23] tokers commented on #926
Could you show some cases about " that APISIX can support the creation of routes without upstream".

[2022-04-06 09:41] tokers commented on #927
Could you describe you problem accurately? What is "not in diff k8s cluster"? You want to mirror traffic for service A to service B?

[2022-04-06 09:45] tokers commented on #948
Only support the discovery type in ApisixUpstream cannot satisfy your needs since APISIX Ingress Controller only watches service from Kubernetes, and ApisixUpstream will be in effective only if there is a Kubernetes serivce which name is same to the ApisixUpstream.

[2022-04-07 00:50] tokers opened #953 "Docs: How to access Apache APISIX Prometheus Metrics on Kubernetes"
I think it's worthy to write some documents about "How to access Apache APISIX Prometheus Metrics on Kubernetes".

_Originally posted by @tokers in https://github.com/apache/apisix-ingress-controller/pull/942#discussion_r843745233_

[2022-04-07 00:52] tokers commented on #927
OK, I see, ExternalName is useful for this scenario.

[2022-04-07 04:48] #932 closed

[2022-04-08 02:59] tao12345666333 opened #954 "feat: Add v2 API version support for all resources"
The background has already been introduced in #707.
This issue is tracked for tasks in v1.5.
This will be the last task blocking the v1.5 release.

To achieve this goal we have a lot of tasks to do.  In order to facilitate the review, we need to split it into multiple tasks. (There was a huge PR, #820 was closed)

- [x] Base code to initialize v2 version  #939
- [x] ApisixRoute  #943
- [x] ApisixU

[2022-04-08 03:38] Marco-Zheng opened #955 "request help: failed to list plugins' names: unexpected status code 403"
### Issue description

When i startup ingress-controll locally with below command
[code]
here comes the problem
[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): 1.4
- your Kubernetes cluster version (output of kubectl version):minikube
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (

[2022-04-08 03:55] Marco-Zheng commented on #955
This problem has been resolved refer to https://github.com/apache/apisix/issues/3890, please close the issue

[2022-04-08 04:01] tao12345666333 commented on #955
thanks for your report.

[2022-04-08 04:01] #955 closed

[2022-04-08 07:10] Marco-Zheng opened #956 "bug: failed to translate ingress, endpoints \"httpbin\" not found"
### Issue description

I just run ingress-controll (branch:master) refer to below doc
https://apisix.apache.org/zh/docs/ingress-controller/practices/proxy-the-httpbin-service-with-ingress
https://apisix.apache.org/zh/docs/ingress-controller/practices/proxy-the-httpbin-service
but got below error message
[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-con

[2022-04-08 07:36] #956 closed

[2022-04-08 07:51] Marco-Zheng opened #958 "request help: ApisixRoute doesn't effect"
### Issue description

When i apply below ingress.yml, it can create route for httpbin
[code]
but when i apply below yml, it can't create the route of httpbin
[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): master
- your Kubernetes cluster version (output of kubectl version): minikube v1.18.1
- if you run apisix-ingress-contro

[2022-04-08 07:55] Marco-Zheng commented on #958
There always print the log
[code]

[2022-04-08 08:56] Marco-Zheng commented on #958
I just debug the ingress-controller and found that https://github.com/apache/apisix-ingress-controller/blob/f58f3d51889fe72609ca0b837b373e62306f9a3a/pkg/ingress/apisix_route.go#L65 worker for apisix route doesn't run

[2022-04-08 09:10] tao12345666333 commented on #958
Can you give the difference directly?

[2022-04-08 09:15] Marco-Zheng commented on #958
Sorry, i updated the route of httpbin
[code]

[2022-04-11 02:17] Marco-Zheng commented on #958
Yes, i create httpbin and expose the port 80, then create Ingress, it works, then i delete the Ingress and apply ApisixRoute, it not works, if the ApisixRoute depends on Ingress ?

[2022-04-11 06:56] Chever-John commented on #495
# HI, This issue has been solved in the latest version

My env:

[code]

I will describe my successful recurrence process as follows.

## Install APISIX Ingress

### Config APISIX Cluster

Commands as follows:

[code]

### Install APISIX Ingress

commands as follows:

[code]

## Enable web-socket backend service

[code]

## Create a resource

create a `websocket.yaml`

[code]

[code]

## Test

[co

[2022-04-11 07:06] tao12345666333 commented on #495
@Chever-John Thanks for your contribution.

In fact, we have an e2e test case to cover such scenarios.
Please try updating to the latest version.

I will close this issue.
If your problem is not resolved, please feel free to reopen it.

[2022-04-11 07:06] #495 closed

[2022-04-11 09:03] tokers commented on #958
Nope, how did you configure the namespace discovery?

[2022-04-11 09:04] tokers commented on #958
I mean, only namespaces matched the namespace label selector (configured in APISIX Ingress Controller) will be watched.

[2022-04-11 09:28] Marco-Zheng commented on #958
I deployed httpbin service under default namespace by below command
[code]

[2022-04-12 23:58] #952 closed

[2022-04-13 07:32] xuminwlt opened #962 "request help: Ingress custom variables for logging format in access.log"
### Issue description

hi, my apisix is deployed in the form of ingress, and I am going to replace nginx-ingress. When I set up the access_log of apisix, I need to get some information about the ingress environment, as shown in the screenshot below, I roughly understand this customization The variable also needs the functional support of apisix, I think it is still proposed here.

And now, these i

[2022-04-13 07:40] xuminwlt commented on #962
@shuaijinchao @tao12345666333 @tokers
Or any solution in apisix?

https://github.com/apache/apisix/issues/5982

[2022-04-14 13:52] siaron opened #966 "feat request: native MQTT Protocol proxy"
### Issue description

- Native support for MQTT protocol brokers. like tcp Route
- Load balancing based on client_id
- The mqtt broker is deployed in the k8s environment. Dynamically capture pod creation and deletion. And update upstream

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kub

[2022-04-14 13:57] tao12345666333 commented on #966
This is a feature request and I modified the title.

Can you describe your specific scenario? Do you directly expose Ingress to clients in your business scenario?

[2022-04-14 15:19] siaron commented on #966
IoT scenario . Many devices connect to the emqx cluster deployed on k8s through a proxy(apisix/haproxy). on aliyun. Expose only one tcp port of apisix-ingress

[2022-04-15 05:59] Chever-John commented on #953
I am looking forward to this task.
Let me do it!

[2022-04-15 06:09] tao12345666333 commented on #953
Assigned

[2022-04-15 09:14] #767 closed

[2022-04-15 09:15] tao12345666333 opened #969 "CI: Encapsulate functions to reuse code"
I think we can encapsulate a method `ensureAdminOperationIsSuccessful`, and pass the request, so that we can reuse the code base of `ensureHTTPPutSuccess`.

_Originally posted by @tokers in https://github.com/apache/apisix-ingress-controller/pull/937#discussion_r844945283_

[2022-04-15 09:15] tao12345666333 commented on #969
@cmssczy Are you interested in this?

[2022-04-15 11:02] cmssczy commented on #969
ok, pls assign to me.

[2022-04-15 11:40] tao12345666333 commented on #969
Assigned

[2022-04-15 11:41] tao12345666333 commented on #962
I don't fully understand your needs

[2022-04-15 11:47] tao12345666333 commented on #958
I couldn't reproduce it, you can try to reinstall or check your environment.
For this project we have e2e tests for coverage

[2022-04-15 11:50] lingsamuel opened #970 "e2e test: multi-version e2e test suite"
We need a simple way to test our multi-version support.
The controller and test only have the variable "APISIXRouteVersion", which does not cover all resources.

[2022-04-15 13:41] tao12345666333 commented on #970
Maybe it needs to be passed through an environment variable and then combined?

[2022-04-15 14:07] tao12345666333 commented on #926
I think this is an important question.

If you have no other comments, I will consider extending cache to solve it.

After my recent v2 apiversion resource upgrade task finished, I will propose a specific scheme design or directly implement it.

[2022-04-16 12:31] xuminwlt commented on #962
The APISIX's  access log only support NGINX's variable and the access.log look like this with the config:

[code]
access.log
[code]

Unfortunately, I also need several other parameters, refer to the partially custom variables using nginx-controller. These variables are not supported in APISIX. So ask if there is any way to get some of the above variable information.

For example：
![image](https://

[2022-04-17 09:04] cmssczy commented on #926
I don't understand how to solve this problem by extending the cache. Can you provide more details about this solution? @tao12345666333

[2022-04-18 01:15] tokers commented on #926
I don't have doubts except the words written by @gxthrj .

[2022-04-18 01:19] tokers commented on #962
We don't have the `$namespace` and the `$ingress_name` vars.

For `$service_name` and `$service_port`, it's the name and port of the backend k8s service? If so, you cannot get it from APISIX, as what APISIX sees is many Pod IPs and ports.

[2022-04-19 04:32] tao12345666333 commented on #969
#971 fixed this one

[2022-04-19 04:32] #969 closed

[2022-04-19 07:41] GhangZh commented on #758
I also get this error after setting up the namespace I'm listening on, other namespaces fail to sync
[code]

[code]

[2022-04-19 09:07] tokers commented on #758
The context was canceled, it might be caused by the network, or maybe the context was reused accidentally (which is a bug). cc @tao12345666333 @gxthrj .

[2022-04-19 09:22] tao12345666333 commented on #758
The current APISIX Ingress controllers share the same context, if a context encounters an error, it will cause all contexts to cancel.  ref: https://github.com/apache/apisix-ingress-controller/pull/868

[2022-04-20 08:57] GhangZh opened #974 "bug: plugin config in APISIX but do not in declare yaml"
### Issue description

After upgrading apisix 1.13and apisix-ingress-controller 1.4 through helm, ingress-controller will automatically synchronize the current ar file to apisix and add the field plugin_config_id
[code]

![image](https://user-images.githubusercontent.com/92301646/164189340-f4d68eda-8469-42cc-aaac-bcba700b4681.png)

apisix-ingress-controller log
![image](https://user-images.githubu

[2022-04-21 03:54] Gerrylinux opened #978 "v1.5版本发布时间"
### Issue description

确认下 V1.5版本发布时间

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a):

[2022-04-21 05:08] Horus-K commented on #978
I also want to confirm 1.5 release time, we are going to use v2 api for production environment

[2022-04-21 05:26] GhangZh commented on #974
Is there a way to circumvent it now. Even if I call the admin-api interface to remove it, the ingresscontroller will still add this field to apisix again

[2022-04-21 05:37] tao12345666333 commented on #978
plz see #954

[2022-04-21 05:42] tao12345666333 commented on #978
#954 will take a lot of time, we need to make sure it's correct and stable.

Currently under active development.

If you have any questions please comment under #954 , I will close this issue, thanks for your attention

[2022-04-21 05:42] #978 closed

[2022-04-21 05:57] tao12345666333 commented on #974
@GhangZh you need to use the master branch to build the image

[2022-04-21 06:01] GhangZh commented on #974
ok,thanks

[2022-04-22 05:46] Horus-K opened #979 "request help: crd resource does not display correctly when using Lens"
### Issue description

![image](https://user-images.githubusercontent.com/48319268/164610584-ae70eead-a209-4cba-a68c-79da98cdff01.png)
![image](https://user-images.githubusercontent.com/48319268/164610649-832a3122-e30e-4573-b108-0d7f41ebdf75.png)
i use this crd https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/crds/customresourcedefinitions.yaml
[code]
[code]

[2022-04-22 06:49] tao12345666333 commented on #979
Can you expand a bit?  I didn't fully understand what you meant.

For the column display I think it is due to the previous use of backends instead of backends

[2022-04-22 07:20] Horus-K commented on #979
I can't display the apisixRoute crd resource correctly using lens and rancher, and the new cluster cannot be displayed properly. Can you use lens or rancher to view the apisixRoute crd resource?
![image](https://user-images.githubusercontent.com/48319268/164626290-d77c675f-c6b6-4d40-82e8-2ed0db395c4b.png)
Under normal conditions, the domain name of the crd configuration should be displayed here.

[2022-04-22 07:38] Horus-K commented on #979
![image](https://user-images.githubusercontent.com/48319268/164630754-afebb7ab-c543-4995-ace1-8c8da207de42.png)
tls can display correctly

[2022-04-22 08:52] tao12345666333 opened #980 "release v1.4.1"
After the release of 1.4.0, we received some feedback from the community and also made related fixes.

We originally planned to release v1.5.0 this month, but we currently have a task blocked #954 ,
and even after completing these features, it will take a while for it to stabilize. After some discussion, we decided to prioritize the release of v1.4.1.

This issue is mainly used to track progress.

[2022-04-22 08:53] tao12345666333 commented on #980
- [ ] cherry-pick all bugfix
- [ ] open PR
- [ ] vote
- [ ] release
- [ ] push docker image
- [ ] release Helm chart

[2022-04-22 10:09] tao12345666333 commented on #974
@GhangZh After discussions we decided to release v1.4.1  #980

[2022-04-22 10:10] tao12345666333 commented on #974
After v1.4.1 is released, you can upgrade to fix this issue. I will close this issue, we will track it with #980

[2022-04-22 10:10] #974 closed

[2022-04-22 10:13] tao12345666333 commented on #979
We are in the process of releasing v1.4.1 #980
I will try to reproduce the issue after the release process is over

[2022-04-24 04:38] Chever-John opened #982 "Doc: description in the document about the scheme is not up to date"
Now we support HTTPS protocol, but the document is not up to date.

Click this [link](https://apisix.apache.org/zh/docs/ingress-controller/references/apisix_upstream#:~:text=CHANGELOG-,ApisixUpstream%20Reference,-Field) and you will see:

<img width="959" alt="image" src="https://user-images.githubusercontent.com/43690894/164956879-61d484cd-9599-4916-ac02-332b709ae7e7.png">

Hope for someone to so

[2022-04-24 04:53] tao12345666333 commented on #982
we support http/https and gRPC/gRPCs

[2022-04-24 05:43] wangyp0701 commented on #982
[code]

[2022-04-24 05:48] Chever-John commented on #982
@wangyp0701
Hi, do you want to address this issue?
Just modify this document.
You can also add some config content to the document if you want.

[2022-04-24 05:50] wangyp0701 commented on #982
please assign to me

[2022-04-24 05:51] tao12345666333 commented on #982
Assigned

[2022-04-25 02:10] wangyp0701 commented on #982
Submitted #983

[2022-04-25 08:56] wangyp0701 commented on #523
I have encountered a similar situation
kubernetes svc Access normal
![6NQERMQMV@{WH G}V(CW(CD](https://user-images.githubusercontent.com/33682005/165055572-d7656b29-de13-4ac3-bfcf-d690a4fa97c4.png)
apisixroute
![MG8L8$)9I have encountered a similar situation
kubernetes svc Access normal
![6NQERMQMV@{WH G}V(CW(CD](https://user-images.githubusercontent.com/33682005/165055572-d7656b29-de13-4ac3-bfcf-

[2022-04-25 08:59] tokers commented on #523
This is an already known problem, see https://github.com/apache/apisix/pull/6686.

[2022-04-26 08:15] wangyp0701 commented on #523
https://github.com/apache/apisix/issues/6286#issuecomment-1040016759
This is not the best way

[2022-04-27 04:31] Horus-K commented on #523
https://github.com/apache/apisix/issues/6945

[2022-04-27 04:32] Horus-K commented on #523
https://github.com/apache/apisix/issues/6945  proxy-rewrite cannot modify X-Forwarded-Port  same problem as mine

[2022-04-27 04:34] rjiang-ptm opened #986 "request help: support wolf-rbac plugin for ApisixConsumer"
### Issue description

In Kubernetes, we want to use CR ApisixConsumer to create a consumer in apisix. However, it seems to only support `basicAuth` and `keyAuth`?

Using apisix admin api to create consumer directly does work, however, we'd like to use CR via apisix ingress controller if possible.

When I tried to use `wolf-rbac` as the auth plugin, eg.

[code]
I got `error validating data: Valida

[2022-04-27 05:03] tao12345666333 commented on #986
Thanks for your report.

It's true that keyauth and basicauth are only implemented in ApisixConsumer now, if you need to use other plugins, such as wolf-rbac We can easily extend it

[2022-04-27 08:32] AlinsRan commented on #986
Let me do it!

[2022-04-27 08:33] tao12345666333 commented on #986
@AlinsRan  Thanks! Assigned.

[2022-04-27 13:16] LivesMountain opened #987 "bug: update apisixroute.yaml spec.http.name from a981a76 to api，Sometimes two routes are generated"
### Issue description

update apisixroute.yaml spec.http.name from a981a76 to api，Sometimes two routes are generated

`kubectl get ar -A |grep screensaver`  ，only one data
![image](https://user-images.githubusercontent.com/19382017/165519896-7c219f31-b895-4234-aba8-2957ddb08bb5.png)

However, there are two data on dashboard, apisix-Ingress-Controller's log is missing, so I can't find the problem n

[2022-04-28 02:59] tao12345666333 commented on #948
After thinking about it, we actually have a relatively simple way to achieve it.

* Configure multiple discovery types in APISIX
* Extend ApisixUpstream resource to allow configuration of discovery_type
* If the discovery_type is found in the ApisixUpstream resource, it will no longer be parsed, and the corresponding Upstream will be created in APISIX

[2022-04-28 03:26] Gallardot commented on #948
The Integration service discovery registry in APISIX is a very attractive feature.  Support for this feature will help expand the usage scenarios for apisix-ingress-controller.

I want to have a try.

[2022-04-28 06:17] tao12345666333 commented on #982
#983 has been merged. I will close this one. thanks

[2022-04-28 06:17] #982 closed

[2022-04-28 08:00] wangyp0701 opened #990 "request help: support hmac-auth plugin for ApisixConsumer"
### Description

What I learned is
At present, only basic-auth and key-auth are supported
Do you have any plans to add functions

[2022-04-28 08:12] tao12345666333 commented on #987
This is not a bug, this is a concrete implementation.

For now we will use this name to construct the final route name.

If you update the ApisixRoute resource directly, since the `metadata.name` has not changed, it will only synchronize the route according to the current configuration.

But the APISIX Ingress controller will not delete the original route information in APISIX, which is very dange

[2022-04-28 08:47] lingsamuel commented on #954
https://github.com/apache/apisix-ingress-controller/pull/967#discussion_r857082894

[2022-04-28 09:05] tokers commented on #990
@tao12345666333 PTAL, thanks!

[2022-04-28 09:11] tao12345666333 commented on #990
Thanks for your report.

ref: https://github.com/apache/apisix-ingress-controller/issues/986#issuecomment-1110543942

We can add this supprt.
Currently adding wolf-rbac plugin

[2022-04-28 10:30] helloxubo opened #991 "request help: apisix-ingress-controller：stream mode is disabled, can not add stream routes"
### Issue description

I use the latest chart(https://charts.apiseven.com) install apisix、apisix-dashboard and apisix-ingress-controller;
apisix version is 0.9.1，  apisix-ingress-controller  version is 0.9.0,
but also has the same problem "stream mode is disabled, can not add stream routes"
#858
![图片](https://user-images.githubusercontent.com/38270190/165733432-625b6d33-1e67-4f27-a216-4fff9b4713c6

[2022-04-28 10:31] #728 closed

[2022-04-28 12:24] xuminwlt commented on #991
https://github.com/apache/apisix-helm-chart/pull/233

heml-chart已经修复了。

[2022-04-28 12:26] xuminwlt commented on #962
Got it, I will close it.

[2022-04-28 12:26] #962 closed

[2022-04-28 14:02] helloxubo commented on #991
![QQ图片20220428214947](https://user-images.githubusercontent.com/38270190/165769011-cbb8537e-3c9c-442f-86e3-fbeb9a94c8f1.png)

![QQ图片20220428215529](https://user-images.githubusercontent.com/38270190/165769038-663081f0-2aed-43b1-ad9a-cc159fc2e59c.png)

你好，在安装apisix的时候，只需将dashboard和ingress-controller的enabled设置为true，就会自动安装dashboad和ingress-controller；不需要再使用另外两个chart包单独安装dashbord和ingress-controller了吗？

[2022-04-28 15:36] tao12345666333 commented on #991
Yes, this is the most recommended way.

[2022-04-29 03:07] tokers opened #992 "APISIX/2.13.1 should be tested with Ingress Controller"
### Issue description

Since APISIX 2.13.1 was released days ago, APISIX Ingress Controller should try to test if this version is compatible. What's more, APISIX 2.13 is a TLS version, we should support it.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apis

[2022-04-29 05:42] #991 closed

[2022-04-29 09:57] helloxubo opened #995 "request help: About apisix-ingress-controller logs"
### Issue description

Why  apisix-ingress-controller check these services?
![QQ图片20220429175608](https://user-images.githubusercontent.com/38270190/165923559-c7e3e09c-43bc-4656-913c-588e87af804c.png)

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ing

[2022-04-29 09:58] tao12345666333 commented on #995
Apache APISIX Ingress controller will watch all services (all namespaces) by default.
You can change the configuration.

[2022-04-29 10:08] helloxubo commented on #995
ok thinks!

[2022-04-29 10:08] #995 closed

[2022-05-04 08:08] LivesMountain commented on #987
I did not modify metadata.name  ，I changed spec.http.name。
apisixroute1.yaml
`apiVersion: apisix.apache.org/v2beta3
kind: ApisixRoute
metadata:
  name: nginx
  namespace: default
spec:
  http:
  - name: a981a76
    match:
      hosts:
      - "test.apisixroute.com"
      paths:
      - "/*"
    backends:
    - serviceName: nginx
      servicePort: 80`

kubectl apply -f apisixroute1.yaml
kubectl de

[2022-05-04 16:42] rjiang-ptm commented on #986
Any estimate on when we'd have this feature released? Thanks!

[2022-05-04 23:03] tao12345666333 commented on #986
If the implementation is complete, we can release it in the next version.

[2022-05-05 07:36] #992 closed

[2022-05-05 08:27] souljessi opened #997 "APISIX Ingress Is cross namespace supported？"
### Issue description

Is cross namespace supported?

[2022-05-05 09:38] tao12345666333 commented on #948
@Gallardot sorry for delay.  Can you prepare a proposal first? Contains general implementation content, etc. Thanks

[2022-05-05 11:04] Kowsz opened #998 "docs: Documentation page on certificate management has a broken link to example files"
### Issue description

Hello,

Apache APISIX documentation page [Manage Ingress Certificates With Cert Manager](https://apisix.apache.org/docs/ingress-controller/practices/manage-ingress-certificates-with-cert-manager/) link to example cert-manager manifests is broken. The link https://apisix.apache.org/docs/ingress-controller/practices/cert-manager returns a 404 error.

![image](https://user-imag

[2022-05-06 00:44] helloxubo opened #999 "request help:How to write the Apisix log to ES?"
### Issue description

Hello，I need to write the apisix access log and error log to ES. Except using http-logger plugin,Is there any other way?

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also show your

[2022-05-06 03:02] EmanuelGi commented on #782
This access link is invalid, could you please post a new link?

[2022-05-06 07:31] tao12345666333 commented on #998
Thanks for your report, it should link to https://github.com/apache/apisix-ingress-controller/tree/master/docs/en/latest/practices/cert-manager

Are you interested in submitting a PR to fix it?

[2022-05-06 08:03] tao12345666333 commented on #782
https://github.com/apache/apisix-ingress-controller/tree/master/test/e2e/suite-annotations here.

[2022-05-06 09:16] sff0219 opened #1001 "request help: support jwt-auth plugin for ApisixConsumer"
### Issue description

We are currently facing a similar issue with these two issues https://github.com/apache/apisix-ingress-controller/issues/986 and https://github.com/apache/apisix-ingress-controller/issues/990.

In Kubernetes we want to create a consumer with the `jwt-auth` plugin enabled by using `ApisixConsumer`. However we found out that now only `basic-auth` and `key-auth` are supported i

[2022-05-06 12:01] AlinsRan commented on #1001
Let me do it!

[2022-05-06 12:04] Horus-K commented on #979
@tao12345666333

[2022-05-06 12:37] tao12345666333 commented on #1001
Assigned

Thanks

[2022-05-06 13:45] cmssczy commented on #997
yes.
you can also select the namespaces which you want apisix-ingress-controller to watch via `namespace_selector `.
https://github.com/apache/apisix-ingress-controller/blob/92b89b37d2f63eab6f5c6deb6e3d2a5ccae975aa/conf/config-default.yaml#L58-L60

[2022-05-07 01:55] tao12345666333 commented on #997
As [cmssczy](https://github.com/cmssczy) 's answer, APISIX Ingress can use multiple namespaces.

[2022-05-07 02:01] Chever-John commented on #990
Please assign this to me~

[2022-05-07 02:11] tao12345666333 commented on #990
Assigned

Thanks

[2022-05-07 05:29] shendongming opened #1003 "bug: plugin_config_name is disappeared"
### Issue description

apply example router
---
[code]
watch apisixroute
[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a):

### Minimal test code / Steps to reprod

[2022-05-07 07:53] SRCchen opened #1004 "request help: 关于对wasm的支持"
### Issue description

在kind中部署的kubernetes集群,将wasm挂载到apisix容器的`/usr/local/apisix/wasm/`目录下,出现报错

[code]
以下为apisix-ingress-controller的报错。
[code]
使用proxy_wasm:0.1 的rust sdk 似乎能成功加载
[code]
但是无法正常运行,报错如下:
[code]
删除apisix route  重新apply后, 报错信息会变成如下:
[code]

这两个版本的插件在envoy的docker-compose中都运行正常,请问是我有什么地方配的不对吗

### Environment

helm chart version： 0.9.1
kubernetes version: 1.20.15
rust  version: 1.60.0
pr

[2022-05-07 13:34] tao12345666333 commented on #1004
@spacewander  PTAL
thanks

[2022-05-07 13:42] tao12345666333 commented on #1003
What's your APISIX Ingress controller version?

[2022-05-07 16:20] tao12345666333 opened #1005 "Suggestion: Modify the metrics name"
[code]

As shown above, we currently record the response status code of APISIX in metrics.
But all the status codes are recorded here, not just the "bad" type.
So I suggest changing this name.

cc @Sindweller  Are you interested in modifying it?

[2022-05-07 18:12] Kowsz commented on #998
Yeah, sure.
As far as I can tell, the files to be updated are:

1. [/docs/en/latest/practices/manage-ingress-certificates-with-cert-manager.md](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/manage-ingress-certificates-with-cert-manager.md)
2. [/docs/en/latest/practices/manage-certificates-with-cert-manager.md](https://github.com/apache/apisix-ingress-cont

[2022-05-07 19:56] tao12345666333 commented on #998
only update the two markdown files. Thanks

[2022-05-08 11:51] spacewander commented on #1004
Can you provide a minimal reproducible example of the rust code so we can reproduce it? And the version of rust SDK.

[2022-05-09 02:03] #998 closed

[2022-05-09 02:07] SRCchen commented on #1004
`proxy_wasm_rust_sdk` version: 0.2

cargo.toml
[code]

example code:
[code]

[2022-05-09 02:40] spacewander commented on #1004
Look like the sdk imports some functions which are not in the [spec](https://github.com/proxy-wasm/spec/tree/master/abi-versions/vNEXT) : https://github.com/proxy-wasm/proxy-wasm-cpp-sdk/blob/c32d380ca6c9b1afac38a3841be99c37af2698bf/proxy_wasm_externs.h#L58

[2022-05-09 03:57] spacewander commented on #1004
Could you rewrite the plugin with `set_root_context`:

https://github.com/proxy-wasm/proxy-wasm-rust-sdk/blob/fb7c953adcba19adb79b4e1885cbb532a2fbad22/examples/http_body.rs#L20

https://github.com/api7/wasm-nginx-module/blob/733e5d349235422f6eaa9cbeb2a3d38751bc2342/t/testdata/rust/fault_injection.rs#L24

and run it with older proxy-wasm-rust-sdk?

[2022-05-09 04:00] shendongming commented on #1003
apisix helm chart version
apisix-0.9.1
docker  image: apache/apisix-ingress-controller:1.4.0

[2022-05-09 07:06] stone2world opened #1008 "request help: update docker hub v1.4.0"
### Issue description

docker hub v1.4.0 need update

some bug fixed but not publish

### Environment

![image](https://user-images.githubusercontent.com/43597843/167358089-5b739856-af38-4539-b4d5-c5688379ef5c.png)

![image](https://user-images.githubusercontent.com/43597843/167358186-b29346b9-7837-49e3-a6c7-d7c30e81cf97.png)

[2022-05-09 09:26] SRCchen commented on #1004
尝试用0.1版本的sdk时,出现了报错` panicked at 'already borrowed: BorrowMutError'`
完整报错:
[code]
似乎是因为在`on_http_call_response` 中使用了`get_http_call_response_header`
代码如下：
[code]

[2022-05-09 10:24] tao12345666333 commented on #1008
Thanks for your report.

In fact we are voting for the release of v1.4.1
https://lists.apache.org/thread/yz0ttw2sw67o3ydcbqyr1ng5vt3yo5c7

After 1.4.1 is released, the corresponding container image will also be released.

The vote has now received enough votes, and the 1.4.1 release process is expected to be completed tomorrow at the latest

[2022-05-09 11:50] hxcGit opened #1010 "request help: how to setup plugin ua-restriction"
### Issue description

I want to try ua-restriction plugin. I followed the guide(https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/minikube.md) and installed Ingress APISIX on Kind. And I followed ua-restriction's guide(https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/ua-restriction.md) to setup the plugin. But I got a "Connection refused

[2022-05-09 13:11] AlinsRan commented on #234
I have a question, under what circumstances will the data be inconsistent. Also, does apisik allow manual modification?

[2022-05-09 15:49] tao12345666333 commented on #1010
you should run `curl` command in Apache APISIX 's container

[2022-05-09 15:51] tao12345666333 commented on #234
@AlinsRan For example, manually modifying the configuration in APISIX. Or it is possible that some events are missing etc.

[2022-05-09 15:57] AlinsRan commented on #234
Got it, leave it to me.

[2022-05-09 16:13] #1010 closed

[2022-05-09 16:48] tao12345666333 commented on #234
Assigned, thanks

[2022-05-09 18:11] svendberg commented on #547
Any ETA for this? At the moment we have to manually call the API and set SNI for stream routes to support TLS. It would be nice to use the ApisixRoute CRD without having to manually update the streamroute with SNI afterwards.

[2022-05-10 01:20] tao12345666333 commented on #1008
https://lists.apache.org/thread/1qllm6szr7howz4jzv36bvzg9o5b2hmk

The vote is now closed and I will start the release process for v1.4.1. I will close this issue and thank you for your report!

[2022-05-10 01:20] #1008 closed

[2022-05-10 01:37] tao12345666333 commented on #547
It will be added in the next version v1.5 at the earliest, and v1.6 at the latest.

[2022-05-10 01:39] tao12345666333 commented on #547
@svendberg Is this feature of APISIX currently used in your production environment?

[2022-05-10 03:27] greenhandatsjtu commented on #1005
WeOpen Star

[2022-05-10 06:43] svendberg commented on #547
We use it in production to expose MQTT endpoints ( TCP ) with TLS for a multi-tenant solution. Right now, we use an ApisixRoute to create the upstream and a "dummy" stream_route in Apisix. Then we use the Apisix API to create a new stream_route reusing the upstream created by ApisixRoute.

[2022-05-10 08:16] spacewander commented on #1004
Turn out I forgot to implement `get_http_call_response_header`. Does it work well after removing it?

[2022-05-10 09:37] SRCchen commented on #1004
去掉`get_http_call_response_header`后可以正常运行

[2022-05-10 09:58] renweijun commented on #712
@gxthrj What is the version 1.15 update plan？

[2022-05-10 11:50] GhangZh opened #1013 "request help: Configure ApisixUpstream by apisix-ingress-controller"
### Issue description

What should I do if I want to configure upstream. Configuring it with dashboard causes the ingress-controller to report an error, but there is no such crd
![image](https://user-images.githubusercontent.com/92301646/167621762-8a5778a3-b5d8-4b6a-96da-794f6a258ed3.png)

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long

[2022-05-11 02:32] tao12345666333 commented on #712
@renweijun plz see #978

[2022-05-11 02:37] tao12345666333 commented on #1013
you can create your own ApisixUpstream resource.

plz see https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/concepts/apisix_upstream.md

[2022-05-11 03:08] GhangZh commented on #1013
Okay, I understand, I can configure it separately for special needs

[2022-05-11 03:13] #1005 closed

[2022-05-11 03:14] tao12345666333 commented on #1013
yep

[2022-05-11 05:09] spacewander commented on #1004
Consider solved?

[2022-05-11 06:10] tao12345666333 commented on #997
I will close the one. If you have any questions please feel free to reopen it. thanks

[2022-05-11 06:10] #997 closed

[2022-05-11 13:44] Canonical10 commented on #761
✅

[2022-05-12 02:39] hyt05 commented on #941
Is there any way to fix it temporarily, our environment is now paralyzed, and the upgrade to 1.4.1 still reports this error

[2022-05-12 06:29] zzq926083010 opened #1017 "help request: failed to install CRD crds/customresourcedefinitions.yaml"
### Description

执行：helm install apisix-ingress-controller apisix/apisix-ingress-controller --namespace apisix  --set config.apisix.serviceName=apisix-dashboard --set ingress-controller.enabled=true --set config.apisix.serviceNamespace=apisix --set config.apisix.servicePort=9080 --set config.logLevel=warn --set config.apisix.adminKey=edd1c9f034335f136f87ad84b625c8f1

报错：Error: INSTALLATION FAILED:

[2022-05-12 08:31] tao12345666333 commented on #1013
@GhangZh I see you reopened this question, was it a mistake?

[2022-05-12 08:32] GhangZh commented on #1013
When I wanted to use traffic-spilit according to the documentation, I found that it did not take effect after creating au. The configuration is as follows
[code]
![image](https://user-images.githubusercontent.com/92301646/168027717-7dffd28e-b8bf-48b5-833a-98a100d48e66.png)

[2022-05-12 08:33] tao12345666333 opened #1015 "Flaky test: resources in other namespaces should be ignored"
Job ref: https://github.com/apache/apisix-ingress-controller/runs/6392376773?check_suite_focus=true#step:3:8625

PR #977

[2022-05-12 08:48] tao12345666333 commented on #1013
could you run

`kubectl get svc --show-labels -n bookinfo`

[2022-05-12 08:52] GhangZh commented on #1013
It is to use istio's bookinfo to achieve istio's traffic split
![image](https://user-images.githubusercontent.com/92301646/168031568-1331f466-b76d-410f-8996-da4bb032aa7a.png)

[2022-05-13 06:15] tao12345666333 commented on #1017
For the latest Helm charts, we need Kubernetes v1.16+.

But you can modify the CRD api-version by yourself, or use the old version of Chart.

[2022-05-13 06:24] tao12345666333 commented on #1013
Did you actually test the results?

Here is a test case for reference https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/suite-features/subset.go

[2022-05-13 06:38] tao12345666333 commented on #980
release process finished.

[2022-05-13 06:38] #980 closed

[2022-05-13 06:41] GhangZh commented on #1013
This I tried to configure through ApisixRoute. Will upstream setting weight be supported in the future? I see that apisix can support it

[2022-05-13 07:50] tao12345666333 commented on #1013
Yes, but there is no deadline yet.

We currently have some additional requirements and will be making some adjustments to ApisixUpstream.
I will consider these.

[2022-05-13 08:54] mangoGoForward commented on #547
WeOpen Star

I'd like to work on this issue.

[2022-05-14 05:51] tao12345666333 commented on #547
thanks @mangoGoForward
Assigned

[2022-05-16 02:11] zhangyihong commented on #1003
i have same problem!
apisix helm chart version
apisix-0.9.3
apache/apisix-ingress-controller:1.4.1

[code]

[code]

[2022-05-16 03:40] Gallardot opened #1019 "Proposal: Apisix-Ingress-Controller support integrating with service discovery registry"
Currently, Apisix-Ingress-Controller only supports Kubernetes services as service discovery. However, Apisix supports multiple service discovery registry, such as Eureka and Nacos . Therefore, Apisix-Ingress-Controller is proposed to support more service discovery integration.
This will help users resolve legacy infrastructure issues and expand Apisix-Ingress-Controller usage scenarios.  ref #948

[2022-05-16 07:54] GhangZh opened #1020 "request help: ApisixRoute abbreviation does not support"
### Issue description

I can't find the resource with the abbreviation au and I can find it with apisixroute. But both apc and au can
![image](https://user-images.githubusercontent.com/92301646/168545576-1e40ceb6-aeca-4eee-ade5-7f2d02634458.png)

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):1.4.1
- your Kubernetes cluster version (o

[2022-05-16 07:55] mhh12121 commented on #712
Almost same issue here, I manually installed
`apisix`2.13.1-alpine , `apisix-admin`2.11-alpine  through  [apisix-helm-chart repo](https://github.com/apache/apisix-helm-chart).

After ingress-controller-1.4.1 installed, I found the following logs:
[code]

[2022-05-16 08:14] tao12345666333 commented on #1003
Thanks for your report.

In fact this is because the ApisixPluginConfig function is only available for APIs above v2beta3.

However, this configuration has not been updated to the latest version in the Helm chart, so after using this function, the data will be transformed, resulting in the loss of unsupported fields.

https://github.com/apache/apisix-helm-chart/blob/1ff18f1efde9b59bda2a670aae085db

[2022-05-16 09:20] #1003 closed

[2022-05-16 09:45] tokers commented on #712
Do you have some upstream objects created by APISIX Admin API or Manager API?

[2022-05-16 09:46] tokers commented on #1019
@Gallardot Would you like to submit a proposal to dev@apisix.apache.org? Thanks!

[2022-05-16 10:23] Chever-John opened #1021 "doc: add the way of changing the admin key into FAQ"
## issues description:

When I wanted to change the admin key for my Ingress, I found no documentation about this, but the fact that I needed to change two admin keys was hard to find for someone new to APISIX-Ingress. I want to add a message to the FAQ to improve the documentation.

Problem sources: https://the-asf.slack.com/archives/CUC5MN17A/p1652688280858689

## I will do:

add *how to change

[2022-05-16 12:24] tao12345666333 commented on #1003
New version of Helm chart has been released, please upgrade to the latest Helm chart or modify the configuration in configmap. Thanks

[2022-05-16 12:56] tao12345666333 commented on #1020
Sorry I didn't reproduce
[code]

You can try to increase its log level and view the detailed request address.
e.g.

[code]

[2022-05-16 14:34] tao12345666333 commented on #1021
SGTM.

A description of this is included in the configuration file, but it's also good to put it in the FAQ separately, if you are interested please submit a PR, thanks
https://github.com/apache/apisix-ingress-controller/blob/3cccd5666e098f374c262eb443de194d69d6a55e/conf/config-default.yaml#L81-L89

[2022-05-17 01:36] Gallardot commented on #1019
@tokers   I have sent an email to [dev@apisix.apache.org](mailto:dev@apisix.apache.org), please check again

[2022-05-17 02:10] Horus-K commented on #979
@tao12345666333 1.4.1 still cannot display crd resources normally

[2022-05-17 02:20] tao12345666333 commented on #979
@Horus-K  This was not included in version 1.4.1.

If you're interested, can you help to locate the problem, or submit a PR to fix it?

[2022-05-17 02:23] tao12345666333 commented on #1019
SGTM.

As I replied on the mailing list:

does not handle static configuration of APISIX.

https://lists.apache.org/thread/fmdnssz9hm1n6yk2y7py2fs2k6mj3hcd

[2022-05-17 02:50] Horus-K commented on #979
I can help you troubleshoot the problem, but I don't know much about crd

[2022-05-17 03:07] GhangZh commented on #1020
[code]

[2022-05-17 03:15] GhangZh commented on #1020
Thanks I found the reason there is a renamed ar
![K8P8xtaExp](https://user-images.githubusercontent.com/92301646/168721020-b1819ec8-8652-406b-ad1f-a701a370f45f.jpg)

[2022-05-17 04:02] tao12345666333 commented on #1020
OK.
So can we consider this issue to be resolved?

[2022-05-17 06:09] GhangZh commented on #1020
Sure, thanks for your help!

[2022-05-17 06:09] #1020 closed

[2022-05-17 08:15] stillfox-lee commented on #966
WeOpen Star
I'm willing to help implement this feature, but i m not sure is suitable for me. I have no experience at any ingress controller development.
I find out APISIX has support MQTT protocol by `mqtt-proxy` plugin. So ApisixIngress just need to implement `stream[].plugins` at ApisixRoute API? Is three any guideline about how to implement APISIX's stream plugin?

[2022-05-17 09:19] tokers commented on #966
Right. What you should focus on are:
 * What fields should we expose in the CRD?
 * How to generate the plugin config on the  APISIX side.

 You can refer to some existing plugin supports (Now APISIX Ingress Controller doesn't customize fields on the CRD side but use same plugin settings with APISIX).

[2022-05-17 09:25] tao12345666333 commented on #966
@stillfox-lee Assigned, thanks.

[2022-05-17 09:28] tao12345666333 commented on #979
Thanks.

[2022-05-17 10:06] mhh12121 commented on #712
Yes, before apply the apisix-ingress, I've already put some upstream through adminUI;

[2022-05-17 15:48] tao12345666333 commented on #1019
The first method is too complicated, and currently we need to consider other requirements at the same time, such as supporting external name

[2022-05-18 01:21] tokers commented on #712
I think this is due to the upstream node format (object vs array). We don't support the object format for the node.

[2022-05-18 03:21] mhh12121 commented on #712
So we can say the ingress now is incompatible with admin dashboard? We could only choose one between them ?
Before I turn to ingress, I should remove all of the upstreams created from dashboard ?

[2022-05-18 05:28] tao12345666333 commented on #712
We recommend that Dashboard only be used as a viewing tool when using APISIX Ingress

[2022-05-18 06:02] VineFiner opened #1024 "request help: How to use APISIX on low memory devices"
### Issue description

I deploy apisix in 1C1G, always memory alarm.
traefik no problem.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version): k3s
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a): Ubuntu:20.04

[2022-05-18 08:38] mangoGoForward commented on #547
Hi @tao12345666333 . On the implementation, I want to confirm a few things:

1. We should add `sni` in types.  https://github.com/apache/apisix-ingress-controller/blob/3cccd5666e098f374c262eb443de194d69d6a55e/pkg/types/apisix/v1/types.go#L331-L339
2. When `ApisixRoute` translate to `StreamRoute`, we should add `sni` to `StreamRoute` instance?
https://github.com/apache/apisix-ingress-controller/blo

[2022-05-18 09:09] tokers commented on #547
@mangoGoForward What about just using `Host` or `SNI`?

[2022-05-18 09:24] tao12345666333 commented on #547
I prefer `Host`

[2022-05-18 09:26] tao12345666333 commented on #1024
Do you mean APISIX or APISIX ingress controller?

[2022-05-18 09:43] jackk01 opened #1026 "help request: apisix-ingress-controller logs too many error"
### Description

2022-05-18T17:41:55+08:00	error	apisix/route.go:119	failed to list routes: Get "http://apisix-admin.apisix-demo.svc.cluster.local:9180/apisix/admin/routes": context deadline exceeded (Client.Timeout exceeded while awaiting headers)
2022-05-18T17:41:55+08:00	error	apisix/cluster.go:210	failed to list routes in APISIX: Get "http://apisix-admin.apisix-demo.svc.cluster.local:9180/apis

[2022-05-18 12:02] Gallardot commented on #1019
Yes, I agree that the first method is too complicated and less usable.

If we use the second method, the question becomes where to add fields? I suggest the following option

If we supporting external name service #927 , we can add a new `discovery_type ` named `external_Service`

[2022-05-19 00:55] tokers commented on #1026
@jackk01 Could you share your APISIX and the Ingress Controller deployments? It looks like the communication with APISIX is abnormal.

[2022-05-19 02:37] VineFiner commented on #1024
I use traefik and it works fine. Is it not recommended to install apisix with low memory?

[2022-05-19 02:46] VineFiner commented on #1024
I just test it. Use Alibaba Cloud Lightweight Server.
can not work

[2022-05-19 06:55] tao12345666333 commented on #1026
@jackk01 Have you created some resources via APISIX Dashboard before using APISIX Ingress?

[2022-05-19 06:59] tao12345666333 commented on #1024
If you install using the above command, it will install the following:

* 1 APISIX pod
* 3 etcd pods
* 1 APISIX Ingress controller pod

If you are just for testing, you can set the number of replicas for etcd to 1

[2022-05-19 07:12] jackk01 commented on #1026
@tao12345666333 this?
<img width="720" alt="image" src="https://user-images.githubusercontent.com/62927162/169232229-75a14092-f8b3-4578-b547-ad2c03c1b21d.png">

[2022-05-19 07:23] tao12345666333 commented on #953
#973 has been merged. I will close this one.

[2022-05-19 07:23] #953 closed

[2022-05-19 07:24] tao12345666333 commented on #1026
@jackk01 yes.
FYI https://github.com/apache/apisix-ingress-controller/issues/712#issuecomment-1129470443

[2022-05-19 07:33] tao12345666333 commented on #1026
no, please see https://github.com/apache/apisix-ingress-controller/issues/712#issuecomment-1129470443

[2022-05-19 08:48] stillfox-lee commented on #966
Hi guys. I have some question about this feature:

 First, which version should this feature support?

- [ ] v1
- [ ] v2
- [ ] v2beta2
- [ ] v2beta3

Second, should we use `annotation` or `stream[].plugins` in yaml to defined `mqtt-proxy` plugin? Or both?

In `annotation` way, we can write yaml like this:

[code]

In `stream[].plugins` way, we can write yaml like this:
[code]

If i misunderstand A

[2022-05-19 09:33] hahayyum opened #1027 "After updating k8s ingress(backend) multiple times, the EventUpdate event always exists and cannot end"
### Issue description

Ingress:

[code]

first update:

16629->16639 ,  Port 16639 is not configured in the actual service
erro info:   failed to translate ingress     {"event": "update", "error": "service.spec.ports: port not defined", "ingress": {}}
The first update event keeps looping
code:
ing, err = c.controller.ingressLister.V1beta1(namespace, name)
..........
tctx, err := c.controller.trans

[2022-05-19 11:11] tao12345666333 commented on #966
@stillfox-lee thanks

1. Please add this feature to v2 APIversion

2. I prefer the second way. Using plugin config

[2022-05-19 13:26] VineFiner commented on #1024
With 2 cores 2G works fine. I will close it.

[2022-05-19 13:26] #1024 closed

[2022-05-20 01:35] mangoGoForward commented on #547
But seems `ApisixRouteSpec.Stream`  doesn't have this property? If I'm missed the meaning, please correct me, thanks.

[2022-05-20 03:20] tao12345666333 commented on #1027
apisix-ingress-controller: 1.2.0 is too old, please upgrade to latest version v1.4.1.

In the new version, some invalid events will be removed from the work queue.

[2022-05-20 07:39] hahayyum commented on #1027
@tao12345666333
After verification, the latest 1.4.1 version problem still exists
The relevant code logic has not been modified

error info 1:
ingress/ingress.go:131  failed to translate ingress     {"error": "service.spec.ports: port not defined", "ingress": {}}

error info 2:
ingress/ingress.go:166  failed to translate ingress     {"event": "update", "error": "service.spec.ports: port not define

[2022-05-20 08:02] tao12345666333 commented on #1027
sorry i remembered wrong.

There was some handling in #893, but it wasn't introduced in v1.4.1.
Can you test with the latest code from the master branch?

[2022-05-20 08:42] hahayyum commented on #1027
@tao12345666333
After verification, the master version problem still exists.
Can I try to fix it?

[2022-05-20 08:56] lingsamuel opened #1032 "infra: update golang version"
Go 1.16 is end of support since 1.18 is released.

[2022-05-20 10:01] tao12345666333 commented on #1032
SGTM

[2022-05-20 10:02] tao12345666333 commented on #1027
@hahayyum yes, please! Assigned to you

Thanks

[2022-05-22 11:50] super-small-rookie opened #1034 "apisix-ingress-controller cluster lease will be failed when deployment not use downwardAPI"
I install apisix-ingress-controller to use the hard way mode with the official documents.
when deploy more replicas like three, I find that echo apisix-ingress-controller will be leader,  they are not leader and  candidate relationships, so echo leader will watch kubernetes and access apisix admin-api, kubernetes and etcd will bear more pressure. From echo instance log can see them work.
I read th

[2022-05-22 12:11] tao12345666333 commented on #1034
thanks for your report.

I will reply later after I read it in detail.

[2022-05-22 15:00] Fatpa commented on #990
Please assign this to me, and I have already submitted the pull request.

[2022-05-22 15:21] Chever-John commented on #990
Wow, Thanks for your contribution, I'm busy with my thesis lately and may not be able to address this issue very well. Thanks again for your timely contribution.

[2022-05-23 01:23] tokers commented on #1032
SGTM, let's update it to `1.17`.

[2022-05-23 01:25] tao12345666333 commented on #990
@Fatpa thanks, assigned

[2022-05-23 07:31] tao12345666333 commented on #718
This issue has not been updated for too long and I will close it.

If you have other questions, please create a new issue

[2022-05-23 07:31] #718 closed, assigned to nobody

[2022-05-23 09:56] actliboy opened #1038 "request help: failed to translate ApisixTls {"error": "secret \"secret-name\" not found""
### Issue description

the secret can't found.

### Environment

helm charts apisix-0.9.3 apisix-ingress-controller-0.9.2
[code]

[2022-05-23 10:11] tao12345666333 commented on #1038
You need to make sure your secret exists

[2022-05-23 10:13] actliboy commented on #1038
Reasons for different namespaces

[2022-05-23 10:13] #1038 closed

[2022-05-24 03:30] tao12345666333 opened #1041 "CI: Upgrade ginkgo to v2"
Now we use ginkgo v1.16.4 version in e2e,

https://github.com/apache/apisix-ingress-controller/blob/f6f0a3b5552ba8fda556e0edb9296c1c0a4c3e31/test/e2e/go.mod#L11

v1 has been formally deprecated. So we need to Upgrade ginkgo to v2

Here is an upgrade guide for reference

https://onsi.github.io/ginkgo/MIGRATING_TO_V2

[2022-05-24 14:46] tao12345666333 commented on #547
@mangoGoForward  sorry for delay.

yes, since it's a new feature, we can add it

[2022-05-25 01:04] tokers commented on #547
Yeah, that's the point that we need to implement it :).

[2022-05-25 02:48] tao12345666333 commented on #986
#1011 has been merged. I will close this one.

[2022-05-25 02:48] #986 closed

[2022-05-25 02:50] tao12345666333 commented on #1001
#1009  has been merged. I will close this one.

[2022-05-25 02:50] #1001 closed

[2022-05-25 05:30] AlinsRan commented on #926
This PR #1022 can solve this problem, which is equivalent to retrying resource operations, but the default interval is 300s (Changeable). This interval is a little long, Should we shorten the time?

[2022-05-26 02:32] AlinsRan commented on #674
I'm trying to solve this problem, I have two implementation schemes, which need to be confirmed:

1. Add `cache` (go-memdb) to `controller` and maintain a ` upstream_ services {servicename -- > []upstream_id}`. The `upstreamController` is responsible for write, When [] is 0, this record is killed. The `endpoint` is responsible for reading and updating the node field of apifix when the services are

[2022-05-26 04:08] bubbyqi opened #1042 "help request: apisix get upstreams 404"
### Description

dear apisix specialist, i need support,  we config the apisix-ingress-controller to router the request to the backend svc in k8s ,but access ,404  error happen.  the backend svc with nginx-ingress-controller is ok.

ingress:
<img width="894" alt="image" src="https://user-images.githubusercontent.com/20379897/170413545-ff24dd04-e6a2-4103-bd3d-aca5b5ccc58b.png">

router:
<img width=

[2022-05-26 05:04] tao12345666333 commented on #1042
you can modify the configuration `pathType: Prefix`  and try again.

[2022-05-26 05:06] tao12345666333 commented on #1042
For APISIX , if you want to proxy all paths, the config should be `/*` instead of `/`

[2022-05-26 05:15] Horus-K commented on #979
There is no problem with crd, lens fixes the display bug   https://github.com/lensapp/lens/pull/5256

[2022-05-26 05:15] #979 closed

[2022-05-26 05:49] rjiang-ptm commented on #986
Thanks for getting this done! Which release and when will this feature be available?

Also a related question:  in the apisixConsumer config for wolf-rbac, the appId field can only be specified for one appid, or a list of appid? The use case is: usually for a given consumer/user, there are multiple apps (appids) associated with that user. If the apisixConsumer wolf-rbac config can support multiple