[2021-06-13 12:48] fhuzero commented on #338
After successfully applied `httpbin-route.yaml`, I continued follow instructions [here](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md#test) to check whether the resource was delivered to an Apache APISIX Pod. After executing command
[code]
I got output:
[code]
Then I sent request to Apache APISIX to verify the route by executi

[2021-06-14 07:42] tokers commented on #338
@fhuzero Please paste the logs of apisix-ingress-controller when you incur such an error.

[2021-06-14 08:27] fhuzero commented on #338
The logs of apisix-ingress-controller is shown below (a bit ugly though).
[code]

[2021-06-15 00:50] tokers commented on #338
@fhuzero It seems that the APISIX address was not configured correctly as all requests were sent to `127.0.0.1:9080`.

[2021-06-15 07:27] fhuzero commented on #338
I followed instructions in [proxy-the-httpbin-service](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md) step by step exactly as it says. However, I did not notice instructions on how to configure APISIX address. I'm not sure whether and how one should update `apisix.base_url` field in `samples/deploy/configmapapisix-ingress-cm.y

[2021-06-15 09:00] tokers commented on #338
We have a lot of installation documents, for instance, you can see [Install Ingress APISIX on ACK
](http://apisix.apache.org/docs/ingress-controller/deployments/ack), there are some guides that you can refer, including the `baseURL` configuration.

Thanks!

[2021-06-15 10:55] fhuzero commented on #338
By installing apisix-ingress-controller via Helm Charts (following [Install Ingress APISIX on Minikube](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/minikube.md)), I have got expected response (Hooray!) in this [example](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md#test), except w

[2021-06-16 03:21] gxthrj commented on #540
Close this issue now as the PR has been merged.

[2021-06-16 03:21] #540 closed

[2021-06-16 03:23] gxthrj commented on #539
Related to #540 #544

[2021-06-16 03:23] #539 closed

[2021-06-16 06:15] gxthrj commented on #536
I think we can close this issue now, as #544 has been merged.

[2021-06-16 06:15] #536 closed

[2021-06-17 01:31] tokers opened #547 "feat: Support SNI based TLS Route"
Now Apache APISIX supports to match the stream route with TLS SNI (https://github.com/apache/apisix/pull/4433), we can implement it in `ApisixRoute`.

[2021-06-19 03:03] gxthrj opened #548 "feat: Integrate cert-manager to manage secrets"
Use [cert-manager](https://cert-manager.io/) to manager secrets, so we can dynamically update certificates, such as SSL certificates.

[2021-06-19 03:05] #455 closed

[2021-06-19 03:06] #447 closed

[2021-06-19 03:10] #287 closed

[2021-06-19 03:13] gxthrj commented on #60
stale issue, feel free to reopen .

[2021-06-19 03:13] #60 closed

[2021-06-19 03:14] #286 closed

[2021-06-19 03:24] tao12345666333 commented on #423
@Marco-Zheng any update?

[2021-06-19 03:27] tao12345666333 commented on #538
@kingGang

you can try to clone this repo https://github.com/apache/apisix-helm-chart and run helm install. thanks.

[2021-06-19 03:29] tao12345666333 commented on #521
@gxthrj Please set milestone for this issue.

/milestone v1.1

[2021-06-19 03:31] tao12345666333 commented on #468
@gxthrj  Please set milestone for this issue

/milestone v1.1

[2021-06-19 03:33] tao12345666333 commented on #464
We have released v1.0 version, can you try again?

[2021-06-19 05:11] tokers commented on #464
@flying1pig Please provide a reproducible minimal case.

[2021-06-19 05:11] tokers commented on #468
Done.

[2021-06-19 05:12] tokers commented on #521
Done.

[2021-06-20 12:12] fgksgf commented on #244
I'm working on this, assign it to me, please.

[2021-06-20 13:43] tokers commented on #423
@Marco-Zheng Sorry for the long delay. I have tried to reproduce this problem on my side with apisix-ingress-controller/1.0, but I cannot reproduce this scenario, could you please try to use the apisix-ingress-controller/1.0 again and see whether this problem still exists.

[2021-06-21 08:14] fhuzero opened #551 "request help: get unknown output before apisix-admin response"
### Issue description
I run k8s cluster on either Minikue or KinD, and install apisix-ingress-controller by either Helm Chart or run on bare-metal. In all cases the apisix-admin service will return an unknown response before expected one.

For example. when I follow this [example](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md#

[2021-06-21 14:39] fhuzero opened #553 "discuss: apisix-ingress-controller version update in Makefile"
Now apisix-ingress-controller has released its first GA version `1.0.x`, but the default version in Makefile is still `0.6.0` ([here](https://github.com/apache/apisix-ingress-controller/blob/f5cc76ec6ac671772063d38a09f508db71ac2e48/Makefile#L19)). Should we update it to `1.0.x`? If so, I can open a PR to keep it up-to-date.

[2021-06-21 15:21] tao12345666333 commented on #553
yes, please!

[2021-06-21 15:43] fhuzero opened #554 "request help: install apisix-ingress-controller by Kustomize"
### Issue description
When I tried to install apisix-ingress-controller by Kustomize in a KinD cluster according to [this](https://github.com/apache/apisix-ingress-controller/blob/master/install.md#kustomize-support), the instruction says

So I changed the container image version to the latest one (1.0.0). I set `apisix.base_url` in samples/deploy/configmap/apisix-ingress-cm.yaml to its default va

[2021-06-21 15:43] fhuzero commented on #338
I think this issue can be closed since it has been solved by #546. Besides, I have opened a new issue #554 for my question about installation via Kustomize, which is off-topic in this issue.

[2021-06-21 15:56] fhuzero commented on #553
Thanks! I have created a PR.

[2021-06-22 01:50] tokers commented on #338
I'd like to know whether @bahtou still has problems.

[2021-06-22 01:52] tokers commented on #554
@fhuzero It seems that you don't configure the `admin_key` parameter for apisix-ingress-controller so it cannot invoke the APISIX Admin APIs.

[2021-06-22 02:04] tokers commented on #551
@fhuzero This is because we have two containers in the pod spec (the `initContainer` `wait-etcd` and the normal container `apisix`), and you don't run it in quiet mode. So kubectl selects the first container to run your command.

![image](https://user-images.githubusercontent.com/10428333/122851193-23aff080-d341-11eb-8f8a-8b5c686019a9.png)

[2021-06-22 04:01] fhuzero commented on #551
@tokers Thanks for your clear explanation with code! Now I know the meaning of the output and where it comes from. It really helps.

[2021-06-22 04:01] #551 closed

[2021-06-22 06:06] fhuzero commented on #554
@tokers Thanks for pointing out the problem! I have configured `admin_key` in configmap to the default value and now the [test](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md#test) can be passed.

Would it be ok if I create a PR to change the default value of container image version, `apisix.base_url`, and `apisix.admin_key` to

[2021-06-23 01:07] tokers commented on #554
@fhuzero Sure, looking forward to your PRs.

[2021-06-23 05:32] fhuzero commented on #553
The related PR #556 has been merged so I'll close this issue.

[2021-06-23 05:32] #553 closed

[2021-06-24 13:04] Caelebs opened #560 "request help: Why does the ingress log keep printing service not found?"
### Issue description

I installed apisix-ingress-controller in kubesphere, and found that some info-level logs have been printed in the backend log.

[code]

[code]
[code]
I checked that there is indeed no related service in the cluster, Does this log have any effect?

### Environment

* your apisix-ingress-controller version `1.0.0`
* your Kubernetes cluster version
[code]

[2021-06-25 01:14] gxthrj commented on #468
This has been fixed in #469 , let`s close this.

[2021-06-25 01:14] #468 closed

[2021-06-25 06:47] #119 closed

[2021-06-25 06:56] gxthrj commented on #560
Please ignore the `info` and `warn` level, they will not cause any error.
But the error log
[code]

APISIX Ingress will look for the backend service defined in the `ApisixRoute` resource. If there is no corresponding k8s service, it will report an error and enter the retry phase.

To solve this error log, you need to create the corresponding k8s service. In this example, you need to supplement the

[2021-06-25 09:44] Caelebs commented on #560
I checked and found that because the namespace was not specified when `kubectl apply -f httpbin-route.yaml` was executed, this crd was created under the `kubesphere-system` namespace, and it has now been deleted. and now there is no error level log.
Thanks for your reply. @gxthrj @tokers

[2021-06-25 09:44] #560 closed

[2021-06-25 10:14] fhuzero commented on #554
My PRs #557 and #558 are already merged. My question has been answered and I'll close this issue.

[2021-06-25 10:14] #554 closed

[2021-06-26 08:48] fgksgf commented on #244
I did a research and found three ways to implement this:

1. The hand-crafted solution：implement the server with `net/http` or `gin`, verbose and time-consuming, but most flexible.
2. [openshift/generic-admission-server](https://github.com/openshift/generic-admission-server): it is simpler to set up but more opinionated (e.g. you can’t select the server framework). It is worth noting that the fram

[2021-06-26 08:56] Caelebs opened #561 "request help: How to configure Ingress to make browser requests reach the backend through Ingress"
### Issue description

I created an Ingress resource based on the example in the document. [Proxy the httpbin service with Ingress](https://apisix.apache.org/docs/ingress-controller/practices/proxy-the-httpbin-service-with-ingress)

[code]
And the test cases of the examples in the document can also be returned normally. and I want to know how to configure this ingress so that this request can be a

[2021-06-26 09:04] Caelebs commented on #561
I tried to create an application route on the kubesphere webpage, this ingress should be the nginx-ingress-controller used by default
![image](https://user-images.githubusercontent.com/12752710/123508135-1cba1280-d6a0-11eb-9cd8-49c4aa733795.png)

But this ingress can be forwarded to the backend if requested through the browser.
![image](https://user-images.githubusercontent.com/12752710/123508155-

[2021-06-26 09:09] Caelebs commented on #561
The description may be a bit confusing, I mean, how should this ingress be configured so that it can achieve the same effect as nginx-ingress-controller through apisix-ingress-controller

[2021-06-26 21:28] tao12345666333 commented on #561
You can try in the APISIX pod to see if the routing rules have taken effect.

Or see the log of apisix-ingress pod.

[2021-06-27 07:34] tokers commented on #244
I look through these two packages, I like the features provided by kubewebhook like the metrics integration, I'd like to vote for it. BTW, do you know which admission server frameworks are used by other famous ingress controllers or service mesh control plane?

[2021-06-27 07:35] tokers commented on #244
It's not a problem as we already have a HTTP server managed by go-gin.

[2021-06-27 07:41] tokers commented on #561
@Caelebs The `404` page doesn't look like an artifact of Apache APISIX, even if the route rules are not in effective, what we should see is a J string with contents like "404 Route Not Found".

I saw you execute the `curl` command in the apisix pod, have you ever tried to execute this command on your local environment?

[2021-06-27 09:02] fgksgf commented on #244
Ok, I will use it.

I just look through `go.mod` files of ingress controllers mentioned in [this file](https://docs.google.com/spreadsheets/d/191WWNpjJ2za6-nbG4ZoUMXMpUK8KlCIosvQB0f-oq3k/edit?ts=5fd6c769#gid=907731238) and find neither of these frameworks is being used.

[2021-06-28 08:12] Caelebs commented on #561
I checked the log of apisix-ingress-controller, nothing seems to be relevant, it seems that the request did not enter the apisix-ingress-controller? But I found that in the apisix logs, there are always prompting some logs that the upstream service can't find. @tao12345666333

[code]
[code]

[2021-06-28 08:15] Caelebs commented on #561
In the dashboard, I can already see that apisix-ingress-controller has created related routes. It seems that everything is okay, but it is true that the browser request will prompt a 404 error.
![image](https://user-images.githubusercontent.com/12752710/123603065-0e006680-d82c-11eb-88c2-557e572b3b4d.png)
![image](https://user-images.githubusercontent.com/12752710/123603052-093bb280-d82c-11eb-85ae-

[2021-06-28 08:21] Caelebs commented on #561
I tried it, but there seems to be no response because it says connection refused. I don't know how to do it next...
@tokers

[code]

[2021-06-28 11:27] tokers commented on #561
What is the type of apisix service? Your apisix service must be addressable from your own environment, for instance, you can set the apisix service type to `NodePort` or `LoadBalancer`.

[2021-06-29 02:38] Caelebs commented on #561
The service type of apisix has always been NodePort.
[code]
[code]
Does the service type of apisix-ingress-controller also need to be set to NodePort?
@tokers

[2021-06-29 02:43] Caelebs commented on #561
I tried to set the service type of apisix-ingress-controller to NodePort, it seems to be useless.

[code]

[2021-06-29 05:04] tokers commented on #561
Nope, Controller doesn't handle traffic, it doesn't have to be a NodePort service.

It mean for the case that accessing from the your own environment is failed:

[code]

It seems that you just sent requests to port `80`, you should send it to the port of your apisix service.

[2021-06-29 05:05] tokers commented on #561
It seems the response of apisix is expected?

[2021-06-29 05:05] tokers commented on #561
It seems that the response returned by APISIX is expected?

[2021-06-29 06:02] Caelebs commented on #561
understood. I once thought that only the host address specified in ingress is needed. so I directly requested `local.nginx.org`, now I tested `http://local.nginx.org:30155/aaa` and it can respond normally.
[code]
![image](https://user-images.githubusercontent.com/12752710/123744977-29c64400-d8e2-11eb-829e-b65fac58fcb9.png)

It seems that there is no problem. It's my misunderstanding
Thanks Reply @

[2021-06-29 08:35] Marco-Zheng commented on #423
@tao12345666333 not yet

[2021-06-29 08:38] Marco-Zheng commented on #423
@tokers i add a `httpserver-route` in namespace `ingress-apisix`
![image](https://user-images.githubusercontent.com/52538259/123765173-132ae780-d8f8-11eb-9b26-b4637898f508.png)
[code]
then use `kubectl exec -it -n ingress-apisix apisix-6b6cfdd678-j24hx -- curl http://127.0.0.1:9180/apisix/admin/routes -H 'X-API-Key: edd1c9f034335f136f87ad84b625c8f1'`, no route was found
![image](https://user-image

[2021-06-29 08:40] Marco-Zheng commented on #423
My expect result is route create by my yml, and i can search route in apisix-dashboard, but nothing was found.

[2021-06-29 09:30] tokers commented on #423
@Marco-Zheng Please use the `ApisixRoute/v2alpha1`, the v1 version was deprecated and obsolete.

[2021-06-29 09:31] tokers commented on #561
OK, considering it as solved.

[2021-06-29 09:31] #561 closed

[2021-06-29 09:33] Marco-Zheng commented on #423
@tokers kubernate create -f xxx.yml was failed when i use ApisixRoute/v2alpha1, the version of my ingress-controller is 0.6.0
and apisix version is 2.7, doesn't this problem belongs to version?

[2021-06-29 09:34] Marco-Zheng commented on #423
@tokers kubernate create -f xxx.yml was failed when i use ApisixRoute/v2alpha1, the version of my ingress-controller is 0.6.0
and apisix version is 2.7, perhaps this problem belongs to version?

[2021-06-29 09:36] tokers commented on #423
Oh, these two versions are not a good pair. You may try to update APISIX Ingress Controller.

BTW, what is the error reported by kubectl.

[2021-06-29 09:38] Marco-Zheng commented on #423
@tokers It's shown as below
[code]

[2021-06-29 09:40] Marco-Zheng commented on #423
@tokers Is 1.0.0 the right version

[2021-06-29 09:44] tokers commented on #423
You should apply all the CRDs provided in this repo before you create resources.

[2021-06-29 09:50] Marco-Zheng commented on #423
@tokers do you means i need create apisix crds although we have apisix server in k8s? any example for this?

[2021-06-29 12:23] tao12345666333 commented on #423
@Marco-Zheng  Please try to execute the following command `kubectl apply -k samples/deploy/crd/v1beta1/`

[code]

[2021-06-29 12:25] tao12345666333 commented on #538
@kingGang Is the problem solved?

[2021-06-29 13:34] fhuzero opened #562 "discuss: support for APISIXRoute/v2alpha1 type in pkg/type/apisix"
ApisixRoute/v1 is obsolete and will be unsupported in the future, and ApisixRoute/v2alpha1 is recommended. However, only type `Route` in pkg/type/apisix/**v1**/types.go is supported now. Should we add type `Route` definition in pkg/type/apisix/**v2alpha1**/types.go to support ApisixRoute/v2alpha1?

[2021-06-30 01:51] tokers commented on #562
@fhuzero The ApisixRoute/v2alpha1 definition is in pkg/kube/apisix/apis/config/v2alpha1. The Apisix Route prototype is not changed.

[2021-06-30 01:51] #562 closed

[2021-06-30 02:55] Marco-Zheng commented on #423
@tao12345666333 thx for your reply, i have executed this command
![image](https://user-images.githubusercontent.com/52538259/123894723-3a81c300-d991-11eb-8f28-19f3e83d28fb.png)
@tokers Hi, i apply all the CRDs, then execute `kubectl apply -f httpbin-route.yaml` again, it was successed, but when i
use `kubectl exec -it -n ingress-apisix apisix-6b6cfdd678-gqrsx -- curl`, it shown below info
[code]
!

[2021-06-30 03:31] Marco-Zheng commented on #423
it is success to register route , thx all
![image](https://user-images.githubusercontent.com/52538259/123897809-aca8d680-d996-11eb-8945-7fd81005e777.png)

[2021-06-30 11:06] tokers commented on #423
@Marco-Zheng You're welcome.

[2021-06-30 11:06] #423 closed

[2021-07-01 03:23] gxthrj opened #564 "request help: Need to verify configuration in stream"
### Issue description
There are some different configuration in  tcp and udp, for example the SNI match with TLS.
Suggest add some checks in admission to prevent configuration errors.

[2021-07-01 03:47] anjia0532 opened #565 "bug: apisix-ingress-controller+k3s is not work"
### Issue description
根据公众号推送的文章 [Rancher × Apache APISIX：极速部署更好用的开源网关和 Ingress Controller](https://mp.weixin.qq.com/s/FY_kQd3cZpvXoTFmWMGePg) 的步骤进行安装，发现 apisix-ingress-controller 可以在apisix-admin 创建route和upstream，但是访问时不生效

### Environment
* apache/apisix-ingress-controller:1.0.0
* k3s v1.21.2+k3s1+rancher 2.5.8

![image](https://user-images.githubusercontent.com/15098916/124061666-e1359480-da61-11

[2021-07-01 05:23] tao12345666333 commented on #565
Thanks!

* The Initializing state will continue forever, as does the screenshots in the article.
* The error log, because the RBAC settings lost apisixconsumer resource, I will submit a PR to fix .

Can you run `kubectl get ar` ?

[2021-07-01 05:46] anjia0532 commented on #565
@tao12345666333 yeah, but it's nothing

`sudo k3s kubectl get ing -o yaml`

[code]

[2021-07-01 06:33] tao12345666333 commented on #565
please add `-n ${your service's namespace}`

[2021-07-01 06:38] anjia0532 commented on #565
[code]

[2021-07-01 06:44] anjia0532 commented on #565
@tao12345666333

` sudo k3s kubectl get ing -o yaml -n apisix`

`"ingressName":"apisix:apisix-dashboard"` use default ingress

`apisix-dashboard-test` use apisix ingress

[code]

[2021-07-01 06:48] tao12345666333 commented on #565
thanks for your informations, let me check.

[2021-07-01 06:56] anjia0532 commented on #565
@tao12345666333 U can use ansible + https://github.com/PyratLabs/ansible-role-k3s to create k3s cluster.

[2021-07-01 12:54] fhuzero commented on #562
@tokers Thanks for your explanation! Maybe I didn't explain my question clearly, my bad. From my understanding, the Apisix Route prototype refers to struct `Route` in _pkg/type/apisix/v1/types.go_. I want to implement traffic-split feature in my code when translating Ingress. Then I find that field `http[].backends.weight` suits my need. But I cannot find a field in `Route`  which represents `http

[2021-07-02 02:05] tao12345666333 opened #567 "feat: implement apisix healthz check"
https://github.com/apache/apisix-ingress-controller/blob/70d010092b626c9c6959bd026e669dbb60153608/pkg/api/router/router.go#L28-L35

The current `/apisix/healthz` interface does not implement the check logic for Apache APISIX.

[2021-07-02 02:05] tao12345666333 commented on #567
/good-first-issue

[2021-07-02 02:56] tokers commented on #567
@tao12345666333 Is this for the brand new arch in the future?

[2021-07-02 03:09] tao12345666333 commented on #567
Not all, even in the current architecture, if we implement this interface, it will be beneficial.

[2021-07-02 05:36] fhuzero commented on #562
@tokers  Could this issue be reopened to continue the discussion? Or I have to open another one.

[2021-07-02 06:50] tokers commented on #567
OK, fail enough. BTW, it can be combined with the logic that the controller tries to campaign the leadership.

[2021-07-04 09:23] geffzhang opened #569 "request help: apisix ingress controller with Dapr"
I want to use apisix with dapr, how to configure？ I found a ngnix ingress with dapr https://dev.to/stevenjdh/create-a-kubernetes-nginx-controller-with-dapr-support-3e8n  , apisix should be configured to achieve the same functionality

[2021-07-05 00:58] sagivoulu opened #570 "request help: Configure APISIX in a declarative way"
### Issue description
Is there a way to configure apisix in a declarative way? in a yaml file / terraform script / ansible playbook?

I am building an system that runs on kubernetes, & everting in the system must be configured in a declarative way (i.e. not via api calls to create routes / manually configuring routes in the admin portal).

I am not able to install the apisix ingress controller bec

[2021-07-06 06:57] Colstuwjx commented on #3
I have a question, why we create a new set of CRDs for implementing the ingress class, why not just use the official `Ingress` resource?

[2021-07-07 02:11] tokers commented on #3
The offical `Ingress` resource is not so semantic in many use cases.

[2021-07-07 02:30] Colstuwjx commented on #3
Totally understood.

BTW, I found we have one word in README mentioned about: `Supports APISIX custom resources and Kubernetes native Ingress resources`, do we have some best practises for switching from ingress-nginx to apisix?

[2021-07-07 03:51] tao12345666333 commented on #436
any update?

[2021-07-07 07:06] tao12345666333 opened #575 "feat: add response-rewrite for Ingress resource"
I think this is useful.

xref: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/response-rewrite.md

[2021-07-09 02:35] #201 closed

[2021-07-12 12:09] Donghui0 opened #578 "feat: Can it support independent use of ApisixUpstream CRD in controller ?"
### Issue description
Use ApisixUpstream CRD directly and independently, instead of relying on ApisixRoute crd ?

[2021-07-12 12:20] gxthrj commented on #578
By now, as an enhancement of ApisixRoute, ApisixUpstream resources must be created when the upstream is referenced by at least one rule in ApisixRoute, and when ApisixUpstream is deleted, it will also be judged whether it is referenced by ApisixRoute, and the corresponding upstream object will be deleted if there is no reference.

This really simplifies a lot of work, and from the point of view of

[2021-07-13 02:24] chzhuo opened #580 "request help: Is ApisixRoute/v2 will adding healthcheck to the ApisixRouteHTTP?"
### Issue description
There is no way to set healthcheck or retry in `ApisixRoute/v2Alpha1`,  if wanna do this must adding some ApisixUpstream/v1 config.
So `ApisixRoute/v2` will support setting upstream just in `ApisixRoute`

### Environment
apisix-ingress-controller： v1.0.0

[2021-07-13 02:25] ArmitageW opened #581 "request help: Failed to list *v1.ApisixService: apisixservices.apisix.apache.org is forbidden: User "system:serviceaccount:apisix:apisix-view-serviceaccount" cannot list resource "apisixservices" in API group "apisix.apache.org" at the cluster scope"
### Issue description
According to the official website, use kustomization to deploy, report an error, there is no CRD of apisixservices：

pkg/mod/k8s.io/client-go@v0.0.0-20190819141724-e14f31a72a77/tools/cache/reflector.go:98: Failed to list *v1.ApisixService: apisixservices.apisix.apache.org is forbidden: User "system:serviceaccount:apisix:apisix-view-serviceaccount" cannot list resource "apisix

[2021-07-13 02:37] gxthrj commented on #580
If writing `healthcheck` in ApisixRoute, it will make the configuration of ApisixRoute particularly bloated. And, `healthcheck` has nothing to do with routing, so it is placed separately in ApisixUpstream as a supplement. A similar design also has a load balancing strategy under upstream.

Wait to see other people's thoughts.

[2021-07-13 02:39] tao12345666333 commented on #581
ApisixService has been removed in #230  #566

Can you run `kubectl get apisixservices -A`  command ?

[2021-07-13 02:44] gxthrj commented on #581
Yes, you may keep the CRD defination the same as [deploy](https://github.com/apache/apisix-ingress-controller/tree/master/samples/deploy).

By the way, have you installed an old version of apisix-ingress before?

[2021-07-13 03:34] ArmitageW commented on #581
@tao12345666333

[root@scq03-VMWARE0050568fcbb0-test-app-66-34-msxf ~]# kubectl get apisixservices -A
error: the server doesn't have a resource type "apisixservices"

[2021-07-13 03:35] ArmitageW commented on #581
@gxthrj
No previous version installed

[2021-07-13 03:45] Donghui0 commented on #578
I need to use Apisix to handle east-west and north-south traffic separately, so in this scenario I need multiple Apisix clusters. I hope that the routing in each cluster is isolated, does not affect each other, and is clear at a glance.

I know that you definitely want me to use ingress_class annotation to distinguish. But I have a lot of routing, and I don't want to write an ingress resource for

[2021-07-13 03:54] Donghui0 commented on #578
My initial idea was to let the controller only listen to Apisix Upstream CRD, and then use apisix admin api for routing management. On the other hand, Because ApisixRoute CRD attributes are incomplete, such as missing the timeout attribute (read/connect/write) of the route.

[2021-07-13 06:25] ArmitageW commented on #581
ok，default version is 0.1.0

./deployment/ingress-controller.yaml:44:      - image: apache/apisix-ingress-controller:0.1.0

The image version needs to be modified

[2021-07-13 06:25] #581 closed

[2021-07-13 06:27] tao12345666333 commented on #581
yep, can you open a PR to modify it？ @ArmitageW

[2021-07-13 06:31] ArmitageW commented on #581
OK

[2021-07-13 06:53] gxthrj commented on #578
@Donghui0

IMO, ingress.class annotation is doing the same things, make multiple controllers handle different ApisixRoute CRDs.

[2021-07-13 07:00] gxthrj commented on #578
This is a feature, now we use the default timeout in APISIX.
We can support the timeout fields in CRD, too.
PR is welcome ~
But I don't recommend you to mix yaml and admin api, this is uncontrollable.

[2021-07-13 07:09] Donghui0 commented on #578
You are right.   But you can’t use native or custom apisix plugins in ingress resource, There are only a few basic plugins.

So can only use ApisixRoute CRDs.  the crd has http[].plugins property.

[2021-07-13 07:12] Donghui0 commented on #578
After all, the configuration properties of ApisixRoute CRD are much more than ingress.  This is one of the reasons why I want to give up using Ingress Resource  and use ApisixRoute CRD directly.

[2021-07-13 07:37] chzhuo opened #582 "bug: Should not call func recordStatus when only delete ApisixUpstream"
### Issue description

https://github.com/apache/apisix-ingress-controller/blob/master/pkg/ingress/apisix_upstream.go#L194
In above file should not call recordStatus when only delete ApisixUpstream

### Environment
apisix-ingress-controller version 1.0.0-4b16e28-go1.16.3

### Minimal test code / Steps to reproduce the issue
upstream.yaml
[code]

1.kubectl apply -f upstream.yaml
2.kubectl delete -f

[2021-07-13 07:41] gxthrj commented on #578
Yes， I see， I mean we can support `ingress.class` in ApisixRoute, which is what you want.
This feature will get a proposal soon.

[2021-07-13 07:45] gxthrj commented on #582
Thanks for the report, It is a true bug.

[2021-07-13 08:08] gxthrj opened #584 "docs: need to show how to use UDP in ApisixRoute resource"

[2021-07-13 09:12] tao12345666333 opened #586 "feat: add TLS support for Ingress resources"
https://github.com/apache/apisix-ingress-controller/blob/57ec6dafa7b96b8c2fe5c386eedfce74cb581441/pkg/kube/translation/ingress.go#L38

Currently we only converted the rules and did not parse TLS.

[2021-07-13 10:58] gxthrj opened #587 "feat: Need to fully compare CRD and internal objects in APISIX"
### Issue description
The current Ingress controller is highly available through elections, but when all controller instances are shut down, some events of deleting or modifying resources will be lost, which will cause inconsistencies between the declared configuration and the APISIX state, so we need a full comparison mechanism when apisix ingress starting up.

Discussing in https://lists.apache.

[2021-07-13 11:19] f1soft opened #588 "bug: Install ValidationError(CustomResourceDefinition.spec.versions[0])"
### Issue description
ingress Installation failure

### Environment
* kubectl version
* Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", Git
TreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:

[2021-07-13 11:42] #584 closed

[2021-07-13 12:21] tokers commented on #578
That won't be suitable that we use the same name in ApisixRoute.

[2021-07-14 01:53] #582 closed

[2021-07-14 12:48] gxthrj commented on #588
I'm afraid this error is because [this field](https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/crd/v1beta1/ApisixRoute.yaml#L47) cannot be recognized，You can try to delete this field and try again.

But it is strange that e2e is ok, which is also use this CustomResourceDefinition.

[2021-07-14 17:01] tao12345666333 opened #592 "proposal: Add IngressClass support for custom resources"
Currently our custom resources are all namespace scoped.

If you want to use multiple apisix-ingress-controllers in the namespace at the same time, this is not allowed.

If we can add ingress class to custom resources, then we can let apisix-ingress-controller handle them separately.

Although this is a very low frequency scene. It is currently being discussed #578

I think we may need to reach a

[2021-07-15 01:28] tokers commented on #592
@tao12345666333 That would be a good way to support the soft isolation, but shall we still use the name `ingressClass`?

[2021-07-15 01:34] tao12345666333 commented on #592
IngressClass is a general concept, I think it is more acceptable to take it.

[2021-07-15 05:21] f1soft commented on #588
delete 'deprecated' filed get succeeded，Tks！@gxthrj

[2021-07-15 05:21] #588 closed

[2021-07-15 06:54] fatalc commented on #587
Consider migrating to <https://github.com/kubernetes-sigs/controller-runtime> 😊

[2021-07-15 08:10] liov opened #594 "bug: sync ingress failed, will retry"
### Issue description
[code]
### Environment
[code]
[code]

### Minimal test code / Steps to reproduce the issue

[code]

### What's the actual result? (including assertion message & call stack if applicable)
404 NOT Routes
### What's the expected result?

[2021-07-15 08:13] tokers commented on #594
@liov This is due to the mismatched version of APISIX and ingress controller, what are the versions of APISIX and Ingress Controller?

[2021-07-15 08:23] tao12345666333 commented on #594
[code]

@liov  Did you install it directly through the helm repository of apisix? Or was it installed via clone https://github.com/apache/apisix-helm-chart?

[2021-07-15 08:33] liov commented on #594
@tao12345666333 directly through the helm repository of apisix,bug pull and install .tgz

[2021-07-15 08:35] liov commented on #594
@tokers apisix 2.7 and ingress-controller 1.0

[2021-07-15 10:06] liov commented on #594
reinstall controller and use apisixroute succeed

[2021-07-15 10:06] #594 closed

[2021-07-15 14:05] zengzhengrong opened #597 "docs: Improve practices document,apisix.apache.org/v2alpha1 is deprecated"
https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md
[code]

apiVersion: apisix.apache.org/v2beta1 is deprecated, use apisix.apache.org/v2alpha1

[2021-07-15 14:49] gxthrj commented on #597
Exactly, v2alpha1 is deprecated. v2beta1 is the newer version.

[2021-07-17 10:27] Liulimingxx commented on #597
`apiVersion: apisix.apache.org/v2beta1
kind: ApisixRoute
metadata:
  name: method-route
  namespace: test
spec:
  http:
    - name: method
      match:
        paths:
          - /xx/ingress*
        methods:
          - GET
      backends:
        - serviceName: nginx-service
          servicePort: 80`

this apisix.apache.org/v2beta1 version route yaml got apisixroute group version  apisix.apache

[2021-07-17 12:46] nithinkxx commented on #597
try modify apisix_route_version to apisix.apache.org/v2beta1 in  conf/config-default.yaml may help you

[2021-07-19 02:37] ly123-liu opened #599 "apisixroute 不支持多ns隔离"
版本情况：
* apisix version：2.6
* etcd version: 3.5
* apisix-dashboard version: 2.7

背景：我们在一个k8s集群内部存在多个ns，我们希望每个ns调用各自ns里的服务（ns隔离流量），在测试apisixroute 发现，通过apisixroute增加的配置，默认会加在所有ns下的apisix中

如下图，在prod-test ns下增加apisixroute：  prod-test-ingress-clearonline-apisix-route ， 在tp-perf ns 增加apisixroute： tp-perf-ingress-trade-apisix-route
![image](https://user-images.githubusercontent.com/57338370/126094583-5f1

[2021-07-19 05:31] tokers commented on #599
Related to https://github.com/apache/apisix-ingress-controller/issues/592.

[2021-07-19 05:53] ly123-liu commented on #599
we can not use kubernetes.app_namespaces to one ns, as some service sometimes need to be used cross ns..

ingressClass is really usefully, hope to be supported in the future, thanks

[2021-07-19 06:19] ly123-liu opened #600 "apisix custom nginx location dynamic configure"
apisix: 2.6
apisix-dashboard: 2.7
etcd: 3.5

apisix 是否在单个server 块中支持动态新增nginx location配置 或者其他指令呢？
apisix 在启动的配置中可通过snip支持，但是后续可能会存在新增的server name 有其他需求，apisix 能支持类似nginx-ingress ，不同的server可配置snip并且动态配置吗？

[2021-07-19 07:01] gxthrj commented on #600
Due to the different implementation mechanisms of APISIX and Nginx, in APISIX ingress, we recommend using CRD (eg ApisixRoute Resource) to define routes (similar to the location in Nginx).

In ApisixRoute resources, all routing rules are declared under `spec`, including some advanced configuration such as the canary, which is easier to understand, and conducive to verification, and ensures the cor

[2021-07-19 07:08] gxthrj commented on #599
Yes, This is one of the reasons why we need `IngressClass`.

[2021-07-19 11:57] tokers commented on #600
Are there any special configurations that you have to use and are not easy to implement by APISIX primitives like Route and Plugins? If not so, you can just use the APISIX primitives.

[2021-07-20 03:29] ly123-liu commented on #600
![image](https://user-images.githubusercontent.com/57338370/126257128-ba2a7ade-ecd4-4f73-8319-d93b69d7d63f.png)

yes, sometimes we need to update or add some static location , if else statement , max body size .. etc, how can i set this ? thanks

[2021-07-20 04:14] tao12345666333 commented on #600
`client_max_body_size` can be set dynamically. You can just using `client-control` plugin to config it.

xref: https://github.com/apache/apisix/pull/4423

[2021-07-21 03:54] arabot777 opened #603 "bug: key-auth custom Header does not take effect"
### Issue description
When defining the ApisixRoute, the header of the Re-specified keyAuth does not take effect.
### Environment

apisix-ingress-controller version:
Version: 0.6.0
Git SHA: no-git-module
Go Version: go1.13.8
Building OS/Arch: linux/amd64
Running OS/Arch: linux/amd64

Kubernetes cluster version:
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d3

[2021-07-21 03:56] gxthrj commented on #603
I don't have enough time today, cc @tao12345666333 @tokers If you have time.

[2021-07-21 05:36] arabot777 commented on #603
My problem, `keyAuth` requires lowercase. I should refer to K8SAPI instead of CRD resources.
https://github.com/apache/apisix-ingress-controller/blob/2d12c3fdd1369e9e263342d0def6473de5c0664f/pkg/kube/apisix/apis/config/v2alpha1/types.go#L200-L203

[2021-07-21 05:36] #603 closed

[2021-07-21 08:04] arabot777 opened #604 "bug: the definition of timeout of passive unhealthy, ApisixUpsteam CRD resources and API definitions are inconsistent"
### Issue description
Two questions.
#### The first question is bug,  CRD resources and API object are different from timeount unit definitions.
In CRD resources, passive healthy check timeout is set to **`string`**. In api, passive healthy check timeout is set to **`time.Duration`**. However In CRD resources, active healthy check timeout is set to **`number`** and in api is set to **`time.Duratio

[2021-07-21 11:17] tokers commented on #604
This leads to unable to declare unhealthy timeout.

PR's welcome to fix this.

[2021-07-21 11:21] tokers commented on #604
@arabot777 For the second one, we may create an our own time duration format which implements the `json.Unmarshaler` interface, so that we can pass some string values like `5s`, `10h` to it.

See pkg/types/timeduration.go for details.

[2021-07-26 12:12] tokers opened #607 "ci: timeout settings for e2e framework"
Timeout for waiting for the components/custom resources to launch or set up now is hardcoded. It's not reasonable since the GitHub Action is slow sometimes.

We may tidy up the timeout settings around the codebase and unify them with a configurable one, also, for the sake of easy to change, we may export an environment variable to control it.

[2021-07-27 01:54] #396 closed

[2021-07-27 01:55] #116 closed

[2021-07-27 02:36] #397 closed

[2021-07-27 02:39] gxthrj commented on #338
The issue is stale, feel free to reopen.

[2021-07-27 02:39] #338 closed

[2021-07-27 02:51] #448 closed

[2021-07-27 02:51] #449 closed

[2021-07-27 02:53] #454 closed

[2021-07-27 02:53] #456 closed

[2021-07-30 06:07] tutuV opened #608 "no matches for kind "ApisixRoute" in version "apisix.apache.org/v2beta1""
### Issue description
"apisix.apache.org/v2beta1"  is not ok.
"apisix.apache.org/v2alpha1"  is  ok.
why ?

### Environment

* your apisix version (2.7);
* your apisix-ingress-controller version (2.7);
* your Kubernetes cluster version (1.21);

![image](https://user-images.githubusercontent.com/49155687/127608361-24844bd0-af08-4f87-8b22-be774709a69a.png)

[2021-07-30 06:48] tao12345666333 commented on #608
Please provide more information

**What happened**:

**What you expected to happen**:

[2021-07-30 07:55] Donghui0 commented on #592
First: Ingress Class has a default value ("apisix"). If you continue to use ingressClass, then only ApisixRoute containing "apisix" will be listened by default. And if you want to listen to all ApisixRoute CRD by default, it seems impossible to achieve? Or put IngressClass To an empty string?
Second: Does ApisixRoute CRD need to add the Spec.IngressClass field?

[2021-07-30 08:08] tokers commented on #592
A tricky way to support listen all ApisixRoute CRs is reserving a wildcard `*`, when the configured `ingressClass` is `*`, we listen all ApisixRoutes.

I think add `spec.IngressClass` is a good way.

[2021-07-30 08:08] gxthrj commented on #592
The `IngressClass` can use `ingressclass.kubernetes.io/is-default-class` to set the default IngressClass.

Yes, we need to add a field `spec.IngressClass`.

[2021-07-30 08:11] tao12345666333 commented on #592
I agree add `spec.IngressClass` field

[2021-07-30 08:18] Donghui0 commented on #592
Consider this scenario: At present, some people have used ApisixRoute CRD, there is no ingressClass for isolation, so the default is to listen to all ApisixRoute CRDs. But when they upgraded to the new ingress-controller version, they found that by default Controller only listen to CRDs containing "apisix". Is this situation unreasonable? Or change the default value of ingressClass to "*"?  But th

[2021-07-30 08:19] tutuV commented on #608
@tao12345666333
helm  install   apisix apisix/apisix  --namespace ingress-apisix
helm  install   apisix-ingress-controller  apisix/apisix-ingress-controller  --namespace ingress-apisix
helm  install   apisix-dashboard apisix/apisix-dashboard   --namespace ingress-apisix

 kubectl get all -n ingress-apisix
![image](https://user-images.githubusercontent.com/49155687/127623010-3f3bdf37-48a9-4ce0-bd05

[2021-07-30 08:47] leshalv commented on #565
kubectl get ingress 查看ingress是活动状态，rancher init 状态应该是 rancher ui问题，dashboard 也有数据，访问404

[2021-07-30 10:38] tutuV commented on #608
@tao12345666333
curl  www.test.com:31495/index
docker logs  -f  apisix-gateway-container容器

2021/07/30 10:29:19 [error] 46#46: *4527056 [lua] resolver.lua:35: parse_domain(): failed to parse domain: apisix-etcd.ingress-apisix.svc.cluster.local, error: failed to query the DNS server: dns lookup pool exceeded retries (1): timeout, context: ngx.timer
2021/07/30 10:29:19 [error] 46#46: *4422815 [lua]

[2021-07-30 11:46] tao12345666333 opened #610 "proposal: New architecture of Apache APISIX Ingress controller"
In the current architecture of the Apache APISIX Ingress controller, we use the Apache APISIX Ingress controller as a control plane component.
The user creates a specified type of CR in Kubernetes, and the Apache APISIX Ingress controller converts it into a data structure that can be received by Apache APISIX, and creates, modifies or deletes it by calling the admin API.
Such an architecture has t

[2021-07-30 11:48] gxthrj commented on #610
Agree +1

[2021-08-01 02:22] juzhiyuan commented on #610
+1

[2021-08-01 11:28] tokers commented on #610
+1

[2021-08-01 11:39] tokers commented on #592
As we already have similar logic about `IngressClass` resource, we may respect it in other APISIX Ingress Controller CRDs, i.e. the default value of `spec.ingrssClass` will be decided by the default IngressClass resource.

[2021-08-01 11:44] tokers commented on #608
It seems the DNS resolve was failed. You may try to check the availability of your kube-dns service.

[2021-08-01 11:45] tokers commented on #608
We don't have such a version, please don't joke and paste the correct one.

[2021-08-01 11:46] tokers commented on #608
Also, you may try to paste the result of `kubectl get crds`.

[2021-08-02 07:29] Donghui0 opened #611 "request help: failed to record status change for ApisixRoute"
### Issue description
When creating a new ApisixRoute resource, the error is reported as follows:
`ingress/status.go:91	failed to record status change for ApisixRoute	{"error": "Operation cannot be fulfilled on apisixroutes.apisix.apache.org \"api-product-v1\": the object has been modified; please apply your changes to the latest version and try again", "name": "api-product-v1", "namespace": "app"

[2021-08-02 07:45] gxthrj commented on #611
@Donghui0 Is this issue related to https://github.com/apache/apisix-ingress-controller/pull/609?

[2021-08-02 09:15] Donghui0 commented on #611
yep~

[2021-08-02 09:29] Donghui0 opened #612 "bug: Wrong events keep circulating in the workqueue."
### Issue description
In the following scenario:
1: Create ApisixRoute resource, but spec.http.backends.serverName does not exist in the current namespace.
2: Modify the ApisixRoute metadata.namespace attribute; make it in the same namespace as spec.http.backends.serverName.

the resource can be successfully created in apisix.
However, the events in step 1 will continue to flow and cannot be delet

[2021-08-02 11:37] tokers commented on #612
We may try to avoid this problem by setting up the admission server, so we can reject these invalid ApisixRoute configurations.

[2021-08-03 08:42] tao12345666333 opened #614 "Bi-weekly meeting （双周会议）"
Welcome to join our bi-weekly meeting.

Date: Every 2 weeks, Wednesday, 14:00 CST.

Meeting Notes: https://docs.qq.com/doc/DSEhMeGJ0UXdydFJy

Video playlist: TBD

[2021-08-03 08:50] gxthrj commented on #614
Great~ Welcome

[2021-08-03 09:12] gxthrj commented on #612
I'm afraid this is related to your behavior. `ApisixRoute` resources are namespace-sensitive. The `namespace` and `name` of
 `ApisixRoute` are not allowed to be changed at will.
If you need to modify the namespace, you can delete the original `ApisixRoute` first, and then create a new `ApisixRoute` resource with the correct namespace.

[2021-08-03 09:33] Donghui0 commented on #612
Yes. The correct way is as you said.
But, When creating ApisixRoute CRD, I remembered the corresponding namespace of the service incorrectly. So I created the wrong CRD.

[2021-08-03 16:54] gxthrj commented on #611
I found a scenario that can reproduce your problem.
When two controllers in the cluster change the status of the `ApisixRoute` resource at the same time, this error will be reported.

Please check if there are more than two controllers in your test environment.

[2021-08-04 03:09] Donghui0 commented on #611
Yes. There are indeed multiple controllers in the same cluster. It seems that there are still some problems with running multiple controllers in the same cluster.

[2021-08-04 06:11] tao12345666333 commented on #612
you can remove the old CRD.

[2021-08-04 06:17] #612 closed

[2021-08-04 06:18] #611 closed

[2021-08-04 06:22] tao12345666333 commented on #608
because of the default `apisixRouteVersion` is `"apisix.apache.org/v2alpha1"`  https://github.com/apache/apisix-helm-chart/blob/f2602a84f93dc0362b0f4c14987e620993ac9bfa/charts/apisix-ingress-controller/values.yaml#L96

[2021-08-04 06:25] tao12345666333 opened #617 "bug: incorrect additional PrinterColumns"
### Issue description

xref: https://github.com/apache/apisix-ingress-controller/issues/608#issuecomment-889725305

[2021-08-04 06:28] tao12345666333 commented on #608
@tutuV can you provide more informations about kubernetes system componetes?

[code]

[2021-08-04 06:33] tao12345666333 commented on #604
we can add check to admission.

[2021-08-04 06:37] tao12345666333 commented on #600
@ly123-liu   we can support under the new architecture #610

feel free to reopen it.

[2021-08-04 06:37] #600 closed

[2021-08-04 08:16] gxthrj commented on #611
The Ingress controller uses the election mechanism to determine which controller is effective. When configuring, ensure that only one controller handles one resource.

[2021-08-05 02:55] Donghui0 commented on #611
is my problem.
The other controller is fully watched.

[2021-08-05 06:27] zhaojizhuang opened #618 "Feature Suggest support hot reload when configmap changed"
### Issue description
Feature Suggest:
 Support hot reload when configmap `ingress-apisix/apisix-ingress-controller-configmap`changed

[2021-08-05 06:34] gxthrj commented on #618
Good proposal, but there are fewer use cases for this feature.

The apisix-ingress-controller is the control plane, which can be restarted at any time without affecting business traffic. Moreover, the modification of configmap is a very low-frequency operation, and doesn’t really need hot reload.

Can you describe the business scenario?

[2021-08-05 06:47] zhaojizhuang commented on #618
Such as : change `log level`, `enable profile`.Just hope it will take effect immediately like ingress nginx

[2021-08-05 10:19] tokers commented on #618
ingress-nginx watches on files like nginx template, geoip files, but it doesn't watch on its own (the control plane) configuration file.

[2021-08-05 12:37] zhaojizhuang commented on #618
@tokers configmap `ingress-nginx/ingress-nginx-controller`

[2021-08-05 13:03] zhaojizhuang commented on #618
@tokers ingress-nginx's control plane configuration (such as `profiling` )is define in command args. So update deploy will update the Pod。What I mean is that it is best to support hot reload if the configurations is defined in configmap，otherwise，why not defined in container command args？

[2021-08-06 02:50] tokers commented on #618
Settings in configmap (actually is the configuration file for apisix-ingress-controller) are the same as command line args.

Anyway, PR is welcome to support this feature.

[2021-08-08 21:53] gxthrj opened #619 "bug: sync to APISIX failed when remove ApisixRoute (v2beta1)"
### Issue description
Sync to APISIX failed when remove ApisixRoute (v2beta1)
### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`); v1.1

### What's the expected result?
Can sync successfully when remove ApisixRoute (v2beta1)

[2021-08-09 01:08] tokers commented on #619
@gxthrj You may describe the issue more elaborately.

[2021-08-09 08:39] tutuV commented on #608
@tao12345666333  I set up the environment again, ran the Echo service,
Everything is fine except that kubectl get ApiRoute is not quite right.
Maybe there was something wrong with the network.If there is no further suggestion, I will close the issue.

[2021-08-09 11:12] tokers commented on #608
What's the exact error you suffered from?

[2021-08-10 06:39] sober-wang commented on #610
+1

[2021-08-11 02:22] #619 closed

[2021-08-11 02:31] chzhuo opened #621 "bug: should add tag omitempty to v2alpha1's config item backend and backends?"
### Issue description
Should add tag `omitempty` to v2alpha1's config item `backend` and `backends`
https://github.com/apache/apisix-ingress-controller/blob/master/pkg/kube/apisix/apis/config/v2alpha1/types.go#L95-L99

When using `clientset v2alpha1` to create a `ApisixRoute`, if set `backends` not `nil` and set `backend=nil` you will get error:
[code]
Because there is a validation in CRD that wil

[2021-08-11 03:14] gxthrj commented on #621
@chzhuo Please describe your scenario which does not be define backend(s)

[2021-08-11 04:06] chzhuo commented on #621
`backend` is deprecated, so i not set `backend`, i only set `backends`.
I using `apisix-ingress-controller` to create a `ApisixRoute` as below,  but get error `spec.http.backend: Invalid value: "null"`

[code]

[2021-08-11 05:12] tokers commented on #621
@chzhuo PR's welcome!

[2021-08-11 09:44] chzhuo opened #625 "request help: Is there good way to check apisix healthy ?"
### Issue description
`apisix` node sync etcd data error may leading service error
`kube-router` sync `route-tables` error may leading apisix connect upstream error
etc...

I think that this errors should set `apisix` node unhealthy
So, Is there recommend way to check apisix healthy ?

[2021-08-11 10:00] tao12345666333 commented on #625
please see #567

[2021-08-12 06:29] arabot777 commented on #604
i will submit pr. What do I need to pay attention to

[2021-08-12 12:03] tokers commented on #604
Do you mean the admission server? We have another friend who is devoting to this. Maybe you can wait for a while and see whether the PR can solve your problems.

[2021-08-13 06:49] #521 closed

[2021-08-13 06:49] #617 closed

[2021-08-13 06:50] tao12345666333 commented on #597
#623 has been merged.
I will close this one.

[2021-08-13 06:50] #597 closed

[2021-08-13 08:11] suninuni commented on #389
@tokers I can't find any fields about nginx configs in CRD or plugins, but I find the global nginx configs in [Apisix](https://github.com/apache/apisix/blob/9c5ba9184ad000ee97afe808ade029f4bebc1771/docs/zh/latest/customize-nginx-configuration.md#L28), so is there anyway to config these in ApisixRoute?

![image](https://user-images.githubusercontent.com/7345529/129325635-ebdb02f9-69cd-4b77-8975-a0b

[2021-08-13 08:51] tokers commented on #389
Currently we don't support configure Nginx Params in ApisixRoute @suninuni .

[2021-08-15 04:02] zou8944 opened #629 "request help: Ingress迁移"
### Issue description

通过查看apisix-ingress-controller手册，apisix的路由声明都在ApiRoute这一CRD上，如果我想将之前的nginx-ingress-controller更换为apisix，岂不是需要修改之前所有的ingress声明吗？

还有一个版本问题，目前有两个版本，v1和v2alpha1，但文档中出现的却是v2beta1，请问是什么原因导致文档和实际的版本不一致？v2alpha1会提供多久的支持？会不会我用到一半就又升级了。

[2021-08-16 02:51] arabot777 commented on #604
Understood. We hope the problem can be solved quickly and want to support plugins` client-control`

[2021-08-16 06:03] lgy1027 opened #630 "bug: Error creating apisixRoute"
[code]

create ApisixRoute err!
![微信截图_20210816140106](https://user-images.githubusercontent.com/38779388/129517962-26bc6e35-73b7-437e-9c70-ac1600e57c77.png)

APISIXX VERSION:
![image](https://user-images.githubusercontent.com/38779388/129518101-ba58e4be-5aa8-4b3b-95dd-30014041d773.png)

[2021-08-16 09:51] #625 closed

[2021-08-16 09:58] #621 closed

[2021-08-16 12:59] tokers commented on #630
Solve by https://github.com/apache/apisix-ingress-controller/pull/622, please update the master branch and try again.

[2021-08-16 12:59] #630 closed

[2021-08-17 02:45] lgy1027 opened #631 "request help: 有关于grpc相关的apisixroute"
你好，我现在想用apisix做http和grpc的代理，现在只会创建http的，请问grpc的该怎么做，因为配置grpc还需要配置TLS证书，这些都不知道用apisix怎么完成，目前用kong已经实现

[2021-08-17 04:37] zou8944 commented on #629
But there is no v2beta1 CRD after installing apisix-ingress-controller in my ACK.
![企业微信截图_617acbbe-029d-45d4-af24-d129535d6057](https://user-images.githubusercontent.com/18495995/129664457-14173d83-117d-4f00-ab2b-48ac04db9a4a.png)

[2021-08-17 07:05] suninuni opened #632 "bug: request failed with 502 when upstream is rolling update"
### Issue description

When upstream service is rolling update, Apisix can not update upstream nodes immediately which caused request failed with 502. This will not happen in ingress-nginx-controller(version 0.46 which is already cancelled reload nginx when upstream nodes changed.)

![image](https://user-images.githubusercontent.com/7345529/129678165-eae14e48-8163-465e-bc06-3ecf21006610.png)

###

[2021-08-17 10:43] lgy1027 opened #637 "request help: About Grpc configuration"
Now I have an SVC, in which an HTTP and GRPC ports are leaked. Now I need both HTTP and GRPC to provide services. May I ask how to write apisixroter, ApisixUpstream and ApisixTls?
![image](https://user-images.githubusercontent.com/38779388/129712373-967782ba-3c9f-43a7-9cba-9910b519c4a8.png)

[2021-08-17 13:17] tokers commented on #631
@lgy1027 Please read http://apisix.apache.org/ for more details., for instance: http://apisix.apache.org/docs/apisix/grpc-proxy/.

[2021-08-17 13:33] tokers commented on #629
@zou8944 Please try to use the newest charts.

[code]

[2021-08-17 13:37] tokers commented on #632
@suninuni You may try to:

1. add the retry mechanism
2. add the active and passive health check

Look forward to knowing whether this can eliminate or mitigate this issue. We'll also try to optimize the process from the internal of apisix and apisix-ingress-controller.

[2021-08-18 02:09] lgy1027 commented on #631
感谢回复，但是看着文档更多的是http直接请求设置参数，我现在需要的是通过k8s完成交互，目前我想测试的是一个svc暴漏两个端口，一个是http端口，还有个是grpc端口，然后针对grpc需要单独创建upstream，但是我看官网说grpc需要设置证书，请问证书在哪里设置，是创建ApisixTls设置吗，然后证书如何和grpc关联，针对这个场景有很多疑问，主要是官网对ingress controller的文档不太友好，示例很少，还有就是helm安装apisix，crd没有betal版本，以下是我创建的实例。
[code]

![image](https://user-images.githubusercontent.com/38779388/129825351-d2bfab6e-ea6b-4600-8dce-d3a0eb49e2df.png)

[2021-08-18 02:20] #637 closed

[2021-08-18 03:02] shelltea opened #638 "proposal: Add CRD ApisixPluginConfig support plugin configs"
Add a CRD like `ApisixPluginConfig` to support a group of plugin configs, and `ApisixRoute` add a field be associated with it.

If we want to implement this function, we can split the following tasks:

- [x] Add ApisixPluginConfig custom resource. Only need to modify YAML. #694
- [x] Add ApisixPluginConfig data structures. #694
- [x] Add client implementation to interact with Apache APISIX. #772
-

[2021-08-18 06:05] tao12345666333 commented on #638
Add this to v1.3 milestone.

[2021-08-18 06:11] tao12345666333 commented on #632
can you paste your ApisixRoute CR ?

[2021-08-18 06:12] tao12345666333 commented on #632
Or you can add readiness configurations

[2021-08-18 06:20] tao12345666333 commented on #629
https://github.com/apache/apisix-helm-chart/blob/ba0b70d5cc4e43d04b20cc86c3e8b2f60af1b3db/charts/apisix-ingress-controller/values.yaml#L96

I have upgraded the default configuration to v2beta1

[2021-08-18 06:38] tao12345666333 commented on #608
@tutuV  any update?

[2021-08-18 06:42] tao12345666333 commented on #565
this issue will resolve at v1.3

[2021-08-18 07:00] tao12345666333 opened #639 "discuss: set traffic split as first support"
xref: 289

[2021-08-18 07:01] lingsamuel commented on #639
#289

[2021-08-18 07:11] anjia0532 commented on #565
@tao12345666333 thanks for your job

[2021-08-18 07:52] lgy1027 commented on #631
比如如果我使用ingress配置参数Spec.TLS来实现grpc的请求证书验证，在apisixroute中需要这么做吗，还是说我直接配置个apisxiTLS，然后在hosts指定地址，在Secret中指定secret就可以实现相同功能？

[2021-08-18 09:27] Donghui0 commented on #632
in APISIX, the retry mechanism is enabled by default and set the number of retries according to the number of available backend nodes.
retry mechanism did not take effect?

[2021-08-18 09:36] tokers commented on #632
Let's wait @suninuni for his configuration snippets.

[2021-08-18 09:59] tokers commented on #631
Yes, you can use ApisixTls to configure certificates, and certificate matching is done automatically by their SANs.

[2021-08-18 10:50] suninuni commented on #632
@tao12345666333 If  you mean the readiness of the pod, yes I have.

AND @tokers @Donghui0 thanks for your replies.

From the screenshot of Apisix's access log, I think the retry mechanism is worked. You can find some of requests are return 200 after retried 1 times (because I only set 2 replicas for the test service).

![image](https://user-images.githubusercontent.com/7345529/129882630-fb80c153-2

[2021-08-19 01:49] lgy1027 commented on #631
http://apisix.apache.org/zh/docs/apisix/grpc-proxy/我是 参考这个做的代理，现在无法测试grpc，
![image](https://user-images.githubusercontent.com/38779388/129994575-8e7f1803-58be-41cb-b79c-7ab84d35b5ed.png)
这个是我起的服务，
![image](https://user-images.githubusercontent.com/38779388/129994639-d2b1db45-5b39-4630-924d-117cee91d30a.png)
![image](https://user-images.githubusercontent.com/38779388/129994692-d19c9721-0065-4190-bc

[2021-08-19 08:34] lgy1027 opened #641 "bug: ApisixIngress synced failed"
Currently creating a router proxying grpc, but when creating TLS, check and report the following error. What is the reason? apisixrouter, apisixstream and apisixConsumer can all be created successfully

![image](https://user-images.githubusercontent.com/38779388/130036222-c2c32609-d69a-4c66-8965-43903f49602a.png)

[2021-08-19 09:10] nic-chen commented on #631
@tokers @gxthrj @tao12345666333  please have a look.

[2021-08-19 11:40] tokers commented on #632
That's right, we need further discussions for it.

[2021-08-19 11:41] tokers commented on #641
@lgy1027 Could you paste the definition of this resource?

[2021-08-19 11:43] tokers commented on #631
@lgy1027 How did you test the gRPC service? You should send HTTP requests with correct URI path and payload according to the gRPC IDL.

[2021-08-19 12:09] Donghui0 commented on #632
Looking at the third access log in the picture, it seems that the retry mechanism does not take effect.  Only requested "10.32.176.134:80" once, but did not continue to request "10.32.137.94:80".

Only passive healthchecks are not supported in the current apisix version. The balancer.create_server_picker method uses the LRU cache. If the checker.status_ver field is not updated by the active health

[2021-08-19 12:17] lgy1027 commented on #631
所以这块不清楚要怎么测试，后面我把gateway的https设置打开了，
![image](https://user-images.githubusercontent.com/38779388/130066792-4df88de0-920f-4ffa-8e6f-31eef600ecfb.png)
然后发送请求
我发送的命令是grpcurl -insecure -import-path /  -proto helloworld.proto  \
    -d '{"name":"apisix"}' 10.233.22.220:443 helloworld.Greeter.SayHello，但是报错Failed to dial target host "10.233.22.220:443": remote error: tls: internal error

[2021-08-19 12:20] lgy1027 commented on #631
这块不是这么好懂对于新手来说，有没有详细的文档，还有个问题，当我配置upstream里面设置了三个PortLevelSettings，在apisix中会全部覆盖成一个Scheme，如下
![image](https://user-images.githubusercontent.com/38779388/130067251-e6c9ea29-c9bd-4a7c-8c5b-d257906d6bf1.png)
[code]

[2021-08-19 12:40] noshenxian opened #642 "bug: ingress-apisix does not work when configured with apisixroute"
### Issue description
hi guys
I have a very strange problem, ingress-apisix does not work when configured with apisixroute, but it works in the dashboard, how can I troubleshoot this problem?
### Environment
* apisix-ingress-controller-0.6.0
* Kubernetes 1.19.7
* centos7.9

### Minimal test code / Steps to reproduce the issue
# k describe ApisixRoute foo-bar-route
Name:         foo-bar-route
Names

[2021-08-19 15:07] noshenxian commented on #642
the problem is solved in the new version

[2021-08-19 15:07] #642 closed

[2021-08-20 01:58] lgy1027 commented on #641
apisixRouter:
![image](https://user-images.githubusercontent.com/38779388/130166875-c8d3f52a-1053-46c4-8292-63999581a471.png)
apisixTls:
![image](https://user-images.githubusercontent.com/38779388/130166853-c1acd168-843f-4a27-9ddb-9ed7c8003a23.png)
apisixUpstream:
![image](https://user-images.githubusercontent.com/38779388/130166829-89546c2a-d90f-4105-b83d-b54f221d754e.png)

kubectl describe au -n

[2021-08-20 02:09] tao12345666333 commented on #641
please paste the plain text instead of image

[2021-08-20 02:38] lgy1027 commented on #641
apisixrouter:
[code]

apisixUpstream
[code]

apisixTls:
[code]

I am using V2alpha1 to create apisixrouter, why does the resource display v1

[2021-08-20 06:39] chzhuo opened #643 "request help: How about change field retries to value from pointer."
[apisix admin upstream api](https://apisix.apache.org/docs/apisix/admin-api/#request-body-parameters-3) describe field `retries`:
*  If not set the retry mechanism is enabled by default
* 0 means disable retry mechanism.

I wanna disable retry meechanism, but `0` not pass to the `admin upstream api` because the `omitempty`

https://github.com/apache/apisix-ingress-controller/blob/master/pkg/kube/a

[2021-08-21 02:52] tokers commented on #643
@chzhuo Good, `*int` works well, PR's welcome!

[2021-08-21 02:58] tokers commented on #641
What's the version of your APISIX?

The reason is that the apisix-ingress-controller doesn't set the `node` field in APISIX Upstream and the data violates the APISIX Upstream schema.

But this was fixed in the apisix-ingress-controller lastest master branch, you should tell us the environment information you're using so we can reduce the time cost for the query, it's a big win.

Also, check whethe

[2021-08-23 01:41] tao12345666333 opened #644 "feat: GatewayAPI Support"
Gateway API is an open source project managed by the SIG-NETWORK
community. It's is a collection of resources that model service networking
in Kubernetes. These resources - `GatewayClass`,`Gateway`, `HTTPRoute`,
`TCPRoute`, `Service`, etc - aim to evolve Kubernetes service networking through
expressive, extensible, and role-oriented interfaces that are implemented by
many vendors and have broad in

[2021-08-23 01:54] lgy1027 commented on #641
svc:test-apisix-lgy-grpc exist,

apisix installed by helm:CHART:apisix-0.3.5
Application version: 2.7.0

go.mod：github.com/apache/apisix-ingress-controller v1.2.0

[2021-08-23 04:48] elvis-cai opened #645 "request help: configure backend service with external url."
### Issue description
Hi, trying to configure apisix ingress controller with multiple external url traffic splitting or failover, not sure if current approach is correct, if there's other workaround, please correct me, thanks.
Here's two features I am looking at:
- if `bar.com` is down, apisix should point to `foo.com` as failover
- if `bar.com` and `foo.com` are both active, traffic will be split

[2021-08-23 09:14] gxthrj commented on #645
cc @tokers @tao12345666333  if you have time. Do we have to do special processing on `ExternalName` service?

[2021-08-23 09:19] gxthrj commented on #645
We still need to discuss the security of using `ExternalName` Service.

[2021-08-23 10:22] lgy1027 opened #646 "request help: k8s中删除router，未触发admin删除的请求"
ingress-controller版本：0.6.0
部署ar，controller日志报错
[code]

删除ar时controller未触发调用apisix admin的删除请求

[2021-08-23 10:34] gxthrj commented on #646
@lgy1027  Please use the latest version of ingress-controller，now it is 1.2.0

[2021-08-23 10:38] tokers commented on #644
Indeed. +1 from me.

[2021-08-23 10:40] tokers commented on #641
It's not related to whether it exists, you should also checkout the endpoints of it.

[2021-08-23 10:44] tokers commented on #645
@elvis-cai It seems that we don't handle the external service correctly, as it's also "headless".

https://github.com/apache/apisix-ingress-controller/blob/1c17b41249361444b5b10f4a8897f62484b545b0/pkg/kube/translation/util.go#L42

Fix is simple, just adding another condition that the service type is not `ExternalName`.

[2021-08-23 10:44] tokers commented on #645
Also, PR's welcome! :)

[2021-08-23 11:05] lgy1027 commented on #646
helm仓库没有1.2.0，我直接打1.2.0镜像替换可以吗

[2021-08-23 22:46] elvis-cai commented on #645
cool, thanks @tokers for pointing out the root cause of the issue 👍 , by looking at kong ingress controller, also could find a condition check for externalname https://github.com/Kong/kubernetes-ingress-controller/blob/main/internal/parser/parser.go#L377.

[2021-08-24 02:32] tokers commented on #646
If I am correct, I have said that the data structure defined for ApisixRoute is not suitable to create objects programmatically.
There are some details that need to be fixed.

Here you may marshal the `v2b` and compare it with the YAML configuration and see the differences.

[2021-08-24 02:38] tokers commented on #645
Got it, would you like to submit a PR to optimize it? Thanks!

[2021-08-24 03:16] lgy1027 commented on #646
我这边试了下，创建v2alpha1版本的没问题，v2beta1问题可能出在spec.ApisixRouteHTTP中Backend和Backends使用指针类型，另外有个问题请教下，grpc请求代理怎么调试，我现在有个svc起的grpc服务，然后创建了tls，upstream等，但是不知道怎么测试，我看官网有grpc案例，但是不太清楚

[2021-08-24 07:48] sekfung commented on #608
@tao12345666333
Following this article [Install Ingress APISIX on Tencent TKE
](https://apisix.incubator.apache.org/docs/ingress-controller/deployments/tke), and I tried to proxy my service. I got the same problem: `no matches for kind "ApisixRoute" in version "apisix.apache.org/v2beta1"`

And I have set `config.kubernetes.ingressVersion=networking/v1beta1 ` because my  Kubernetes version is betwe

[2021-08-24 07:54] tao12345666333 commented on #608
Can you show me your `helm list` results?

[2021-08-24 08:14] sekfung commented on #608
@tao12345666333 `helm list` return nothing

[2021-08-24 09:42] tokers commented on #646
there are two cases you need to confirm which one is the same for you.

1. Client use gRPC to access APISIX, APISIX proxies to gRPC requests to upstream.

You need to create an ApisixUpstream which scheme is gRPC, since gRPC bases on HTTP/2, you may also need to create an ApisixTls resource. Of course you need to create an ApisixRoute to route requests to the backend service. Then you can use grpc

[2021-08-24 09:44] tokers commented on #608
@sekfung Could you show us the result of `kubectl get crds`.

[2021-08-24 09:58] gxthrj commented on #646
@lgy1027 Please show us the config of ApisixRoute,ApisixTls,ApisixUpstream resources. And the error log in APISIX when you test GRPC.

[2021-08-24 10:04] lgy1027 opened #648 "request help: 关于证书和grpc调试的问题"
目前使用helm安装apisix和controller，controller自己打的1.2.0镜像，现在想调试grpc问题
以下是响应信息
![image](https://user-images.githubusercontent.com/38779388/130597393-cade0495-648c-492a-b17a-5f6ff27afc56.png)
apisix日志信息
![image](https://user-images.githubusercontent.com/38779388/130597518-08f52f3a-362e-432a-8575-ece0b3bd3835.png)
这边创建router全部使用编码形式创建,下面就是全部过程
[code]
生成证书的代码：
[code]

如果是单独访问grpc的svc可以访问通，如下；
![image](https:/

[2021-08-24 10:05] gxthrj commented on #646
related to #648

[2021-08-24 10:06] gxthrj commented on #646
Close this issue, Please discuss the problem with GRPC configuration in #648 .

[2021-08-24 10:06] #646 closed

[2021-08-24 10:11] sekfung commented on #608
@tokers
Hi, here
[code]

[2021-08-24 10:41] sober-wang opened #649 "My apisix-ingress-controller report a problem ."
### Issue description
[code]

### Environment
- my apisix version: 2.7
- my apisix-ingress-controller: apisix-ingress-controller version 0.5.0-43e4d11-go1.13.8
- my kubernetes version: 1.18.2

kubernetes  yaml  file
[code]

[2021-08-24 10:46] tao12345666333 commented on #649
can you upgrade your apisix-ingress controller version to latest (v1.2) ?

[2021-08-24 10:57] sober-wang commented on #649
How to used helm upgrade the apisix-ingress-controller to latest(v1.2)?

[2021-08-24 12:44] sober-wang commented on #649
so terrible! I can't find the apisix-ingress-controller in the bitnami repo.
[code]

[2021-08-24 12:57] gxthrj commented on #649
Need to add repo and update.
[code]

[2021-08-24 13:02] sober-wang commented on #649
it's useless. Can you try ?

[2021-08-25 00:32] elvis-cai commented on #645
kk, could have a look at this issue.

Another thing maybe not related to ingress controller, I did another test using apisix admin api, looks like rewrite host header support was added in May(https://github.com/apache/apisix/pull/4208), so I could access each node defined in upstream.nodes with its header separately.
When testing the active health check, seems it is reading `upstream.checks.active

[2021-08-25 01:29] sober-wang commented on #649
@tao12345666333  we need to promote our producs. So the correct documents is important.

[2021-08-25 02:44] sober-wang commented on #608
So How to fix the problem ? I met it, too.

[code]

my environment.
- kubernetes v1.18.2
- apisix: 2.7
- apisix-ingress-controller: 1.1.0

[2021-08-25 03:12] tao12345666333 commented on #649
the full document is here: https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/k3s-rke.md#prerequisites

## Prerequisites

* Install [K3S](https://rancher.com/docs/k3s/latest/en/installation/) or [Rancher RKE](https://rancher.com/docs/rke/latest/en/installation/).
* Install [Helm](https://helm.sh/).
* Clone [Apache APISIX Charts](https://github.com/apache/api

[2021-08-25 03:14] #641 closed

[2021-08-25 03:14] tao12345666333 commented on #649
Here we directly recommend the use of Helm chart's Git repository in the document, instead of directly using Helm repo. The reason is that the latest fixes can be obtained faster in the Git repository, and the release of Helm repo has a certain cycle.

[2021-08-25 03:38] tokers commented on #608
@sober-wang How did you deploy apisix-ingress-controller? Just install it or do you upgrade it from an old version?

[2021-08-25 03:41] gxthrj commented on #648
@lgy1027 When requesting apisix returns tls internal error, please take a look at the error log of apisix.

BTW, Please show us the configuration in apisix or etcd ,such as route and upstream and tls.

[2021-08-25 03:43] tokers commented on #648
@lgy1027 Two problems exist in the grpcurl command in your snapshot.

1. You sent requests to `443`, why add the `-insecure` flag?
2. You should carry the correct TLS SNI or APISIX cannot match the cert.

[2021-08-25 03:51] lgy1027 commented on #648
这是apisix的报错
![image](https://user-images.githubusercontent.com/38779388/130723269-e8acf0dc-18e4-4d18-9277-43c7bb9ada73.png)
[code]
upstream.yaml
[code]
atls.yaml
[code]
secret.yaml
[code]

apisix配置
[code]

[2021-08-25 03:57] lgy1027 commented on #648
这样?所以我说官方没有很好的例子，我是按照官网测试用例做的
![image](https://user-images.githubusercontent.com/38779388/130724044-f2410864-be09-4df0-ac24-b92916a0213a.png)

[2021-08-25 03:58] lgy1027 commented on #648
或者可以指导下怎么测试grpc，这是grpc和apisix相关服务的svc及端口
![image](https://user-images.githubusercontent.com/38779388/130724180-b32c61be-5dd4-4c6d-8f12-36197a2c095b.png)

[2021-08-25 09:30] #586 closed

[2021-08-25 10:33] tao12345666333 commented on #608
@sekfung please run this command:

[code]

you will get the following output:

[code]

[2021-08-25 10:39] sekfung commented on #608
@tao12345666333
Ok. I got `v1`  `v2alpha1`, and i don't know why `v2beta1` not supported in my env.
[code]

So I try to change it to  `v2alpha1`, it works.

[2021-08-25 11:26] tokers commented on #608
Seems that you don't use the lastest helm chart to deploy the apisix-ingress-controller, otherwise the `v2beta1` should be there.

[2021-08-25 11:28] tao12345666333 commented on #608
I know the problem. The helm chart dependency doesn't update.

[2021-08-26 06:05] lgy1027 opened #652 "request help: How to debug tcp"
helm chart：master
controller-ingress:1.2.0

apisix config
[code]
apisixrouter:
[code]
svc:
![image](https://user-images.githubusercontent.com/38779388/130909449-fc92bdb6-708f-4795-a7c4-eb9ec996b830.png)
According to the official website document, the relevant configuration is deployed, now how to test whether the TCP proxy is successful, because the relevant request port is not exposed in the svc

[2021-08-27 06:55] tao12345666333 opened #653 "Discuss: Update CRD apiversion to v1 and drop v1beta1 version?"
## background

The `apiextensions.k8s.io/v1beta1` API version of CustomResourceDefinition is no longer served as of v1.22.
ref: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122

And the `apiextensions.k8s.io/v1` API version, available since v1.16.

* All existing persisted objects are accessible via the new API
* Notable changes:
    * `spec.scope` is

[2021-08-29 00:13] tao12345666333 commented on #653
Ok, let me implement it

[2021-08-29 10:06] Iced-Sun commented on #629
A slightly off-topic question: does the native Ingress support the apisix-specific configurations (e.g., stream/plugin/healthcheck configurations)?

[2021-08-30 01:53] tokers commented on #652
Sure, it's not something about APISIX, it's the feature supported by Kubernetes.

[2021-08-30 01:55] tokers commented on #73
You may try to set up a tunnel to forward to port.

[2021-08-30 02:03] tokers commented on #629
Features like stream proxy and plugins are not supported in Ingress yet, while `healthcheck` is a feature related to backend or upstream, it's supported in the CRD `ApisixUpstream`.

[2021-08-30 03:18] sober-wang commented on #73
I don't know how to set up a tunnel to forward. used kubectl proxy ,you mean?
I find the konnectivity service at kubernetes docs . but the service can only run in version after v1.19.0. Unfriendly.

[2021-08-30 13:34] tokers commented on #73
Could you use the `kubectl port-forward`?

[2021-08-31 08:09] geekgao opened #656 "I want custom a plugin for Ingress controller"
I want custom a plugin for Ingress controller. It seems that the documentation description is missing?
Does anyone know how or best practice articles?

[2021-08-31 08:26] geekgao commented on #656
In actually, I meant to write a plugin. But Go is not my skill stack.

[2021-08-31 09:12] tao12345666333 commented on #656
Under the current architecture, APISIX is the actual data plane, and all actual traffic functions are implemented in APISIX.

[2021-08-31 09:13] tao12345666333 commented on #656
So you can use lua to develop plug-ins in APISIX, of course now we also support the use of Python development

[2021-08-31 09:17] geekgao commented on #656
From [document](https://apisix.apache.org/docs/apisix/plugin-develop)   , I feel couldn't understand about how to write plugin for APISIX Ingress Controller  :-(
Did you give me some other hints, such as the relationship between Ingress and conf/config.yaml file ?
Thanks !

[2021-08-31 10:36] tokers commented on #656
After you developed your own plugin and distributed it with the apisix, you can configure your plugin in the apisixroute cr.

[2021-08-31 15:12] sober-wang commented on #73
Hi everyone , I used free time wrote it . Can you give me some suggest?

[code]

You can git clone my fork. enter the cmd/plugin dir `./install-plugin.sh` in your kubernetes master node.
try it . : )

[2021-09-01 01:37] tokers commented on #73
Can we have a mechanism to show the whole route?

[2021-09-01 05:11] gxthrj commented on #644
Hope we can start to support this feature next month.

[2021-09-01 05:32] gxthrj commented on #656
@geekgao You can configure plug-ins directly under `ApisixRoute` resources like [this](https://apisix.apache.org/docs/ingress-controller/concepts/apisix_route#plugins), but custom plug-ins are not what ingress-controller does.
So you need to learn how to customize the plug-in first from the [documentation](https://apisix.apache.org/docs/apisix/plugin-develop/), and then you can configure it in the

[2021-09-01 05:38] geekgao commented on #656
thanks for your tips @gxthrj

[2021-09-01 05:38] #656 closed

[2021-09-01 06:14] gxthrj opened #658 "test: There are some false positives in e2e-test ,Need to be fixed."
### Issue description

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`).

### Minimal test code / Steps to reproduce the issue

1.
2.
3.

### What's the actual resul

[2021-09-01 06:38] #652 closed

[2021-09-01 06:38] gxthrj commented on #652
`33123` is custom tcp port in APISIX,  you can try `kubectl port-forword` to test .

[2021-09-01 06:40] tokers commented on #652
@lgy1027 See https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/ingress/tcp.go#L37 for the details.

[2021-09-01 06:44] gxthrj commented on #648
Ref : https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/features/scheme.go, will add test for DP.

[2021-09-01 06:50] tzssangglass commented on #645
relate to: https://github.com/apache/apisix/issues/4906, w can discuss it there.

[2021-09-01 06:51] tokers commented on #644
As the gateway APIs `0.4.0` RC1 was released (support `v1alpha2`), we may start to support it just from `v1alpha2`.

[2021-09-02 06:47] RunYuannn opened #659 "apisix-ingress-controller日志一直报错"
### Issue description

按照文档 [Install Ingress APISIX on K3S and Rancher RKE](https://apisix.apache.org/docs/ingress-controller/deployments/k3s-rke)安装，但是apisix-ingress-controller pod一直刷error日志，并按照文档 [Proxy the httpbin service with Ingress](https://apisix.apache.org/docs/ingress-controller/practices/proxy-the-httpbin-service-with-ingress) 配置ingress无效

![image](https://user-images.githubusercontent.co

[2021-09-02 06:50] tao12345666333 commented on #659
can you try to delete apisix pod?

[2021-09-02 07:23] tao12345666333 commented on #659
can you please delete your ingress resource and re-apply it ?

[2021-09-02 09:36] RunYuannn commented on #659
helm delete apisix -n ingress-apisix ？

[2021-09-02 09:48] tao12345666333 commented on #659
no, only need kubectl delete ingress resource

[2021-09-02 10:13] RunYuannn commented on #659
is that right？

![8bfda9bc0bbe274f366c7fc238bd729](https://user-images.githubusercontent.com/71421689/131826114-5674fe92-d16e-4edc-b7e8-bbe124b002ee.png)

![fe06cc5ce7b3a77c1e4c5deac3f4ddd](https://user-images.githubusercontent.com/71421689/131826138-e7315e4e-b088-472f-bf85-d442718e3915.png)

![image](https://user-images.githubusercontent.com/71421689/131825911-1be85b3c-f787-4a9f-adca-c8477f00c65d

[2021-09-02 10:47] tokers commented on #659
@RunYuannn Where is the namespace of the ingress resource?

[2021-09-02 11:00] RunYuannn commented on #659
@tokers ingress-apisix. same namespace as apisix

[2021-09-02 16:25] Iced-Sun opened #661 "http[].match.exprs - ability to refer to the internal nginx variables"
### Issue description

I need use the `$proxy_protocol_server_port` variable in the match rules of ApisixRoute to do the http-to-https redirection.

We decided to terminate TLS at the load balancer, hence the annotation of `k8s.apisix.apache.org/http-to-https` won't work because it depends on `$scheme` which is always `http`. The proxy protocol could help with the `$proxy_protocol_server_port` var

[2021-09-02 21:50] vicaya commented on #661
It'd be great if ApisixRoute can support `vars` option for route matching, as it's already supported by the `radixtree_uri_with_parameters` router, which I think is going to be the default anyway?

[2021-09-02 21:54] vicaya opened #662 "Support `vars` option for routing"
### Issue description

The ApisixRoute currently doesn't support the powerful `vars` option available from apisix radixtree router, which is a major problem for us to use the ingress controller instead of using admin api directly.

[2021-09-02 21:54] vicaya commented on #662
This is also related to issue #661.

[2021-09-02 22:39] #662 closed

[2021-09-02 22:40] vicaya commented on #662
Appears to be covered by the `exprs` match rules.

[2021-09-03 02:15] tokers commented on #661
Previously the "easy to use" was the first thing we considered when we designed this feature. So some specific settings like `Query`, `Header` and etc were introduced.

We may add another setting like `NginxVar` to let People extend this feature, but apparently, it's not so friendly for users. @tao12345666333 What's your idea?

[2021-09-03 03:34] sober-wang commented on #567
This code is not check anything. Can I help you?

[2021-09-03 08:04] riskgod opened #663 "request help: failed to list upstreams in APISIX: unexpected non-empty object"
hey in k8s（helm chart install version 2.7）
my apisix-ingress-controller always through this err.  What is this mean?
[code]

[2021-09-03 09:20] tokers commented on #663
So what's the version of your apisix-ingress-controller?

[2021-09-03 09:53] riskgod commented on #663
[code]

[2021-09-03 09:57] riskgod commented on #663
The err also shows
[code]

[2021-09-03 14:15] Iced-Sun opened #664 "request help: ingress/apisixroute without physical service backends"
### Issue description

The issue is related to #661.

I suggest that `apisix-ingress-controller` could implement a complete annotation mechanism in Ingress/ApisixRoute to configure the routes.

A similar approach could be found in aws-load-balancer-controller (see [actions](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#actions) and [conditions](http

[2021-09-05 01:48] tao12345666333 commented on #663
@gxthrj PTAL

[2021-09-05 09:30] tokers commented on #663
This result was caused by the marshal process of apisix upstream.

@riskgod Could you try to send requests to apisix admin service and see the result? The request likes:

[code]

`X-API-Key` should be carried so that the authentication can be passed.

[2021-09-05 09:33] tokers commented on #664
It seems your problem can be solved by:

1. Support to use Nginx variables in route match;
2. Just use the `plugin` field in ApisixRoute.

[2021-09-05 10:16] Iced-Sun commented on #664
The problem I see with `ApisixRoute` is migration and mental burden.

As mentioned in #629, most existing ingresses must be migrated to `ApisixRoute`. IMHO, `ApisixRoute` is somewhat a custom version of the native Ingress. Extending the native Ingress instead of a custom analog should be more friendly to users and seem to be a common approach.

An ingress without physical service backends also ena

[2021-09-06 00:58] tokers commented on #664
We will support Kubernetes Gateway APIs, don't worry about the vendor lock-in problem.

 Do you mean just use the configuration format of APISIX?

Annotation mechanism is not a good way IMHO, and a lot of APISIX features cannot be implemented easily just by annotations.

[2021-09-06 05:05] Iced-Sun commented on #664
Glad to hear that! Any schedule on it?

Yes, something like
`k8s.apisix.apache.org/conditions.ssl-redirect: {"vars": [["proxy_protocol_server_port","==","80"]],"priority":10}`

Annotation is hackish and cumbersome. But it is the way other than the CRDs to define custom behaviors for controllers. As far as I can see, most of apisix route features are immediately supported since we just use the same

[2021-09-06 07:17] Sindweller opened #665 "request help: how to set the label of apisix_bad_status_code metric?"
### Issue description
I'm tring to expose the metric `apisix_bad_status_code` which is defined in `prometheus.go`:
[code]
And I got trouble on setting up the label.
Take `consumer.go` and `List()` as an example, it's easy to set the `resource` label as `consumer` here, but how to get the bad `resp.StatusCode` since the return value is `err`? It may includes other type of error except bad status co

[2021-09-06 11:10] tokers commented on #665
@Sindweller Feel free to change the method prototype, just adding another parameter to solve this problem.

[2021-09-06 11:12] tokers commented on #664
Not so specific.

[2021-09-07 02:39] kika-jiaxudong opened #668 "bug: 2 apisix-ingress-controller,one is normal and another always is starting"
### Issue description

2 apisix-ingress-controller replicas,one is norma and another always is starting

### Environment

helm installation
Chart Version:
apisix-0.3.6

Apisix Version:
2.7.0

### Steps to reproduce

installation by helm
set the replicas of apisix-ingress-controller to 2

### Actual result

found one apisix-ingress-controller replica is normal and another is been rebooting.

descri

[2021-09-07 07:11] fregie opened #669 "request help: Why using apisix admin api but not modify the data in etcd?"
### Issue description
Why using apisix admin api but not modify the data in etcd to manage apisix config?
I think compare and modify the config data in etcd is simpler and more direct,and there is no coupling to apisix

[2021-09-07 07:17] tao12345666333 commented on #669
APISIX's admin api can help us do some schema verification

[2021-09-07 07:45] fregie commented on #669
I think use apisix admin api to do schema things has becoming a problem.It has led to some unnecessary coupling.
In apisix-dashboard,some schema feature must depend on apisix admin api too, this is really not good.
How about separating those functions from apisix, make data panel more pure, only communicate with etcd(include register schema information to etcd).Then we offer a common sdk or servic

[2021-09-07 09:46] Donghui0 opened #671 "bug: recordStatus status is overwritten"
### Issue description
Create an incorrect Route CRD, such as a parameter error in the plugin. recordStatus will be updated to **_resourceSyncAborted**.  But in the handleSyncErr method, it is covered as **_resourceSynced**.

![image](https://user-images.githubusercontent.com/7134928/132323755-f17de79b-5564-48b3-9446-f2ee9986e434.png)

https://github.com/apache/apisix-ingress-controller/blob/6a8658

[2021-09-07 09:59] suninuni opened #672 "request help: get deprecated warning after upgrade to 1.2.0"
### Issue description

[code]

Is that mean the stored version is v1? But the stored version is v2beta1 in crd.

[code]

How can I eliminated this warning and show v2beta1 when edit by kubectl?

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);  1.2.0
* your Kubernetes cluster version (output of `kubectl version`); 1.21.0

[2021-09-07 09:59] suninuni commented on #672
Another question, what is the meaning of `kubernetes.apisix_route_version` in config.yaml? I set it to `apisix.apache.org/v2beta1`, but I still can create route by v2alpha1 and v2beta1.

[2021-09-07 13:45] tokers commented on #672
It means which version of `ApisixRoute` resources will be watched and handled by APISIX Ingress Controller? It doesn't prevent you from creating these objects.

[2021-09-07 13:49] tokers commented on #671
@Donghui0 PR's welcome to solve it.

[2021-09-07 14:07] tokers commented on #668
The description is a bit confusing, where is the description of the starting pod?

[2021-09-07 14:13] tokers commented on #669
We cannot fetch the first feedback from the config users, i.e. APISIX cluster, if we just write data to ETCD, we won't know any incompatible problems or bugs, instead, Admin APIs do this so we can record the kinds of errors to CRD status or error log, and, the bad config will not be persistent.

[2021-09-08 03:03] #665 closed

[2021-09-08 11:06] tokers commented on #672
`v2beta1` has some broken changes from `v1alpha1`, for instance, the `tcp` field was changed to `stream`.

As for the `v1` version, this is decided by Kubernetes API design, as `v1` is a stable version (it's a mistake to use `v1` when we designed it in the past) while `v2alpha1` and `v2beta1` are not.

[2021-09-09 01:08] suninuni commented on #672
So this problem will still exist until the v2 version is released？In this way, I can only temporarily modify crd and delete deprecated field.

[2021-09-09 01:36] tao12345666333 commented on #672
We plan to release the v2 version of the API in the last two versions (about 2 months).

I will initiate a discussion on the mailing list and GitHub in a while, and I will update the link here later.

[2021-09-10 06:21] Donghui0 opened #674 "bug: When k8s service is deleted, the APISIX Upstream nodes field is not cleared"
### Issue description
When k8s service is deleted, the APISIX Upstream nodes field is not cleared
### Environment

* your apisix-ingress-controller version: v1.2
* your Kubernetes cluster version: v1.16

### Minimal test code / Steps to reproduce the issue

1. delete k8s service.
2. query APISIX upstream  nodes field

### What's the actual result? (including assertion message & call stack if appli

[2021-09-10 07:18] fregie commented on #669
@tokers
I got it.Using admin api is a correct choice

[2021-09-10 07:18] #669 closed

[2021-09-10 08:00] juzhiyuan commented on #569
Hi @tokers, would you please take a look at this issue 😄

[2021-09-10 11:22] aikin-vip opened #675 "how to set use-forwarded-headers"
### Issue description
i use aliyun clb and apisix-ingress-controller and  i can't get real client ip
i found link [https://developer.aliyun.com/article/699074](https://developer.aliyun.com/article/699074) about it
but the article talk about is nginx-ingress-controller
how i can i set it in apisix-ingress-controller ?

### Environment
apisix-ingress-controller: 1.0.0
Kubernetes cluster version: 1.2

[2021-09-11 11:21] superwjc opened #676 "bug: apisix-ingress-cotroller seems to redirect all services to apisix-dashboard"
### Issue description
I haved installed apisix/apisix-dashboard/apisix-ingress-controller locally with helm, the charts tarballs were downloaded from [https://github.com/apache/apisix-helm-chart/releases](url). All the installation steps were ok, but after I created the httpbin service and apply the route rule provided by [http://apisix.apache.org/docs/ingress-controller/practices/proxy-the-httpbi

[2021-09-11 11:58] gxthrj commented on #676
Hi, @superwjc, `Ingress` and `dashboard` are independent projects and managed independently. They have had no relationship with each other. Therefore, Ingress will not actively introduce requests to the dashboard.

Please show the route in APISIX by requesting `http://APISIX.svc:9180/apisix/admin/routes`.  If you think that the request is sent to the wrong upstream, first check whether the configu

[2021-09-11 12:08] superwjc commented on #676
thanks, and sorry for my ugly format.

**curl -fsSL 10.100.2.176:9180/apisix/admin/upstreams -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1'**
{"node":{"dir":true,"key":"\/apisix\/upstreams","nodes":[{"modifiedIndex":13,"value":{"name":"default_httpbin_80","update_time":1631356750,"id":"5ce57b8e","create_time":1631356750,"hash_on":"vars","type":"roundrobin","pass_host":"pass","desc":"Created by a

[2021-09-11 12:36] superwjc commented on #676
@gxthrj Hi, Is there something wrong with my steps, or the way I request?

[2021-09-11 14:36] superwjc commented on #676
I reinstalled except apisix-dashboard, and changed the default service type of apisix-ingress-controller from "ClusterIP" to "NodePort", in the "apisix-ingress-controller/templates/service.yaml" file. Without apisix-dashboard, request directly to httpbin by ClusterIP:Port was still as intended, but returned 404 by apisixroute.
The remaining settings kept unchanged.
[code]
[code]
[code]
[code]
Anyo

[2021-09-11 14:49] tokers commented on #676
You sent requests to apisix-dashboard (`:31803`), so of course you saw the apisix-dashboard. By the way, have you add resolution for domain `local.httpbin.org`? How did it map to the Kubernetes worker node or the LB IP?

[2021-09-11 14:50] tokers commented on #675
See https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/real-ip.md for details, you don't need to modify APISIX Ingress controller.

[2021-09-11 14:53] tokers commented on #569
@geffzhang The idea should similar, what you need to do is try to let Dapr inject the APISIX Pod, and create a series ApisixRoute and ApisixUpstream resources let the APISIX proxy traffic to the local Dapr sidecar.

[2021-09-11 14:57] tokers commented on #674
This is a known behavior, see https://github.com/apache/apisix-ingress-controller/blob/1e1be7401ba3707ba660a7d61df5118fc5725eff/pkg/ingress/controller.go#L529.

From the proxy point of view, the result is similar, requests will be failed no matter whether we clean the nodes.

Of course, we do need make some reactions for the Services/Endpoints delete events, PR's welcome to optimize it.

[2021-09-11 14:57] superwjc commented on #676
@tokers thanks, doesn't the apisix-dashboard act as a api-gateway? That is, by adding a path to the host, all requests  matched the path are forward to the real backend service. So, if http://172.16.100.101:31803 is the apisix-dashboard, then http://172.16.100.101:31803/httpbin is the "httpbin" service.
"local.httpbin.org" is resolved by /etc/hosts, this is not the problem.

[2021-09-11 15:02] tokers commented on #676
Ofcourse not 😂, APISIX Dashboard is a management component of APISIX. Indeed you don't require it as the APISIX Ingress Controller already acts as the manager of APISIX cluster. You should send requests to APISIX cluster, i.e. the `apisix-gateway` service.

[2021-09-11 15:03] superwjc commented on #676
Well I ask another way, what should I setup in order to access the real backend service by apisixroute? I just follow the official website, but can't get the right result.

[2021-09-11 15:29] superwjc commented on #676
I send the request to the apisix-gateway, but returns 404.
1. apisix-gateway is avaliable and the NodePort is in listening state:
[code]
2. the apisixroute rule is exists, with no errors.
[code]
3. the "local.httpbin.org" host is reachable
[code]
4. the "httpbin" service is accessable, by ClusterIP:Port
[code]
5. access to apisix-gateway NodeIP:NodePort with the path "httpbin", 404 returns.
[code]

[2021-09-12 02:52] superwjc commented on #676
resolved after reading the architecture topology from the apisix official website, it's **NOT** a bug of apisix, but of mine. Thank you all @tokers @gxthrj and sorry for my misunderstanding.
The actual API gateway is service "apisix-gateway" but not the service "apisix-dashboard".  The gateway is response for incoming request after apisixroute/ingress configured, and the dashboard just make the co

[2021-09-12 03:07] gxthrj commented on #676
It's ok. Now we can close this issue, feel free to reopen.

[2021-09-12 03:07] #676 closed

[2021-09-12 11:39] gxthrj commented on #668
I had deploy ingress with 2 instances using the same configurations with you, now 2 days later, there is no restart.
![image](https://user-images.githubusercontent.com/4413028/132986060-269122e6-b6a1-4c9c-8f4b-bb4edf434adb.png)

Please give more information about your environment. For example, your route configuration with ApisixRoute resource.

[2021-09-13 02:22] gxthrj opened #678 "request help: the e2e test case has bug when httpbinsvc been removed."
cc PR https://github.com/apache/apisix-ingress-controller/pull/677

Who has the time to help look at this problem, it should work when `httpbinsvc` has been removed.

[2021-09-13 06:43] gxthrj commented on #663
@riskgod any update? please show the configuration of ingress controller.

[2021-09-13 11:59] Donghui0 commented on #674
There will be problems in special scenarios: the node ip is allocated by other containers.

[2021-09-13 12:09] Donghui0 commented on #663
@riskgod It should be the format of Upstream.nodes is wrong.
Wrong format:
{"1.1.1.1:8080": 1, "2.2.2.2:8080": 1}
Correct format:
[{"host": "1.1.1.1", "port": 8080, "weight": 100, "priority": 0}]

Use the following command to query:
curl http://apisix-admin:9180/apisix/admin/upstreams -H "X-API-KEY: secretKey"  | python -m json.tool

[2021-09-13 13:20] tokers commented on #663
By the way, we can consider to support object like nodes.

[2021-09-13 13:21] tokers commented on #674
Fair enough, PR's welcome to fix this.

[2021-09-13 13:41] hansongll commented on #501
组织：Guanwei（观为智慧）
地点：中国南京
联系方式： 254845@qq.com
使用场景：在 Kubernetes 集群中作为 API 网关，目前使用 traefik，正在考虑APISIX 。

[2021-09-14 01:29] chzhuo commented on #501
组织：upyun（又拍云）
地点：中国杭州
联系方式： chzhuo
使用场景：作为k8s容器网关，替换ingress-nginx，少部分业务使用中，稳定后彻底切换

[2021-09-14 01:43] lingsamuel commented on #548
Please assign me @tao12345666333

[2021-09-14 03:57] aikin-vip commented on #675
thanks.  i change service externalTrafficPolicy to local  and fix my problem

[2021-09-14 03:57] #675 closed

[2021-09-14 04:41] lixjofgithub opened #681 "How does APISIX(DP) deployed outside the K8S cluster access the routes created through apisix-ingress(CP)?"
### Issue description
因为通过apisix-ingress创建的route中的backends都是K8S中的ep或clusterip，传递到APISIX后，因为APISIX是部署在K8S之外的话会无法访问该后端地址
### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a

[2021-09-14 07:42] suninuni commented on #567
![image](https://user-images.githubusercontent.com/7345529/133216130-1412197c-b62c-44ed-8ffa-b9cc5cad78e7.png)

The access log for this request should be able to be closed. It's useless.

[2021-09-14 09:22] chzhuo opened #682 "bug: Informer recursively trigger update event"
### Issue description
Informer recursively trigger `update`,  because  `recordStatus`

### Environment

apisix-ingress-controller: master branch commit 1e1be7401ba3707ba660a7d61df5118fc5725eff
k8s server:  v1.19.3
### Minimal test code / Steps to reproduce the issue

apisix-ingress-controller config:
[code]
open the debug log,  you will see continuously log `ApisixRoute update event arrived`.  I f

[2021-09-14 12:34] #607 closed

[2021-09-14 13:22] tokers commented on #567
We can disable the logging middleware in the gin engine. PR is welcome to do this!

[2021-09-14 23:28] tao12345666333 commented on #682
Thanks! I will try to reproduce locally.

cc @gxthrj @tokers

[2021-09-14 23:35] tao12345666333 commented on #681
If your network is an **underlay network**, this method will be more convenient.

Otherwise, you need to maintain network connectivity by yourself.

[2021-09-14 23:38] tao12345666333 commented on #674
Thanks for your feedback, it is not difficult to fix it, welcome to submit a PR

[2021-09-14 23:42] tao12345666333 commented on #668
Please provide your deployment environment information (k8s version etc.)

[2021-09-15 00:12] tao12345666333 commented on #653
Discussion on the mailing list

https://lists.apache.org/thread.html/rd5278463e2483f54ddb9a657020ad0637e17a77d1507875974fc5168%40%3Cdev.apisix.apache.org%3E

[2021-09-15 01:22] tokers commented on #682
Good catch, we may ignore status-only changes when the events arriving.

[2021-09-15 03:04] gxthrj commented on #663
@riskgod Is there any update? Has this problem been resolved in your environment?

[2021-09-15 05:35] gxthrj commented on #682
I checked the code of `recordStatus`, it will not return an error, and if the `recordStatus` fails, it will not cause a retry.

Please show the status of ApisixRoute by using `kubectl describe xxx`, there will be a message for the error.

[2021-09-15 05:41] gxthrj commented on #681
Yes, this belongs to the k8s network configuration. If you need to deploy DP outside, of course, you need to make sure that the outside DP can access the services (pod IP) inside the k8s cluster.
There are many solutions to open up the network, such as calico + BGP， but it is not the management scope of the Ingress controller.

[2021-09-15 05:47] gxthrj commented on #674
I hope this can have an overall solution and then coding.

Upstream management in the ingress controller has become more complicated, it will be affected in many ways，for example, the resources of  k8s svc , ApisixUpstream and ApisixRoute ，There are subset-related configurations in ApisixRoute and ApisixUpstream.

[2021-09-15 05:59] gxthrj commented on #671
When `errOrigin == nil`, it should be `_resourceSynced`, else should be `_resourceSyncAborted `
cc https://github.com/apache/apisix-ingress-controller/blob/6a8658db1788c687c70c9f235601cc8224e0b38c/pkg/ingress/apisix_route.go#L275-L283

[2021-09-15 06:24] gxthrj commented on #664
Close this issue, will supoort Gateway API  soon.

[2021-09-15 06:24] #664 closed

[2021-09-15 06:37] #681 closed

[2021-09-15 06:38] Donghui0 commented on #671
This code will not execute.  line 268 `return` execute.

https://github.com/apache/apisix-ingress-controller/blob/5c9cdbe7fc2c28f3023d635dbbd9bc833388a2bf/pkg/ingress/apisix_route.go#L246-L293

[2021-09-15 06:43] Rebellioncry opened #683 "ingress/controller.go:530 service kube-system/openebs.io-local not found"
### Issue description

Log repeated output：

- [GIN] 2021/09/15 - 14:25:07 | 200 | 35.42µs | 192.168.18.128 | GET "/healthz"
-
- 2021-09-15T14:25:08+08:00 info ingress/controller.go:530 service kube-system/openebs.io-local not found
-
- 2021-09-15T14:25:10+08:00 info ingress/controller.go:530 service kube-system/openebs.io-local not found

### Environment
use helm install apisix-ingress-controller

[2021-09-15 06:44] Donghui0 opened #684 "request help: error log "failed to delete pod from cache""
### Issue description
When the service version changes, the k8s RollingUpgrade is triggered. The controller will have an error log:
`"error ingress/pod.go:130 failed to delete pod from cache {"error": pod not running"`

![image](https://user-images.githubusercontent.com/7134928/133383753-fe563b04-383c-4a74-90bb-c0632271c171.png)

**Is there any influences ?**
### Environment

* your apisix-ingress

[2021-09-15 07:08] gxthrj commented on #671
related to #682

[2021-09-15 07:29] gxthrj commented on #683
It is because ingress monitors the `kube-system· namespace. When resources (e.g. K8S service) in the `kube-system` namespace are updated, the logic in the Ingress controller will be triggered. This error does not affect the use, but the log experience is not very good, you can choose Block `kube-system` by setting `--app-namespace`.

[2021-09-15 08:01] Rebellioncry commented on #683
@gxthrj I install it use helm,so I should set "kubernetes.appNamespaces" ?but  it's an array ,how should I set it?

[2021-09-15 10:04] chzhuo commented on #682
I think should monitor the length of workqueue and the delay of that event from being received to applying to APISIX admin-API

[2021-09-15 10:45] Donghui0 commented on #684
https://github.com/apache/apisix-ingress-controller/blob/5c9cdbe7fc2c28f3023d635dbbd9bc833388a2bf/pkg/types/pod.go#L68-L77

To delete the cache, you need to determine whether the IP of the POD exists.
However, deleting the POD will definitely trigger the CNI to remove the IP, So, is there a problem with the logic of deleting podCache?

[2021-09-15 11:58] gxthrj commented on #684
Good catch. PR is welcome.
I think we can remove this condition directly.

[2021-09-15 12:02] kika-jiaxudong commented on #668
k8s version: v1.18.20 on eks(aws eks)

[2021-09-15 12:17] kika-jiaxudong commented on #668
主要是这些错误日志，在一直重启的ingress-controller的一个pod上，apisix-ingress-controller有2个副本，另一个正常，一直没有重启过，但是还有一个pod一直在重启，错误日志如下：

2021-09-15T20:10:26+08:00       info    ingress/controller.go:530       service kube-system/kube-scheduler not found
2021-09-15T20:10:27+08:00       info    ingress/controller.go:530       service kube-system/kube-controller-manager not found
E0915 20:10:27.750659       1 reflector.go:138

[2021-09-16 00:56] tokers commented on #668
logs like "service xxx not found" are harmless, they were logged when endpoints with the same name were changed but the service was not found.

[code]

is also not a fatal one. Have you ever investigate the pod status is `Error` or `CrashLoopBackoff`?

[2021-09-16 00:59] tokers commented on #683
This is a allow list, you may only specify a bunch of namespaces that you want the apisix ingress controller watching. We don't have a block list mechanism.

[2021-09-16 01:05] tokers commented on #674
It doesn't affect ApisixRoute, but it will affect multiple Upstream objects in APISIX due to subset mechanics.

[2021-09-16 01:23] Rebellioncry commented on #683
@gxthrj But so many namespaces cannot be listed. There should be a block list，or you should provide a method that no longer outputs repeated logs.Please consider it

[2021-09-16 02:32] kika-jiaxudong commented on #668
The pod status is always running, but can get the pod info via "kubectl describe pod",I get that like this:

<img width="1096" alt="image" src="https://user-images.githubusercontent.com/83063375/133539804-90fbf831-40e8-48d8-8f2c-05cdb61b08ab.png">

[2021-09-16 02:34] kika-jiaxudong commented on #668
<img width="677" alt="image" src="https://user-images.githubusercontent.com/83063375/133539966-0171009f-3d9a-4a1c-b209-2671c54b05b4.png">

[2021-09-16 02:38] kika-jiaxudong commented on #668
<img width="938" alt="image" src="https://user-images.githubusercontent.com/83063375/133540118-2d31539c-c599-4ec4-a41f-c6297b439def.png">
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/83063375/133540305-094295b5-360f-44bf-b6ee-90778ddc6080.png">

[2021-09-16 07:53] kika-jiaxudong commented on #668
wow,I find the real error like that:

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/83063375/133571531-3a05c5f2-b00c-47e3-b99b-7e109cd8666c.png">

是它导致了apisix-ingress-controller主节点一直重启，我的apisixroute的yaml文件是这样的，请帮我检查下有什么问题，很奇怪，为什么通过apisix的流量好像是没有问题的，但是在apisix-ingress-controller里日志尽然显示不支持这样的资源？
<img width="438" alt="image" src="https://user-images.githubusercontent.com

[2021-09-16 13:20] tokers commented on #683
I prefer to use a more flexible way to control whether a namespace should be watched or not, we may use the label selector to decide it, namespaces with label `apisix.apache.org/controlled=true` should be watched and vice versa.

[2021-09-16 13:24] tokers commented on #668
It seems that the v2beta1 versioned ApisixRoute are not installed in your version, would you like to upgrade your Apache APISIX Ingress Controller version and see what will happen?

But another thing that I concern is that these logs won't result in the restart of the program, the error is not propagated.

[2021-09-17 01:31] Rebellioncry commented on #683
@tokers That's a good idea

[2021-09-17 06:40] kika-jiaxudong commented on #668
Actural, I had installed apisix apiversion v2beta1,like this:
<img width="562" alt="image" src="https://user-images.githubusercontent.com/83063375/133734524-ece4e8c2-67a1-4f49-a566-29b2a7f018de.png">

我能确定每次当我修改apisixroute的yaml文件，然后再kubectl apply -f执行它的时候，apisix-ingress-controller主节点会变为Error的状态，然后过一会会重启，再次变为running的状态

我想请您帮我确认一下，在我的apisixroute的yaml中，最开始一行是apiVersion: apisix.apache.org/v1

但是在meta

[2021-09-17 08:56] tokers commented on #668
OK, let me reproduce it.

[2021-09-17 09:38] xiongyunhua-star opened #686 "httpcheck error"
### Issue description

create a httpcheck.yaml and then apply,but the result is error

### Environment
NAME                                 NAMESPACE       REVISION       CHART                                                                 APP VERSION
apisix                                 ingress-apisix      1                     apisix-0.3.5

[2021-09-17 13:01] gxthrj commented on #604
It should be `timeouts` in `passive.unhealthy`, not `timeout`, which means the number of timeouts in proxied traffic to consider a target unhealthy.

The logic is wrong in https://github.com/apache/apisix-ingress-controller/blob/master/pkg/kube/translation/apisix_upstream.go#L298

And we should modify the ApisixUpstream CRD.

[2021-09-17 13:17] gxthrj commented on #686
related to #604

[2021-09-21 13:27] macaty opened #688 "bug: nginx-ingress migrate to apisix-ingress problem"
### Issue description
apisix-ingress is different from nginx-ingress in the same ingress.yaml. the issue is different path translation:
1) In nginx-ingress, "path: /" means "path: /" and "path: /*"
we can access http://url/aaa
2) In apisix-ingress,"path: /" means "path: /" only.
we can't access http://url/aaa, and got a error msg"{"error_msg":"404 Route Not Found"}"

### Environment
[root@man01 ku

[2021-09-21 13:29] macaty commented on #688
apisix-dashboard
1.show route setting
{
  "uri": "/",
  "name": "ingress_nginx.local_/",
  "desc": "Created by apisix-ingress-controller, DO NOT modify it manually",
  "host": "nginx.local",
  "upstream_id": "f763ff22",
  "labels": {
    "managed-by": "apisix-ingress-controller"
  },
  "status": 1
}
2. show upstream setting

[2021-09-22 01:16] tokers commented on #688
@macaty `ImplementationSpecific` path type is not handled specially, you may try to use the `Prefix`.

[2021-09-22 02:55] macaty commented on #688
thnx

[2021-09-22 06:59] tao12345666333 commented on #565
Sorry for delay.

I created a k3s cluster using [k3d](https://k3d.io/)

[code]

And using Helm to deploy Apache APISIX & Apache APISIX Ingress controller:

[code]

When all Pods reached the running state, I started the experiment.

This is my Ingress resource file.
[code]

When I create Ingress using the file, it can sync to Apache APISIX and I can access it through NodePort.

[code]

[2021-09-22 07:04] tao12345666333 commented on #565
[In the information you provided above](https://github.com/apache/apisix-ingress-controller/issues/565#issuecomment-871971164), I noticed that you created it through Rancher UI, and the `path` is not configured in the Ingress resource.

[code]

**Can you try the Ingress configuration file I provided above? At the same time, upgrade the Apache APISIX Ingress controller to the latest version**. Than

[2021-09-22 07:17] tao12345666333 commented on #565
At the same time I also noticed this one:  `name: ingress-d5cd807224d030ff630f4f78b12b3861`

[code]

This should be the reason for not taking effect. Please try to create an Ingress resource by yourself.

[2021-09-22 08:37] tao12345666333 commented on #638
Started a discussion on the mailing list https://lists.apache.org/thread.html/r6e989cb7087feff7ab48157d74cf47aab18c3a1cfd32474b0672e63f%40%3Cdev.apisix.apache.org%3E

[2021-09-22 08:38] tao12345666333 commented on #638
cc @Donghui0

[2021-09-22 09:31] anjia0532 commented on #565
Thanks for you replay, I will try again according to your instructions and update the Issues

[2021-09-22 09:37] neverCase commented on #638
i'm a volunteer

[2021-09-22 09:38] gxthrj commented on #638
Great, assign to you. Look forward.

[2021-09-22 09:42] tao12345666333 commented on #638
Thanks! @neverCase If you need help, you can ping me at any time.

[2021-09-22 09:44] neverCase commented on #638
ok, got it

[2021-09-22 11:41] tokers commented on #638
Welcome to submit your plan to the mail list :).

[2021-09-22 11:49] neverCase commented on #638
OK, i will submit my plan later.

[2021-09-22 12:28] neverCase commented on #638
I had replied a mail on the apache mail list, but it seems something wrong.
After sending, i can't find my reply on the mail list.

[2021-09-22 12:35] neverCase commented on #638
my plan
1. add ApisixPluginConfig in types.go and generated libraries (such as clientset)
2. add ApisixRoute as a group in config
3. add looper for watching specific resources by using clientset (like k8s.io/client-go) and convert it

[2021-09-23 01:13] tokers commented on #638
You have to subscribe the dev@apisix.apache.org before you send any mails.

[2021-09-23 01:18] tokers commented on #638
1. Refer to other types (see https://github.com/apache/apisix-ingress-controller/blob/master/pkg/kube/apisix/apis/config/v2beta1/types.go#L30) so that the CRD definition can be generated with the OpenAPIV3Schema.
2. We need to talk about the mutual exclusivity between `pluginConfig` and `plugins` fields. @tao12345666333 @gxthrj @neverCase

[2021-09-23 01:31] tao12345666333 commented on #638
You can split this function into multiple small tasks to carry out, refer to these tasks I added in the description. @neverCase

[2021-09-23 01:32] tao12345666333 commented on #638
Yes,  you need to subscribe the dev@apisix.apache.org before you send any mails.

**Of course, whether you are discussing in this issue or on the mailing list, it’s okay.**

[2021-09-23 03:52] tao12345666333 commented on #638
After discussing it with @tokers and @gxthrj . We finally reached an agreement.

We can set the `plugins`  field and `pluginconfig` field in `ApisixRoute` to be mutually exclusive.

This means that the user can only configure one of the `plugins` or `pluginconfig`  in `ApisixRoute`.

[2021-09-23 04:01] neverCase commented on #638
ok, i had created ApisixPluginConfig.yaml and add 3 structs `ApisixPluginConfig`, `ApisixPluginConfigSpec`, `ApisixPluginConfigList` in the v2alpha1/types.go.
But i had trouble in making up fields inside `ApisixPluginConfigSpec`, because i can't find any structs could be linked to the `plugin` in types.go.
[code]
could u provide me more details about the plugins
@tao12345666333

[2021-09-23 04:09] tao12345666333 commented on #638
You can open a PR and submit your current changes directly.

The PluginConfig document is here https://apisix.apache.org/docs/apisix/architecture-design/plugin-config

It looks like this:
[code]

[2021-09-23 04:33] tao12345666333 commented on #638
@neverCase You can use `[]ApisixRouteHTTPPlugin` directly, no need to define the list yourself.

[2021-09-23 05:00] neverCase commented on #638
before pr, should i make up the field `validation` in the `ApisixPluginConfig.yaml`

[2021-09-23 05:22] tao12345666333 commented on #638
You can open a PR and set it as draf status. Related discussions can be held in the PR, which will be more convenient.

[2021-09-23 09:44] kika-jiaxudong commented on #668
hello,have you reproduce it?If the same error occurred？
Thanks.

[2021-09-23 23:50] tao12345666333 commented on #567
@sober-wang  If you are interested in this, welcome to implement its logic.

[2021-09-24 00:20] tao12345666333 commented on #661
Sorry, I have too many reminders, I missed this one.

I think we should add this capability so that users can better utilize the capabilities of APISIX.

[2021-09-24 07:54] suninuni commented on #645
Any updates?

Also for other solutions, have you considered supporting the configuration of apisix service in ApisixRoute?

![image](https://user-images.githubusercontent.com/7345529/134638817-171a3438-1ed4-4626-9eaf-91158a9a3a21.png)

[2021-09-24 09:54] #548 closed

[2021-09-24 10:47] myoss opened #690 "bug: Ingress Status Load Balancer IPs Not Being Updated"
### Issue description

### Environment

* apisix-ingress-controller version: 1.2.0
* your Kubernetes cluster version: ACK 1.20.4-aliyun.1;
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`): Linux demo 4.19.91-23.al7.x86_64 #1 SMP Tue Mar 23 18:02:34 CST 2021 x86_64 x86_64 x86_64 GNU/Linux

### Minimal test code / Steps to reproduce the issue

[2021-09-24 11:57] Sindweller opened #691 "request help: Grafana dashboard config for apisix-ingress-controller"
### Issue description
I'm working on editing the Grafana Dashboard for apisix-ingress-controller, and I have some questions:

- I try to increase some metric counters by specify operations. There's still no data in metric `apisix_ingress_controller_events_total` (Number of events handled by the controller),  and `apisix_ingress_controller_check_cluster_health_total`(Number of cluster health check

[2021-09-24 15:29] tao12345666333 commented on #604
#687 has been merged. Should we close this one? @gxthrj

[2021-09-24 15:30] tao12345666333 commented on #587
#680 has been merged. Should we close this one? @gxthrj

[2021-09-25 07:17] fengshunli commented on #638
@tao12345666333  init apisix crd

[2021-09-26 01:17] tokers commented on #691
Make sure the stub codes are correct, these metrics should be increased once the informers got changes from Kubernetes API server.

I prefer ratio .

[2021-09-26 01:50] lingsamuel commented on #515
xref: https://github.com/apache/apisix-ingress-controller/pull/689#issuecomment-927212290

[2021-09-26 01:54] gxthrj commented on #587
Yes, close it now.

[2021-09-26 01:54] #587 closed

[2021-09-26 01:55] gxthrj commented on #686
#687 has been merged, close this issue, feel free to reopen.

[2021-09-26 01:55] #686 closed

[2021-09-26 01:55] gxthrj commented on #604
Yes, close this issue, feel free to reopen.

[2021-09-26 01:55] #604 closed

[2021-09-26 01:58] gxthrj commented on #663
The stale issue, feel free to reopen.

[2021-09-26 01:58] #663 closed

[2021-09-26 02:28] tao12345666333 opened #692 "Breaking changes: deprecated the `spec.backend` field in ApisixRoute"
### Issue description

In the current ApisixRoute CRD definition, there are both `spec.backend` and `spec.backends`

https://github.com/apache/apisix-ingress-controller/blob/957c31522e1b1e5f8ef9cab7eb244473a4e0f675/samples/deploy/crd/v1beta1/ApisixRoute.yaml#L173-L217

And `spec.backends` can completely cover the usage scenarios of `spec.backend`.  Currently maintaining these two fields at the sam

[2021-09-26 02:35] tao12345666333 commented on #692
I have started a discussion on the mailing list. Please feel free to participate in the discussion in this issue or on the mailing list.

https://lists.apache.org/thread.html/rb179dc9d953423dc258340622a185ca1b3cfa4cacad8efaea7acc571%40%3Cdev.apisix.apache.org%3E

[2021-09-26 11:11] tokers commented on #692
+1, are there any other fields can be deprecated together?

[2021-09-27 07:27] 651016236 opened #695 "bug: failed to list routes: Get http://apisix-admin:9180/apisix/admin/routes: context canceled"
### Issue description
![image](https://user-images.githubusercontent.com/5875767/134862858-beca446a-cab6-4f9a-bd47-ee84b6d02129.png)

### Environment
rancher k3s
![image](https://user-images.githubusercontent.com/5875767/134863096-2a5d0bae-bb3f-4700-b69d-1709af52a15c.png)

### Minimal test code / Steps to reproduce the issue
尝试修改代码可以修复
![image](https://user-images.githubusercontent.com/5875767/134

[2021-09-27 07:31] tao12345666333 commented on #695
Welcome to submit a PR to fix it

[2021-09-27 08:11] 651016236 commented on #695
好的，我修复提交下

[2021-09-28 03:44] Sindweller commented on #691
Here are the PromQL and basic config for each metric in Grafana Dashboard, please give me some advise:

---
apisix_ingress_controller_is_leader
- Description: Whether the role of controller instance is leader
- PromQL: `apisix_ingress_controller_is_leader`
- Visualization: Stat
---
apisix_ingress_controller_cache_sync_total
- Description: Cache Sync Operations
- PromQL: `irate(apisix_ingress_contr

[2021-09-28 08:55] Sindweller opened #696 "request help: metrics was exposed but not exist in Prometheus"
### Issue description
Take `sync_operation_total` as an example:
[code]
I add some log output to see whether the program reaches this function. And I got some output like:
[code]
So it seems there's an endpoint sync operation exist and has been synced successful.
But there's still only a single record exist in Prometheus:
[code]
**There's no `endpoint` in the record. What's the problem it might be

[2021-09-28 10:17] geffzhang commented on #569
@tokers  I can't inject  dapr  APISIX pod ,

<html>
<body>

/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua init
--
Tue, Sep 28 2021 6:16:14 pm |  
Tue, Sep 28 2021 6:16:14 pm | WARNING: using fixed Admin API token has security risk.
Tue, Sep 28 2021 6:16:14 pm | Please modify "admin_key" in conf/config.yaml .
Tue, Sep 28 2021 6:16:14 pm |  
Tue, Sep 28 2021 6:16:14 pm |  
Tue, Sep

[2021-09-28 11:24] tokers commented on #691
@Sindweller Could you paste some snippets about the Grafana dashboard?

[2021-09-28 11:30] tokers commented on #569
@geffzhang Could you try to figure out which program is listing on the `9090` port? It occupies it so Apache APISIX cannot be launched.

[2021-09-28 11:51] Sindweller commented on #691
Do you mean the panel part in json?
This is the `apisix_request_latencies` metric.
If so, I would paste more.
[code]

[2021-09-28 14:40] gxthrj commented on #569
From the logs 'Tue, Sep 28 2021 6:16:17 pm | nginx: [emerg] bind() to 127.0.0.1:9090 failed (98: Address in use)', should check the configurations about port both in apisix and dapr.

[2021-09-28 16:43] #653 closed

[2021-09-29 01:36] tokers commented on #691
I mean the charts rendered from these configurations.

[2021-09-29 02:13] Sindweller commented on #691
@tokers get it.
![image](https://user-images.githubusercontent.com/59216361/135191427-671c72ed-993a-4bf9-a844-ea8bee29e138.png)
![image](https://user-images.githubusercontent.com/59216361/135191494-5d9b60a6-949d-4cb7-b8b1-6485fe7bc068.png)

[2021-09-29 05:33] gxthrj commented on #695
It seems to be a known issue, apisix-ingress must be run after apisix is ​​successfully started.
  ref: https://github.com/apache/apisix-ingress-controller/pull/660

[2021-09-29 05:34] gxthrj commented on #692
+1 Look forward to a quick v2 release.

[2021-09-29 05:36] gxthrj commented on #691
Does this issue related to https://github.com/apache/apisix-ingress-controller/issues/696 ?

[2021-09-29 05:40] gxthrj commented on #690
I think it should be configured in ACK, Perhaps use SLB with it.

[2021-09-29 05:48] gxthrj commented on #683
Yes，We can discuss this on the mailing list before implements it.

[2021-09-29 06:16] gxthrj commented on #688
close issue now, feel free to reopen.

[2021-09-29 06:16] #688 closed

[2021-09-29 06:18] myoss commented on #690
use nginx-ingress is updated, but apisix-ingress not updated.

[2021-09-29 09:57] Sindweller commented on #696
I think I've found the reason. Since I noticed that the exist metrics are all exposed in `./pkg/apisix` and the leader consistent to be 0. It seems the `metricsCollector: metrics.NewPrometheusCollector(),` in `cluster.go` has _overwrite_ (or some else term to describe this condition) the same one in `controller.go`.
So I currently annotate the `metricCollector` in `cluster.go` and those calling in

[2021-09-29 11:41] tokers commented on #696
You can just instantiate the metrics collector in the controller and just pass that one to cluster.

[2021-09-29 11:42] tokers commented on #691
Great job! Cool!

[2021-09-29 11:55] tokers commented on #690
Thanks for the report, it's an undeveloped feature of ingress, I think we can support it in the next few release cycles.

See:

* https://github.com/projectcontour/contour/blob/main/design/ingress-status-loadbalancer.md
* https://kubernetes.io/docs/reference/kubernetes-api/service-resources/ingress-v1/#IngressStatus

[2021-09-29 11:55] tokers commented on #690
We can make some discussions in the mailing list.

[2021-09-29 11:57] tokers commented on #683
That's true, let me write an email to explain that.

[2021-09-30 00:52] fgksgf commented on #564
/assign fgksgf

[2021-09-30 06:38] LuChenjing opened #700 "ApisixRoute route still work after deleting AR source"
Using helm to install apisix and apisix-ingress-controller.
![image](https://user-images.githubusercontent.com/42744697/135398393-e96b77fe-4fe2-49de-b352-8fdcb230b0f4.png)
apisix version: image apache/apisix:2.7-alpine
apisix-ingress-controller: image apache/apisix-ingress-controller:1.1.0

Here is the ApisixRoute manifest yaml:
[code]

**Issue1:** After applying the resource only shown URIS: /mon

[2021-09-30 06:58] zenglongfeng opened #701 "request help: how can i use ssl"
### Issue description
I want to use apisix ingress and configure ssl in the k8s cluster. I need to configure ApisixTls according to the official documentation. After the configuration is completed, I found that apisix-ingress-controller reported an error. The content of the error is

 2021-09-30T14:47:42+08:00 error ingress/apisix_tls.go:118 failed to translate ApisixTls {"error": "missing cert fi

[2021-09-30 07:21] tao12345666333 commented on #701
please see https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/mtls.md

[2021-09-30 07:21] tao12345666333 commented on #701
And this one https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/ingress/ssl.go

[2021-09-30 08:43] Horus-K commented on #695
apisix-ingress-controller:1.2.0
apisix:2.9

[2021-09-30 08:43] Horus-K commented on #695
apisix-ingress-controller:1.2.0
apisix:2.9
![image](https://user-images.githubusercontent.com/48319268/135418934-67e6ba1f-317e-40aa-9c14-e281cef05e16.png)
![image](https://user-images.githubusercontent.com/48319268/135418970-ab11129c-bf04-41f9-babd-a0ce6ebfe952.png)

[2021-09-30 08:44] Horus-K commented on #695
同样问题，apisix接口200 apisix-ingress-controller 异常

[2021-09-30 09:01] zenglongfeng commented on #701
I try to create K8S resource "secret" command as follows
kubectl create secret generic shouba-cn --from-file=cert=./xx.crt --from-file=key=./xxx.key At the same time using the above configuration, he can work, it is very useful
thanks !!!

[2021-09-30 09:06] Horus-K commented on #695
找到了问题了，我使用了apisix-dashboard 2.8 手动创建了资源，将其删掉后apisix-ingress-controller恢复正常

[2021-10-01 04:56] tokers commented on #700
1. Issue 1 is a CRD definition problem about the column printer.
2. For issue 2, could you paste the request/response details, you can use the curl utility.
3. Will try to reproduce the issue 3 on my local.

[2021-10-01 15:24] LuChenjing commented on #700
Sure, For

Sure, for issue2:
I got K8S service for prometheus1,2:
![image](https://user-images.githubusercontent.com/42744697/135645339-4d1f1e52-6514-4344-ac31-f83151f00988.png)

CURL the prometheus 2 with the nodePort service:
![image](https://user-images.githubusercontent.com/42744697/135645233-c4e730da-bcad-4682-86af-2d0e406f0a2c.png)

CURL the prometheus 2 with the exact apisix route path(**sa

[2021-10-02 13:14] #692 closed

[2021-10-02 13:24] tao12345666333 commented on #648
The grpc document has been added in #699 , now I will close this issue, we can track it through #699

Please feel free to reopen it if you have any other questions.

[2021-10-02 13:24] #648 closed

[2021-10-02 13:24] tao12345666333 commented on #631
The grpc document has been added in #699 , now I will close this issue, we can track it through #699

Please feel free to reopen it if you have any other questions.

[2021-10-02 13:24] #631 closed

[2021-10-02 13:27] tao12345666333 commented on #701
It looks like your problem has been resolved, I will close this issue.

Feel free to reopen it if you have other questions.

[2021-10-02 13:27] #701 closed

[2021-10-06 02:48] geffzhang commented on #569
bash-5.1# netstat -an | grep 90
tcp        0      0 0.0.0.0:9080            0.0.0.0:*               LISTEN
tcp        0      0 0.0.0.0:9080            0.0.0.0:*               LISTEN
tcp        0      0 127.0.0.1:9090          0.0.0.0:*               LISTEN
tcp        0      0 127.0.0.1:9091          0.0.0.0:*               LISTEN
tcp        0      0 10.244.0.16:9080        10.240.0.4:38288

[2021-10-08 07:51] tao12345666333 opened #703 "feat: webhook not cover ApisixRoute v2beta2 version"
ApisixRoute v2beta2 version was introduced in #698
The corresponding check was not covered in this PR.

Let's merge this PR first, and then increase the coverage of v2beta2 in subsequent PRs.

_Originally posted by @tao12345666333 in https://github.com/apache/apisix-ingress-controller/issues/667#issuecomment-938390148_

[2021-10-08 07:54] tao12345666333 commented on #703
cc @fgksgf @gxthrj

[2021-10-08 09:26] cuibaiyi opened #704 "request help: 请问 apisix ingress-controller 组件支持多命名空间下的 service 匹配吗？"
### Issue description
请问 apisix ingress-controller 组件支持多命名空间下的 service 匹配吗？
### Environment
* apisix version: 2.9
* busybox version: 1.28
* etcd version: 3.4.16
* apisix-dashboard version: 2.7
* apisix-ingress-controller version: 1.2.0
### 详细问题描述
请问下apisix ingress-controller 组件支持多命名空间下的service的匹配(如果多命名空间下的service名称一样)，默认ApisixRoute是default。

[2021-10-08 11:39] tokers commented on #700
It seems that the configurations are correct, could you try to access the APISIX admin API and print all routes?

[2021-10-09 03:17] #703 closed

[2021-10-09 04:26] tao12345666333 commented on #683
Address for discussion on the mailing list https://lists.apache.org/thread.html/r140557ba3d8a9c264083e3e0d2365c45a926b449fd887a1adeadf1d7%40%3Cdev.apisix.apache.org%3E

[2021-10-10 08:51] #569 closed

[2021-10-11 01:56] #704 closed

[2021-10-12 01:37] tao12345666333 opened #707 "proposal: use a uniform CRD APIVersion"
Currently in this project, we use different apiversions for management of different resources.
However, the frequency of change of different resources is not the same, which leads to management confusion.

E.g

ApisixRoute -> v2beta2
ApisixUpstream -> v1
ApisixTls -> v1
ApisixConsumer -> v2alpha1
ApisixClusterConfig -> v2alpha1

Users who are not familiar with this project may be confused about th

[2021-10-12 01:39] tao12345666333 commented on #707
mail list discuss:

https://lists.apache.org/thread.html/r7f1d6037334d5558550ceaf79738ca421b6154b0b32854f9a331d1e9%40%3Cdev.apisix.apache.org%3E

[2021-10-12 01:41] gxthrj commented on #707
Agree, The feature can reduce the cost of understanding.

[2021-10-12 06:14] yingtxx opened #708 "request help: Ingress 资源不同步 apisix"
### Issue description
通过CRD ApisixRoute 创建路由是正常的
但是通过注解创建Ingress资源不会同步到apisix
ingress.yaml配置如下

apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: httpserver-ingress
  annotations:
    kubernetes.io/ingress.class: apisix
spec:
  rules:
    - host: local.httpbin.org
      http:
        paths:
          - backend:
              serviceName: httpbin
              servicePort: 80

[2021-10-13 04:01] gxthrj commented on #700
@LuChenjing
I have sorted out your screenshots, the configuration is the same as expected, can you see if your understanding is wrong？

1. The configuration paragraph of `prometheus-2` in ApisixRoute resource
[code]

2. The Prometheus svc
![image](https://user-images.githubusercontent.com/4413028/137064173-ab0e3700-26e0-4947-b586-401e37840c3d.png)

3. Request to Prometheus-2 directly
![image](http

[2021-10-13 04:18] gxthrj commented on #708
Please show me the configure of APISIX-ingress-controller, the `kubernetes.ingress_version` need to be specified as `networking/v1beta1`.(You are using `networking/v1beta1` from your declared configure.)

BTW the version of apisix-ingress-controller you are using is too old. Please upgrade.
cc [The compatibility between apisix-ingress-controller and Apache APISIX.]( https://github.com/apache/apisi

[2021-10-13 06:40] gxthrj opened #709 "bug: status subresource can not be record when using CRD apiextensions.k8s.io/v1"
### Issue description

status subresource can not be record when using CRD apiextensions.k8s.io/v1

Use CRD apiextensions.k8s.io/v1beta1 is ok.

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`); master
* your Kubernetes cluster version (output of `kubectl version`); 1.14 ~ 1.21

[2021-10-13 06:43] yingtxx commented on #708
install by apisix-helm-chart

**yaml of apisix-ingress-controller deployment:**

[code]

[2021-10-14 00:01] haowang-pony opened #710 "request help: Apisix ingress controller config.yaml couldn't read os environment variable"
### Issue description
I want to set the default_cluster_admin_key from env variable. I have such config.yaml file and set the `ADMIN_PASSWORD` as env. And I mount the config.yaml as configMap for my apisix-ingress-controller pods.  but the config.yaml couldn't read the `ADMIN_PASSWORD` from os environment.

apisix-ingress-controller config.yaml
[code]

env config
[code]

But the interesting thing

[2021-10-14 01:58] nic-6443 commented on #710
This is normal, because apisix and apisix-ingress-controller are two independent software. The former supports the use of environment variables when parsing configuration files( [code link](https://github.com/apache/apisix/blob/master/apisix/cli/file.lua#L55-L55) ), and the latter has not been implemented.
Of course this is a nice feature, we can consider supporting it.

[2021-10-14 02:23] haowang-pony commented on #710
Thanks for quick response! Looking forward to this feature.

And could I just use the k8s command flags to config the apisix-ingress-controller. Is this recommend practice before this feature?

[code]

[2021-10-14 02:24] wadeLouis commented on #708
I also encountered the same problem.

### Environment
K8S:  v1.18.3
APISIX: 2.10.0
Apisix-ingress-controller:  1.2.0

### Test native Ingress
[code]
### Test result
bash-5.1# curl http://127.0.0.1:9180/apisix/admin/routes -H 'X-API-Key: edd1c9f034335f136f87ad84b625c8f1'
[code]
### apisix-ingress-controller configmap
[code]

[2021-10-14 02:28] nic-6443 commented on #710
Using command is OK, but it will make the deployment yaml a bit more complicated. What we use in the helm chart is configmap for configuration file, I don't know why you didn't use it?

[2021-10-14 02:31] wadeLouis commented on #708
Oss my god !!!!!!
I found the problem .  apisix ingress controller default configmap is set `ingress_version: networking/v1` by default.  The supported ingress api group version, can be "networking/v1beta1" , "networking/v1" (for Kubernetes version v1.19.0 or higher), and  "extensions/v1beta1", default is "networking/v1".
Just specificed it !!!

[2021-10-14 02:39] haowang-pony commented on #710
As for helm chart, I used it when I did experimental. However, as for production use, our company prefer to use deployment yaml directly.

As for configMap, actaully my first choice is configMap. However, just as I said in the begainning, when I mount the configMap as config.yaml, the config.yaml couldn't set the `${ADMIN_PASSWORD}` from environment variable. And for production use, considering se

[2021-10-14 02:45] haowang-pony commented on #710
And as for why I couldn't use ${environment variable} in the apisix-ingress-controoler config.yaml, I suspend this is because the apisix-ingress-controller doesn't support bash.

[2021-10-14 02:55] nic-6443 commented on #710
The configuration file is parsed directly through the golang code, without bash.

[2021-10-14 02:56] jimmy-jian opened #711 "request help: apisixtls已经删除apisix-ingress-controller日志还一直报apisixtls的错"
我创建了一个apisixtls，并且把secret指向了cert-manager生成的secret。但是cert-manager生成的secret里保存的key是"tls.crt"和"tls.key",  和apisixtls中要求的"cert","key"不一样，所以我就将apisixtls对象删除了。但好像又没有彻底删掉，apisix-ingress-controller日志里还一直报apisixtls转换的错，有什么办法可以将apisixtls彻底删除吗？还有secret中的字段的"cert","key"是否可以通过参数的方式指定呢

![QQ20211014-0](https://user-images.githubusercontent.com/18340883/137242373-3687d1b6-be66-47e2-a6be-90a0906e7fbc.png)

![F56A

[2021-10-14 03:07] haowang-pony commented on #710
This is a very good suggestion! Thanks a lot!

[2021-10-14 03:40] renweijun opened #712 "request help: apisix-ingress-controller "error": "unexpected non-empty object""
### Issue description
apisix集群物理机部署非容器环境，这套集群是否可以同时作为apisix-ingress-controller 的apisix/admin 使用，又提供给外部物理机环境通过Dashboard配置路由，上游。既我想容器和物理机混用apisix集群。
实测下来好像不可以，不知道是否支持？有没有计划支持？
apisix-ingress-controller  报错信息
2021-10-13T16:15:38+08:00	error	apisix/upstream.go:121	failed to convert upstream item	{"url": "http://10.2.19.5:9080/apisix/admin/upstreams", "upstream_key": "/apisix/upstreams/3767882089328810

[2021-10-14 04:23] #708 closed, assigned to nobody

[2021-10-14 06:27] renweijun commented on #712
I know what you said, I'm in the container curl APISIX admin API is OK 。but now I need to solve the error report. Thank you

[2021-10-14 06:54] renweijun commented on #712
![image](https://user-images.githubusercontent.com/3645697/137266715-42dbb41d-d150-4b42-a25f-ab64d0bf7cfa.png)
@gxthrj

[2021-10-14 10:44] tokers commented on #711
@jimmy-jian The standard naming in secret is supported in the master branch. And I think the problem is that you delete the resource but it still retries it, this should be a bug in the secret controller. cc @tao12345666333 @gxthrj

[2021-10-14 12:34] jimmy-jian commented on #711
I double checked the source on master branch, it still uses 'cert' and 'key' ....blablabla
![WechatIMG6](https://user-images.githubusercontent.com/18340883/137305713-151c5a29-0351-45d7-bc61-f22c63af2450.jpeg)

[2021-10-15 02:53] #711 closed, assigned to nobody

[2021-10-18 03:44] myoss commented on #690
In a planned way?

[2021-10-18 09:27] gxthrj commented on #712
The routing object id created by the dashboard is of numeric type, but the id in ingress is of string type, so some changes are needed to prevent ingress from reporting errors.

[2021-10-19 15:00] yunfhu opened #718 "request help: is Apisix-ingress-controller able to integrate with the Apisix-dashboard"
### Issue description
Actually I have two question about Apisix-ingress-controller.The 1st one is whether is able to integrate with the Apisix-dashboard.Another question is as the kubernets' ingress controller,it is deployed  on the node or deployed as service in the pod ?

[2021-10-20 05:00] yunfhu commented on #718
Could you pls give more details about deploy ingress controller outside the kubernets cluster?

[2021-10-20 05:38] tao12345666333 commented on #684
#714 has been merged, I think we can close this one. If you have any question please feel free to reopen it.

[2021-10-20 05:38] #684 closed

[2021-10-22 20:10] haowang-pony opened #719 "request help: Does apisix-ingress-controller service account require coordination.k8s.io in clusterRule"
### Issue description
I want restrict apisix-ingress-controller service account could only use `coordination.k8s.io` api group in `ingress-apisix` namespace rather than cluster wise. Therefore I changed clusterrole to role and add rolebinding. However I met such error:
`E1023 04:08:38.496282       1 leaderelection.go:325] error retrieving resource lock default/ingress-apisix-leader: leases.coordin

[2021-10-23 09:17] xiongyunhua-star opened #720 "ingress-controller v1.3 Cannot create route with apisix"
### Issue description

pod err log:
021-10-23T17:07:15+08:00       error   translation/apisix_route.go:184 failed to get service port in backend   {"backend": {"serviceName":"","servicePort":0,"weight":null}, "apisix_route": {"metadata":{"name":"xyhapisix","namespace":"default","selfLink":"/apis/apisix.apache.org/v2beta1/namespaces/default/apisixroutes/xyhapisix","uid":"b2a9e6c2-02ca-4a16-ade8-667

[2021-10-25 07:34] #720 closed, assigned to nobody

[2021-10-26 08:53] Donghui0 opened #721 "request help: can support no service backend? only use plugin for routing processing."
### Issue description:
in scenarios:  deny the route to be accessed, just use the uri-blocker plugin, no need to configure the service backend property.

[2021-10-26 16:49] #709 closed, assigned to nobody

[2021-10-27 03:38] crazyMonkey1995 opened #722 "bug: empty apisixupstream can be apply but it cause panic"
### Issue description

When create an empty apisixupstream, ingress-controller panic

### Environment

* your apisix-ingress-controller version 1.3.0
* your Kubernetes cluster version 1.18.20

### Minimal test code / Steps to reproduce the issue

apisixupstream.yaml

[code]
kubectl apply -f apisixupstream.yaml ———created
kubectl describe apisixupstream -n whatEverSameAsTargetService whatEverSameAs

[2021-10-27 08:09] aiyYu opened #725 "request help: apisix error：Failed to watch *v2beta1.ApisixRoute"
### Issue description
![2](https://user-images.githubusercontent.com/49424498/139022239-6736ade9-0eaf-4ecf-9aff-6aac94c6b43a.png)

![getall](https://user-images.githubusercontent.com/49424498/139026100-e1c26a6c-e570-47d1-9310-9158393fba22.png)

### Environment
k8s version：v1.16.4

apisix version：2.10.0
apisix-ingress-controller version：1.3.0
from clone https://github.com/apache/apisix-helm-chart.g

[2021-10-30 02:58] Horus-K opened #728 "Suspected memory leak"
### Issue description
![image](https://user-images.githubusercontent.com/48319268/139517895-460c4f0b-955a-4e5b-b561-96b5727b866d.png)
![image](https://user-images.githubusercontent.com/48319268/139517907-f953c06a-619c-4303-8b29-96b39de466e0.png)

### Environment
Container memory leak causes node to restart
The container is not configured with resource limits. I modified the apisix token, but did n

[2021-10-30 13:53] tao12345666333 commented on #728
what's your APISIX Ingress version?

[2021-10-31 06:28] tokers commented on #728
It seems that the connection between APISIX and ETCD cluster is broken, could you check out whether the network was partitioned.

[2021-11-01 03:52] lxm opened #729 "request help: apisixroute not work"
### apisixroute not work
### Environment

* your apisix-ingress-controller version 1.3.0
* your Kubernetes cluster version : v1.18.8-aliyun.1
* aliyun linux

content of apisixroute
[code]

err msg

[code]

[2021-11-01 03:58] lxm commented on #729
E1101 11:58:20.268958 1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.21.1/tools/cache/reflector.go:167: Failed to watch *v1.Ingress: failed to list *v1.Ingress: the server could not find the requested resource

[2021-11-01 08:09] tao12345666333 commented on #729
What is your installation method?

[2021-11-01 08:11] tao12345666333 commented on #729
`prod-qingjiao-api` svc not exist?

[2021-11-01 08:34] lxm commented on #729
install  using helm
prod-qingjiao-api exist

[2021-11-01 08:57] sumeng001 opened #730 "ApisixIngress service "" not found"
HI：
I installed apisix-ingress using documentation, but it shows when viewing apisixRoute
ApisixIngress synchronization failed, error: service “” not found

version：
apache/apisix-ingress-controller：1.3.0
![image]（https://user-images.githubusercontent.com/28882514/139646526-0dd07b33-0b3f-43ab-a8ac-1189ef98ec36.png）
![image]（https://user-images.githubusercontent.com/28882514/139646200-2b15f666-3830

[2021-11-01 09:07] lxm commented on #729
tried reinstall apisix ingress controller many times.

status of apisixroute is same as #730

[2021-11-01 09:14] sumeng001 commented on #729
Can multiple installs solve this problem?

[2021-11-01 09:19] lxm commented on #729
no

[2021-11-01 09:26] lxm commented on #729
restart the apisix-ingress-controller solve the promblem

maybe something wrong with the init container

by the way, an error was found when ingress-controller started
[code]

[2021-11-01 09:30] tokers commented on #729
The Route version that apisix-ingress-controller watches is `v2beta`, according to the log message:

You should use the `v2beta2` as the watching version (see [here](https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/templates/configmap.yaml#L36)).

[2021-11-01 09:32] tokers commented on #730
What's the exact apisix route version that the apisix-ingress-controller watching? See [here](https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/templates/configmap.yaml#L36) to learn the details.

[2021-11-01 10:38] lxm commented on #729
tried to use v2 before restart，but didn't work, got the same error.

[2021-11-01 10:45] lxm commented on #729
and the controller continues output a errror `E1101 18:32:56.227617 1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.21.1/tools/cache/reflector.go:167: Failed to watch *v1.Ingress: failed to list *v1.Ingress: the server could not find the requested resource`

if create  a ingress with class name `apisix`, it won't be processed

[2021-11-01 11:06] lxm commented on #729
![image](https://user-images.githubusercontent.com/1918195/139662383-e4598026-5e7d-4f4d-9bc6-246098acfd42.png)
configmap shows that apisix-ingress-controller's watch version

[2021-11-01 11:51] sumeng001 commented on #730
apisix-ingress version map
apiVersion: v1
data:
  config.yaml: |
    # log options
    log_level: "info"
    log_output: "stderr"
    http_listen: ":8080"
    enable_profiling: true
    kubernetes:
      kubeconfig: ""
      resync_interval: "6h"
      app_namespaces:
      - "*"
      ingress_class: "apisix"
      ingress_version: "networking/v1"
      apisix_route_version: "apisix.apache.org/v2b

[2021-11-01 12:41] sumeng001 commented on #730
I took  apisix.apache.org/v2beta1 to make apisix.apache.org/v2beta2
Could that be the problem?

httpbin-route.yaml

**_apiVersion: apisix.apache.org/v2beta1_**
kind: ApisixRoute
metadata:
name: httpserver-route
spec:
http:

name: rule1
match:
hosts:
local.httpbin.org
paths:
/*
backend:
serviceName: "httpbin"
servicePort: 80

**_apiVersion: apisix.apache.org/v2beta2_**
kind: ApisixRoute
metadata:

[2021-11-02 02:34] zlhgo opened #732 "bug: ApisixRoute backendPoint duplicate"
### Issue description
pkg/kube/translation/apisix_route.go:258
ApisixRoute backendPoint duplicates

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
[code]

* your Kubernetes cluster version (output of `kubectl version`);
[code]

* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`).

[2021-11-02 02:46] tao12345666333 commented on #732
Thanks! Can you open a PR fix this?

[2021-11-02 03:40] sumeng001 commented on #730
Resolved, used v2beta2

[2021-11-02 03:50] tao12345666333 commented on #730
Thanks for your feedback

[2021-11-02 03:50] #730 closed

[2021-11-02 09:43] tokers commented on #729
Check out the kubernetes version, ingress v1 was introduced since v1.19.0.

[2021-11-03 09:31] tao12345666333 commented on #725
If you using apisix-ingress v1.3 with latest CRD, you should get the following output

[code]

If you want to use https://github.com/apache/apisix-ingress-controller/tree/master/samples/deploy/crd/v1
You need run `kubectl apply -k ./samples/deploy/crd/v1`

[2021-11-03 09:37] tao12345666333 commented on #722
Please provide a reproducible example.

[2021-11-03 09:39] tao12345666333 commented on #722
I used an empty apisixupstream for testing, but no panic occurred.

[code]

[2021-11-04 03:07] jikunchong opened #736 "bug: 在非 ingress-apisix 命名空间下部署时，wait-apisix-admin 失败，脚本错误"
### Issue description
在非 ingress-apisix 命名空间下部署时， 报错：
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
 waiting for apisix-admin

原因：
wait-apisix-admin 初始化脚本，只找固定命名空间：ingress-apisix
  initContainers:
    - name: wait-apisix-admin
      image: 'busybox:1.28'
      command:
        - sh
        - '-c'
        - >-
          until nc -z apisix-admin.ingress-apisix.svc.cluster.local 918

[2021-11-04 03:10] jikunchong commented on #736
我用的是 1.3.0 版本，helm 部署的。

sudo helm install apisix apisix/apisix \
  --set apisix.image.tag=2.10.1-alpine \
  --set gateway.type=NodePort \
  --set admin.allow.ipList="{0.0.0.0/0}" \
  --set dashboard.enabled=true \
  --set ingress-controller.enabled=true \
  --namespace apisix-system

[2021-11-04 03:16] tao12345666333 commented on #736
you should add `--set ingress-controller.config.apisix.serviceNamespace=<your namespace>` flag.

[2021-11-04 03:17] tao12345666333 commented on #736
ref: helm install apisix charts/apisix --set gateway.type=NodePort --set ingress-controller.enabled=true --set ingress-controller.config.apisix.serviceNamespace=apisix-ingress-v13 --namespace apisix-ingress-v13 --create-namespace

[2021-11-04 03:18] tao12345666333 commented on #736
ref: https://github.com/apache/apisix-helm-chart/blob/0ddba2d6d17376654553675604da3f1018521ea1/charts/apisix-ingress-controller/values.yaml#L100-L102

[2021-11-04 08:43] Patrick0308 opened #737 "DISCUSS: Discovered apisixupstreams by another way"
Description:
Now we discover apisixupstream from k8s service. We can discover apisixupstreams from which is xds server, consul, nacos and so on.
What good will this do us:
The apisix-ingress-controller can be made suitable for use in more situations. Examples :
1. although using k8s to deploy all services, there are deploying consul as a registry.
2. using k8s and vm to deploy services

[2021-11-04 10:12] tokers commented on #737
It seems like we should support more and more discovery registries, we may extend apisix-ingress-controller to do it. Do you have any specific proposals to do this?

[2021-11-06 03:11] nic-6443 commented on #719
I verified that sa can bind clusterrole and role at the same time, this is the test manifests I used:
[code]
commands to verify permissions:
[code]
So maybe we can reconsider the rbac permission for lease

[2021-11-07 02:51] jikunchong opened #738 "request help: how to rewrite path?"
### Issue description
我想将后端服务 httpbin 服务挂在 api.domain.local/httpbin 子路径下。
当我挂在 httpbin.domain.local 可以访问，但挂在 api.domain.local/httpbin 子路径下就不行。

我的配置如下：
[code]
请问，我该如何实现类似 nginx.ingress.kubernetes.io/rewrite-target: / 的功能？

### Environment
KubeSphere 3.2.0
MetalLB 0.11.0
apisix-ingress-controller v1.3.0

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`)

[2021-11-07 02:52] jikunchong commented on #738
apisix 2.10.1

[2021-11-07 03:07] jikunchong commented on #729
通过插件应该可以 rewrite 到 /api 子路径下，但我也想知道能不能直接在 ingress rule 中，就可以搞定。
类似 ingress nginx 的 nginx.ingress.kubernetes.io/rewrite-target: / 那样。求解答 ~~
参考：https://apisix.apache.org/docs/apisix/plugins/proxy-rewrite

[2021-11-07 06:57] xewn opened #739 "apisix-ingress-controller failed to install"
### 参考https://kubesphere.com.cn/blogs/kubesphere-apacheapisix/ 安装的

### kubesphere3.20

![image](https://user-images.githubusercontent.com/1423410/140635619-5ba2fac8-45b5-4710-806e-8d33b7d6ca59.png)

 waiting for apisix-admin

 nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'

 waiting for apisix-admin

 nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'

[2021-11-07 06:58] tokers commented on #729
See http://apisix.apache.org/docs/ingress-controller/concepts/annotations/#rewrite-target.

[2021-11-07 06:59] tokers commented on #739
Should check out whether the apisix pods cannot be launched successfully.

[2021-11-07 07:00] tokers commented on #738
See http://apisix.apache.org/docs/ingress-controller/concepts/annotations/#rewrite-target.

[2021-11-07 09:09] jikunchong commented on #738
还有隐秘的文档啊，多谢，搞定了

[2021-11-07 09:10] #738 closed

[2021-11-07 10:42] tao12345666333 commented on #739
please see https://github.com/apache/apisix-helm-chart/issues/176#issuecomment-960422141

[2021-11-07 12:30] jikunchong commented on #739
# 提前创建好命名空间
sudo kubectl create ns apisix-system
# 安装
sudo helm install apisix apisix/apisix \
  --set apisix.image.tag=2.10.1-alpine \
  --set gateway.type=NodePort \
  --set admin.allow.ipList="{0.0.0.0/0}" \
  --set dashboard.enabled=true \
  --set ingress-controller.enabled=true \
  --set ingress-controller.config.apisix.serviceNamespace=apisix-system \
  --namespace apisix-system

[2021-11-08 03:42] chzhuo opened #741 "bug: The newly created namespace will not be watched"
### The newly created namespace will not be watched  when the controller has started and the `NamespaceSelector` is empty

### Environment

* controller: master 65f7c88193eb6e83b2bb4ca87a981321a99503e5

### Minimal test code / Steps to reproduce the issue
1. start controller
2. create a new namespace
3. namespace will not store to `watchingNamespace`

### The reason of the bug
![image](https://use

[2021-11-08 03:57] tao12345666333 commented on #741
ping @gxthrj  PTAL

[2021-11-08 04:46] gxthrj commented on #741
The reason for the issue is the way to determine if `sync.Map` is empty has wrong. It can not be nil anyway.

[2021-11-08 08:28] gxthrj commented on #741
I think should return true when the s is empty

Yes, you are right. Thanks for the report.

[2021-11-08 09:25] drrrMikado commented on #659
Same issue.
Ref docs: [Install Ingress APISIX on Minikube](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/minikube.md) and [Proxy httpbin service](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md).

![24SPFT1B4{1F3R%37BENRKN](https://user-images.githubusercontent.com/11224565/140715949-

[2021-11-08 12:13] jianhaiqing opened #743 "request help: Any plan to support tcp_enable_ssl ?"
### Issue description
ssl over tcp support in k8s
### Environment

[2021-11-09 01:05] tokers commented on #743
@jianhaiqing It's already supported, just defining a `ApisixTls` resource and several `ApisixRoute` objects (with the `stream` field).

[2021-11-09 01:06] tokers commented on #743
See http://apisix.apache.org/docs/ingress-controller/concepts/apisix_route/#tcp-route for details.

[2021-11-09 10:54] fracarvic opened #744 "Feature suggestion: support stream route with plugins"
### Issue description
As far I know, Apisix supports  limit-conn and  ip-restriction plugins in stream routes, but seems apisix-ingress-controller doesn't support stream plugins.

Will it be supported in the future?

Thanks.

### Environment
Apisix-ingress-controller version:
Version: 1.3.0
Git SHA: no-git-module
Go Version: go1.13.8
Building OS/Arch: linux/amd64
Running OS/Arch: linux/amd64

[2021-11-09 11:58] tokers commented on #744
Yeah, it's in our plan to support it. cc @gxthrj @tao12345666333

[2021-11-10 05:20] gxthrj commented on #722
I think we should add validation in `apisixUpstream`, the `spec` should not be empty.

[2021-11-10 05:44] tao12345666333 commented on #744
Thanks for your feedback.

[2021-11-10 05:51] gxthrj commented on #737
I agree to extend the service discovery to support more third-party registration centers.

[2021-11-11 00:42] tao12345666333 commented on #728
If apisix-ingress cannot pass the apisix certification, then the log under normal circumstances should look like the following

[code]

I did not reproduce it, please provide more detailed steps.
For use in a production environment, it is recommended to configure resource limits.

[2021-11-11 01:48] juzhiyuan opened #748 "Could we use a better description Issue/PR template?"
### Issue description

Hi, when I create a new Issue or PR, it's too complex for me to fulfill the contents :)

![image](https://user-images.githubusercontent.com/2106987/141221894-7f9be598-1162-4fc6-b3cc-dbb826366869.png)

I find a better example here https://github.com/facebook/docusaurus/issues/new/choose, could we have some ideas from it?

![image](https://user-images.githubusercontent.com/210

[2021-11-11 04:20] tutuV opened #749 "ApisixRoute does not write to etcd and is not shown on dashboard"
env:
k8s 1.21
apisix-helm-chart 0.7.2

install cmd:
helm install apisix apisix
-f apisix/values.yaml
--set apisix.replicaCount=1
--set gateway.type=LoadBalancer
--set admin.allow.ipList="{0.0.0.0/0}"
--set etcd.enabled=true
--set etcd.persistence.enabled=false
--set ingress-controller.enabled=true
--set ingress-controller.config.apisix.serviceNamespace=apisix
--set ingress-controller.config.kubern

[2021-11-11 05:53] jikunchong opened #750 "request help: how to access istio services (demo: Bookinfo)？"
### Issue description
我在 KubeSphere 中部署了 istio 的 demo app: Bookinfo，已确认通过 NodePort 方式能正常访问  productpage 微服务。
现在希望通过 apisix-ingress-controller 访问到 Bookinfo productpage，不知是否可行？
有没有类似  nginx.ingress.kubernetes.io/service-upstream: true 的注解配置，或者是更好的推荐配置方式？

### Environment

* your apisix-ingress-controller version (1.3.0);
* your Kubernetes cluster version (1.22.1);
* if you run apisix-ingress-control

[2021-11-11 07:21] nic-6443 opened #751 "bug: e2e test will fail randomly"
### Issue description
Because we test UDP route by using kube-dns as backend, we create route in kube-system namespace. But we run e2e in 2 nodes mode, as a result, when the UDP route case is executing, it will affect the accuracy of other cases, because the ingress controller in other cases will also get this UDP route.
This is why e2e failed this time: https://github.com/apache/apisix-ingress-co

[2021-11-11 07:25] gxthrj commented on #751
Good catch

[2021-11-11 07:26] gxthrj commented on #751
So， I think we should not watch `kube-system` anywhere.

[2021-11-11 07:33] nic-6443 commented on #751
Should only be watched in UDP case?

[2021-11-11 07:41] tokers opened #752 "bug: The generated consumer name should not just use the ApisixConsumer `metadata.name`"
### Issue description

Currently, when generate an APISIX consumer object, we just use the `metadata.name` field (see https://github.com/apache/apisix-ingress-controller/blob/da30386c9a4335a82723b46fe7b1342bf0f42867/pkg/types/apisix/v1/types.go#L464) in ApisixConsumer CR, but the schema of APISIX consumer doesn't allow the hyphen character (`-`) (see https://github.com/apache/apisix/blob/master/ap

[2021-11-11 07:43] gxthrj commented on #751
Yes, I think so.

[2021-11-11 07:44] nic-6443 commented on #751
I will fix this issue

[2021-11-11 10:17] tokers commented on #750
@jikunchong See https://apisix.apache.org/docs/ingress-controller/references/apisix_route_v2beta1/#service-resolve-granularity.

[2021-11-11 10:18] tokers commented on #749
Please provide the steps to reproduce problems.

[2021-11-12 09:24] tutuV commented on #749
@tokers
kubectl create ns apisix

helm install apisix apisix \
-f apisix/values.yaml \
--set apisix.replicaCount=1 \
--set gateway.type=LoadBalancer \
--set admin.allow.ipList="{0.0.0.0/0}" \
--set etcd.enabled=true \
--set etcd.persistence.enabled=false \
--set ingress-controller.enabled=true \
--set ingress-controller.config.apisix.serviceNamespace=apisix \
--set ingress-controller.config.kubern

[2021-11-13 02:58] tokers opened #756 "feat: support grpcs and https scheme when communicating with backend"
Currently, we only support `http` and `grpc` schems, when forwarding requests to backend, since Apache APISIX supports other two schemes, `https` and `grpcs`, I think we should also support them.

[2021-11-13 04:41] tao12345666333 commented on #756
ref: #755

[2021-11-14 05:47] tokers commented on #749
@tao12345666333 @gxthrj Please take a look when you have time.

[2021-11-18 03:56] GhangZh opened #758 "request help: apisix-ingress-controller has many reported errors just like xxx not found"
### Issue description
apisix-ingress-controller has many reported errors,And there is no manual creation of resources via dashboard. Why are there so many upstream 404 and service not found here, are they traversing all the k8s services?
apisix-ingress-controller pod logs
![image](https://user-images.githubusercontent.com/92301646/142347990-3ffd3596-05e5-4af8-af34-32e0d67683ed.png)
apisix pod logs

[2021-11-18 10:05] tokers commented on #758
These errors are harmless but I think they are intrusive. Maybe we can try to optimize the logging.

cc @tao12345666333

[2021-11-18 10:12] tao12345666333 commented on #758
The default configuration is to watch all namespaces, you can change the configuration so that it only watches certain specified namespaces.

Of course, currently our logs also need to be optimized.

[2021-11-18 10:14] tao12345666333 commented on #752
let me take a look.

[2021-11-18 10:19] tao12345666333 commented on #121
Our current e2e test case has been basically covered, and I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 10:19] #121 closed

[2021-11-18 10:22] tao12345666333 commented on #244
This feature has been implemented #573, and I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 10:22] #244 closed

[2021-11-18 10:24] tao12345666333 commented on #261
This issue has not been updated for too long. If you want to use a GUI for control, you can use KUI, K9S, KubeSphere or Rancher, etc. I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 10:24] #261 closed

[2021-11-18 10:28] tao12345666333 commented on #318
This issue has not been updated for too long. And we have deprecated the  `apisix.apache.org/v2alpha1` version of ApisixRoute, please try to update to the latest version to verify if there are still problems.

I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 10:28] #318 closed

[2021-11-18 14:11] tao12345666333 commented on #387
What do you mean specifically? What scenarios should we check the CRD schema?

[2021-11-18 14:13] tao12345666333 commented on #392
Use #638 for alternative tracking, I will close this issue.

[2021-11-18 14:13] #392 closed

[2021-11-18 16:34] tao12345666333 commented on #403
This issue has not been updated for too long. Please try to update to the latest version to verify if there are still problems.

I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 16:34] #403 closed

[2021-11-18 16:37] tao12345666333 commented on #405
This issue has not been updated for too long. As mentioned above, you can deploy them in different namespaces, and you can isolate them by setting their watch namespace.

I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 16:37] #405 closed

[2021-11-18 16:42] #565 closed

[2021-11-18 16:46] tao12345666333 commented on #672
In version 1.3, we have adjusted the configuration of CRD resources, and you will no longer see this information.

I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 16:46] #672 closed

[2021-11-18 16:48] tao12345666333 commented on #658
Currently our e2e test case seems to run pretty well.
I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 16:48] #658 closed

[2021-11-18 16:51] tao12345666333 commented on #649
This issue has not been updated for too long. You can try to update to the latest version to verify if there are any problems.
I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 16:51] #649 closed

[2021-11-18 16:52] tao12345666333 commented on #643
#647 has been merged.  I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 16:52] #643 closed

[2021-11-18 16:54] tao12345666333 commented on #608
This issue has not been updated for too long. You can try to update to the latest version to verify if there are any problems.

I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 16:54] #608 closed

[2021-11-18 16:56] tao12345666333 commented on #725
This issue has not been updated for too long.  You can try to update to the latest version to verify if there are any problems.
I will close this issue. Feel free to reopen it, if you have any question.

[2021-11-18 16:56] #725 closed

[2021-11-19 00:48] gxthrj opened #759 "bug: If resource synchronization retry occurs, other events of the same resource will be blocked"
### Issue description
If resource synchronization retry occurs, other events of the same resource will be blocked.

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`); master

### Minimal test code / Steps to reproduce the issue

1. Define an ApisixRoute resource, including backends that does not exist.
2. The ingress controller will re

[2021-11-19 01:17] tokers commented on #387
Check whether the schema definition is correct or not.

[2021-11-19 01:20] tokers commented on #759
The maximum retry times should be limited just like what the kube-controller-manager does. We may set the amount to a number like `16`.

[2021-11-19 02:57] shelltea commented on #638
@tao12345666333 Hi, Can this feature be released in version 1.4.0?

[2021-11-19 03:01] tao12345666333 commented on #638
@shelltea you can check #694 and #689 If @neverCase  has time to complete this feature, we can include it in 1.4.

[2021-11-19 03:02] tao12345666333 commented on #387
At present, we have upgraded the CRD version to v1 API, which uses openAPIV3Schema mandatory verification.

[2021-11-19 03:27] shelltea commented on #638
@tao12345666333   Thanks!
@neverCase   Hi, Do you have time to complete this feature recently? We really need this feature. 😀

[2021-11-19 03:32] neverCase commented on #638
@tao12345666333 @shelltea
 Actually, I have time to fix this, but I need more help.
I'm willing to contribute my codes.

[2021-11-19 09:20] tokers opened #761 "CodeQL job failed on master branch"
### Issue description

See https://github.com/apache/apisix-ingress-controller/runs/4260643786?check_suite_focus=true for details.

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output of `kubectl version`);
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS versi

[2021-11-19 09:24] tokers commented on #387
I mean, we need some test cases to cover whether the definition of the schema itself are correct, say, we have a constraint on field `path`, it has to be started with "/", we may add some cases to cover the rule is correct.

[2021-11-19 09:25] tokers commented on #638
Feel free to paste your questions there :).

[2021-11-19 10:05] tao12345666333 commented on #638
@neverCase If you need help, please feel free to ping us

[2021-11-20 01:21] adligo opened #762 "bug: typo"
### Issue description
this yaml file has a typo
https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service.md

### Environment
-serviceName: httpbin
vs this, it should have a space
- serviceName: httpbin
* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster version (output o

[2021-11-20 04:15] tao12345666333 commented on #762
Thanks! Could you help submit a PR to fix it?

[2021-11-20 07:19] vancanhuit commented on #762
Hi, new contributors here. I submitted a PR to fix this.

[2021-11-20 09:22] jikunchong commented on #750
请问有成功的示例吗？我之前部署的 httpbin demo 都能正常生成规则，并在 apisix dashboard 中可以看到，并可以正常访问。
[code]

但换成 istio bookinfo productpage 服务后，就不能生成规则了（访问成果：{"error_msg":"404 Route Not Found"} ）。
[code]
所以你说这个 service-resolve-granularity 我也就没法配置。我不知道问题出在哪里了？

[2021-11-20 09:29] jikunchong commented on #750
看 apisix ingress controller 的容器日志是这样的：
[code]

[2021-11-21 06:11] tao12345666333 commented on #762
#763 has been merged. Thanks.

[2021-11-21 06:11] #762 closed

[2021-11-21 06:18] tao12345666333 commented on #750
For this kind of scenario, I have tested and available.

I will write a complete article next week to explain the steps.  The key point here is that you need to enable automatic injection of istio for the namespace where apisix is ​​located.

[2021-11-21 06:20] tao12345666333 commented on #750
like this:

![2021-11-16 15-58-39屏幕截图](https://user-images.githubusercontent.com/3264292/142752004-4174af40-453f-46dc-808a-623fe6c81781.png)

[2021-11-22 02:18] jikunchong commented on #750
thanks, I try try

[2021-11-22 02:55] neverCase commented on #638
👌  i will update today

[2021-11-22 06:21] neverCase commented on #638
@tao12345666333
hi, should I implement the ApisixPluginConfig in the `TranslateContext`
[code]

[2021-11-22 07:04] tao12345666333 commented on #638
@neverCase  You can refer to the following PR to split this work. So that others can also develop collaboratively.

* [chore: consumer data structures by tokers · Pull Request #470 · apache/apisix-ingress-controller](https://github.com/apache/apisix-ingress-controller/pull/470)

* [feat: apisixconsumer translator by tokers · Pull Request #474 · apache/apisix-ingress-controller](https://github.com/

[2021-11-22 07:13] neverCase commented on #638
OK 👌

[2021-11-22 07:13] tao12345666333 commented on #638
@neverCase I hope you complete the definition of CRD and data type first. eg. #689 or #694

[2021-11-22 07:20] jikunchong commented on #750
没成功，请问除了给空间打 istio-injection=enabled 标签外，还需要做什么？
[code]
我参考 productpage，手动在 apisix 的 Deployment 加注解，重建 Pod，也没看到 istio-proxy sidecar。
[code]

[2021-11-22 07:30] neverCase commented on #638
Thanks, got it.

[2021-11-22 07:59] tao12345666333 commented on #750
If you are in a test environment, you can try to create a namespace first, then label it, and then deploy apisix-ingress and apisix

[2021-11-22 08:53] tao12345666333 commented on #761
I checked the recent execution results of this task and it seems to be an accident.
https://github.com/apache/apisix-ingress-controller/actions/workflows/codeql-analysis.yml

[2021-11-22 09:19] xianshun163 opened #764 "Install fail ,use Minikube . Any way to install without use helm?"
### Issue description
I use Minikube to install  it , but  fail,   Is  that any way to install it ,without use helm?

### Environment
the k8s env:   I use kubeadm to deployment k8s,  one master , and the master is also a work node.

I install it  as the doc  desc: https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/minikube.md :

helm repo add apisix https://

[2021-11-22 09:55] tokers commented on #761
Oops, I'd like to watch it for a week, and then close it if no other reports.

[2021-11-22 10:17] jikunchong commented on #750
我就新建了个 mesh-apps 空间，打 istio-injection=enabled 标签，然后部署了个 nginx，也没有自动注入。
我现在只求手动注入都行，主要是要解决 apisix gateway 的流量能进入 istio 服务就行。
@tao12345666333  可否再稍微详细说明一下，还有什么关键点被我忽略了？

[2021-11-22 10:49] tokers commented on #764
@xianshun163 You can install APISIX Ingress controller the hard way (see http://apisix.apache.org/blog/2021/06/28/why-we-need-Apache-APISIX/), or you install it by kustomize (https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/kustomization.yaml).

[2021-11-22 11:11] xianshun163 commented on #764
thanks, I have find the k8s deployment file  " ingress-controller.yaml" in the source code,
 I just try to deploy it like a  deployment.

[2021-11-22 11:11] #764 closed

[2021-11-22 11:34] GhangZh opened #765 "request help: why not reuse the k8s control panel etcd"
### Issue description
Now the helm installation of apisix is using statefulset to deploy the etcd cluster, and I see the community is also not recommended, why not reuse the k8s control panel etcd
Also, I'd like to ask if apisix has support for monitoring the number of api interface calls
### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long

[2021-11-22 12:13] tao12345666333 commented on #765
Yes, it is not recommended to reuse etcd of the k8s control plane, mainly for the following reasons:

* If you want to reset or uninstall APISIX, data management is not easy

* If you have a large amount of data, it will inevitably affect each other

[2021-11-23 14:33] jikunchong commented on #750
不知道最终改了什么，现在可以通过 apisix 访问到 productpage 页面了。
但自动注入的功能还是没有成功。如果哪位成功了，麻烦留个言，先谢了。
很奇怪的是 kubeshere 向导生成的 bookinfo 示例都注入成功了的，但我自己部署的 httpbin 却没有注入 istio-proxy。

[2021-11-24 03:26] lxm opened #766 "question: The deprecated fields in the crd v1 version are not compatible with k8s v1.18 and earlier versions"
### Issue description

apisix installed on about 2021-02 and then uninstalled

but crds still in the cluster

recently started a new install, and crds can not upgrade

### Environment

* your apisix-ingress-controller version  1.3.0
* your Kubernetes cluster version  Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9f2892aab98fe339f3bd70e3c470144299398ace", GitT

[2021-11-24 04:16] tao12345666333 commented on #766
The `CustomResourceDefinition.spec.versions.deprecated` field was added since v1.19 and has not been ported to the previous version.

So you can run this:

[code]

The Kubernetes project maintains release branches for the most recent three minor releases (1.22, 1.21, 1.20).  I suggest you upgrade K8s version.

[2021-11-24 06:08] tao12345666333 commented on #765
I will close this issue, feel free to reopen it if you have any question.

[2021-11-24 06:08] #765 closed

[2021-11-24 06:09] tao12345666333 commented on #761
OK

[2021-11-24 06:20] tao12345666333 commented on #756
#755 has been merged. I will close this issue.

[2021-11-24 06:20] #756 closed

[2021-11-24 06:29] gxthrj commented on #749
It should have some error logs in `ingress-controller`, Please show us.

[2021-11-24 06:46] GhangZh opened #767 "Feature suggestion: support forward auth for Ingress resource"
### Issue description
Does apisix-ingress-controller support these annotations, I directly use is not effective. I mainly want to use these annotations for external authentication services
![image](https://user-images.githubusercontent.com/92301646/143187923-332bd7a9-6e48-488c-9b27-32c3bc2f9d6f.png)

### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller ve

[2021-11-24 07:17] lxm commented on #766
solved by reinstall the chart

[2021-11-24 07:17] #766 closed

[2021-11-24 07:19] lxm opened #768 "request help: path like /api/*/action"
### Issue description

using apiroute crd to set path with `/api/*/action` will get an error

how to set path like `/api/*/action` with apiroute

### Environment

* your apisix-ingress-controller version 1.3.0
* your Kubernetes cluster version 1.18
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (`uname -a`).

[2021-11-24 07:45] jikunchong commented on #768
http://apisix.apache.org/docs/ingress-controller/concepts/annotations/#rewrite-target

[2021-11-24 09:29] tokers commented on #768
Currently, APISIX doesn't support an infix wildcard match.

[2021-11-24 09:31] tokers commented on #767
Hi,

These annotations are not parsed by APISIX Ingress Controller, and what's more, the underlying APISIX doesn't support the forward auth feature.

It seems that we have some issues in APISIX repo with the related topic https://github.com/apache/apisix/issues/5475.

[2021-11-24 09:39] han6565 opened #769 "bug: Unable to reconnect to apisix, when all ep are deleted under svc of apisix"
### Issue description
我在k8s上部署了一个apisix，一个apisix-controller，两台配置好后controller健康检查无问题，
当apisix pod被kill后就算pod重新拉起，controller仍然无法重新连接到apisix
但是我后续手动admin访问pod相同地址没有问题
如果有两个或多个apisix pod时只要存在一个活的pod就不会有问题，但是当短时间内没有pod存活就会无法再连接上
是我配置问题，还是本来没有pod能访问时就应该再也无法连接呢

在controller启动同步后，删除service再恢复可以百分之百复现

[code]
config-map
[code]

### Environment

* your apisix-ingress-controller version (output of `apisix-in

[2021-11-24 10:16] lxm commented on #768
any plan to add this support?

[2021-11-24 10:36] tao12345666333 commented on #768
We need some discussion, or can rewrite meet your needs?

[2021-11-24 10:38] tao12345666333 commented on #769
I will try to reproduce.

[2021-11-24 12:12] GhangZh commented on #767
Thanks，So if I do an http request forwarding to my forwoard auth service by customizing a plugin, it will be fine, right?

[2021-11-24 12:15] tokers commented on #767
That's right, you can implement a custom plugin to support it, but it would better if you'd like to design a generic solution and send a proposal to the mailing list (dev@apisix.apache.org), then others can also use it if they desire.

[2021-11-24 12:20] tao12345666333 commented on #769
Thanks!

[2021-11-24 12:22] tao12345666333 commented on #769
cc @gxthrj  PTAL

[2021-11-24 14:29] tao12345666333 commented on #638
#694 has been merged. 👍 You can do this job @neverCase

- [ ]  Add client implementation to interact with Apache APISIX.

[2021-11-24 15:42] tao12345666333 commented on #732
#734 has been merged. I will close this one.

[2021-11-24 15:42] #732 closed

[2021-11-24 15:43] tao12345666333 commented on #751
It seems that the recent e2e is running relatively stable, and related PRs have also been merged, can we close this issue?

[2021-11-24 15:46] tao12345666333 commented on #710
#745  has been merged. This feature has been implemented, I will close this issue. Feel free to reopen it, if you have any questions.

[2021-11-24 15:46] #710 closed

[2021-11-24 15:54] tao12345666333 commented on #638
@shelltea  @fengshunli   If you are interested, you can also choose one of the tasks.

[2021-11-25 01:31] tokers commented on #751
@nic-6443

[2021-11-25 01:38] #751 closed

[2021-11-25 01:53] tokers commented on #769
I can give you some clues about this issue.

When the controller gets the opportunity to be the new leader, it tries to add the cluster (name is `default`) again, but since the cluster was already there (added in its last term), the new one won't be added, and the controller will still use the old cluster, and in the old cluster, the `cacheSyncErr` was cached and will be used directly when calling

[2021-11-25 02:22] lxm commented on #768
rewrite can do this.

I'm using nginx-ingress now, for example , I'm using this to spec different backends

[code]

[2021-11-25 02:27] shelltea commented on #638
@tao12345666333   I am very interested, but I'm not familiar with go and Kubernetes.

[2021-11-25 02:45] #750 closed

[2021-11-25 02:48] neverCase commented on #638
@tao12345666333
Does this task mean that i should implement the webhook and validation?

[2021-11-25 03:12] neverCase commented on #638
ok, got it.

[2021-11-25 03:13] neverCase commented on #638
ok, got it.

[2021-11-25 09:45] tokers commented on #768
There is a word around solution, you can use the regex match in the `exprs`.

[2021-11-25 10:23] xiaokunliu opened #773 "apisix ingress deployed on eks happend upstream not found error"
### Issue description

### Environment

 **./apisix-ingress-controller version --long**
Version: 1.3.0
Git SHA: no-git-module
Go Version: go1.13.8
Building OS/Arch: linux/amd64
Running OS/Arch: linux/amd64

 **uname -a**
Linux apisix-ingress-controller-6d979c9b4-sp9hw 5.4.129-63.229.amzn2.x86_64 #1 SMP Tue Jul 20 21:22:08 UTC 2021 x86_64 Linux

**kubectl version**
Client Version: version.Info{Majo

[2021-11-26 02:04] tokers commented on #773
The errors on warning level are not harmful basically. Maybe these log messages are confusing.

@tao12345666333 Did you talk about it on the last community meeting? If not, I think we should add a plan to optimize it.

[2021-11-26 02:50] tao12345666333 commented on #759
#760 has been merged. I think we can close this issue.

[2021-11-26 02:50] #759 closed

[2021-11-26 03:28] tao12345666333 commented on #741
#742 has been merged, I will close this one. Feel free to reopen it if you have any questions.

[2021-11-26 03:28] #741 closed

[2021-11-26 05:10] tao12345666333 commented on #712
There may be some historical data compatibility issues, we may need some discussion. I will put it in the v1.5 plan.

[2021-11-26 08:12] zlhgo opened #775 "request help: sync crd labels to apisix"
### Issue description
i have some labels like group,project... in k8s crd,  i want to get the labels in apisix plugins.
### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
Version: 1.3.0
Git SHA: d1afc6e
Go Version: go1.17.2
Building OS/Arch: linux/amd64
Running OS/Arch: linux/amd64
* your Kubernetes cluster version (output of `kubectl

[2021-11-26 09:36] tokers commented on #775
For the sake of management of other purposes?

[2021-11-26 09:57] zlhgo commented on #775
not yet until now

[2021-11-29 05:00] GhangZh commented on #767
I would like to implement a custom plugin to support it , but I found that I can use severless  plugin for custom  authentication , But I see the serverless plugin documentation is only written as a function, I want to write an http proxy in it, this plug-in can support it？

[2021-11-29 06:33] GhangZh commented on #767
I would like to implement a custom plugin to support it , but I found that I can use severless plugin for custom authentication , But I see the serverless plugin documentation is only written as a function, I want to write an http proxy in it, this plug-in can support it？

[2021-11-29 11:42] tokers commented on #767
Sure, you can do anything in the server-less functions.

[2021-11-30 03:36] xianshun163 opened #776 "request help: Can I use admin api to define some rule， and use the upstream the crd defiled？"
### Issue description
I  deploy the apisix as a deployment in the k8s, and use the apisix-ingress-controller  ​CRDS  to define some default  rule  for the service.

I have two  questions：

1、 I   want  to    defile  some   complex  ​rules  can  I use  the  admin api  to  defile some other rule, and the rule may use the upstream id  ,which is create  by the  apisix-ingress-controller?

2、I have som

[2021-11-30 07:03] chzhuo commented on #769
I encountered the same situation, but I also encountered the problem that the leader would not switch.
Because the failed leader node give up and quickly restarts acquiring the lock again.
The leader not switch over last two days.

[2021-11-30 09:33] han6565 opened #778 "request help: 新增namespace 然后删除，会一直报not found"
### Issue description
在k8集群内，启动apisix-ingress，新增namespace，然后删除会一直报
[code]
研究了一下，应该是删除namespace触发了delete事件后又触发了update事件，由于无法找到对应的namespace所以会一直报错。不知道大家是否也是这样。

另外还有一个问题
[code]
c.controller.watchingLabels.IsSubsetOf(namespace.Labels) 这句如果我是新增的namespace是不会在watchingLabels里面有值的，也就无法将新的namespace加入到watchingNamespace,不知道是不是我哪里配置有问题。我这边watchingLabels似乎始终是空的

mapConfig
[code]

目前我的解决方法比较暴力，但是新建namespace和删除都

[2021-11-30 15:31] gxthrj commented on #778
There is an issue about this #741, suggest checking bugfix #742 for help.

[2021-12-01 03:03] han6565 commented on #778
thanks .

[2021-12-01 03:03] #778 closed

[2021-12-01 11:04] BuptZyc opened #781 "request help: The route name generated by default is too long"
### Issue description
默认生成的路由名称过长，导致dashboard中无法修改。报错信息如下：
Request Error Code: 10004
input validate failed: Key: 'UpdateInput.Route.Name' Error:Field validation for 'Name' failed on the 'max' tag
想问下有什么地方可以设置默认生成的路由名称吗
### Environment
* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);1.3.0
* your Kubernetes cluster version (output of `kubectl version`)

[2021-12-01 11:18] allenhaozi opened #782 "request help: APISIX Ingress Annotation Document"
When I use APISIX, the business itself needs relatively complex routing rules, so I use Annotation of Ingress

But I didn't find the Apisix Ingress Annotation document,

Like this link [nginx-ingress-annotation-document](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/)

Found this link [apisix-ingress-annotation-document](https://kubernetes.github.io/ingress-

[2021-12-02 01:14] tao12345666333 commented on #781
There are actually two problems here.

* About modifying the route created by apisix-ingress in the dashboard

**We do not recommend this, or even refuse to do so.** Because this will cause various unexpected problems. When using apisix-ingress, you should ensure that all input is done by manipulating resources in K8s.

* The generated name is too long

Can't be modified at the moment, welcome to

[2021-12-02 01:17] tao12345666333 commented on #776
1. yes, you can.

2. Of course you can, as long as you guarantee that there is no conflict.

[2021-12-02 01:19] tao12345666333 commented on #782
You can find some available annotations and examples of their use here. https://github.com/apache/apisix-ingress-controller/tree/master/test/e2e/annotations

Welcome to submit PR and improve the document together.

[2021-12-02 02:16] BuptZyc commented on #781
主要是想开启ext-plugin-pre-req使用自定义插件。不推荐修改路由的话，想问下怎么开启插件并进行配置呢

[2021-12-02 03:03] han6565 commented on #781
我也跟你遇见一样的问题，修改apisix-dashboard源码，他那有个长度验证，改长点就完了，

[2021-12-02 03:38] han6565 commented on #781
能说下为什么不建议或者拒绝修改route么，比如我要增加或者删除限流插件这种，会有什么问题么，我看ingress-controller 寻找route是根据namespace和service等生成ID，来做两边对照的，如果我在controller生成route后就只在deashboard操作一些插件，只在删除route时再由controller操作，不去碰触upstream和route的其他内容这样也会有问题么。

[2021-12-02 08:51] BuptZyc commented on #781
@han6565 自己定义 ApisixRoute 资源就可以了，我试了下没啥问题，插件可以配置，路由名称也能自己指定了。

[2021-12-02 09:06] Baoyuantop opened #783 "request help: possible optimization in the installation documentation"
### Issue description

I found the problem when I installed it by referring to this document: https://apisix.apache.org/docs/ingress-controller/deployments/minikube

![image](https://user-images.githubusercontent.com/30611190/144389911-c4c5eac0-e781-4c60-909f-d91f7ca43aae.png)

1. Is the ending here missing `\`?
2. Here is a reminder that the user needs to create the ingress-apisix namespace, I cr

[2021-12-02 09:49] tokers commented on #783
PR's welcome! I think we can remove the step to create namespace in screenshot 2.

[2021-12-02 14:39] tao12345666333 commented on #783
we can skip it, and using `--create-namespace` flag for Helm.

[2021-12-03 04:07] brighten1023 opened #784 "request help: regex_uri in proxy-rewriter"
### Issue description
I deployed a nginx server for frontend web, and a tomcat server for backend web. I want the traffic to go to backend when accessing '/api/*', and other traffic to go to frontend. Since I use the proxy-rewriter, I write the regex_uri: ["^/api/(.*)$", "/api/$1"] in the backend route, and regex_uri: ["^/(.*)","/$1"] in the frontend route. Now I access frontend web, everything is

[2021-12-03 05:43] xianshun163 commented on #695
so  what is the reall  problem?

[2021-12-05 05:48] tokers commented on #784
Please paste more details about the `ApisixRoute` that you created.

[2021-12-06 01:17] tao12345666333 commented on #690
#740 has been merged. I will close this one. Feel free to reopen it.

@Bonitas you can try to build apisix-ingress-controller using latest code, or wait for v1.4 release.

[2021-12-06 01:17] #690 closed

[2021-12-06 04:57] lxm opened #786 "bug: need vailidation for ingress resources"
### Issue description

### Environment

* your apisix-ingress-controller version 1.3.0
* your Kubernetes cluster version .1.18
* if you run apisix-ingress-controller in Bare-metal environment, also show your OS version Centos7

### What's the actual result? (including assertion message & call stack if applicable)

apisix-ingress-controller does not reg any admission controller for ingress resource

[2021-12-06 07:58] tao12345666333 commented on #786
Good idea.  This is a previously missed task.

[2021-12-06 13:18] gxthrj commented on #671
close this issue as #706 has been merged.

[2021-12-06 13:18] #671 closed

[2021-12-06 13:36] GhangZh opened #787 "request help: ApisixRoute apiversion Inconsistency"
### Issue description
apisix-ingress-controller set apisix_route_version: "apisix.apache.org/v2beta1" but my apisixroute apiVersion still  "apisix.apache.org/v1"。ingress-controller 1.2.0 had this problem, but the problem still occurs when you switch to 1.3.0
![image](https://user-images.githubusercontent.com/92301646/144855227-73879f2e-99fa-413d-8f8a-6365b4602d11.png)

![image](https://user-images

[2021-12-06 14:47] gxthrj commented on #787
This will not cause the program to fail, and it will not cause you to declare an error in the `ApisixRoute` resource.
The reason why it is displayed as `apisix.apache.org/v1` is because v1 is the most recent release version.

[2021-12-06 15:36] tao12345666333 commented on #787
How did you upgrade to v1.3?

[2021-12-07 02:23] GhangZh commented on #787
So should I configure it according to the definition of v1, or v2beta1?

[2021-12-07 02:24] GhangZh commented on #787
Reinstalled via helm uninstall

[2021-12-07 02:37] tao12345666333 commented on #787
Did you update the CRD again？

[2021-12-07 02:42] GhangZh commented on #787
I recreated the crd after the update

[2021-12-07 03:01] brighten1023 commented on #784
`apiVersion: apisix.apache.org/v2beta2
kind: ApisixRoute
metadata:
  name: frontend-route
spec:
  http:
  - name: frontend
    match:
      hosts:
      - test.aaa.com
      paths:
      - /*
    backends:
       - serviceName: frontend
         servicePort: 80
    plugins:
       - name: proxy-rewrite
         enable: true
         config:
           regex_uri: ["^/(.*)", "/$1"]`
`apiVersion: api

[2021-12-07 07:14] wgs111 commented on #136
do we have a plan to support apisix stand-alone mode in the future?

[2021-12-07 12:47] tokers commented on #784
The ApisixRoute configurations look good to me. But are there any logs printed by apisix ingress controller?

[2021-12-08 03:10] #768 closed

[2021-12-08 05:59] tao12345666333 commented on #787
`delete` then `create` ?

[2021-12-08 06:00] tao12345666333 commented on #787
And which CRD configuration are you using?

[2021-12-08 06:10] tao12345666333 commented on #784
And can you check the route record in Apache APISIX ?

[2021-12-08 06:10] tao12345666333 commented on #783
#785  has merged. I will close this issue. Thanks!

[2021-12-08 06:10] #783 closed

[2021-12-08 06:15] tao12345666333 commented on #781
You can using ApisixRoute like this one.
[code]

[2021-12-08 07:43] GhangZh commented on #787
1. Yes, deleted then create.
2.I using apisix.apache.org/v2beta1 ApisixRoute.

[2021-12-08 07:54] tao12345666333 commented on #787
I mean you are using

* https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/crds/customresourcedefinitions.yaml

OR

* https://github.com/apache/apisix-ingress-controller/tree/master/samples/deploy/crd/v1

[2021-12-08 08:09] tao12345666333 commented on #638
@neverCase Thanks for your work, if you have time, you can continue the development of follow-up tasks.

[2021-12-08 08:13] neverCase commented on #638
ok, got it.
I will update it tomorrow.

[2021-12-08 08:41] GhangZh commented on #787
I am using  [https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/crds/customresourcedefinitions.yaml](https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/crds/customresourcedefinitions.yaml)
I understand, I need to change the version in the chart too

[2021-12-09 08:07] gxthrj commented on #695
related to https://github.com/apache/apisix-ingress-controller/pull/774

[2021-12-09 08:43] Zhang21 commented on #769
Same error about apisix ingress accesses to apisix admin api.

[code]

<br/>

I can access apisix admin api by curl:

[code]

[2021-12-09 09:07] Brhetty opened #790 "bug: When the spec field of the ApisixUpstream resource is empty, it will panic"
An error occurred when I added this resource.
version: 1.3.0

[code]

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x50 pc=0x15fcef5]

goroutine 517 [running]:
github.com/apache/apisix-ingress-controller/pkg/kube/translation.(*translator).TranslateUpstream(0xc000010ce8, 0xc0001c8140, 0xe, 0xc0001c8230, 0x10, 0x0, 0x0,

[2021-12-09 09:20] tao12345666333 commented on #722
We can use #790  for tracking, I will close this issue.

[2021-12-09 09:20] #722 closed

[2021-12-09 09:22] tao12345666333 commented on #790
This is because we are not verifying its spec. Are you interested in helping to participate in the contribution?

[2021-12-09 09:28] Brhetty commented on #790
ok.

[2021-12-09 15:05] Firgeis commented on #700
I am having the same issue, after creating routes by applying an apixisroute CRD then deleting it. CRD is deleted but the routes are still shown in the admin (and they work).
Same case with modifying the routes in the CRD, they don't seem to be applied.

[2021-12-09 15:25] Firgeis commented on #700
What might also be related is that admin API calls to route are inconsistent:
![apisixrouteget](https://user-images.githubusercontent.com/6520188/145424904-60817d60-1a07-4742-94ce-781b0afba39c.gif)

[2021-12-11 09:19] juzhiyuan opened #793 "bug: after deleting a Route, I could still get it from AdminAPI"
### Issue description

This issue is firstly reported from Slack channel: https://the-asf.slack.com/archives/CUC5MN17A/p1639149590142000

Hi everyone!, I'm evaluating using APISIX for our company but ran into a problem. I deployed the latest version (1.3.0) using the helm chart (0.7.2). I created a route through the CRD and everything worked fine, but when I then deleted the created route (through

[2021-12-11 21:47] tao12345666333 commented on #793
May be the same as #700?

[2021-12-11 21:48] tao12345666333 commented on #793
Need complete steps.

[2021-12-12 00:09] juzhiyuan commented on #793
Ya

[2021-12-12 04:47] gxthrj commented on #793
It seems some cache in APISIX ?
https://github.com/apache/apisix-ingress-controller/issues/700#issuecomment-989955628

[2021-12-12 12:41] juzhiyuan commented on #793
closed due to duplicated as #700

[2021-12-12 12:42] juzhiyuan commented on #793
closed due to duplicated as #700

[2021-12-12 12:42] #793 closed

[2021-12-14 08:56] juzhiyuan commented on #700
Hi @LuChenjing, would you please add more information about this case?

[2021-12-14 09:05] #432 closed

[2021-12-14 09:05] #748 closed

[2021-12-14 11:26] #567 closed

[2021-12-14 12:26] gxthrj opened #796 "DOC: Adjust the size of the architecture diagram in the README"
### Issue description

[The image](https://github.com/apache/apisix-ingress-controller#internal-architecture) in README.md is It’s too flat, you should adjust [the size](https://github.com/apache/apisix-ingress-controller/blob/master/docs/assets/images/apisix-ingress-controller-arch.png) so that it is scaled proportionally

### Environment

- your apisix-ingress-controller version (output of apisi

[2021-12-15 07:45] ccwall3 opened #798 "nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'"
waiting for apisix-admin
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
waiting for apisix-admin
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
waiting for apisix-admin
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
waiting for apisix-admin
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
waiting for apisix-admin

rancher deploy  ap

[2021-12-15 07:59] svendberg commented on #781
This issue makes it impossible to use Cert Manager with ingress controller. The process is described here, but only works for shorter dnsNames: https://apisix.apache.org/docs/ingress-controller/practices/manage-certificates-with-cert-manager/

Apisix-ingress-controller translates Ingress/v1 to “ingress_apisix” + host + path as name, and in scenarios where the sum is over 100 characters, the route

[2021-12-15 11:47] tokers commented on #798
Could you check out whether the apisix-admin service exist?

[2021-12-15 12:00] tokers commented on #781
@gxthrj If we can rely on the object id instead of the name? Then we can change the mechanism for generating name.

[2021-12-15 12:11] tao12345666333 commented on #798
it has been fixed

[2021-12-15 12:17] tao12345666333 commented on #790
#794 has been merged. Thanks @Brhetty

[2021-12-15 12:17] #790 closed

[2021-12-15 12:43] tao12345666333 commented on #781
We can try to modify the current mechanism. Thanks for your feedback.

[2021-12-15 13:40] lxm opened #799 "proposal: Add annotations to combine ApisixPluginConfig with k8s ingress resource"
Since we have implemented ApisixPluginConfig with apisix-ingress-controller. How about add support to combine k8s ingress resource with ApisixPluginConfig by ingress annotations

[2021-12-16 01:29] tokers commented on #799
@lxm That's a good idea to extend the standard ingress resource.

[2021-12-16 01:40] lxm commented on #799
I'm working on this feature, assign to me?

[2021-12-16 10:09] tokers commented on #799
@lxm Assigned!

[2021-12-17 10:00] gxthrj commented on #712
This is still a bit troublesome. We have to figure out the scope of historical data. We may not be compatible with the old version. I suggest that we can distinguish it according to the LTS version. We only support the LTS version and the latest version.

[2021-12-17 10:18] gxthrj commented on #781
This is indeed a problem, we can discuss it.
I suggest that Id can be generated with a fixed length, but this will reduce readability.
At the same time, adding the complete resource path in the desc field will be a balanced solution.

[2021-12-17 10:28] gxthrj commented on #787
I suggest you use v2beta2.

[2021-12-17 10:33] gxthrj commented on #136
We will indeed consider some new architectures so that APISIX will not rely on `etcd` when deploying.
But this is different from the APISIX stand-alone mode.
Our goal is to make `APISIX ingress` a stateless deployment.

[2021-12-18 12:35] Sindweller commented on #696
should be closed as it's fixed in #670

[2021-12-18 12:35] #696 closed

[2021-12-18 12:35] Sindweller commented on #691
should be closed as it's fixed in #670 .

[2021-12-18 12:35] #691 closed

[2021-12-19 05:25] tokers commented on #781
Labels can be added so that the readability can be remedied.

[2021-12-19 13:22] zaunist commented on #796
Hi, @gxthrj . I'm pleasure to do this contribution.

[2021-12-20 01:31] tokers commented on #796
Thanks! Assigned to you~

[2021-12-20 10:55] chzhuo opened #806 "bug: Special circumstance may cause expired configuration be PUT to APISIX"
### Issue description

![image](https://user-images.githubusercontent.com/10919124/146755062-6b06376a-f4a0-4579-8660-b9a6dd7e3e17.png)

The code show that synced failure Event will be requeue to the `workQueue`. But the Event may be expired while resync

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version

[2021-12-20 11:09] gxthrj commented on #806
Good catch, thanks.
I think we should compare `resourceVersion` before synchronization, when `event` is taken out from `workqueue`.

[2021-12-20 11:39] tao12345666333 opened #807 "Flaky test: Ingress LB Status Testing"
xref: https://github.com/apache/apisix-ingress-controller/runs/4574929212?check_suite_focus=true

[2021-12-20 12:08] gxthrj commented on #807
Is this a stably reproduced bug?

[2021-12-21 01:40] tokers commented on #806
We can just can change the objects entering the queue, just use the namespace/name is enough (instead of the pointer to the endpoint object), just like other controllers.

This is a good way to write a controller, see https://github.com/kubernetes/kubernetes/blob/da9a46bac2f0b389405efad28b165543d94a3f73/pkg/controller/endpoint/endpoints_controller.go#L378-L404.

[2021-12-21 02:42] vicaya commented on #441
IMO, it's still cleaner to do subsets in route, as subsets are fundamentally part of routing policies that could be dynamically depend on the route match. One of the common use cases is to expose endpoints in statefulset pods via headless service, where each pod already has a distinct pod-name label. It'd be great if we could expose these endpoints concisely with a more expressive label selection