[2022-05-26 05:59] rjiang-ptm opened #1043 "request help: apisix wolf-rbac consumer config for multiple appIds"
### Issue description

In the apisixConsumer config for wolf-rbac, the appId field can only be specified for one appid, or a list of appid? The use case is: usually for a given consumer/user, there could be multiple apps (appIds) associated with that user.

Here is the typical consumer config for wolf-rbac:
[code]

Notice the `appid` is just one string.

If the apisixConsumer wolf-rbac config can

[2022-05-26 06:23] tao12345666333 commented on #674
@AlinsRan thanks.

Currently we use the following methods to generate the upstream name.
https://github.com/apache/apisix-ingress-controller/blob/49dd015085a68ce4c26ba60076ef281ed71af2aa/pkg/types/apisix/v1/types.go#L425-L450

Then generate its ID.
https://github.com/apache/apisix-ingress-controller/blob/49dd015085a68ce4c26ba60076ef281ed71af2aa/pkg/id/idgen.go#L25-L39

Maintaining the mapping rela

[2022-05-26 06:32] AlinsRan commented on #674
I understand, After the SVC is deleted, it should also be written to `apisix` when it is created.

The question is how to maintain this relationship.

[2022-05-26 06:42] bubbyqi commented on #1042
@tao12345666333  thanks for reply,but still 404 error
<img width="599" alt="image" src="https://user-images.githubusercontent.com/20379897/170432242-3946791b-ae4f-4ee3-89b6-c8c52febb00e.png">

<img width="993" alt="image" src="https://user-images.githubusercontent.com/20379897/170432297-2238309f-dba0-4492-9871-ee33f7afe50c.png">

<img width="1179" alt="image" src="https://user-images.githubusercon

[2022-05-26 06:47] tao12345666333 commented on #1042
What is the `default backend`  in your screenshot?
Looks like it has nothing to do with APISIX or APISIX Ingress

[2022-05-26 06:49] tao12345666333 commented on #986
@rjiang-ptm please refer  https://github.com/apache/apisix-ingress-controller/blob/49dd015085a68ce4c26ba60076ef281ed71af2aa/test/e2e/suite-features/consumer.go#L393

[2022-05-26 06:50] tao12345666333 commented on #986
And it can be used in next release version v1.5

[2022-05-26 06:52] tao12345666333 commented on #1043
Please refer to https://apisix.apache.org/docs/apisix/plugins/wolf-rbac/#attributes, it is consistent with APISIX

[2022-05-26 06:53] bubbyqi commented on #1042
@tao12345666333
the apisix ingress  deployment:
<img width="644" alt="image" src="https://user-images.githubusercontent.com/20379897/170433829-85378689-07af-4e56-8e53-853fc8ece86d.png">
the backend is the  sopexe-for-deployment svc  at the namespace dev
<img width="760" alt="image" src="https://user-images.githubusercontent.com/20379897/170433982-69bb3bf4-8ab2-4505-ac61-ca66288ed87e.png">
the ngin

[2022-05-26 07:14] rjiang-ptm commented on #1043
Are you saying it is indeed true for apisixConsumer to only have ONE appid associated? That means one consumer can only access one app? In wolf-rbac, one user (corresponding to one consumer in apisix) can have a list of appIds, which means one user can access multiple apps (same as the use case I mentioned above).

Should the apisixConsumer config for `appid` field be expanded to a list?

[2022-05-26 07:36] tao12345666333 commented on #1042
Obviously the status code in your screenshot above is also 404.

This requires you to check your upstream services.

You can refer to this document for functional verification.

https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/proxy-the-httpbin-service-with-ingress.md

[2022-05-26 07:55] tao12345666333 commented on #1043
I mean it depends on the implementation in APISIX

[2022-05-26 08:07] tao12345666333 commented on #979
Thanks!

[2022-05-26 12:17] lingsamuel opened #1045 "log: shouldn't log secret object"
http://github.com/apache/apisix-ingress-controller/blob/3d0b9769894197ba3138cd3b96d775ba2163e0c8/pkg/ingress/secret.go#L376-L376

[2022-05-26 14:17] tao12345666333 commented on #1045
the link is invalid.

[2022-05-26 14:47] tao12345666333 commented on #990
#1035 has been merged. I will close this one.

[2022-05-26 14:47] #990 closed

[2022-05-26 17:15] rjiang-ptm commented on #1043
ah, right, should post this question on apisix then...

[2022-05-26 17:59] rjiang-ptm opened #1047 "request help: ingress-controller pod will error out after k8s pod restart"
### Issue description

The apisix-ingress-controller will fail after its Kubernetes pod restarts. Often our k8s pods will be stopped and restarted on a needed basis, when that happens, the apisix-ingress-controller pod will be still running but with `context cancelled` errors, eg:

[code]

The workaround is to delete the apisix-ingress-controller pod which will restore the controller state to norm

[2022-05-27 04:31] tao12345666333 commented on #1043
Yes

[2022-05-27 04:33] tao12345666333 commented on #1043
I will close this issue and open it for tracking after APISIX supports this behavior, thanks for the report

[2022-05-27 04:33] #1043 closed

[2022-05-27 05:22] ddlinlin opened #1048 "request help: annotations about whitelist doesn't take effort"
### Issue description

I set a route with ip-restriction via annotations like:

[code]
----
ip-restriction does not take effort.
but it works when i update the yaml file like:

[code]
 --------

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): apache/apisix-ingress-controller:1.4.0
- your Kubernetes cluster version (output of kubectl v

[2022-05-27 06:17] NMichas opened #1049 "request help: Handling default Ingress resources (tested with Keycloak)"
### Issue description

Hello, I'm trying to deploy Keycloak using the Bitnami chart (https://github.com/bitnami/charts/tree/master/bitnami/keycloak) and expose it using its built-in Ingress resources generation as:

[code]

The above generates an Ingress such as:
![Lens](https://user-images.githubusercontent.com/2218296/170636095-2cda2fdd-cd16-4f98-9b37-f53c6078a67c.png)

When I open http://idm.lo

[2022-05-27 07:04] #850 closed

[2022-05-27 08:16] #1042 closed

[2022-05-27 08:42] AlinsRan opened #1050 "bug: Deleting `ApisixRoute` will delete only one `upstream`."
### Issue description

When `ApisixRoute` is configured with multiple services, multiple `upstream` of the same quantity will be created. When `ApisixRoute` is deleted, only one `upstream` will be deleted.

**In fact, redundant upstream has no impact on usage.**

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
![image](https://user-im

[2022-05-27 09:36] mangoGoForward commented on #547
I have been commit a PR #1051,  if you have free time, please have a review~

[2022-05-27 09:54] NMichas commented on #1049
This issue seems to be solved by adding `--set proxy=none `. Not sure if it creates other problems further down the road (as Keycloak *is* reversed proxied via APISIX) but for now this issue can be closed.

[2022-05-27 09:54] #1049 closed

[2022-05-27 09:58] tao12345666333 commented on #547
Thanks

[2022-05-27 11:04] tao12345666333 commented on #1049
thanks for your share

[2022-05-27 11:08] tao12345666333 commented on #1050
thanks for your report

I will try to reproduce it

[2022-05-31 03:34] VineFiner opened #1057 "request help: use https"
### Issue description

If I set `--set gateway.tls.enabled=true.`
And turn on redirect to https in the panel. will redirect to port `9443`.
If it is not set, the https URL cannot be opened.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-contro

[2022-05-31 04:11] tao12345666333 commented on #1057
maybe related:

https://github.com/apache/apisix/issues/7003
https://github.com/apache/apisix/issues/4942

And looks like we should move this issue to  apache/apisix repo.

[2022-05-31 04:19] rjiang-ptm commented on #986
Great. When will v1.5 be released?

[2022-05-31 06:24] lingsamuel opened #1058 "proposal: restructure `pkg/ingress`"
As support for the Gateway API progressed, we needed to redesign the structure of `pkg/ingress`.
This directory now has multiple types of resources mixed together: Kubernetes native resources, APISIX Ingress resources, and Gateway API resources. More types of resources may be added in the future.
In addition, the `controller.go` file has become increasingly large.

We need to redesign the controll

[2022-05-31 07:28] tao12345666333 commented on #1058
+1
I agree with you.

Do you have a more specific plan?
We can put this proposal into this year's roadmap

[2022-05-31 07:36] stillfox-lee opened #1059 "e2e-test: kind local registry network problem"
Issue:
When I use `make e2e-test-local`, docker push always fails with a timeout. But the network connection was work well.
[code]

Then, I dig into the script `kind-with-registry.sh` and find out something:
First, it created a new registry by:
[code]

When registry was created, it forword ipv4 only:
[code]
After the script execute `docker network connect "${kind_network}" "${reg_name}"`. The regi

[2022-05-31 07:46] tao12345666333 commented on #986
After https://github.com/apache/apisix-ingress-controller/issues/954 has been solved.

[2022-05-31 08:20] lingsamuel commented on #1058
Perhaps we could create an interface called "(Feature)Provider". The provider holds several small controllers and associated clientet/listers/informers.

Also, we should separate the translators and only make the Kubernetes translator publicly accessible, since any other translator could potentially rely on it.
APISIX Ingress and any other CRD translators should be private.

- RootController
  - K

[2022-05-31 08:29] lingsamuel commented on #1032
I'm also thinking using generics to reduce code duplication for multi-version support.

[2022-05-31 09:44] tao12345666333 commented on #1059
@stillfox-lee can you paste your `docker info` command output?

[2022-05-31 09:47] tao12345666333 commented on #1048
For the current APISIX Ingress implementation,
Annotation is used by Ingress resources.
The ApisixRoute resource can directly use the plugin to complete specific functions

[2022-05-31 09:57] stillfox-lee commented on #1059
Sure.
[code]

[2022-06-01 05:44] tao12345666333 commented on #1032
How about we upgrade to 1.18?

[2022-06-01 05:52] tao12345666333 commented on #1058
SGTM

I prefer to rename KubernetesProvider to CommonProvider.

When dealing with various resources(Ingress/CR/Gateway resource), we may need to deal with these basic resources of Kubernetes.

[2022-06-01 10:01] vcqr opened #1061 "request help: install apisix-ingress fail"
### Issue description

helm install apisix apisix/apisix \
  --namespace ingress-apisix --create-namespace \
  --set gateway.type=LoadBalancer \
  --set ingress-controller.enabled=true \
  --set ingress-controller.config.apisix.serviceNamespace=ingress-apisix \
  --set etcd.persistence.enabled=false

status

<img width="1249" alt="image" src="https://user-images.githubusercontent.com/3401237/17137

[2022-06-01 10:49] tao12345666333 commented on #1041
#1046 has been merged, I will close this one. Thanks @Fatpa

[2022-06-01 10:49] #1041 closed

[2022-06-02 01:16] tokers commented on #1061
This is normal. Your ETCD cluster is not ready, so your APISIX service won't be ready. Since APISIX Ingress Controller will detect the status of APISIX service, so it's also not ready (the init container is running).

[2022-06-02 01:56] tao12345666333 commented on #1061
As @tokers said, you can check etcd's log to see why it failed

[2022-06-02 02:19] tao12345666333 opened #1062 "lint: add yamllint to format yaml files under samples/deploy/ directory"
Good idea. I will create new issue for track it.

_Originally posted by @tao12345666333 in https://github.com/apache/apisix-ingress-controller/pull/1051#discussion_r887441161_

[2022-06-02 02:19] tao12345666333 commented on #1062
cc @mangoGoForward

[2022-06-02 02:26] mangoGoForward commented on #1062
Sure, I'd like to work on it.

[2022-06-02 02:26] Chever-John commented on #575
Sure, I want to try this.

Please assign this to me, Thanks~

[2022-06-02 02:28] tao12345666333 commented on #1062
thanks! assigned.

[2022-06-02 03:28] stillfox-lee commented on #575
Hi, I got a little confused about this issue. Didn't we already support this feature by ApisixRoute HTTP plugin?

[2022-06-02 03:33] tao12345666333 opened #1063 "docs: add v2 apiversion resource reference docs"
According to #707 we recently added resources for v2 version.

But we haven't added the corresponding reference documents.

It would be better to add a new api-version of the documentation.

In order to complete this issue, you can rename the files in this directory [1] to `*_v2beta3.md` , and copy these files to update the content to v2 api-version.

1: https://github.com/apache/apisix-ingress-co

[2022-06-02 03:37] tao12345666333 commented on #575
@stillfox-lee We can indeed do this already by using a plugin in the ApisixRoute resource.

The purpose of this issue is to add annotations to the Ingress resource to extend its functionality.  Similar to the example here https://github.com/apache/apisix-ingress-controller/tree/master/test/e2e/suite-annotations

[2022-06-02 06:54] stillfox-lee commented on #575
Ok, I got it. Thanks!

[2022-06-02 06:56] stillfox-lee commented on #1063
Please assign it to me.

[2022-06-02 07:38] PGDream commented on #1045
get

[2022-06-02 08:20] #1061 closed

[2022-06-02 09:16] tao12345666333 commented on #1063
@stillfox-lee Thanks! Assigned.

Feel free to ping me if you have any questions

[2022-06-02 11:23] tao12345666333 commented on #1045
@PGDream do you want to pick up this task?

[2022-06-02 14:06] PGDream commented on #1045
y

[2022-06-02 23:22] tao12345666333 commented on #1045
@PGDream Assigned, thanks

[2022-06-03 05:55] neverCase commented on #638
@tao12345666333
This issue could be closed.

[2022-06-03 12:10] #638 closed

[2022-06-03 14:18] vcqr opened #1065 "docs: how to get started"
### Issue description

<img width="818" alt="image" src="https://user-images.githubusercontent.com/3401237/171871543-ad9ae496-f08a-4ea4-bd83-6d8a95ea76f9.png">

Reference documentation:
https://apisix.apache.org/docs/ingress-controller/design

error: resource mapping not found for name: "demo" namespace: "demo-route" from "apisix-demo.yml": no matches for kind "ApisixRoute" in version "apisix.apac

[2022-06-04 02:38] tao12345666333 commented on #1065
In fact, you should install APISIX Ingress controller correctly.

You can try to use Helm to install it, or see some contents under 'practices' folder

[2022-06-04 13:15] vcqr commented on #1065
Please  modify the sample code in the picture correctly, otherwise it will be misleading

[2022-06-05 06:11] tao12345666333 commented on #1065
In my opinion, I don't think this image needs to be updated, it describes the design of the Ingress controller, so as long as it correctly describes the design structure. It is not a practical reference.

If you are interested in updating, please submit PR, the latest version is v2.

[2022-06-05 06:15] tao12345666333 commented on #1059
can you check your `/etc/hosts` file?  or try to use `127.0.0.1` instead of `localhost`

[2022-06-05 15:09] stillfox-lee commented on #1059
I use

[code]

instead of
[code]
The local registry container will bind 127.0.0.1:5000 only. Then docker push can work correctly.
Thanks for your reply! @tao12345666333

[2022-06-05 15:09] #1059 closed

[2022-06-07 05:08] xxdyu opened #1069 "request help: webhook-registration.yaml"
### Issue description

apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: apisix-validations
  labels:
    app: apisixroute-plugin-validator-webhook
    kind: validating
webhooks:
  - name: apisixroute.plugin.validator.webhook
    clientConfig:
      service:
        name: apisix-admission-server
        namespace: ingress-apisix
        port: 8443

[2022-06-07 06:20] jackey20200402 opened #1070 "request help: 在同一个k8s集群中如何分别给apisix内网、apisix外网集群创建upstream、route"
### Issue description

我在k8s集群中部署了两套apisix，分别关联阿里云的内外网负载均衡。我在使用yaml创建upstream、route时遇到问题：我无法指定这个upstream 和 route 是属于哪套apisix，请问这种情况应该怎么解决呢？

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): 1.4.0
- your Kubernetes cluster version (output of kubectl version):  1.20.11-aliyun.1
- if you run apisix-ingress-controller in Bare-metal environ

[2022-06-07 07:19] tao12345666333 commented on #1069
You can refer to this file https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/testdata/webhook-create-signed-cert.sh

If you want to use `admissionregistration.k8s.io/v1`, please ensure your kubernetes  cluster is at least as new as v1.16

[2022-06-07 07:20] tao12345666333 commented on #1069
In addition, please add a description when submitting an issue next time, so that it can be more clear

[2022-06-07 07:29] tao12345666333 commented on #1070
If you have multiple APISIX clusters, then you also need multiple APISIX Ingress controllers to connect to these clusters respectively.

In APISIX Ingress configuration, `namespace_selector` can be configured to control the namespace to be processed by APISIX Ingress controller.
https://github.com/apache/apisix-ingress-controller/blob/96dd07f847bff9d425b223e0bcac0eea2efe6316/conf/config-default.ya

[2022-06-07 08:13] tao12345666333 opened #1071 "Proposal: new architecture/structure for Apache APISIX Ingress Documentation"
- [ ] Home
    - [ ] Quick View
    - [ ] What is the latest in APISIX Ingress?
    - [ ] Featured
    - [ ] Changelogs

- [ ] Getting started
    - [ ] Installation
        - [ ] install on multiple platforms

- [ ] Concepts
    - [ ]

[ ] Tutorials
[ ] Reference
[ ] Contributing

ref: https://github.com/apache/apisix/issues/6461

[2022-06-07 08:45] fatpa opened #1072 "request help: should we use githook for pre-commit operation"
### Issue description

During the contribute document, we have some pre-commit to-do tasks to do manually.
I think we should use the githook function to avoid manual jobs.

### Environment

Nothing about the environment.

[2022-06-07 09:37] jackey20200402 commented on #1070
那么如果我同一个ns下面的两个服务需要分别作为两套apisix集群的upstream，这个又该如何处理呢？

[2022-06-07 10:19] stillfox-lee commented on #831
May be include [mqtt proxy](https://github.com/apache/apisix-ingress-controller/issues/966) ? There is a clear market demand for this feature.

[2022-06-07 11:53] wanghuashun commented on #1069
thanks

[2022-06-07 13:59] haohello opened #1074 "request help: How to route the public traffic to the actual service via apisix ingress"
### Issue description

Sorry, this may sound silly to ask such kind of questions here. I'm just starting out to learn how to use apisix and kubernetes.
As per the example on this [page](https://apisix.apache.org/docs/ingress-controller/practices/proxy-the-httpbin-service) , once you create a route, you'll be able to proxy this route through apisix, obviously there is no clue here on how to route t

[2022-06-07 14:45] tao12345666333 commented on #1070
you can differentiate by ingress_class

[2022-06-07 14:51] tao12345666333 commented on #1072
I have thought about this way, it can bring certain benefits.

But most open source projects don't choose it.

On the other hand, these operations are not required for every commit.

I tend to keep these things in the hands of CI, giving more freedom to contributors

[2022-06-07 16:00] tao12345666333 commented on #1074
If I understand correctly, you are asking how to access the actual service through APISIX outside the Kubernetes cluster.

First you need to get APISIX to route the proxy correctly, which is obviously already done in your screenshot.

Then, outside the Kubernetes cluster, you should access the address exposed by APISIX.
You can check the address of the `apisix-gateway` service. It may be exposed t

[2022-06-07 16:09] tao12345666333 opened #1075 "CI: add regression testing with apisix:dev"
Currently, we will use the latest version of APISIX for e2e testing to ensure the compatibility of APISIX Ingress and APISIX.

But we don't know about some of the latest changes in APISIX.
I suggest we add a scheduled job to use `apisix:dev` image for regression testing.

We used to use `apisix:dev` for e2e testing by default, but this way would affect our development experience, and sometimes we

[2022-06-07 16:38] haohello commented on #1074
I'm using the LoadBalancer IP address of the `apisix-gateway` service.  As you can see from the screenshot, it still shows the error of '404 Route Not Found'.

[2022-06-07 16:46] tao12345666333 commented on #1074
Maybe you need to remove the `/` at the end of the url.

[2022-06-07 16:51] tao12345666333 commented on #1074
Can you check APISIX's logs?
Or first check if your IP is correctly forwarded to APISIX

[2022-06-07 17:03] haohello commented on #1074
May I ask how I could check apisix' logs? Plz bear with me, I have no idea how to work this out.

[2022-06-07 17:28] haohello commented on #1074
![image](https://user-images.githubusercontent.com/134774/172445657-0fced551-dd77-48ac-9627-7b382c474acf.png)

[2022-06-07 17:35] tao12345666333 commented on #1074
It's obvious from the logs that your host hader is not being passed.
You can check the configuration of your load balancer

[2022-06-08 00:38] haohello commented on #1074
@tao12345666333 There is [also another issue in the k3s project issue list](https://github.com/k3s-io/k3s/issues/1652), looks like that might be the similar issue I encountered.

[2022-06-08 01:54] jackey20200402 opened #1076 "question: Inconsistent data format when mixed with other configurations"
### Issue description

一直报这个错：
2022-06-08T09:43:04+08:00	error	apisix/upstream.go:122	failed to convert upstream item	{"url": "http://sit-apisix-admin.remac-open-cloud.svc.cluster.local:9180/apisix/admin/upstreams", "upstream_key": "/apisix/upstreams/00000000000000000177", "error": "unexpected non-empty object"}
手动删除这00000000000000000177 这个upstream后才恢复正常，00000000000000000177是通过Admin的Post方式配置的upstr

[2022-06-08 02:34] jackey20200402 commented on #1070
ingress_class的配置有参考例子吗？我尝试两个apisix集群定义不同ingress_class后再通过metadata.annotations.kubernetes.io/ingress.class 配置upstream、route。发现还是两个apisix集群都同步了一样的upsream、route

[2022-06-08 03:16] tao12345666333 commented on #1074
So you are using klipper-lb (k3s servicelb) instead of public cloud LoadBalancer, right?

I would recommend you to try MetalLB.

[2022-06-08 03:21] tao12345666333 commented on #1076
If you are using APISIX Ingress, you should use this as the only source of configuration.

The error you encountered above is often encountered when you mix APISIX Ingress and APISIX Dashboard. The error message is because the data format is different.

[2022-06-08 05:20] haohello commented on #1074
I'm afraid that I couldn't be able to use MetalLB since it is not possible for me to get a layer 2 ip address.
All of the servers are on the Hetzner Cloud, they only allow the users to bind the ip to a specific server.

After too many trials and errors, I finally get it working correctly after reinstall everything from scratch again.   I guess it might be a network firewall issue.

[2022-06-08 05:25] haohello commented on #1074
Now it turned out that the command `curl http://5.1xx.xx.108/headers -H 'Host: local.httpbin.org'` can't return correct result only on my local machine.
When I tried this command on the Hetzner Cloud servers and also on the website `https://reqbin.com/curl` , all return with the expected result.

[2022-06-08 06:33] tao12345666333 commented on #1070
ingress_class can only be used for Ingress resources, not for custom resources

[2022-06-08 06:35] #1021 closed

[2022-06-08 06:42] tao12345666333 commented on #1074
:+1:

In this case, can we consider this issue to be resolved?

[2022-06-08 06:50] jackey20200402 commented on #1070
好的，谢谢。我在官方文档找到了使用的例子：https://apisix.apache.org/zh/docs/ingress-controller/practices/proxy-the-httpbin-service-with-ingress

[2022-06-08 08:40] jackey20200402 commented on #1070
使用ingress的方式如何配置apisix插件？

[2022-06-08 09:18] tao12345666333 commented on #1070
you can use annotations to do this. ref:

https://github.com/apache/apisix-ingress-controller/blob/2af39c949883dc831aa64be075aa7cc0edd2dd8a/test/e2e/suite-annotations/redirect.go#L164-L166

[2022-06-08 09:19] AlinsRan opened #1077 "bug: run suit-ingress e2e unstable."
### Issue description

Running e2e on the local machine or CI is particularly unstable and occasionally failed.
It is stable for a single use case, but it is mutually exclusive for multiple use cases. In a multi-threaded environment, it often fails.
**proposal: It is recommended to use single thread to solve or refactor the e2e.**

### Environment

- your apisix-ingress-controller version (output

[2022-06-08 09:27] haohello commented on #1074
Yes, thank you very much for helping resolve this issue.

[2022-06-08 09:38] tao12345666333 commented on #1074
OK, I will close this issue, if you have any questions, feel free to open a new issue.

[2022-06-08 09:38] #1074 closed

[2022-06-08 10:46] Fatpa commented on #849
Did you use Aliyun SLB Service? @CabelChang

[2022-06-09 06:49] tao12345666333 commented on #1071
WDYT?

cc @lingsamuel

[2022-06-10 13:20] haohello opened #1081 "request help: Is there any way to create a ssl certificate automatically when creating an apisix route?"
### Issue description

Is there any way to create a ssl certificate automatically when creating an apisix route?

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a):

[2022-06-10 13:25] haohello commented on #1081
The [doc on this page](https://apisix.apache.org/docs/ingress-controller/practices/manage-certificates-with-cert-manager/) requires manually creating the SSL certificate.
I'm wondering if there is any way to create SSL certificate automatically with cert-manager http01 solvers similar to [the one on this page](https://k3s.rocks/https-cert-manager-letsencrypt/).

[2022-06-11 09:12] haohello opened #1082 "request help: Why does 'the enabling https redirect' redirect to the https scheme with the port 9443?"
### Issue description

I've deployed a whoami image and set up route with the https redirect enabled.
Now the browser will redirect `http://domain.com/foo` to `https://domain.com:9443/foo`
Any ideas how this happened?

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if y

[2022-06-11 17:18] haohello opened #1083 "request help: can't create ApisixTls"
### Issue description

Run the command `kubectl apply -f` with the filename of the following content, and gets the error message as shown in the screenshot below.
[code]

![image](https://user-images.githubusercontent.com/134774/173197876-531d1a97-70e0-4438-beca-ba07f64ee11c.png)

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): not su

[2022-06-12 06:34] haohello commented on #1083
Tried to change the `apiVersion` to `v2beta3` and got it working correctl, though https route still doesn't work.

[2022-06-12 07:42] haohello opened #1084 "request help: http to https redirect"
### Issue description

Use the following code to enable the https redirect for the  path `/bar`, however the https version of this path can't work correctly after this operation.
[code]
The screenshot of the logs for the http to https redirect:

![image](https://user-images.githubusercontent.com/134774/173222672-e9e28e32-ad6a-4be2-9d6a-ec441d91b08c.png)

### Environment

- your apisix-ingress-cont

[2022-06-12 07:42] #1083 closed

[2022-06-12 09:37] tao12345666333 commented on #1084
The log shows that your certificate does not match the SNI

Maybe you should use your domain name to access instead of your IP

[2022-06-12 09:40] tao12345666333 commented on #1083
You can refer to https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/manage-certificates-with-cert-manager.md

[2022-06-12 09:41] haohello commented on #1084
I'm using the domain name instead of IP address.

[2022-06-12 09:42] haohello commented on #1084
![image](https://user-images.githubusercontent.com/134774/173227319-edcb3613-c6b3-4b87-802c-93e1a4ae865a.png)

[2022-06-12 09:47] haohello commented on #1084
The path `/foo` hasn't been set any https redirect rules and is working correctly for the https. Once if you set the https redirect rule the same as above, https access will be the same as above.

The screenshot below is what it looks like when not setting any https redirect rules.

![image](https://user-images.githubusercontent.com/134774/173227473-33dafec3-4284-4e68-b9d4-0a0dc684aa99.png)

[2022-06-12 09:56] haohello commented on #1082
This happened when you enable the https redirect on the admin dashboard UI.

[2022-06-12 10:32] haohello commented on #1084
Any ideas how to resolve this issue?

[2022-06-12 22:56] haohello commented on #1084
??

[2022-06-12 23:45] haohello commented on #1082
Setting the `http_to_https` redirect plugin in the yaml config file also get the same result. Anybody who can look into how to resolve this issue?
![image](https://user-images.githubusercontent.com/134774/173258393-d7bf9ef4-ce6c-453e-b773-656cdf8cc15f.png)
![image](https://user-images.githubusercontent.com/134774/173258412-09cf2f52-4f23-4281-a1ac-12a145a7a629.png)

[2022-06-13 01:20] TridentZZ opened #1085 "request help: 在dashboard创建资源在集群中搜索不到，但在集群中通过yaml新建apisixroute资源却会在dashboard显示"

[2022-06-13 05:10] haohello commented on #1084
@tokers There is already a working SSL certificate configured for the domain name `code.devtaoism.com` which is clearly shown in the screenshot for the path `/foo` , and [here is the link for your information](https://github.com/apache/apisix-ingress-controller/issues/1084#issuecomment-1153117069).

[2022-06-13 06:29] tao12345666333 commented on #1082
duplicate https://github.com/apache/apisix/issues/7172

[2022-06-13 07:24] haohello commented on #1082
I'm using the latest version of APISIX, obviously this issue still hasn't been resolved yet.

[2022-06-13 07:28] #1085 closed

[2022-06-13 07:44] tao12345666333 commented on #1082
Please refer to this document to configure APISIX

https://apisix.apache.org/docs/apisix/plugins/redirect/

[2022-06-13 09:23] haohello commented on #1082
Why can't you just make this plugin to work with the default 443 https port out of the box? It's too difficult for newcomers like me to figure out how to get it working correctly even if you just throw the documentation here. It still looks too complicated for me to figure out where the `conf/config.yaml` file really is in my kubernetes cluster.

[2022-06-13 09:26] haohello commented on #1082
I guess you can add a `Tip me` button in the issue section so that I'm willing to send a few hundred bucks as tips to help speed things up a little.

[2022-06-13 10:01] haohello commented on #1082
Technically speaking, https redirect only send a `301` or `302` response with a new url so that the browser will initiate a new https request with the new url, why is there a need to make it so complicated?

[2022-06-13 10:02] haohello commented on #1084
??

[2022-06-13 10:25] haohello commented on #1082
??

[2022-06-15 02:14] dickens7 opened #1086 "feature request: ingress annotations support ApisixPluginConfig"
### Issue description

Expects to set ApisixService for routes via annotation when Ingress is defined

E.g：

[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a):

[2022-06-15 03:45] tao12345666333 commented on #1086
Can you write a detailed proposal? Including its background, and the benefits it can bring.
Thanks

[2022-06-15 07:28] tao12345666333 commented on #1082
In fact, the APISIX Ingress controller is a control plane component, it does not control how APISIX is deployed (or the APISIX configuration file).

So as described in the above documentation, you can avoid redirection to port 9443 by modifying the APISIX configuration file.

Also, the actual redirection port depends on how you are deploying.
If you directly let APISIX listen on ports 80 and 443,

[2022-06-15 07:28] #1082 closed

[2022-06-15 07:35] tao12345666333 commented on #1084
Have you checked out this document?
https://apisix.apache.org/docs/apisix/FAQ/#how-do-i-redirect-http-traffic-to-https-with-apache-apisix

[2022-06-15 07:47] tao12345666333 commented on #1081
Sure!

The document is an example, you can refer to the documentation of cert-manager for specific configuration. https://cert-manager.io/docs/

You can use a similar Ingress resource or ApisixRoute resource. I've verified this feature before, and it's also used by some users in production.

[2022-06-17 14:08] BFergerson opened #1088 "request help: DigitalOcean support"
### Issue description

I don't see a guide for installing this on DigitalOcean. Does that mean DigitalOcean is not supported? If not, is there anything that's blocking support, or is it just something that hasn't been tried?

I'm trying to install this on DigitalOcean but I'm not entirely sure what needs to be done. I'm successfully able to use NGINX Ingress Controller with DigitalOcean using this

[2022-06-18 09:52] tao12345666333 commented on #1088
No, just because the documentation is not added. Since there are many public cloud vendors, adding a documentation for each vendor in the project will increase maintenance costs.

Of course, if anyone would like to contribute documentation then we would be more than welcome and accept.

I recommend that you install directly with Helm.
If you have problems installing the APISIX Ingress controller o

[2022-06-19 10:34] guwenjiang85 opened #1089 "request help: How to let multiple APISIX Ingress process resources independently"
### Issue description

我目前使用apisix都是通过ApisixRoute，没有使用ingress资源；
如何在ApisixRoute中申明ingress-class来隔离内网和公网网关；
还有就是配置Ingress资源如何使用插件功能。

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
[code]

- your Kubernetes cluster version (output of kubectl version):
[code]

[2022-06-19 15:28] BFergerson commented on #1088
Thanks for the recommendation. I'm trying to follow [this guide](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices/the-hard-way.md), but I'm running into this error:
[code]

All the previous steps work fine:
[code]

I see there is a note to ensure `etcd.host` matches the headless service. What command would I use to ensure that?

[2022-06-19 16:09] tao12345666333 commented on #1088
If it is your first experience or trying it out, I really recommend that you install directly with Helm, it is the easiest and continuously maintained way to do it.

The-hard-way documentation in this project is there to guide users in understanding exactly what is needed and what is going on.  Of course, the user also needs some experience.  Also, the documentation only ensures that it is correct

[2022-06-19 16:11] tao12345666333 commented on #1088
Back to your question, you can run

`kubectl -n APISIX get service/etcd-headless `

[2022-06-19 16:13] tao12345666333 commented on #1089
Unfortunately, this feature is not implemented yet. Ref #593

[2022-06-19 16:15] tao12345666333 commented on #1089
For ingress resources, you can add annotations to use plugins

[2022-06-19 16:16] tao12345666333 commented on #1089
In addition, you can modify the namespace that APISIX Ingress can handle through configuration

[2022-06-20 06:01] dickens7 commented on #1086
I thought about it, what I need more should be `ApisixPluginConfig` instead of `ApisixService`

In some simple scenarios that require the use of apisix plugins, it is expected to be able to use Ingress to define routes directly without using ApisixRoute.
The method of Ingress + Annotations is easier for operation and maintenance students to accept and use. At the same time, some management systems

[2022-06-20 10:57] BFergerson commented on #1088
@tao12345666333, I was able to get [this guide] working, thanks. I think I avoided starting with this guide because it installs etcd and apisix-admin. I'm using the standalone version of APISIX. Is there a guide that shows how to install the apisix-ingress-controller with the stand-alone version of APISIX?

I've tried doing it without etcd and I run into:
[code]

---

That doesn't seem to help:
[c

[2022-06-20 11:20] tao12345666333 commented on #1088
No. The stand-alone version of APISIX (without etcd) can't work with APISIX Ingress controller.

[2022-06-20 11:46] #1088 closed

[2022-06-20 12:19] wolgod opened #1090 "failed to check health for cluster default: dial tcp: i/o timeout, will retry"
### Issue description

2022-06-20T20:09:55+08:00       warn    apisix/cluster.go:482   failed to check health for cluster default: dial tcp: i/o timeout, will retry

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):1.4.1
- your Kubernetes cluster version (output of kubectl version): k8s 1.20.11  cni  kube-ovn
- if you run apisix-ingress

[2022-06-20 15:14] caibirdme opened #1091 "bug: invalid ApisixUpstream kind"
### Issue description

[code]
kubectl apply -f vector-upstream.yaml -n vector
[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): 1.4.1
- your Kubernetes cluster version (output of kubectl version): 1.20.4
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a): centos7

### Minimal t

[2022-06-20 15:44] caibirdme commented on #1091
After changing to v2beta3, I succed to create uptream, but it didn't work.
I want to proxy grpc and use plaintext(no tls):

This is my svc:
[code]
This is my route.yaml
[code]

and this is upstream.yaml
[code]

When I curl domain/opentelemetry.proto.collector.logs.v1.LogsService/Export, ingress-controller panic

[code]

and the log from apisix deployment:
[code]

[2022-06-21 03:24] tokers commented on #1091
@caibirdme By the way, could you try the `v2beta3` version of ApisixRoute? And use `backends` instead of `backend`.

[2022-06-21 06:50] wolgod opened #1092 "bug: ApisixRouteHTTPBackend don't support service port name"
### Issue description

error: error validating "jenkins-apisixroute.yaml": error validating data: ValidationError(ApisixRoute.spec.http[0].backends[0].servicePort): invalid type for org.apache.apisix.v2beta2.ApisixRoute.spec.http.backends.servicePort: got "string", expected "integer"; if you choose to ignore these errors, turn validation off with --validate=false

### Environment

- your apisix-in

[2022-06-21 06:51] caibirdme commented on #1091
when route change to v2beta3, it works

[2022-06-22 06:10] tao12345666333 commented on #1092
The CRD is here

https://github.com/apache/apisix-ingress-controller/blob/3214c698f9dd2dc7797fce837e16d15d60f64050/samples/deploy/crd/v1/ApisixRoute.yaml#L184-L187

the deal logic

https://github.com/apache/apisix-ingress-controller/blob/3214c698f9dd2dc7797fce837e16d15d60f64050/pkg/kube/apisix/apis/config/v2/types.go#L78-L94

 we can change the CRD schema to accept service port name.

thanks.

[2022-06-22 06:13] tao12345666333 commented on #1091
@caibirdme can we close this issue?

[2022-06-22 06:16] tao12345666333 commented on #1090
Thanks for you report.

can you check your  APISIX related configurations？

https://github.com/apache/apisix-ingress-controller/blob/3214c698f9dd2dc7797fce837e16d15d60f64050/conf/config-default.yaml#L82-L89

[2022-06-22 06:24] tao12345666333 commented on #1086
@dickens7 we have create a proposal for this #799
we can use #799 for track.

I will close this one. thanks!

[2022-06-22 06:24] #1086 closed

[2022-06-22 06:24] tao12345666333 commented on #799
ref https://github.com/apache/apisix-ingress-controller/issues/1086

[2022-06-22 06:31] caibirdme commented on #1091
Yes

[2022-06-22 06:43] #1091 closed

[2022-06-22 09:53] #1092 closed

[2022-06-22 09:56] lingsamuel opened #1097 "Umbrella: flaky test"
- [ ] `service is referenced by two ApisixRoutes`
<details>

https://github.com/apache/apisix-ingress-controller/runs/7001002614?check_suite_focus=true

`/home/runner/work/apisix-ingress-controller/apisix-ingress-controller/test/e2e/suite-ingress/resourcepushing.go:28`
</details>

- [x] #1015

[2022-06-22 10:02] caibirdme opened #1098 "bug: dashboard js error"
### Issue description

GET /umi.48865a44.js  grammar error, so cannot open the site

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): 0.10.0
- your Kubernetes cluster version (output of kubectl version): 1.20.4
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a): centos7

### Minimal t

[2022-06-22 10:12] lingsamuel commented on #1097
[apache/apisix-ingress-controller/runs/7001002614?check_suite_focus=true](https://github.com/apache/apisix-ingress-controller/runs/7001002614?check_suite_focus=true)

This run does not output in the summary which test was failed.

[2022-06-23 04:21] #1032 closed

[2022-06-23 07:12] Chever-John commented on #575
Continue to work on this week~

[2022-06-23 07:36] 283713406 opened #1100 "Use apisix， must use the domain name followed by the path to access, otherwise you will lose the port"
### Issue description

apisixroute配置如下：
![image](https://user-images.githubusercontent.com/19170385/175241951-e5e5562d-67d4-4736-ad23-ee23abbde227.png)

apisix-gateway服务使用nodeport类型
![image](https://user-images.githubusercontent.com/19170385/175242186-decb9653-bb01-4fd5-9752-d5e0f7c2f896.png)

问题：
使用https://krmp-manage.kylincloud.com:30234访问会直接变成https://krmp-manage.kylincloud.com/users/login。端口丢失

[2022-06-23 08:10] #1063 closed

[2022-06-23 09:23] 283713406 commented on #1100
@tao12345666333

[2022-06-23 14:45] tao12345666333 commented on #1100
I'm guessing your web app checks the current login status and redirects, right?

[2022-06-24 01:04] tokers commented on #1100
@283713406 Hi, could you send a request to the first URL via cURL and paste the response headers and body here?

[2022-06-24 01:11] 283713406 commented on #1100
curl -k -v  https://krmp-manage.kylincloud.com:30234
[code]

curl -k -v  https://krmp-manage.kylincloud.com:30234/users/login
`*   Trying 172.20.144.234:30234...
* TCP_NODELAY set
* Connected to krmp-manage.kylincloud.com (172.20.144.234) port 30234 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* successfully set certificate verify locations:
*   CAfile: /etc/pki/tls/certs/ca-bundle.crt
  CAp

[2022-06-24 01:55] 283713406 commented on #1100
@tokers
curl -k -v https://krmp-manage.kylincloud.com:30234/

[code]

curl -k -v https://krmp-manage.kylincloud.com:30234/users/login
[code]

[2022-06-24 01:58] dickens7 commented on #799
How is this feature going? Is there a release plan?

[2022-06-24 10:21] tokers commented on #1100
If you just use `NodePort` to expose APISIX, I think there is no `X-Forwarded-Port` header (carry the node port) when the request reach APISIX so Apache APISIX cannot pass this header to the backend and hence your backend cannot use the correct port.

[2022-06-24 10:23] 283713406 commented on #1100
@tokers    Can I use plugins to solve this problem？

[2022-06-24 16:59] tao12345666333 commented on #799
@lxm do you still working on this feature?

[2022-06-26 14:30] anhbinhvodanh commented on #1088
Hi @BFergerson,
Did you deploy apisix successfully to DigitalOcean?
Thanks.

[2022-06-26 17:21] BFergerson commented on #1088
Unfortunately, no. I'm still using NGINX ingress controller as apisix-ingress-controller doesn't support the standalone version of APISIX.

[2022-06-27 04:01] purefun opened #1104 "request help: How to create a global rule for a cluster scoped plugin?"
### Issue description

I can' find a config for enabling a global plugin. The only way to create a `GlobalRule` is apply a `ApisixClusterConfig` according to the code:
https://github.com/apache/apisix-ingress-controller/blob/master/pkg/kube/translation/translator.go#L94-L97

But it can't config a plugin in `ApisixClusterConfig` spec.

Thank you for advance.

### Environment

[code]

[code]

[2022-06-27 04:54] anhbinhvodanh commented on #1088
Hi @BFergerson Did you try this one. I can successfull deploy apisix to DigitalOcean https://apisix.apache.org/blog/2021/12/15/deploy-apisix-in-kubernetes/

[2022-06-27 06:58] BFergerson commented on #1088
@anhbinhvodanh, good to know it'll work but it looks like that guide uses etcd too. Currently, I do not need to dynamically configure APISIX. It's fully configured via the standalone file.

[2022-06-27 09:13] 0x9be00ff1 opened #1105 "request help: how can I migrate existing apisix(bare-metal) route config to apisix-ingress-controller"
### Issue description

We're using apisix in production, with lots of route and upstream configs already, planning migrate our services to k8s, is there any way I can generate CRDs file from etcd or admin api?

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): v1.4.1
- your Kubernetes cluster version (output of kubectl version): v1.23.7

[2022-06-27 09:14] xianshun163 opened #1106 "request help: How to upgrade"
### Issue description

Before upgrade  env：
apisix  2.11.0    ,
apisix-ingress-controller:  1.4.0, I  install it like this:  helm install apisix-ingress-controller apisix/apisix-ingress-controller --version=0.9.0 --namespace apisix   ......

Tobe   upgrade  env：
I want to use the  apisix 2.13.1  or 2.13.2.
apisix-ingress-controller:   I  find the newest is 1.4.1  ,  I want to know is it match the

[2022-06-27 09:38] #936 closed

[2022-06-27 10:30] tao12345666333 commented on #1106
yes. They can work together

[2022-06-27 11:12] tao12345666333 commented on #1104
thanks for you report.

Currently ApisixClusterConfig only supports the configuration of two monitoring-related plugins, but this can be modified.

https://github.com/apache/apisix-ingress-controller/blob/9e0c658cd2387165b5e0b5fc8d91f6464e3ad406/samples/deploy/crd/v1/ApisixClusterConfig.yaml#L94-L110

I want to know if you have other specific scenarios that need to configure the global plugin.
Ano

[2022-06-27 11:25] tao12345666333 commented on #1105
This is a very interesting use case.
Can you describe more, or join Slack for a live chat with me ()
https://join.slack.com/t/the-asf/shared_invite/zt-1bjo8bo8k-kp5nk0DaEf28oBoDL07nlQ

[2022-06-27 13:00] purefun commented on #1104
We're using Argocd to achieve the GitOps principle. All route and plugin Configurations are templates of Helm chat. And we have two global plugins: `request-id` and `http-logger`.  Because `ApisixPluginConfig`, `ApisixRoute`, and `Service` should be in the same namespace, It's hard to share `ApisixPluginConfig` when `Service`'s namespaces are different.

[2022-06-28 03:00] AlinsRan opened #1108 "bug: ApisixRoute v2 version resource is missing status information."
### Issue description

 ApisixRoute v2 version resource is missing `status` field information.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): 1.14.1:dev
- your Kubernetes cluster version (output of kubectl version): 1.24
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a): ubuntu 22

[2022-06-28 05:38] tao12345666333 commented on #439
remove stale label

[2022-06-28 08:16] tao12345666333 commented on #578
Thanks, we can use #592  for tracking, I will close this one.

[2022-06-28 08:16] #578 closed

[2022-06-28 08:26] xianshun163 opened #1109 "request help: always print log: sync namespace info failed."
### Issue description

always print the log, is that any problem for the system?

2022-06-28T16:16:52+08:00       warn    ingress/namespace.go:121        sync namespace info failed, will retry  {"namespace": "kube-node-lease", "error": "context canceled"}
2022-06-28T16:16:52+08:00       warn    ingress/namespace.go:121        sync namespace info failed, will retry  {"namespace": "kube-public", "er

[2022-06-28 08:31] tao12345666333 commented on #1109
thanks for your report. what's your APISIX Ingress controller's configuration?

[2022-06-28 08:33] xianshun163 commented on #1109
helm install apisix-ingress-controller apisix/apisix-ingress-controller --version=0.9.3 --namespace default    --set config.kubernetes.apisixRouteVersion=apisix.apache.org/v2beta3 \
 --set config.kubernetes.ingressVersion=networking/v1beta1  --set config.apisix.serviceName=apisix-gw-lb  --set config.apisix.serviceNamespace=default  --set config.apisix.servicePort=9080 --set config.logLevel=warn \

[2022-06-28 08:51] #1109 closed

[2022-06-29 01:53] tao12345666333 commented on #1027
#1040 has been merged. I will close this one. Thanks

[2022-06-29 01:53] #1027 closed

[2022-06-29 06:39] stillfox-lee opened #1110 "Improve: Keep verify-mdlint same between Makefile and github actions"
https://github.com/apache/apisix-ingress-controller/blob/0e1f8d4afdf4d90743ef238872d1e383cdfa93a4/Makefile#L187
https://github.com/apache/apisix-ingress-controller/blob/0e1f8d4afdf4d90743ef238872d1e383cdfa93a4/.github/workflows/lint-checker.yml#L93

Maybe we should add `--ignore CHANGELOG.md ` into Makefile. Otherwise, we will see error after run `make verify-mdlint`.
[code]

[2022-06-30 07:26] Horus-K opened #1122 "bug: The order of deleting ApisixRoute http and tcp types is wrong"
### Issue description

First create an ApisixRoute of http,
Then create the ApisixRoute of tcp, both use the same svc,
After the first http ApisixRoute is deleted, the tcp ApisixRoute cannot be used.
At this time, check that apisix upstream has been deleted
Reverse the order of deletion, it will not appear

This won't happen if you use different svc

### Environment

- your apisix-ingress-controll

[2022-06-30 07:38] tao12345666333 commented on #1110
@stillfox-lee thanks for your report.
Could you send a PR to fix this?

[2022-06-30 07:47] tao12345666333 commented on #1122
Thanks for your report.

In fact, the APISIX Ingress controller actually maintains a cache and checks whether the Upstream is referenced by http_route or stream_route when it is deleted.

https://github.com/apache/apisix-ingress-controller/blob/b1dc75e198dbacc4d66e9d2bfbb259cfea9c67a3/pkg/apisix/cache/memdb.go#L360-L380

I will try to reproduce later.

Also, can you try checking the upstream list

[2022-06-30 07:56] Horus-K commented on #1122
![image](https://user-images.githubusercontent.com/48319268/176623950-1bd5527d-4b98-47ff-9f5d-8defc1744cd8.png)
delete http route
![image](https://user-images.githubusercontent.com/48319268/176624102-ddb72d5b-9289-48e3-86f8-acc3968a94e7.png)
upstream is indeed removed

[2022-06-30 08:24] wolgod commented on #1090
it is my coredns problem ,when i use fqdn ,the dns lookup time is great than 5s ，i use {name}.{namespace}  ,now is normal

[2022-06-30 08:24] #1090 closed

[2022-06-30 08:32] wolgod opened #1124 "request help: APISIX Ingress namespaceSelector and appNamespaces"
### Issue description

1.  在1.4.0 之后appNamespaces 被废弃了，如果我想通过namespaceSelector 监听指定标签的namespace的话，appNamespaces是不是需要配置为"" 还是使用默认值？
2. 我把appNamespaces 设置为”“，并且指定namespaceSelector，同时设置了namespace的label，但是我发现如果我新增一个namespace并且设置了ingress controller namespaceSelector的lable，这时并不生效，我必须重启ingress-controller，我新创建的ns 下的apisixroute 才能被监听到
3. 我把appNamespaces 设置为”“，并且指定namespaceSelector，同时设置了namespace的label，我去掉一

[2022-06-30 09:23] tao12345666333 commented on #674
#1064  has been merged. I will close this one. thanks

[2022-06-30 09:23] #674 closed

[2022-06-30 09:57] tao12345666333 commented on #1124
The `appNamespaces` 's default value is ""

So in general, in your test, you found that the namespace of APISIX Ingress controller watch cannot be dynamically adjusted, right?

cc @lingsamuel  @AlinsRan

[2022-06-30 12:10] wolgod commented on #1124
1. 是的，不过在APISIX Ingress controller 的官方chart里values默认是appNamespaces: ["*"] ，我理解如果我想使用namespaceSelector选定指定namespace的话，应该把appNamespaces设为appNamespaces:[""]
2和3的问题，就是我appNamespaces设为"",我想通过namespaceSelector动态控制监听，不过我发现我更改namespace的label后，并没有动态调整，我等了十多分钟后，发现还是无法动态监听，控制台也没有异常，只能重启ingress才能达到我想要的效果

[2022-06-30 12:22] wolgod opened #1125 "request help: Processing logic for the same ApisixRoute when multiple APISIX Ingresses are deployed in the same Kubernetes cluster"
### Issue description

1. 我同一个k8s集群里，部署了两套apisix-ingress-controller和apisix 集群，一个apisix-ingress-controller对应一个apisix集群，
我两个ingress-controller都watch所有namespace，我使用crd apisixroute定义路由，后来发现当我apisixroute变动的时候，有时候会出现配置只被一个apisix-ingress-controller处理，是否因为apisixroute上会回写状态，如果一个ingress-controller处理了，resourceversion更改了另外一个就不处理了？
2. 如果我想同一个apisixroute 能同步两个集群，有什么最佳实践吗。主要是想内外网隔离，要保证两个集群都有全量路由
3. apisixroute 支

[2022-07-01 01:21] AlinsRan commented on #1125
For the first question, I think that Ingress-Controller cannot cross clusters. You need to configure `ApisixRoute` in each clusters.

[2022-07-01 02:12] wolgod commented on #1125
I only have one cluster

[2022-07-01 03:09] AlinsRan commented on #1125
Well, I regard question 1 2 as one.
For the first question, Under what circumstances will it fail? Is there a high probability.

[2022-07-01 03:25] wolgod commented on #1125
非常感谢您的回答，就是说我们支持一个集群里多个ingress-controller同时监控一个ApisixRoute，并且可以正确推送到ingress-controller对应的apisix集群里是吧，我再测试一下，提供详细的测试步骤

[2022-07-01 03:38] AlinsRan commented on #1125
Yes, can do this, but the ingress-controller cannot guarantee the consistency of the two environments.

[2022-07-01 03:49] tao12345666333 commented on #1125
OK, looking forward to your feedback after the test. Thanks

[2022-07-01 03:58] tao12345666333 commented on #645
For specific progress and detailed technical solutions, we can use #927 to track. I will close this one. Thanks

I plan to be in two weeks.

[2022-07-01 03:58] #645 closed

[2022-07-01 04:02] tao12345666333 commented on #1124
Sorry for mistake. I have updated the reply. The default value is `"*"`  https://github.com/apache/apisix-ingress-controller/blob/810f1a1c5b232808e77f8f153d3ec90c3008e3c0/pkg/config/config.go#L37

[2022-07-01 04:04] AlinsRan commented on #1071
For Concepts, I suggest so:

* Concepts
  * Architecture
  * Deployment    # Describe the supported resources and the configuration of ingress, etc.
  * Custom Resource
    * ApisixRoute
    * ApisixUpstream
    * ApisixTls
    * ApisixConsumer
    * ApisixClusterConfig
    * ApisixPluginConfig
  * Ingress
  * Gateway API

[2022-07-01 06:19] tao12345666333 commented on #1071
Is it a duplicate of these resources below?

[2022-07-01 06:22] AlinsRan commented on #1071
No, the deployment and config instructions of apisix-ingress.

[2022-07-01 07:32] lingsamuel opened #1127 "test: support more default value in `NewScaffold`"
We should also support the default values that already exist in `NewDefaultScaffold` for `NewScaffold`.

[2022-07-01 07:41] #1108 closed

[2022-07-01 07:59] tao12345666333 commented on #1127
+1

[2022-07-04 03:26] AlinsRan opened #1129 "test: Remove `time.Sleep` and replace with wait.poll"
## background

In the current project's e2e, a lot of `time.sleep` is used. This will undoubtedly increase the overall time-consuming of CI.

https://pkg.go.dev/k8s.io/apimachinery/pkg/util/wait package provides tools for polling or listening for changes to a condition.

We can replace the current `time.sleep` with `wait` for a more elegant way of determining whether our desired state has been rea

[2022-07-04 04:52] wolgod commented on #1124
My test scenario is that when I cancel the label of an ns, I find that I can still listen to the events of apisixroute under this ns
`
func (c *namespaceController) onUpdate(pre, cur interface{}) {
	oldNamespace := pre.(*corev1.Namespace)
	newNamespace := cur.(*corev1.Namespace)
	if oldNamespace.ResourceVersion >= newNamespace.ResourceVersion {
		return
	}
	key, err := cache.MetaNamespaceKeyFunc(c

[2022-07-04 08:13] tao12345666333 commented on #1124
@wolgod I have created a PR to fix it. #1130
I will add a full e2e test case later.

You can use the code that includes the PR to verify

[2022-07-04 08:43] tao12345666333 commented on #1110
#1126 has been merged. I will close this one.

thanks

[2022-07-04 08:43] #1110 closed

[2022-07-04 09:18] lingsamuel commented on #926
Instead of using a cache, I decided to add a handler to the service informer of the ApisixRoute controller. This is consistent with the way K8s does it.

[2022-07-04 09:52] lingsamuel commented on #1097
`github.com/apache/apisix-ingress-controller/pkg/kube/translation	600.032s`

This unit test failed several times.

[2022-07-04 09:59] lingsamuel commented on #1071
We should provide more config example in tutorials.

[2022-07-04 17:05] tao12345666333 commented on #926
SGTM

When the svc is created, do you want to check the status of the ApisixRoute to determine whether to synchronize?  Or in another way?

[2022-07-05 15:07] dickens7 commented on #799
`route.Plugins` and `route.pluginConfigId` are duplicate. I wrote a sample version to see if this works. I don't know if there will be compatibility issues.

https://github.com/dickens7/apisix-ingress-controller/commit/76fd06887313fe0c23a54955f72074c19bb5e5ec

[2022-07-06 01:30] AlinsRan commented on #799
Yeah. I'm implementing this function. Have you finished it?

[2022-07-06 01:34] dickens7 commented on #799
Not finished, just wrote a simple example that can achieve the function

[2022-07-06 01:37] tao12345666333 commented on #799
@dickens7 @AlinsRan Thanks for your contribution!!!

If you want to get this done, you can reply first so I'll assign it to you. The community will know you're working on it.

[2022-07-06 01:38] tao12345666333 commented on #799
This allows us to collaborate better and avoid duplication of work

[2022-07-06 01:38] AlinsRan commented on #799
Do you want to try?

[2022-07-06 01:43] tao12345666333 commented on #799
@dickens7 let me assign this to you?

[2022-07-06 01:47] dickens7 commented on #799
@tao12345666333  All right, assign it to me

Need to help me confirm this problem, it should be no problem from the current code.

[2022-07-06 01:51] tao12345666333 commented on #799
Assigned

@AlinsRan Can you explain to @dickens7  if you have time

[2022-07-06 02:14] AlinsRan commented on #799
I think there's no problem. You can submit a PR, including the complete e2e and test cases.

[2022-07-06 03:00] dickens7 commented on #799
okay.

[2022-07-06 08:05] #1127 closed

[2022-07-06 17:18] tao12345666333 commented on #1122
I reproduced this problem locally, thanks for your feedback

[2022-07-07 07:52] #1122 closed

[2022-07-07 08:42] lingsamuel commented on #1097
[code]

[2022-07-07 10:14] stillfox-lee opened #1138 "request help: How to debug e2e-test fail case efficiently"
### Issue description

Hi, guys. Currently, e2t-test still has a randomly fail problem. I tried to set the breakpoint to debug, but the error is not reproduced. Is there an efficient way to solve this problem? What's best practice?

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl ve

[2022-07-07 10:23] tao12345666333 commented on #1138
You can add `focus` to only run a specific test case

[2022-07-07 10:25] tao12345666333 commented on #1138
https://onsi.github.io/ginkgo/

[2022-07-07 12:05] stillfox-lee commented on #1138
Yes, `focus` can do that. But ginkgo will teardown after every test case. I wanted to keep env which setup by test case. So that I can debug and find out the reason cause test case to fail.

[2022-07-07 13:17] tao12345666333 commented on #1138
Just add a sleep? 😜

[2022-07-08 03:48] juzhiyuan opened #1142 "question: please help to confirm the document description"
### Issue description

Hi, I followed the document to install APISIX Ingress Controller on GKE. However, when I tried this tutorial[1], it showed that "It's not allowed to refer to other namespace's service," but I could access other namespace's service successfully.

![image](https://user-images.githubusercontent.com/2106987/177912466-5b2d11ef-5319-42d0-ab3c-1c1694fd8613.png)

[1] https://apisix.

[2022-07-08 03:53] AlinsRan commented on #1142
It means that the `ApisixRoute` resource reference `k8s service` needs to be in the same namespace.

[2022-07-08 03:55] juzhiyuan commented on #1142
![image](https://user-images.githubusercontent.com/2106987/177913881-8785ef32-a598-4df4-8a94-45b959b1f26b.png)

[2022-07-08 03:58] AlinsRan commented on #1142
This is correct because `service: httpbin` and `ApisixRoute: httpserver-route` are in the same namespace `default`.

[2022-07-08 05:29] tao12345666333 commented on #1142
As @AlinsRan  said, there is no ambiguity here.  ApisixRoute and  service are namespace scoped.

[2022-07-08 06:31] #1142 closed

[2022-07-08 07:07] tao12345666333 commented on #1138
Currently we have the relevant processing logic.  But maybe we can make some optimizations.

For example, we can add an environment variable. If it is run locally by the developer, when a failure occurs, the relevant resources will be kept and not deleted.

https://github.com/apache/apisix-ingress-controller/blob/f0217ae5b022d6086bab2155dd3053567b3fc3aa/test/e2e/scaffold/scaffold.go#L440-L475

You

[2022-07-11 08:23] tao12345666333 opened #1146 "Add new `make dev-env` entry in Makefile"
We should add a new `make dev-env` entry in Makefile, to start a dev environment.

It should do something:

* using kind create a new cluster
* Deploy APISIX + etcd
* Build apisix-ingress-controller’s image
* Deploy apisix-ingress-controller

Most of them are already contained in the current Makefile, we need to organize them

[2022-07-12 08:55] AlinsRan opened #1148 "test: debug info should not be output for e2e-test case that pass the run"
## background:

At present, our e2e-test cases will print relevant debug info whether they pass or fail, resulting in a long debug log. This is not conducive to positioning problems, and which greatly affects our debugging efficiency.
Therefore, we should not print debug info for the passed e2e-test cases, because in most cases, it is not helpful for us.

## expect:
![image](https://user-images.gi

[2022-07-12 13:06] stillfox-lee commented on #1138
That's a good idea. Maybe I can create PR for this?

[2022-07-13 03:25] mhh12121 commented on #767
So how's the thing going about this plugin ?

[2022-07-13 04:05] tao12345666333 commented on #767
@mhh12121 This feature has been implemented in #937

[2022-07-13 09:04] tao12345666333 commented on #799
#1139  has been merged.
This feature will be introduced in v1.5 release.

Thanks!

[2022-07-13 11:52] tao12345666333 commented on #767
@mhh12121 you can see the example here https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/suite-annotations/forward_auth.go

[2022-07-13 16:58] #954 closed

[2022-07-14 02:06] mhh12121 commented on #767
@tao12345666333 Thank you! I've already tried it not only with **ApiRoute** but also **Ingress** way;

As the result, the `ingress` way seems not work at all with forward-auth plugin:
[code]
Instead,  I succeed by  `ApiRoute` way

[code]

Could you please have a check?

[2022-07-14 02:18] juzhiyuan opened #1151 "docs: add more YAML configuration samples"
Hi, when exploring the documentation site, there have a few primary YAML samples. How about picking up more cases from Go test cases to the site? e.g., https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/suite-plugins/suite-plugins-security/cors.go#L72-L97

## Related Links

1. https://the-asf.slack.com/archives/CUC5MN17A/p1657715518217149
2. https://apisix.apache.org/docs/ing

[2022-07-14 02:25] AlinsRan commented on #1151
Agree! We mentioned it in #1071.

[2022-07-14 06:33] tao12345666333 commented on #767
@mhh12121 In the above e2e we already have test cases for coverage.
If you encounter a problem, please file a new issue describing it in detail, do not discuss it in this issue. thanks

[2022-07-14 09:33] lingsamuel opened #1157 "bug: `resolveGranularity` should be considered in upstream id generation"
Because "resolveGranularity" is defined in ApisixRoute and upstream id generation does not take it into account, multiple routes with the same backend but different resolveGranulartiy will conflict and overwrite the others (the last changed route will win).

[2022-07-14 13:53] tao12345666333 commented on #1151
We can use #1071 for tracking.
I will close this one.

If you have any other documentation suggestions please add them in #1071

Thanks

[2022-07-14 14:27] tao12345666333 commented on #1157
If we want to fix this problem, we must design to the regeneration of upstream_id.
This will be a huge breaking change.
When upgrading, users need to clear the original data and generate new data

[2022-07-14 15:59] #1077 closed

[2022-07-15 02:44] xuminwlt opened #1159 "request help: How to coordinate work between multiple ingress-controller pods."
### Issue description

When we tested, a cluster deployed 2 apisix and 2 ingress pods, found that 1 ingress did not work, and stopped 1 ingress pod, the other ingress pod still did not work, the relationship between these 2 ingress pods is The master-slave relationship still works at the same time.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller vers

[2022-07-15 06:16] tao12345666333 commented on #1159
Hi

Your description confuses me. Please describe more clearly, including steps to reproduce.

In addition, we have not released v1.14 version, please describe it accurately.

[2022-07-15 09:17] lingsamuel commented on #1097
[code]

[2022-07-15 09:21] AlinsRan commented on #1097
I'm fixing endpoints and resourcesync.

[2022-07-15 09:24] AlinsRan commented on #1097
We should use chan with buffer.

[2022-07-15 09:39] AlinsRan opened #1164 "test: ensure CI robustness"
## backend

ref: #1138
Due to the instability of E2E on CI, the development efficiency and time cost of contributors are greatly affected. In this issue, the cause of e2e instability is mainly recorded and determined.

**Main problems**
* Use incorrect methods to ensure that resources are correctly written to `apisix`.
* Sleep does not have stability factors, so we need to implement a method to "e

[2022-07-15 09:48] AlinsRan commented on #1164
https://github.com/apache/apisix-ingress-controller/blob/v1.4.0/test/e2e/plugins/redirect.go#L211

The current code uses `ensurenum` To ensure successful resource update.
solve:
* Need a function to ensure that resources are synchronized to `apisix`.
* Sleep can be used to solve this problem.

[2022-07-15 10:02] AlinsRan commented on #1164
For `endpoints.go` error:

Due to multiple versions + concurrent creation of multiple httpbin pods, access timed out.

solve:
* Longer waiting time.
* Replace the `ApisixRoute` resource with the `Inress` resource.

[2022-07-15 10:04] AlinsRan commented on #1164
For `resourcesync.go` failed:

Insufficient waiting time. The e2e will be faster than synchronization.
solve:
* Longer waiting time.

[2022-07-18 02:23] AlinsRan commented on #941
1. yaml and version info
* apisix-ingress-controller version
[code]
* ingress.yaml
[code]

[code]

[2022-07-18 02:26] AlinsRan commented on #941
Cannot be recurrence.

[2022-07-18 02:32] wolgod opened #1165 "bug: when service port change,the ingress can't handle correctly"
### Issue description

I wrote the service port wrong at the beginning, and the service port in apisixroute is also wrong, but when I change the service port and the port of apisixroute to the right, it does not take effect, and the correct Upstream cannot be synchronized to apisix, only when apisixroute is deleted. Resync the correct port to Upstream, but the ingress controller still prints an er

[2022-07-18 02:34] stillfox-lee commented on #644
Hi @tao12345666333 , I can help to implement `TCPRoute`. Can you assign it to me?

[2022-07-18 02:44] tao12345666333 commented on #644
@stillfox-lee  sorry, The `TCPRoute` task has been publised through the OSPP project. [1]
And @AlinsRan has already claimed the task. He will finish the job in two months.

If you are interested, can you help implement `UDPRoute`?

1: https://summer-ospp.ac.cn/#/org/prodetail/228020146

[2022-07-18 03:12] hotbaby opened #1166 "request help: how to get client real-ip"
### Issue description

要增加IP白名单限制，发现APISIX获取远程客户端的地址为本地网络设备CNI0的地址。

[2022-07-18 03:20] cai200631 opened #1167 "request help: use ingress annotation to support traffic split feature"
### Issue description

I am trying to replace nginx-ingress by apisix-ingress, the traffic-split feature(like gray) in nginx-ingress is supported by ingress annotation like nginx.ingress.kubernetes.io/canary-by-header,  is there any chance that apisix-ingress can support or supply some annotation to support traffic-split ?  I prefer to use ingress than ApisixRoute,  ingress is in common use after

[2022-07-18 03:57] tao12345666333 commented on #1166
This is actually a Kubernetes knowledge.
You can set `externalTrafficPolicy` for apisix-gateway service.

[2022-07-18 04:02] tao12345666333 commented on #958
It has not been updated for too long and I will close it. If your issue is not resolved, please open it easily and provide more detailed information

[2022-07-18 04:02] #958 closed

[2022-07-18 04:11] tao12345666333 commented on #1167
Yes! We can use the PluginConfig annotation on the Ingress resource to bind any APISIX plugin to the Ingress resource.

you can refer to https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/concepts/annotations.md#use-apisixpluginconfig

This feature will be introduced in this month's v1.5 release. Implemented in #1139

[2022-07-18 04:23] tao12345666333 commented on #1165
Can you provide the corresponding YAML configuration directly in the reproduction step?

[2022-07-18 04:42] hotbaby commented on #1166
谢谢大佬，修改externalTrafficPolicy为Local，解决了。

[2022-07-18 04:42] #1166 closed

[2022-07-18 07:44] wolgod commented on #1165
1.kubectl run httpbin --image kennethreitz/httpbin --port 80
2.
apiVersion: v1
kind: Service
metadata:
  name: httpbin
spec:
  type: ClusterIP
  clusterIP: None   # clusterIP = None
  selector:
    run: httpbin
  ports:
  - port: 80
    targetPort: 80
3.
apiVersion: apisix.apache.org/v2beta3
kind: ApisixRoute
metadata:
  name: httpserver-route
spec:
  http:
  - name: rule1
    match:
      hosts:

[2022-07-18 07:57] wolgod commented on #1165
In the code, I see the logic is that when the apisixroute update event, it will check the old apisixroute. At this time, the port of my svc has changed, so the check will fail, and then it will always fail

[code]

[2022-07-18 08:59] suninuni opened #1168 "request help: http[].match.exprs[].subject.name shoule be case sensetive"
### Issue description

I want to match the url like `http://xxx?accountId=111`,  but I found the `scope.name` will be format as lower case, such as `accountId` will be changed to `accountid` which can only match the url like `http://xxx?accountid=111`

I create the ApisixRoute like this

[code]

And the route in apisix is:

[code]

### Environment

- your apisix-ingress-controller version (output

[2022-07-18 09:04] suninuni commented on #1168
I found the code, any reason about this?

https://github.com/apache/apisix-ingress-controller/blob/c48a62abfbd0b546c1d89bb7931caf1ed11abbb3/pkg/kube/translation/apisix_route.go#L502-L503

@tokers please take a look.

[2022-07-18 10:16] tao12345666333 commented on #1168
let me take a look

[2022-07-18 15:25] tao12345666333 commented on #941
@hyt05 hi, as @AlinsRan said, this issue has been resolved in v1.4.1.

If you do encounter this issue, please create a new issue with detailed steps to reproduce and results. thanks

[2022-07-19 01:44] tao12345666333 commented on #1165
thanks

[2022-07-19 01:50] AlinsRan commented on #1165
I recurrent it. There is indeed this problem.

[2022-07-19 02:37] OnlyPiglet commented on #644
@tao12345666333  hello, this means gateway api can replace ingress in the future ? so we need add this feature

[2022-07-19 02:50] Erhao commented on #1146
let me try

[2022-07-19 02:51] Erhao commented on #1148
Assign this to me, please

[2022-07-19 02:52] Erhao commented on #661
Let me try it, too.

[2022-07-19 03:08] tao12345666333 commented on #644
yes. Gateway API can replace Ingress.

But for now it's on beta status, will need more time to do this.

[2022-07-19 04:16] AlinsRan commented on #1164
For `unit-test` failed:

error: https://github.com/apache/apisix-ingress-controller/runs/7401911847?check_suite_focus=true
code: https://github.com/apache/apisix-ingress-controller/blob/master/pkg/kube/translation/apisix_route_test.go#L294

question:
* ...
Solve:
* ...

[2022-07-19 07:51] GhangZh opened #1169 "request help: apisix-ingress-controller has some warning logs when it starts"
### Issue description

The apisix-ingress-controller has some warning logs when it starts, please help to make sure it is OK.
1. After upgrading apisix-ingress-controller to 1.4.1, I found that there are more 'due to client-side throttling, not priority and fairness' logs when starting up. This is because of the addition of the limit queue  AddRateLimited function?
2.xxx in APISIX but do not in de

[2022-07-19 08:33] wolgod commented on #1169
Are there some routes in apisix that are not created through the apisix ingress controller?

[2022-07-19 12:11] cai200631 commented on #1167
I am confused,  is apisixpluginconfig can bind traffic-split now?  or I can bind traffic-split plugin to apisixpluginconfig when V1.5 is released ?

I have tried as follows:

1. declare  an ApisixPluginConfig:

apiVersion: apisix.apache.org/v2beta3
kind: ApisixPluginConfig
metadata:
  name: traffic-split
  namespace: test-beijing
spec:
  plugins:
  - name: traffic-split
    enable: true
    config

[2022-07-19 16:23] tao12345666333 commented on #1167
You need to use latest code from master branch or wait for v1.5 released

[2022-07-19 16:34] tao12345666333 commented on #1169
These logs are some expected output, but it also means that you are currently facing some situation.

1. Same as 👆 you have some routes not created by APISIX Ingress

2. You are experiencing some current throttling.
You can look at older logs, or restart it to see the latest logs

[2022-07-20 01:33] cai200631 commented on #1167
I finally figure out the trick,  you guys are too naughty. Why the documentation's version is NEXT,  and I cannot choose the current version....

<img width="1204" alt="image" src="https://user-images.githubusercontent.com/9104913/179876150-0304e1dd-a67a-4090-84ea-b9e7c6ab092e.png">

[2022-07-20 01:45] tao12345666333 commented on #1167
@juzhiyuan Can you help point out how to add versioned documentation? I didn't notice it

[2022-07-20 02:29] wolgod opened #1171 "request help: How many settings resync_interval are appropriate？"
### Issue description

resync_interval default is 6h，There are about 3000 apisixroutes in my environment. If the default value of 6h is used, if some events are lost, the routing may be inaccurate, but if the setting is too small, the resync will be too frequent. Is there a more suitable experience value?

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controll

[2022-07-20 03:28] GhangZh commented on #1169
1.Yes, traefik and apisix are currently coexisting, there was a change to the annotaion apisix class of an ingress, but this ingress has now been removed.
2.I've tried restart  times and only version 1.4.1 has this problem when starting up

[2022-07-20 05:46] juzhiyuan commented on #1167
Hi @tao12345666333, please check https://github.com/apache/apisix-website/issues/201 and https://apisix.apache.org/docs/general/documentation-style-guide/#formatting-punctuation-and-organization.

For this repo, the only change we should take is **renaming the released branch from `vxxxx` to `release/xxxx`**, see https://github.com/apache/apisix

Just to make sure: will this change break some CI/3

[2022-07-20 06:23] tao12345666333 commented on #1169
you can enable `debug` level log to see more details

[2022-07-20 08:10] tao12345666333 commented on #501
xref: https://github.com/apache/apisix/issues/487

[2022-07-20 08:36] cai200631 commented on #1167
By the way, is there any exact date that v1.5 will be released ?

[2022-07-20 08:36] tao12345666333 commented on #1167
end of the month

[2022-07-20 10:07] pongpongcn opened #1173 "request help: ApisixRoute binds a apisix service object"
### Issue description

We config routes in apisix like this:
[code]

In Apisix Ingress way, using ApisixRoute. Defining backends, which refers a k8s service is acceptable. But, it plugins contains too much things. How can I reuse the plugins config set?
[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):1.4.1
- your Kubernetes clu

[2022-07-20 13:58] tao12345666333 commented on #1173
You can use ApisixPluginConfig resource

[2022-07-21 03:20] SkyeYoung commented on #1167
@tao12345666333 Will we change the name of the release branch to keep it consistent with projects like apisix? Or do I have to do some extra processing in apisix-website?

[2022-07-21 05:04] tao12345666333 commented on #1167
@SkyeYoung It is best if it can be adapted through the apisix-website project.
Since we may have used that branch name in some mail or stuff in the history, I'm not sure what would break.
Thanks!

[2022-07-21 05:09] #737 closed

[2022-07-21 05:14] #3 closed

[2022-07-21 05:45] SkyeYoung commented on #1167
Okay, I will submit a PR in the apisix-website repository tomorrow and CC it to you.

[2022-07-21 06:51] lingsamuel opened #1179 "docs: upgrade example code snippets to v2"
Also need to mark v2beta3 as deprecated.
cc @tao12345666333

[2022-07-21 08:59] heesuk-ahn commented on #644
@tao12345666333 HI, tao,

Looking at the current task, it looks like the task is closed except for TCPRoute and UDPRoute.  Can I use GatewayAPI in production now?

In particular, I wonder if `HTTPRoute` resource can be recognized by an apisix controller.

[2022-07-22 00:04] tao12345666333 commented on #644
@heesuk-ahn no, APISIX Ingress support for Gateway API is still in beta stage, I suggest you try it in test environment and give us some feedback.

But I don't recommend using it in a production environment.

Once we think that the code in this part is complete enough and the feedback from the community is good, we will upgrade it to the stable stage. At that time, it will be safer to use it in a

[2022-07-22 00:05] tao12345666333 commented on #644
Yes, you can try it

[2022-07-22 00:52] heesuk-ahn commented on #644
@tao12345666333

Thanks for the reply! For the time being, I will use GatewayAPI for test purposes and use the existing ApisixRoute for production.

I'll have to migrate it once it's stable enough to be deployed to production. 👀
I'll try it out and give you feedback. :)

[2022-07-22 06:35] tao12345666333 commented on #1171
In fact, this is not a recommended value. I recommend you to do some testing in your environment

[2022-07-22 07:59] lingsamuel opened #1182 "e2e: require certificate from file and add certificate generation script"
We should have a e2e certificates renew mechanics.

[2022-07-24 03:52] MBoui opened #1183 "bug: unknown field "jwtAuth" in org.apache.apisix.v2beta3.ApisixConsumer.spec.authParameter"
### Issue description

Fresh installation from the helm chart:

[code]

Generate the error: `unknown field "jwtAuth" in org.apache.apisix.v2beta3.ApisixConsumer.spec.authParameter;`, when i try to apply this config file:

[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): 1.4.1
- your Kubernetes cluster version (output of kubectl

[2022-07-24 03:54] MBoui commented on #1183
looking on this file `https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/crd/v1/ApisixConsumer.yaml` and don't see what it's wrong with my config.

[2022-07-24 05:50] tao12345666333 commented on #1183
can you run

kubectl get crd

To check your installed CRD

[2022-07-25 02:37] MBoui commented on #1183
Sure.

[code]

[2022-07-25 02:39] MBoui commented on #1183
[code]

[2022-07-25 08:55] tao12345666333 commented on #1183
The `ApisixConsumer.spec.authParameter.jwtAuth` was introduced in v1.5.0 and it hasn't released.

[2022-07-25 08:57] tao12345666333 commented on #1183
see #1009

You can try to build your own APISIX Ingress controller from latest code, or wait for v1.5.0 release. (In this month

[2022-07-25 08:57] tao12345666333 commented on #1183
I will close this one, thanks

[2022-07-25 08:58] #1183 closed

[2022-07-25 10:17] tao12345666333 commented on #1168
Have you tried creating the same routing rules directly using APISIX's admin API?

[2022-07-25 14:35] #926 closed

[2022-07-26 02:06] suninuni commented on #1168
Yes

[code]

[2022-07-26 05:16] tao12345666333 commented on #1168
ok, I can reproduce this issue, wondering if you are interested in submitting a PR to fix this issue?

[2022-07-26 05:54] wangyp0701 opened #1190 "help request: ingress TLS certificate update"
### Description

Apisix configures the ingress TLS certificate, which is normal at first. After a period of time, the domain name certificate in ingress is not updated after the TLS certificate is updated。
Apisixroutes + apisixtlses can update TLS normally

[code]

### Environment

- APISIX version ( `2.13.1`):
- Operating system (`4.15.0-173-generic`):
- OpenResty / Nginx version (run `openresty

[2022-07-26 06:10] suninuni commented on #1168
ok, I will try.

[2022-07-26 06:24] AlinsRan opened #1186 "proposal: need an interface or function to translate old resource objects"
## backgroup
At present, for k8s resource update, we use the `TranslateUpstream` method to translate old objects. This method requires parsing the latest services to build objects, resulting in data inconsistency.

Due to the wrong construction of upstream objects, upstream cannot be deleted, resulting in object redundancy.

## proposal
Implement an interface or function for related resources
Take

[2022-07-26 06:29] AlinsRan commented on #1186
#1050 Or we can realize the function of regularly cleaning up redundant objects in upstream.

[2022-07-26 06:32] wheatt opened #1187 "bug: If the admin API responds too slowly, it cannot guarantee the order in which requests are processed"
### Issue description

在pkg/ingress/endpoint.go文件中，syncEndpoint方法
[code]
会调用dashboard接口更新upstream ip信息
[code]
调用接口默认超时时间为5s，超时后会返回错误信息并立即进行下一次endpoint资源同步
但是对http请求来说，客户端超时后返回后并不会影响服务端的处理，服务端会继续处理该请求
如果下一次同步同一个endpoint资源，并且update upstream响应比较块的话，就有可能造成旧ip列表覆盖新ip列表的情况

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes c

[2022-07-26 06:37] tao12345666333 commented on #1186
why we need this one?

[2022-07-26 06:40] AlinsRan commented on #1186
Because the route object contains upstream_ id and plugin_id. For delete event, we only need these fields

[2022-07-26 09:43] tao12345666333 commented on #1187
APISIX's admin API used by APISIX Ingress, not dashboard.

Did you actually encounter this problem?

[2022-07-26 09:44] tao12345666333 commented on #1187
In fact, in APISIX Ingress, there is periodic resynchronization.
If the APISIX admin API frequently times out in the user's environment, it is recommended to increase this frequency.

[2022-07-26 11:15] wheatt commented on #1187
是的，线上环境碰到了这个问题，至于admin api返回慢的原因我还在查

[2022-07-26 12:16] #1168 closed

[2022-07-27 02:33] #1179 closed

[2022-07-27 03:06] wangyp0701 commented on #1190
I update automatically through [cert-Manager](https://github.com/cert-manager/cert-manager)

[2022-07-27 03:42] tao12345666333 commented on #1190
Can you provide a minimal steps to reproduce? Thanks

[2022-07-27 05:35] wangyp0701 commented on #1190
I don't know how to reproduce it.

I deleted the apisix-ingress apisix pod and the TLS returned to normal after restarting

[2022-07-27 07:27] #1165 closed

[2022-07-28 04:14] tao12345666333 commented on #822
We have entered the v1.5 release window, you can use the latest code or wait until v1.5 is released to test and verify.

[2022-07-28 07:08] suninuni commented on #1104
We're using [`response-rewrite`](https://apisix.apache.org/docs/apisix/plugins/response-rewrite/) plugin to remove sensitive infos from upstream or APISIX, such as `x-apisix-upstream-status`, `x-envoy-upstream-service-time` and so on.

So a global rule for a cluster scoped plugin will be easy to manager.

[2022-07-28 09:24] #1015 closed

[2022-07-28 09:24] tao12345666333 commented on #1015
We have solved it.

[2022-07-28 11:37] tao12345666333 commented on #1104
Thanks for your information @purefun @suninuni

I will put this to v1.6

[2022-07-28 12:09] wheatt commented on #1187
admin API慢的问题定位到了。
admin API请求etcd时每次都会调用etcd.new()方法，这个方法每次都会选择配置文件里的第一个节点连接([issue](https://github.com/api7/lua-resty-etcd/issues/169))，导致所有的连接都连到了etcd的一个节点。
我们这个etcd集群节点的max open files设置使用的系统默认值1024，连接多了之后就会响应变慢，调整了max open files之后就好了。

[2022-07-28 12:10] wheatt commented on #1187
写了好久英文版，写不下去了，还是用中文吧。。

[2022-07-28 16:21] tao12345666333 commented on #1187
Thanks!  I see that the issue has been resolved and the PR has been merged.
It should be enabled in newer versions of APISIX (2.15.1

[2022-07-28 16:38] tao12345666333 opened #1194 "v1.5.0-rc1 release process"
## wait to be done

* #1193
* Mark the v2beta3 version of the api deprecated #1198

## need to do

- [x] create v1.5.0 tag
- [x] send vote email  https://lists.apache.org/thread/rdkfy14n0pxbp8ty02mncr0zxjpz5qkn
- [x] send announce email
- [x] make a new release
- [x] update container image on DockerHub
- [x] make a new Helm chart release

[2022-07-29 01:33] #135 closed

[2022-07-29 01:33] #160 closed

[2022-07-29 01:33] #246 closed

[2022-07-29 01:33] #249 closed

[2022-07-29 01:33] #387 closed

[2022-07-29 01:33] #389 closed

[2022-07-29 01:33] #483 closed

[2022-07-29 01:33] #517 closed

[2022-07-29 07:47] lingsamuel opened #1199 "docs: dead link how-to-build"
[code]

[2022-07-29 13:49] xuminwlt commented on #1187
I saw a same question from kong.

[https://mp.weixin.qq.com/s/NpbJhqFpQkqIgCOqmCMZRA](url)

[2022-07-30 01:29] #564 closed

[2022-07-31 01:33] #618 closed

[2022-07-31 01:33] #629 closed

[2022-08-01 01:34] #668 closed

[2022-08-01 07:56] Chever-John opened #1201 "test: Discuss how to face the docker compose update"
### Issue description

When I was preparing to build the development environment on my new host, I was surprised to find a simple ci build problem after running the make-e2e-test-local command.

This is easy to fix, the official command seems to have been updated from `docker-compose` to `docker compose`.

I can install an older version of Docker Compose, or just modify the makefile to fix it. But

[2022-08-01 09:05] AlinsRan commented on #1201
You have not installed docker-compose.

[2022-08-01 10:08] Chever-John commented on #1201
@AlinsRan
Maybe I didn't express myself clearly. What I meant was that the latest version of docker compose executes the command `docker compose` instead of `docker-compose`. So do we have to improve the makefile to accommodate this change. Or does anyone have a better suggestion?

[2022-08-02 08:36] zaunist commented on #1201
Hello, @Chever-John.

I went through the [Docker documentation](https://docs.docker.com/compose/) and noticed the following passage

I think the problem here is that the new version of docker integrates the `compose` command and you are trying to use the new way, but docker also supports the old version of `docker-compose`. considering the compatibility with the old version, I think it is better t

[2022-08-02 09:06] tao12345666333 commented on #1201
Here you can simply add a conditional judgment.
Determine if there is a `docker-compose` command on the machine.
Or check if any `compose` plugin has been installed.

I think what is needed here is compatibility, not replacement.

[2022-08-02 14:36] Chever-John commented on #1201
@zaunist
Thanks for your document which is very important.

@tao12345666333
Agree!

[2022-08-03 01:29] #700 closed

[2022-08-03 01:53] xiangtianyu opened #1205 "request help: make e2etest local error"
### Issue description

When i run make e2e-test-local, there are such errors output

[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a):
I used docker desktop and mi

[2022-08-03 01:53] xiangtianyu commented on #1199
I have the same problem

[2022-08-03 02:05] AlinsRan commented on #1205
Generally, it is a network problem. Does your docker registry have an etcd image?
![image](https://user-images.githubusercontent.com/79972061/182508379-2d4d40e5-ce57-4598-b4b1-789218dc6a56.png)

[2022-08-03 02:11] xiangtianyu commented on #1205
![image](https://user-images.githubusercontent.com/10825900/182509087-475d184b-f452-43ca-be3f-d9508f5b60ba.png)
you mean this?

[2022-08-03 02:16] AlinsRan commented on #1205
Yeah. If not, you can load your image into the node. `make kind-load-images`

[2022-08-03 02:20] AlinsRan commented on #1205
You can check the etcd pod log first.

[2022-08-03 02:28] xiangtianyu commented on #1205
make failure

[code]

[2022-08-03 02:28] xiangtianyu commented on #1205
And there is no etcd pod,how can i check the log?

[2022-08-03 02:32] AlinsRan commented on #1205
When running e2e.

[2022-08-03 02:36] AlinsRan commented on #1205
Your computer will parse localhost into 127.0.0.1.

[2022-08-03 02:37] AlinsRan commented on #1205
![image](https://user-images.githubusercontent.com/79972061/182512010-d82bc00b-8978-49db-b836-10f96793003b.png)
Your computer will parse localhost into 127.0.0.1

[2022-08-03 02:42] xiangtianyu commented on #1205
My host is always bind  localhost to 127.0.0.1 in /etc/hosts

[2022-08-03 02:43] AlinsRan commented on #1205
Maybe we should not use localhost:5000 to represent the local warehouse image.

[2022-08-03 02:43] xiangtianyu commented on #1205
my etcd pod exports such error

[code]

it seems a network error?

[2022-08-03 02:46] xiangtianyu commented on #1205
It's a problem of something difference between "localhost" and "127.0.0.1" ?

[2022-08-03 02:49] AlinsRan commented on #1205
Yeah.

[2022-08-03 02:53] AlinsRan commented on #1205
![image](https://user-images.githubusercontent.com/79972061/182513933-ac70c39a-93a3-4fe2-a8e1-4bc0375169cd.png)

[2022-08-03 02:53] xiangtianyu commented on #1205
I've tried 127.0.0.1 and localhost, they output different errors

[2022-08-03 02:55] AlinsRan commented on #1205
`kind-with-registry.sh` Maybe the localhost in this file has been replaced with 127.0.0.1. You need to have a look,

[2022-08-03 02:57] xiangtianyu commented on #1205
When i used localhost it will output

[code]

[2022-08-03 03:11] xiangtianyu commented on #1205
Thanks a lot! I changed all "locahost" to "127.0.0.1" in makefile and kind-with-registry.sh and the error disappears!
But its still confused to me what's the difference between them

[2022-08-03 03:28] tao12345666333 commented on #1205
[code]

If you got this error, you can try it again.

[2022-08-03 03:30] tao12345666333 commented on #1205
If you use `localhost`, DNS resolution will be performed here

[2022-08-03 03:33] xiangtianyu commented on #1205
But IMO when i bind localhost to 127.0.0.1, dns will transform localhost to 127.0.0.1. It seems the same

[2022-08-03 07:05] akalittle opened #1206 "bug: keyauth header in ApisixRoute CRD doesnt work"
### Issue description

Follow the doc in [ApisixRoute CRD](https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/crd/v1/ApisixRoute.yaml#L226)

[code]

### Environment

apache/apisix-ingress-controller:1.4.1

Kubernetes cluster version:
Client Version: v1.24.0
Kustomize Version: v4.5.4
Server Version: v1.21.12-gke.2200

### Minimal test code / Steps to reproduce

kubectl a

[2022-08-03 08:03] akalittle opened #1208 "help request: how to define public-api in ApisixRoute CRD"
### Description

Here below is my yaml file of  CRD `ApisixRoute`
I want to implement keyAuth
but some path will should be excluded to the keyAuth

But the config below didn't work.

[code]

### Environment

apache/apisix:2.15.0-alpine
apache/apisix-ingress-controller:1.4.1
docker.io/bitnami/etcd:3.5.4-debian-11-r14

Kubernetes cluster version:
Client Version: v1.24.0
Kustomize Version: v4.5.4
Ser

[2022-08-03 08:11] lingsamuel opened #1207 "docs: add docs for `resolveGranularity`"
also need to notify that the ApisixUpstream healthCheck requires `resolveGranularity` == endpoints

[2022-08-03 10:20] caniko opened #1209 "request help: How to setup on `kind`"
### Issue description

I am huge fan of Apache, and want to use their projects whenever possible. However, I also use `kind`, and I noticed there is no guide for [`kind`](https://kind.sigs.k8s.io/docs/user/ingress/).

Hope we can change that! Mentioning @BenTheElder

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
latest
- your Kubern

[2022-08-03 11:04] kozora opened #1210 "request help: add ingress but always status Initializing"
### Issue description

set annotation:   `kubernetes.io/ingress.class: apisix`

in apisix dashboard I can see the auto-create route and upstream, but visiting the ingress domain can not success

### Environment

- apache/apisix-ingress-controller:1.4.1
- installed by apisix helm  v0.11.0

[2022-08-03 17:37] tao12345666333 commented on #1208
you can refer to this one.

https://github.com/apache/apisix-ingress-controller/blob/cccad72a1e0ef60525c69371b4b27c4598c587c1/test/e2e/suite-features/global_rule.go#L44-L61

If you don't understand how public-api works, then you can go to APISIX documentation

[2022-08-03 17:38] tao12345666333 commented on #1210
you need to provide more information

[2022-08-03 18:19] tao12345666333 commented on #1199
@xiangtianyu Are you interested in submitting a PR to fix it?

[2022-08-03 18:42] BenTheElder commented on #1209
I'm sorry I don't have time to figure this out, [my focus is moreso on ~kubernetes now](https://twitter.com/BenTheElder/status/1551670320423059456) but `@tao12345666333` is active in both projects and may be able to help, when they have time.

[2022-08-04 01:27] xiangtianyu commented on #1199
I've submit a PR

[2022-08-04 02:06] akalittle commented on #1208
Hey, the yaml above of mine is to explain:

I have a service proxy all `/status/*` to the service
However, I just want to expose `/status/metrics` to public without keyauth.

Can I finish this in one yaml config ?

I've tried to seperate this to two file

[code]

[code]

But when I visit `api.xxx.cc/status-tracker/metrics`

It also responsed `{"message":"Missing API key found in request"}`

[2022-08-04 02:30] stillfox-lee opened #1212 "improve: Support multi-workspace"
Since we upgrade go to v1.18, it also brings multi-workspace feature. It will create two new files: `go.work` `go.work.sum` after init go workspace.
Maybe we should add those two files?

[2022-08-04 03:19] akalittle opened #1214 "feature request: Add plugin support for ApisixConsumer"
### Issue description

[ApisixConsumer CRD](https://github.com/apache/apisix-ingress-controller/blob/master/samples/deploy/crd/v1/ApisixConsumer.yaml)

[code]

Is there a way to bind some plugins to the consumer directly in yaml file ?
However, I know it's possible to apply the plugin via dashboard. But It's more convenient to write all configs in yaml file.

### Environment

Environment
apache/ap

[2022-08-04 03:24] zaunist commented on #1212
+1

[2022-08-04 03:34] AlinsRan commented on #1214
Please check https://apisix.apache.org/zh/docs/ingress-controller/tutorials/enable-authentication-and-restriction/

[2022-08-04 03:40] AlinsRan commented on #1214
What plugins do you need consumer to bind? As far as I know, only `limit-count` is supported.

[2022-08-04 04:41] akalittle commented on #1214
`limit-count` to limit the request count the consumer

[2022-08-04 04:42] akalittle commented on #1214
I've binded the `limit-count` plugin in my dev cluster via dashboard.
But you know if there are lots of consumers.. You need to bind  all the plugin by yourself.

[2022-08-04 06:13] #1199 closed

[2022-08-04 12:25] marchlhw opened #1218 "request help: upstreamNode json解析异常"
### Issue description

## 问题1：
1. admin api根据id获取upstream json数据如下：
![image](https://user-images.githubusercontent.com/7006014/182865884-04b00294-743f-4cf7-a00b-a70ba132f5c2.png)

2. apisix-ingress-controller定义的数据结构如下：
![image](https://user-images.githubusercontent.com/7006014/182844021-7ca224b3-87df-4624-a3a4-e36202d8d221.png)

3. 注释红框中的判断，否则解析报错
![image](https://user-images.githubusercontent.com

[2022-08-04 15:44] AlinsRan commented on #1218
Thank you very much. I am trying to reproduce this problem. This is indeed the case.

[2022-08-04 15:47] AlinsRan commented on #1218
Can you tell me the version of your apisix-dashboard？

[2022-08-04 17:32] tao12345666333 commented on #1218
xref: #712

[2022-08-04 17:36] tao12345666333 commented on #1209
Thanks! In this project, we have added the deployment guide about how to install APISIX Ingress controller on KIND.

ref: https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/kind.md

[2022-08-04 17:37] BenTheElder commented on #1209
AHA, perhaps it should be added https://github.com/apache/apisix-ingress-controller/blob/master/install.md#installation

thanks @tao12345666333 🙏

[2022-08-04 17:39] tao12345666333 commented on #1209
Thanks! let me add it.

[2022-08-04 17:52] tao12345666333 commented on #1209
Opened PR to fix it. https://github.com/apache/apisix-ingress-controller/pull/1220

[2022-08-04 19:00] papdaniel opened #1221 "ApisixTls status not updated"
### Issue description

I use cert manager to generate certificates and create the `Certificate` and `ApisixTls` resources at the same time. Cert-manager needs some time to request the certificate, so when apisix-ingress-controller tries to find the cert secret it doesn't exist yet. The problem is apisix-ingress-controller won't retry to find the secret, so we are stucked. I know it is documented [

[2022-08-05 01:24] marchlhw commented on #1218
apisix-dashboard 我用的最新的master分支，我看manager-api的源码有做数据结构转换
https://github.com/apache/apisix-dashboard/blob/master/api/internal/core/entity/format.go

[2022-08-05 01:42] tao12345666333 commented on #1218
@bzp2010 Could you help confirm this if you have time?

[2022-08-05 01:43] #1209 closed

[2022-08-05 01:57] marchlhw commented on #1218
apisix-ingress-controller调用的是admin-api，会有上面提到的数据解析问题；manager-api虽然有对upstreamNodes做数据结构转换，响应的json数据controller可以正常的解析，但是controller只支持api-key的验证，而manager-api是jwt的验证

[2022-08-05 03:16] AlinsRan commented on #1218
I'll fix it.

[2022-08-05 06:07] akalittle opened #1223 "request help: how to specific configuration of graphql via yaml"
### Issue description

[Use GraphQL with API Gateway Apache APISIX](https://apisix.apache.org/blog/2022/03/02/apisix-integration-graphql-plugin/#specific-configuration)

In the post, you use a http request to specific the graphql request.
But How can I do this via yaml since I can't get definitions of grapql from `ApisixRoute` CRD.

### Environment

apache/apisix:2.15.0-alpine
apache/apisix-ingres

[2022-08-05 07:04] lingsamuel commented on #927
Hi, this is my proposal. Feel free to comment/review.

## Background
The users' environment may be not a simple single K8s cluster, but may be multiple K8s clusters, a mix of K8s clusters and bare metal machines, or rely on third-party services. The current ApisixRoute does not support such complex environments.

It would be a useful feature if ApisixRoute supports using ExternalName Service or do

[2022-08-05 07:12] akalittle commented on #1223
For our usage scenarios，if we have a lot of graphql queries like query a 、b、c and so on.
We want to expose a and b query to public use, and c for private and authKey is needed to do authentication.

[2022-08-05 07:14] papdaniel commented on #1221
Ehh, my bad, it works as expected, the status tricked me, it is not updated.

[2022-08-05 08:16] dierbei opened #1224 "request help: K8s ingress extensions/v1beta1 GET /apisix/admin/upstreams/f968e567 HTTP/1.1" 404"
### Issue description

apisix-admin.ingress-apisix.svc.cluster.local:9180 "GET /apisix/admin/upstreams/9e7bb51a HTTP/1.1" 404 39 0.002 "-" "Go-http-client/1.1" - - - "http://apisix-admin.ingress-apisix.svc.cluster.local:9180"
![Uploading image.png…]()

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (

[2022-08-05 08:18] dierbei commented on #1224
![image](https://user-images.githubusercontent.com/52097565/183034327-2412aab5-7109-47df-8853-e54eb337d9ff.png)

[2022-08-05 09:43] AlinsRan opened #1225 "Proposal: support different resolve-granularity of service"
## Backend
Ref:
* #870

Currently, the ApisixRoute resources support service and endpoints service-level resolve granularity. In the project, our implementation: The service corresponds to an upstream, and an upstream has only one resolve-granularity.
This implementation has the following problems:
- When a service is referenced by more than one ApisixRoute, they each use different resolve-granula

[2022-08-05 09:53] tao12345666333 commented on #1224
Please provide more information and minimal steps to reproduce

[2022-08-05 10:01] tao12345666333 commented on #1223
you can refer to https://github.com/apache/apisix-ingress-controller/blob/dfcbaac8f2b8c9c5ece12e3454fa57a2a23dba65/samples/deploy/crd/v1/ApisixRoute.yaml#L665-L707

add some expr configurations.

[2022-08-05 10:11] lingsamuel opened #1226 "e2e: introduce phase function to split cases"
Currently our e2e case has a lot of duplicate code snippets, which will be harder to maintain as time goes on.

A `Phase` function is a simple `func()` type function. Phase functions can be shared between different e2e cases.

For a typical case, we may have a "data preparation" phase, and a "validation" phase to verify that our controller is working properly.

However, during the data preparation

[2022-08-05 14:30] tao12345666333 commented on #1221
Do you mean the status of the ApisixTls resource is not updated?
@papdaniel

[2022-08-05 18:58] tao12345666333 commented on #1226
SGTM

[2022-08-05 19:00] tao12345666333 commented on #1225
SGTM

I like the second one "Service and Upstream [1: m]"

[2022-08-05 19:06] tao12345666333 commented on #927
SGTM

This method can ensure good compatibility and rich functions

[2022-08-06 01:47] akalittle commented on #1223
According to the file,  only `Cookie Header Path Query` scope  are supported.
However in the graphql request,   it pass all the data in body. The scope is `Body` maybe ?

[code]

[2022-08-06 02:22] papdaniel commented on #1221
Yes @tao12345666333

[2022-08-06 02:59] AlinsRan commented on #1226
+1

[2022-08-06 05:58] tao12345666333 commented on #1221
We expected that all status should be updated correctly, so I reopened this issue

[2022-08-06 06:00] tao12345666333 commented on #1221
Will reproduce when I'm free, if this is confirmed we can fix it

Can you provide a minimal complete reproduction steps if you are interested?

[2022-08-08 03:55] xxdyu opened #1227 "request help: Deployment failed 1.5"
### Issue description

![image](https://user-images.githubusercontent.com/32918557/183335659-fa4718f1-0ae6-45bc-94f2-65b18a76c46d.png)

### Environment

- your apisix-ingress-controller version 1.5
- your Kubernetes cluster version 1.24
- if you run apisix-ingress-controller  centos7

[2022-08-08 05:53] tao12345666333 commented on #1227
we only support install by Helm chart.

And v1.5 version helm chart hasn't been published

Thanks

[2022-08-08 06:00] xxdyu commented on #1227
thanks

[2022-08-08 07:06] xianshun163 opened #1230 "request help: Can grpc configured without SSL certificates in apisix ingress"
### Issue description

![image](https://user-images.githubusercontent.com/32457473/183358253-cdb1a525-96fa-48f1-9e67-38b67905d6b8.png)

I see the grpc can use without ssl, as the doc show in the  apisix  .

But  as the  apisix-ingress  way,  can I config  grpc  without ssl ?   ( the doc : proxy-grpc-service.md )

I have try it like this
![image](https://user-images.githubusercontent.com/32457473/1

[2022-08-08 08:05] cai200631 opened #1231 "http[].match.exprs cannot matched one of the rules"
Accordding to the documentation,  if I config multi http[].match.exprs,   results should be matched (oneof) to use this route rule.  but according to my test,  all rule should be matched , then the route effective;

my apisixroute spec is as follows:

spec:
  http:
    - backends:
        - serviceName: svc-arch-fe-general-test-service
          servicePort: 80
      match:
        exprs:

[2022-08-08 08:18] sanhofman opened #1232 "APISIX EKS Prometheus Grafana"
### Issue description

While deploying APISIX on AWS using apisix-ingress-controller like described here: https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/aws.md.

We get following services up and running:

[code]

Prometheus seems up and running while accessing through port-forward (http://localhost:8090/metrics). But how do we get the URL which can be us

[2022-08-08 09:14] xianshun163 commented on #1230
I config the upstream like this :
kubectl apply -f - <<EOF
apiVersion: apisix.apache.org/v1
kind: ApisixUpstream
metadata:
  name: yages
  namespace: ingress-apisix
spec:
  scheme: grpc
EOF
[code]

[2022-08-08 09:52] wolgod opened #1233 "bug: ApisixUpstream in version "v2beta3" cannot be handled as a ApisixUpstream"
### Issue description

When I use ApisixV2beta3Client to create apisixUpstream
[code]
The following error will be reported

[code]
除非我在构建apisixUpstream的显示指定typeMeta

[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):1.4.1
- your Kubernetes cluster version (output of kubectl version):1.20
- if you run apisix-ingress-controller in

[2022-08-08 09:55] wolgod commented on #1230
apiVersion: apisix.apache.org/v1  maybe apiVersion: apisix.apache.org/v2beta3, try it

[2022-08-08 09:56] wolgod commented on #1230
If you proxy the port 80 used by http, you must set a separate http port to proxy http2, so as to support clear text transmission, not ssl

[2022-08-08 09:58] wolgod commented on #1230
namespace: ingress-apisix    ,Are you sure your application is under this namespace？

[2022-08-08 10:48] xianshun163 commented on #1230
I use  another grpc server to  make a test and  it is ok  , thanks.
/helloworld.Greeter/SayHello

here is my crd file,   defile the  ApisixUpstream  after the ApisixRoute,  or  it will make some mistake.

#apiVersion: apisix.apache.org/v2beta3
#kind: ApisixUpstream
#metadata:
#  name: xsgrpc-service
#spec:
#  scheme: grpc

apiVersion: apisix.apache.org/v2beta2
kind: ApisixRoute
metadata:
  name: x

[2022-08-08 10:48] #1230 closed

[2022-08-08 12:30] papdaniel commented on #1221
@tao12345666333  sure, I will on the weekend if that's fine, don't have time right now

[2022-08-08 18:18] tao12345666333 commented on #1231
Could you please format the ApisixRoute resource?

And provide a minimal complete reproduction steps, thanks!

[2022-08-08 18:20] tao12345666333 commented on #1232
you can refer to this one https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/tutorials/how-to-access-Apache-APISIX-Prometheus-Metrics-on-k8s.md

[2022-08-09 02:39] #1106 closed

[2022-08-09 03:05] xianshun163 commented on #1230
@tao12345666333 @wolgod
I  find  sometimes, the ApisixUpstream  can  not set the scheme  to  grpc.  This situation will be found once after about ten operations.
This is the case. I put all CRDs in one file, as shown below, and then directly kubectl apply -f grpc2-route yaml。

I found that
1、create a  apisixroute
2、an upstream will be automatically generated when create  apisixroute  crd, and the

[2022-08-09 06:47] cai200631 commented on #1231
spec:
  http:
    - backends:
        - serviceName: svc-arch-fe-general-test-service
          servicePort: 80
      match:
        exprs:
          - op: Equal
            subject:
              name: qingzhou_gray_test
              scope: Cookie
            value: test-hangzhou
          - op: Equal
            subject:
              name: front-traffic-env
              scope: Header

[2022-08-09 06:49] cai200631 commented on #1231
[apiSixRoute.md](https://github.com/apache/apisix-ingress-controller/files/9287669/apiSixRoute.md)

[2022-08-09 07:32] marchlhw opened #1234 "request help: apisix-ingress-controller控制台日志出现大量service not found"
### Issue description

1. apisix-ingress-controller控制台日志有大量service not found

[code]

2. helm包value.yaml文件仅配置如下命名空间
![image](https://user-images.githubusercontent.com/7006014/183590010-ca8696d7-9a7c-4c59-b741-fb5b73a22711.png)

3. 通过分析源码有过滤命名空间的逻辑
![image](https://user-images.githubusercontent.com/7006014/183589479-2cc961cb-dd06-4900-a511-2e457d0bb74f.png)
![image](https://user-images.githubuserco

[2022-08-09 07:36] tao12345666333 commented on #1234
Did you change your code to v1.4.1 tag?

[2022-08-09 07:39] marchlhw commented on #1234
确定切换到1.4.1 tag了

[2022-08-09 07:52] marchlhw commented on #1234
![image](https://user-images.githubusercontent.com/7006014/183595026-4764e5b5-075d-48db-8d05-65582982306a.png)
k8s集群中service对象是不存在的，只存在endpoint对象

[2022-08-09 07:57] sanhofman commented on #1232
Hi @tao12345666333,

Thanks for your response.

I'm able to call the `/apisix/prometheus/metrics` only from within the apisix POD, but how do we make this available to Grafana dashboards?

![grafana](https://user-images.githubusercontent.com/17701731/183595703-7733dc06-d68e-4bf5-8282-f2f676e81b00.png)

Here we retrieve the following connection refused, both for GET and POST:

`Error reading Promet

[2022-08-09 08:22] mhh12121 opened #1235 "request help: Does apisixroute v2beta3 support multiple plugins?"
### Issue description

I set an apisxiroute with two plugin:
- forward-auth
- proxy-rewrite

[code]

It does not work at all, and it would route to an unexpected place..
However, it works when I tried to delete one plugin and keep another one;
for example, just keep proxy-rewrite:
[code]

### Environment

- my apisix version
1.13.1-alpine

- your apisix-ingress-controller version (output of apisix

[2022-08-09 08:35] marchlhw commented on #1234
通过验证：
1. 使用appNamespaces配置，会出现以上问题
2. 使用namespaceSelector配置，目前正常

[2022-08-09 08:58] tao12345666333 commented on #1234
Thanks for your report.

Please see #931 we plane remove the appNamespace configuration in v1.6 and it has been deprecated.

I'll take care to declare it when v1.5.0 is officially released

[2022-08-09 09:01] tao12345666333 commented on #1235
Obviously, it can configure multiple plugins.

You should be able to query its actual results by calling the Admin API in APISIX

[2022-08-09 09:02] tao12345666333 commented on #1235
As for your specific question, I think this requires more information

[2022-08-09 09:59] jhon-ye opened #1236 "request help: apisix-ingress-controller create stream_route"
### Issue description
### i use apisix-ingress-controller to create stream-route. the below is CRD

kind: ApisixRoute
metadata:
  name: tcp-route
spec:
  stream:
    - name: tcp-route-rule1
      protocol: TCP
      match:
        ingressPort: <stream-port>
      backend:
        serviceName: test
        servicePort: 9000

read the source code , usually crate upstream and stream-route, but i see

[2022-08-09 11:54] mhh12121 commented on #1235
@tao12345666333 Thank you for your reminder, I would show you another components' setting:
- ingress-controller configmap
[code]
- apisix configmap
[code]

And I access my service through apisix-gateway
[code]

If you consider it still not enough, please let me know. Thank you very much

[2022-08-10 01:10] tokers commented on #1235
@mhh12121 When you apply the first YAMl file (two plugins), any error logs reported by the APISIX Ingress Controller?

[2022-08-10 01:55] mhh12121 commented on #1235
@tokers No errors at all... just some warnings about other service not referenced;
 And the apisixroute itself reported 'synced successfully'

[2022-08-10 02:04] marchlhw commented on #1234
发现新的问题：原先通过namespaceSelector关联3个命名空间，一切都很正常，但是去掉其中一个命名空间的watching标签后，apisix-ingress-controller仍然会watching这个去掉标签的命名空间

[2022-08-10 02:23] tao12345666333 commented on #1233
what's your CRD version?

[2022-08-10 05:52] wolgod commented on #1233
apisix.apache.org/v2beta3

[2022-08-10 06:00] tao12345666333 commented on #1233
I mean, how did you install the CRD via  Helm chart or some other way?

[2022-08-10 09:44] mhh12121 commented on #1235
@tokers @tao12345666333
Maybe I OMIT something, I also have another apisixroute routing to the same service: backend

I tried to combine them together into single one apisixroute as following:

[code]
So to conclude we have three http proxy rules now:
- a
- b
- c

And the result is kinda weird....

Both of the route rules **a** and **b**  work as expected, but  **c** not work... And I check my ser

[2022-08-10 13:47] tao12345666333 commented on #1235
can you use Admin API check routes?

[2022-08-10 17:56] tao12345666333 commented on #1236
Please format the description.

And I didn't see any errors from what you provided. Please provide more clarification

[2022-08-10 17:59] tao12345666333 commented on #1234
it has been fixed in https://github.com/apache/apisix-ingress-controller/pull/1130

[2022-08-10 18:00] tao12345666333 commented on #1232
no, you should use Prometheus to fetch `/apisix/prometheus/metrics`

And add Prometheus as DataSource in Grafana.

[2022-08-10 18:04] tao12345666333 commented on #1212
sorry for delay. But what is the value of adding this feature to this project?

[2022-08-10 18:06] tao12345666333 commented on #1206
we can add a test case to cover this one. WDYT @AlinsRan @lingsamuel

[2022-08-10 18:09] tao12345666333 commented on #1205
sorry for delay.

Actually it depends on your specific environment, maybe there are configuration differences, maybe there are proxies and so on.

The most intuitive way is to grab the packet for inspection. e.g. `tcpdump`

[2022-08-10 18:10] tao12345666333 commented on #1194
Starting with this release, we will provide multi-architecture images

[2022-08-10 18:14] #496 closed

[2022-08-11 01:56] akalittle commented on #1214
That is ok.
However, applying plugins to the Consumers is ok in the dashboard. Maybe you should also forbid this in the dashboard?

[2022-08-11 02:04] mhh12121 commented on #1235
@tao12345666333 Yes, I did it through

[code]
BUt I moved my service to another namespace that I got these reponse:

[code]

[2022-08-11 06:30] zaunist commented on #1045
[WeOpen Star]I would like to help

[2022-08-11 06:46] crazyMonkey1995 commented on #822
UPDATE: Tested with latest code(commit reference: dfcbaac8f2b8c9c5ece12e3454fa57a2a23dba65):
1. There are 50 replicas of endpoints
2. Use ab for 100 concurrent requests
3. rollout restart the deployment (resulting in rolling update of endpoints)
4. Multiple experiments did not reproduce the performance problem of endpoints update

[2022-08-11 06:47] tao12345666333 commented on #1235
[code]

so, this is the **C** route.  and in this route, it doesn't include `forward-auth` plugin

[2022-08-11 06:53] crazyMonkey1995 commented on #592
Looking forward to supporting ingressClass, our scenario:
we will have a lot of domain names (several thousand), these domain names belong to different businesses, in order to avoid mutual influence between businesses, we use ingressClass to group domain names, so we are looking forward to CRD ingressClass support

[2022-08-11 07:12] sanhofman commented on #1232
Ok I'm clear with that but nevertheless I'm unable to access Prometheus from Grafana.

Available AWS services:

[code]

While configuring Prometheus as Datasource:

![prometheus-datasource-grafana](https://user-images.githubusercontent.com/17701731/184081466-915140e6-8773-40f5-a36e-7a064ce5861c.png)

[2022-08-11 08:10] stillfox-lee commented on #1226
From my point of view, CRD preparation function can generate all kinds of Resource's yaml. But, what's shared data preparation function? Can you show me the specific test case?

[2022-08-11 08:55] tao12345666333 commented on #592
got it. Once we complete this function, it is also very convenient for users to achieve multi-tenant isolation

[2022-08-11 09:35] #950 closed

[2022-08-11 09:36] tao12345666333 commented on #950
#1200 has been merge. It has been implemented.

[2022-08-11 10:56] Donghui0 commented on #592
#593   Can it be merged ?   Support ingressClass in ApisixRoute resource.

[2022-08-11 11:02] crazyMonkey1995 commented on #822
Okay.

[2022-08-12 01:15] hyt05 opened #1242 "request help: After removing apisix-ingress-controller it will not start"
### Issue description

I deleted a route created by apisix-ingress-controller on the dashbord dashboard, executed ```kubectl delete pod apisix-ingress-controller``` and it doesn't start anymore

### Environment

- your apisix-ingress-controller version (1.4.1):
- your Kubernetes cluster version (v1.24.2+rke2r1):
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS ve

[2022-08-12 01:18] hyt05 commented on #1242
apisix-ingress-controller  error log
![image](https://user-images.githubusercontent.com/48778924/184267470-d8804251-9e37-487d-97fd-e3d59b20fdac.png)

In fact there are only two apisixroutes in the cluster
![image](https://user-images.githubusercontent.com/48778924/184267624-cec9da15-a229-4790-8422-61c754f3eb0b.png)

[2022-08-12 02:29] mhh12121 commented on #1235
@tao12345666333 Thank you for your response. However, I don't want the route **C** to use forward-plugin;

[2022-08-12 05:56] wolgod commented on #1233
helm chart

[2022-08-12 05:58] wolgod commented on #1233
i use helm chart install

[2022-08-12 07:02] tao12345666333 commented on #1242
please show me your `kubectl get pods apisix-ingress-controller` command's result. thanks.

[2022-08-12 07:05] tao12345666333 commented on #1235
From the results of the above Admin API, it does not include the plugin, as you expect.

In the situation you are currently experiencing, the client request is actually failing, right?
This requires you to make the request again and check the APISIX logs

[2022-08-12 07:24] hyt05 commented on #1242
![image](https://user-images.githubusercontent.com/48778924/184305409-32269ffc-416c-4b75-bd93-7cf25fc1e9e0.png)

[2022-08-12 07:28] hyt05 commented on #1242
I did an uninstall and deleted the data in etcd and redeploy also couldn't get it to work

[2022-08-12 07:48] tao12345666333 commented on #1242
I saw the pod status is CrashLoopBackOff, In this scenario, you need to view its log and debug it.

In addition, when using APISIX Ingress, it is not recommended that you use APISIX Dashboard for data manipulation.

[2022-08-12 07:51] hyt05 commented on #1242
![image](https://user-images.githubusercontent.com/48778924/184309465-46277520-5a70-465b-896e-b5699d593a1f.png)
Its log is as follows, I don't have upstreams appearing in the log, and it doesn't help after I redeploy, how can I fix it

[2022-08-12 09:45] hyt05 commented on #1242
Solved, my k8s cluster node network is not connected, and the health check fails.

[2022-08-12 09:45] #1242 closed

[2022-08-12 11:52] mhh12121 commented on #1235
@tao12345666333  Thank you. But I did look through the admin's log;
 With the apisixroute mentioned above, we could see **/backend_docs** was forced to use forward-auth:

[code]

[2022-08-13 01:30] #719 closed

[2022-08-14 12:35] papdaniel commented on #1221
Here is how to reproduce:

create namespace and the ApisixTls:
[code]

check the ApisixTls status:

[code]

ingress controller logs (secret not found):

[code]

wait a few seconds, then create the tls secret
[code]

ingress controller logs (only healthcheck, no error):
[code]

apisix logs (ssl resource created successfully in apisix):
[code]

Check the ApisixTls status again, not updated:

[code]

[2022-08-14 20:38] tao12345666333 commented on #1221
thanks!

[2022-08-15 09:10] mhh12121 commented on #1235
@tao12345666333 Eventually I found a tricky solution cuz I noticed above https://github.com/apache/apisix-ingress-controller/issues/1235#issuecomment-1211479761 :
The plugin_config_ids of route B and C **are the same**: "6f589781"

Combined the following log I posted:

I GUESS they  mistook two plugins ;

So my solution is **TO DIVIDE THOSE INTO TWO SEPARATE PLUGINS** BY creating seperate **Apisix

[2022-08-15 09:28] tao12345666333 commented on #1235
thanks for your reply

[2022-08-15 09:34] tao12345666333 commented on #610
In the simplest terms, to make it easier to scale and manage, etcd must be removed. So there is a high probability that we will no longer use the Admin API

I guess it will be

[code]

APISIX may become a child process managed by another component we implement.

[2022-08-15 09:36] tokers commented on #610
What about using an ETCD adapter to let the custom component support ETCD APIs so that we can avoid any changes for APISIX.

[2022-08-15 10:02] tao12345666333 commented on #610
APISIX standalone mode will fully update the configuration, which will have some impact on health checks or caching.

[2022-08-15 10:04] #1129 closed

[2022-08-16 11:52] marchlhw opened #1248 "request help: unexpected status code 404"
### Issue description

如果apisix是新集群且没有任何apisix对象，controller启动时list所有apisix的对象，会出现404报错，导致controller无法初始化完成
![image](https://user-images.githubusercontent.com/7006014/184871757-c05e1a4b-9178-46e9-9ab4-8c4cf1f44983.png)

![image](https://user-images.githubusercontent.com/7006014/184871798-76c543a7-5095-4721-8498-34f0a118d52f.png)

### Environment

- your apisix-ingress-controller version (output of

[2022-08-16 12:20] marchlhw commented on #1248
![image](https://user-images.githubusercontent.com/7006014/184878133-3f5833b7-fec4-4c38-8588-4d0844b48956.png)
加了这一行代码解决问题

[2022-08-16 12:59] sober-wang commented on #610
Why use gRPC ?
gRPC is more complex than rest apt. we should definition more and more protbuf file and increase the code complexity.

I recommend use default APISIX admin api.

[2022-08-16 15:39] stillfox-lee opened #1249 "doc: markdown dead link"
I found some markdown dead link in CI:
[code]

[2022-08-17 02:43] akalittle commented on #1223
Any updates on this ?

[2022-08-17 08:24] tao12345666333 commented on #1249
I will close this one.  it's a temporary problem
https://github.com/apache/apisix-ingress-controller/pull/1056#issuecomment-1217672245

[2022-08-17 08:24] #1249 closed

[2022-08-17 08:38] tao12345666333 commented on #1248
cc @lingsamuel PTAL, thanks

[2022-08-17 08:45] #1218 closed

[2022-08-17 08:50] stillfox-lee commented on #644
Hi @tao12345666333 , I'm trying to use `traffic-split` plugin to implement `UDPRoute` traffic control with `weight` logic like `HTTPRoute`. Then I go through the [doc](https://apisix.apache.org/zh/docs/apisix/plugins/traffic-split/), those use cases are all about HTTP. Can `traffic-split` plugin work with UDP protocol like HTTP protocol?
If `traffic-split` plugin didn't support for UDP protocol. H

[2022-08-17 09:05] tao12345666333 commented on #712
#1222 has fixed the data  compatibility issues, and I create a PR #1250 to add cherry-pick it to v1.5

[2022-08-17 09:05] #1045 closed

[2022-08-17 09:06] tao12345666333 commented on #712
I think the original problem has been fixed, I will close this one. Thanks all.

[2022-08-17 09:43] tao12345666333 commented on #644
Currently this plugin does not yet support UDP protocol, which requires porting of this capability in APISIX.

There should be no way IRRC.

[2022-08-17 09:49] tao12345666333 commented on #644
@stillfox-lee But we may be able to have some discussions, if it is convenient for you, you can contact me at `zhangjintao@apache.org`  and we can schedule a meeting to chat

[2022-08-17 10:28] stillfox-lee commented on #644
Sure. I will contact you later. Thanks.

[2022-08-18 03:35] #970 closed

[2022-08-18 06:01] marchlhw commented on #1248
控制器在启动的时候会list所有apisix对象，截图中仅是部分对象404，那是因为我人工录入了route、upstrem、ssl到集群中，剩下的，想尝试手动的方式解决

你们可以看下controller的run方法的逻辑，404也会导致HasSynced返回异常，会导致controller每次执行到这里就退出，然后反反复复

![image](https://user-images.githubusercontent.com/7006014/185305353-c2888283-4ea3-40ba-ae65-27f9c35a031f.png)

[2022-08-18 06:41] AlinsRan commented on #1248
Why 404? Can you open the debug log?

[2022-08-18 08:20] marchlhw commented on #1248
default-apisix-cluster-base-url这个配置错了，就不是404的问题了

你们顺着这个调用链路排查下吧，这个链路就没有对错误进行区分，包括404在内
run --> HasSynced --> syncCacheOnce --> List --> listResource

[2022-08-18 08:46] tao12345666333 commented on #1248
Please provide your minimum reproduce steps.

[2022-08-18 09:35] AlinsRan commented on #1248
I have verified it. If the admin url is correct, it will not 404. If the URL is wrong, 404 will be generated.
Can you open the debug log, and request the admin url yourself?

[2022-08-18 13:30] ochuko3d opened #1252 "request help: Configure AWS Certifcate on APISIX Ingress"
### Issue description

Hi,

I want to use AWS loadbalancer to terminate SSL connections to my cluster, i have gotten a certificate and deployed the ingress controller, which has the certificate listening on port 443. I modified the scheme to HTTPS, but its fails with this "The plain HTTP request was sent to HTTPS port"

Below is my config

gateway:
[code]
but it still ends up failing

### Environm

[2022-08-18 15:02] hesamhamdarsi opened #1254 "bug: Restrictions for users(consumers) who are defined in namespaces that include hyphen(-) in their name do not work"
### Current Behavior

let's say we define the "consumer1" in namespace "aaa" . the restriction rules (method, apikey) in apisixRoute CRD  like the following works as expected:
[code]
user is able to send the GET request, but not other methods (as expected)
[code]
but as soon as we define the consumer in a namespace like "aaa-bbb" that includes hyphen symbol in it's name, the rule doesn't work as w

[2022-08-18 18:48] rjiang-ptm opened #1253 "request help: support apisix timeout param at the ApisixRoute level"
### Issue description

Does apisix ingress controller support timeout setting/config at the ApisixRoute level?

We have a need to upload large file, eg. 5G file but got 504 timeout error due to ingress controller limit. Would like to be able to extend the default `timeout` setting at the Route level.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller ve

[2022-08-19 02:09] tao12345666333 commented on #1254
please add a test case to cover this one, thanks @AlinsRan   @lingsamuel

[2022-08-19 03:02] marchlhw commented on #1248
现在环境我已经推到重建了没有复现，即使是全新的集群没有任何对象，list时也会响应200，可能我当时部署环境的有问题，但baseurl我可以保证是没有问题的，因为我没有修改过这个配置，我重建集群很快，通过ansible自动化部署
![image](https://user-images.githubusercontent.com/7006014/185533023-3d9965b0-ea7c-4c1d-b5f1-3c1b4b8bcdf0.png)

[2022-08-19 08:17] tao12345666333 commented on #1223
@Chever-John Please help check this issue when you are free.
I think you are more familiar with GraphQL

[2022-08-19 08:19] tao12345666333 commented on #1253
you can set it by ApisixUpstream

[2022-08-19 08:21] tao12345666333 commented on #1252
Can you post your APISIX installation steps?

[2022-08-19 08:33] Chever-John commented on #1223
@tao12345666333 @akalittle

This does seem to be my area of expertise, so leave it to me~

Estimated completion time: within 24 hours.

[2022-08-19 08:58] ochuko3d commented on #1252
no i cannot, thats from the pod
![image](https://user-images.githubusercontent.com/28976224/185583556-bb8d16a6-b9f7-4243-8d39-b00b1d73beee.png)

This is from the service
![image](https://user-images.githubusercontent.com/28976224/185583746-cd1e9130-1111-42d9-addb-3b626d76aeb1.png)

[2022-08-19 19:05] tao12345666333 commented on #610
If there is no storage component, then we will drop the Admin API @sober-wang

Using gRPC allows for active push configuration via the server.
Even introducing xDS here is an option

It is normal for new features to introduce some code changes.

While the current mode is really simple, obviously I want it to be more powerful.
I won't stop it for fear of needing to write code or adding complexity

[2022-08-19 19:10] tao12345666333 commented on #1214
Thanks for the reminder, sorry I remembered wrong

https://apisix.apache.org/docs/apisix/terminology/consumer/

So I think we can fill this part of the capacity

[2022-08-19 19:15] tao12345666333 commented on #1214
@akalittle Are you interested in implementing this feature?

It's not complicated and there is some existing code for reference.
Feel free to ping me if you have any issues implementing this feature

[2022-08-19 19:19] tao12345666333 commented on #592
@Donghui0 thanks for your contributions! Yes, I'd love to merge it!

But there are some conflicts, and I want the feature to just be added to the v2 version of the API

[2022-08-19 19:21] #822 closed

[2022-08-19 19:35] tao12345666333 commented on #1017
I think the above replies have answered this question.
And this issue has not been updated for a long time, we can safely close it

[2022-08-19 19:35] #1017 closed

[2022-08-21 02:40] Chever-John commented on #1223
The survey results are in:
@akalittle is right.
@tao12345666333  Now APISIX-ingress-controller does not support CRD resource configuration for GraphQL at this time. We need to add functionality for `exprs`.

@akalittle The following command may temporarily fulfill your needs.

[code]

@tao12345666333
I need to explain the mechanism of GraphQL briefly. The GraphQL phase is supposed to take effect o

[2022-08-21 02:44] tao12345666333 commented on #1223
thanks

we can add it to TODO list.

But I won't make any promises. I'm happy to accept PRs from anyone

[2022-08-21 14:20] #966 closed

[2022-08-21 14:29] tao12345666333 commented on #744
#1056 has been merged. APISIX Ingress controller now supports configuring plugins in stream route.

I will close this one. thanks

[2022-08-21 14:29] #744 closed

[2022-08-22 08:38] marchlhw opened #1264 "request help: 默认集群名称始终为default"
### Issue description

![image](https://user-images.githubusercontent.com/7006014/185877342-0720691a-ba7b-4d8b-8831-a4cc9819aa01.png)
这个地方缺少yaml标签，会导致默认集群名称始终为default
![image](https://user-images.githubusercontent.com/7006014/185877753-ebb8cf20-593e-4cdf-b5c3-d6384533c538.png)

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Ku

[2022-08-23 13:21] xianshun163 opened #1266 "help request: How to support multiple ports for the ApisixUpstream"
### Description

I want to  define  multiple ports for the ApisixUpstream ,
I refer to the documentation
https://apisix.apache.org/zh/docs/ingress-controller/1.4.0/concepts/apisix_upstream/

when I create  my ApisixUpstream use  kubectl apply -f  test-up.yaml,
it make a err like this:
apisixupstream.apisix.apache.org/xsgrpc-service unchanged
error: error validating "test-up.yaml": error validating

[2022-08-24 08:31] xiangtianyu opened #1267 "request help: start failed"
### Issue description

I used 1.4.1 in our test env, and met the same problem with #1165  , so i cherry pick the fix merge #1191 into our branch (1.4.1) and when we start, it failed with such error :

[code]

And then i found a similar fix #1192 ,and then cherry picked the merge, but when i have an another try,it still failed. Is this a bug?

### Environment

- your apisix-ingress-controller versi

[2022-08-24 08:48] AlinsRan commented on #1267
Let me take a look at this code. `/build/pkg/ingress/apisix_upstream.go:326`

[2022-08-24 08:51] AlinsRan commented on #1267
You should use 1.5 verson. This V2 version supports the introduction of. Those PR are dependent.

[2022-08-24 08:56] tao12345666333 commented on #1267
In fact, this is due to your incomplete cherry-pick of all its dependencies.  I suggest you to use the current 1.5.0-rc1 version directly

[2022-08-24 09:02] xiangtianyu commented on #1267
line 326 is "zap.String("ApisixUpstream", event.Object.(string)),"
[code]

[2022-08-24 09:05] xiangtianyu commented on #1267
I've followed this task #1194 , and the task "a new Helm chart release" was marked as done

[2022-08-24 09:05] AlinsRan commented on #1267
There is indeed this problem. Do you want to try to fix it?

[2022-08-24 09:07] xiangtianyu commented on #1267
Actually, i have no idea about this :(

[2022-08-24 09:08] AlinsRan commented on #1267
OK, I'll fix it right away.

[2022-08-24 09:23] AlinsRan commented on #1267
Thank you for your feedback. #1268

[2022-08-25 03:20] #1266 closed

[2022-08-25 03:51] xianshun163 opened #1269 "bug: Unstable when configuring HTTP and grpc at the same time"
### Issue description

1、I have a  service ， it have a port for  http,  and  other port for grpc
2、when  I config  the apisixupstream  and  apisixroute， And then  I go to the  apisix dashboard  to check  the config ,
      the  result is unstable
3、some times the upstream of the  grpc route in  the dashboard is grpc, and sometimes it is http.

here is my config
[code]
![image](https://user-images.

[2022-08-25 03:51] tao12345666333 commented on #1266
Obviously, you just wrote the spec of the service wrong
I see you closed this issue, presumably the issue should have been resolved

[2022-08-25 03:56] tao12345666333 commented on #1269
In fact I don't recommend you mix it up.
But if you really want to use it like this, the function should work fine.

Please add the minimal steps to reproduce (including the YAML used) so others don't have to waste time reproducing this issue.
It can also be used to check if the problem is caused by you using the wrong configuration

[2022-08-25 03:58] tao12345666333 commented on #1264
thanks for your report.

Do you want to open a PR to fix this?

[2022-08-25 03:58] #1173 closed

[2022-08-25 04:03] tao12345666333 commented on #1267
#1268  has been merged. I think we can close this one. If your question still not resovled, feel free to reopen it and reply.

[2022-08-25 04:03] #1267 closed

[2022-08-25 04:15] tao12345666333 commented on #1221
Would you like to try to fix this problem?

There is a `recordStatus` function in the code to record the change of the status

[2022-08-25 04:49] xianshun163 commented on #1269
Minimal test code / Steps to reproduce
1、deploy a service with 2 port
2、config apisixupstream
3、config apisixroute for http
4、config apisixroute for grpc
goto the apisix dashboard to see the upstream .
you can do more test by delete the apisixroute of grpc, and create it again.

my  yaml file  is  like this:
[code]

[2022-08-25 07:46] cabrinoob opened #1270 "request help: Using an existing certificate secret for TLS"
### Issue description

Hi,
I'am trying to configure apache/apisix-ingress-controller:1.4.1 for TLS on my Kubernetes 1.21 cluster. There is already an nginx ingress controller that runs on this cluster (with TLS).

So, there is also an existing K8S Secret (managed by cert-manager) in kube-system namespace that contains the certificate for TLS encryption. And in my NGINX ingress controller helm valu

[2022-08-25 08:59] marchlhw opened #1271 "request help: 控制器采集指标不一致问题"
### Issue description

控制器源码中请求apisix的状态码指标名称为：apisix_ingress_controller_apisix_bad_status_codes

![image](https://user-images.githubusercontent.com/7006014/186620589-c6f81ff5-3fc3-47a8-b615-1f6d5fffe039.png)

grafana的dashboard的配置中却为：apisix_ingress_controller_apisix_status_codes
源码中dashboard配置文件路径为：docs/other/json/apisix-ingress-controller-grafana.json
![image](https://user-images.githubuserconten

[2022-08-25 09:04] marchlhw commented on #1271
使用apisix_ingress_controller_apisix_status_codes要合理些

[2022-08-25 09:50] tao12345666333 commented on #1271
what's your code version?

It has been changed. https://github.com/apache/apisix-ingress-controller/pull/1012

[2022-08-25 09:50] akalittle opened #1273 "request help: apisix-ingress-controller reload some data to etcd when start up"
### Issue description

[code]

After I delete the whole directory of apisix in etcd, but after I restart the apisix-ingress-controller, the old data come back to etcd.

I'm quite curious about this log :`Waited for 1.000344968s due to client-side throttling, not priority and fairness, request: GET:https://oneipaddress:443/apis/apisix.apache.org/v2beta3/namespaces/gcp-auth-proxy/apisixroutes`
``
So

[2022-08-25 09:51] tao12345666333 commented on #1271
https://github.com/apache/apisix-ingress-controller/issues/1005

[2022-08-25 10:08] tao12345666333 commented on #1270
You can first see if these two documents are helpful. In fact, I don't fully understand your ultimate goal

FYI:

- https://apisix.apache.org/blog/2021/10/22/cert-manager-in-ingress/
- https://apisix.apache.org/docs/ingress-controller/tutorials/manage-ingress-certificates-with-cert-manager/

[2022-08-25 10:54] marchlhw commented on #1271
控制器的版本是1.4.1，看到已经修复了这个问题，计划什么时候出1.5正式版

[2022-08-25 11:00] tao12345666333 commented on #1271
1.0.5-rc1 has been released

V1.5.0 Scheduled to be released within two weeks

[2022-08-25 11:01] #1271 closed

[2022-08-25 11:16] tao12345666333 commented on #1273
All data comes from existing data in Kubernetes.  This is normal behavior.

This is the mechanism for all controllers

[2022-08-25 12:57] tao12345666333 commented on #1270
If it's just such a need, it's perfectly fine.

It doesn't matter which namespace is deployed in, it mainly depends on the namespace where the resource is located

[2022-08-25 13:29] akalittle commented on #1273
So could you tell me how  can I reach this data , or delete them totally by another way.

[2022-08-25 16:38] tao12345666333 commented on #1273
`kubectl get ing,ar -A`

[2022-08-26 06:33] xiangtianyu opened #1275 "request help: ingress duplicate data"
There are both apisix ingress and other ingress controllers in our env(such as traefik and nginx). So when the apisix ingress controller get and analyze these datas, it may create duplicate routes. Is there any suggestions to avoid this ?

[2022-08-26 06:55] #1273 closed

[2022-08-26 06:55] akalittle commented on #1273
Thanks for help.

[2022-08-26 09:10] ryan4yin commented on #935
@tao12345666333 APISIX's subsets is very similar to Istio, it's a nice feature, but I wondering how to make a service's subset as a backup.

According to the docs https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/references/apisix_route_v2.md, it seems that only subset's weight can be modified via `http[].backends[].weight`, and there is no way to set subset's `priorit

[2022-08-26 10:00] AlinsRan commented on #1254
e2e: https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/suite-plugins/suite-plugins-security/consumer-restriction.go#L215
ns: https://github.com/apache/apisix-ingress-controller/blob/master/test/e2e/scaffold/scaffold.go#L38

This scenario has been covered.
In e2e, the default ns format is `ingress-apisix-e2e-tests-xxx-xxx`.

[2022-08-26 14:46] tao12345666333 commented on #1254
@hesamhamdarsi please check the reply 👆

[2022-08-26 14:53] tao12345666333 commented on #935
@ryan4yin refer to https://github.com/apache/apisix-ingress-controller/tree/master/test/e2e/suite-features

The subset case

[2022-08-26 14:54] tao12345666333 commented on #1275
Using ingress class to split them

[2022-08-26 17:48] Phoebus888 opened #1276 "如何使用自己的etcd集群"
### Issue description

如何使用自己的etcd集群

### Environment

k8s部署apisix-ingress

[2022-08-26 23:20] tao12345666333 commented on #1276
Refer to https://github.com/apache/apisix-helm-chart/blob/c20437f72bb9f8f3a9ae3c23429054079d2711bd/charts/apisix/values.yaml#L379

[2022-08-27 02:55] juzhiyuan commented on #1270
Hi @cabrinoob, may I know if you have solved this problem? If yes, we can update this issue's status :)

P.S. We have a Slack channel under the ASF with 900+ members. Welcome to join in according to https://apisix.apache.org/docs/general/join/. Also, we're open to having a quick online meeting to know each other and help your team, and you can pick one slot at your convenience from https://meeting

[2022-08-27 08:34] hesamhamdarsi commented on #1254
Hi again,

The scenario @AlinsRan is shared have a section where all "-" will be replaced by "_" (in apisixConsumer probably because of the tracking consumers to they key, user/pass, etc) and then you injected this automatically in your unit test.
https://sourcegraph.com/github.com/apache/apisix-ingress-controller@master/-/blob/pkg/types/apisix/v1/types.go?L538#tab=references
So in your unit test,

[2022-08-27 11:23] xiangtianyu commented on #1275
I got it,thanks

[2022-08-27 11:23] #1275 closed

[2022-08-28 05:20] #1276 closed

[2022-08-28 10:49] papdaniel commented on #1221
Yes, sure,I'll try.

[2022-08-28 13:53] papdaniel commented on #1221
Just cloned and tried out on master, now it's working:
![image](https://user-images.githubusercontent.com/28708447/187076816-3614e4bb-e179-4af6-9443-c4a2c7373eed.png)

I think it got solved by this commit a few weeks ago: [d32c728](https://github.com/apache/apisix-ingress-controller/commit/d32c728139a706bbad155a5e58514a3e59a841e4) on [these](https://github.com/apache/apisix-ingress-controller/blob

[2022-08-29 01:21] AlinsRan commented on #1254
Yeah, the following configurations are actually used in e2e:

[code]

In fact, the expectation should be as follows:

[code]

[2022-08-29 01:30] #721 closed

[2022-08-29 01:30] #749 closed

[2022-08-29 01:30] #786 closed

[2022-08-29 02:17] tao12345666333 commented on #1254
In fact this is because APISIX does not allow consumer usernames to contain `-`

https://github.com/apache/apisix/blob/1aa45caf2fa59e5f7add70db0439eda20cf59eb8/apisix/schema_def.lua#L713

We first need to modify the schema in APISIX

[2022-08-29 02:29] tao12345666333 commented on #1221
Thanks for your confirmation, then I think this issue can be closed, right?

[2022-08-29 02:32] tao12345666333 commented on #1221
Also, I thought maybe we should create a patch for 1.5.0 to use .
Because we haven't released the official version of v1.5.0, the current release is the rc1 version

You can try `v1.5.0` branch https://github.com/apache/apisix-ingress-controller/tree/v1.5.0
Thanks!

[2022-08-29 02:45] cj2a7t opened #1281 "request help: route mode"
### request description

- Can I write the routing information to the data plane directly through the admin API instead of through `apply apisixroute crd`？
- Only use RegexMatch method for parameter route matching with path?  Example `/users/{userId}/setting`

### Environment

in apisix-ingress-controller

[2022-08-29 03:24] tao12345666333 commented on #1281
NO, If you use the APISIX Ingress controller, the only way to configure it is through the declarative API

I didn't understand what you meant

[2022-08-29 08:36] xianshun163 commented on #1269
Hi, is that  any doc  about how to developer the apisix-ingress-controller,  especially, can it  be run by  local ide  ,outside  the  k8s.
If there are some explanations,  so that I can try to debug it myself, and check the  problem.

[2022-08-29 10:12] wolgod opened #1292 "request help: apisix ingress controller is support apisix 2.15？"
### Issue description

apisix ingress controller is support apisix 2.15？

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):2.14.1
- your Kubernetes cluster version (output of kubectl version):1.18
- if you run apisix-ingress-controller in Bare-metal environment, also show your OS version (uname -a):centos7.6

[2022-08-29 14:13] tao12345666333 commented on #1292
yes. we use APISIX 2.15 as default e2e environment

[2022-08-29 14:14] tao12345666333 commented on #1292
yes. we use APISIX 2.15 to run e2e test cases

[2022-08-29 14:25] tao12345666333 commented on #1269
Refer to https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/contribute.md

[2022-08-29 14:29] #1264 closed

[2022-08-30 04:10] MBoui opened #1296 "request help: Gateway Api configuration"
### Issue description

Hi,

I try to setup a local environment with `kind` or `minikube` and use the k8s Gateway API.
I already enable the config `enableGatewayAPI` but it's look i need to setup also the `ingress_publish_service` value.
I am not sure about which service i need to use, can you help me?

ty,

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-control

[2022-08-30 05:32] wolgod commented on #1292
thanks

[2022-08-30 05:32] #1292 closed

[2022-08-30 06:08] tokers commented on #1207
Consider closing this issue since https://github.com/apache/apisix-ingress-controller/pull/1279 was merged.

[2022-08-30 06:08] #1207 closed

[2022-08-30 07:33] tao12345666333 commented on #1296
Typically, it is the APISIX Gateway service.

[2022-08-30 07:35] tao12345666333 commented on #1296
refer to https://github.com/apache/apisix-ingress-controller/blob/31b3ef84be4e96dc663de883ef5730a03bfb962b/conf/config-default.yaml#L40-L49

[2022-08-30 08:59] lingsamuel opened #1300 "e2e-test: add case for unwatched namespace being watched"
Assuming we have namespace test-ns is not being watched now, we should add a case where all resources are handled correctly after we label the namespace.

[2022-08-30 13:32] jerrytaotz opened #1301 "request help: port not defined"
### Issue description

When we try to update APISIXRoute CRD，the ingress controller report the error like this:
![企业微信截图_20a983e2-1019-401e-a325-e3a92ab08ea4](https://user-images.githubusercontent.com/15017733/187448326-8c98aeee-eecc-4bc9-a568-774a0b02fe54.png)
It looks like this problem only appears when we try to update/delete ports, it works fine with adding new ports.
The steps as followed:
1.

[2022-08-30 22:47] #1296 closed

[2022-08-31 00:36] choryuidentify opened #1302 "request help: Ingress Controller spamming info log repeatly"
### Issue description

Hi.

I installed apisix on GKE Autopilot cluster using with this command.
[code]

After deploy, `apisix-ingress-controller` start log spamming immediately.

[code]

It's a bug? or can I disable it?

Thank you.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
Version: 1.4.1
Git SHA: no-git-module
Go Version: go1.

[2022-08-31 01:03] tao12345666333 commented on #1302
APISIX Ingress will watch all namespaces by default. You can change the namespace selector configuration to filter namespace

[2022-08-31 01:06] tao12345666333 commented on #1301
Please paste CR configuration YAML directly instead of images.

This makes it easier for others to reproduce the problem

[2022-08-31 01:30] #852 closed

[2022-08-31 01:30] #854 closed

[2022-08-31 04:39] TimVerbois opened #1304 "Automatically reload ingress upon certificate renewal"
### Issue description

I use cert-manager in combination with an ingress controller from APISIX.  Cert-manager replaces certificates in time and the secret containing the certificate always contains a valid certificate, but this is not picked up by the ingress controller.

I tried bumping the ingress by changing it slightly (like adding a label or an annotation), but it doesn't result in a solutio

[2022-08-31 04:54] TimVerbois opened #1305 "APISIX ingress controller logs error about OLD ingress configurations"
### Issue description

The logs of my APISIX ingress controller are filled up by errors about ingress configurations that are already gone for days:

<img width="1023" alt="Screenshot 2022-08-31 at 06 45 10" src="https://user-images.githubusercontent.com/11339705/187594973-888231d5-664c-471a-992d-2171580a1b9b.png">

The ingress configurations are reported as missing as are the certificates, but th

[2022-08-31 09:15] tao12345666333 commented on #1304
Thanks for your report.

Normally, cert-manager will update the secret resource, then ingress-controller can update it to APISIX.

How do you verify that the certificate is not valid? By checking the status? or log? Or some other way?

[2022-08-31 09:17] tao12345666333 commented on #1305
Can you check if this resource exists?

[2022-08-31 09:19] tao12345666333 commented on #831
The development window for v1.5 has been closed, we are currently in the release window, I will close this issue, thank you everyone

[2022-08-31 09:19] #831 closed

[2022-08-31 09:21] tao12345666333 commented on #1194
[code]

v1.5.0-rc1 helm chart has been released. you can add `--devel` flag to search it.

[2022-08-31 10:03] lingsamuel opened #1307 "chore: rename TranslateXXNotStrictly to GenerateXXDeleteMark"
We should explicitly show what these functions do and when it should be used.

[2022-08-31 11:25] xiangtianyu opened #1308 "request help: error when ingress_publish_service is null"
### Issue description

I update our ingress controller to 1.5.0-rc1 right now, and met a strange error

`{"level":"error","time":"2022-08-31T18:58:37.882741632+08:00","caller":"ingress/status.go:280","message":"failed to get APISIX gateway external IPs","error":"resource name may not be empty"}`

I trace the error and found if ingress_publish_service is "" in the config, the code in  `IngressPubli

[2022-08-31 11:29] tao12345666333 commented on #1308
thanks，it's expected behavior

[2022-08-31 11:31] tao12345666333 commented on #1307
Two puzzles in the computer world, caching and naming. 😂

[2022-08-31 11:34] xiangtianyu commented on #1308
So that means we MUST set "ingress_publish_service" ?

[2022-08-31 11:52] xuminwlt commented on #1308
Is it must set apisix gateway's namespace and svc name?
apisix gateway's namespace is not the same to biz's namespace.

[2022-08-31 12:05] tao12345666333 opened #1309 "discuss: New feature in Apache APISIX Ingress controller v1.6"
Hi, folks

The Apache APISIX Ingress controller v1.5 version has been entered release window, and it is time to discuss the plans in the v1.6 version together.

I think the following features need to be included:

- [ ] Gateway API https://github.com/apache/apisix-ingress-controller/issues/644

    - [x]   * #1217
    - [x]   * #1278
    - [ ]   * #1418  HTTPRoute more complete support, such as fi

[2022-08-31 12:34] tao12345666333 commented on #1194
[code]

[2022-08-31 13:14] xiangtianyu opened #1310 "bug: ingress filter is not handled in resource sync logic"
### Issue description

Apisix ingress controller can filter other ingress controller object by setting ingressclassname. But it seems not work in 1.5.0-rc1. I checked the code and found the filter is implement by

[code]

and called in onadd, ondelete, onupdate

but in the new func

[code]

it did't do such check, is this a bug?

### Environment

- your apisix-ingress-controller version (output of

[2022-08-31 17:41] MBoui commented on #533
any news on the PRs?

[2022-09-01 00:09] choryuidentify commented on #1302
@tao12345666333 Thanks!

[2022-09-01 00:09] #1302 closed

[2022-09-01 01:04] tao12345666333 commented on #1308
Not required.  But it is recommended to set.

Some platforms display Ingress status and other information based on this information (e.g. rancher

[2022-09-01 01:07] xiangtianyu commented on #1308
But if we did not set this value, it will continuously output error

[2022-09-01 01:32] #862 closed

[2022-09-01 01:32] #934 closed

[2022-09-01 01:32] #945 closed

[2022-09-01 01:46] AlinsRan commented on #1310
I think this is a bug. Do you want to try to fix it?

[2022-09-01 01:48] AlinsRan commented on #1310
cc @tao12345666333 .

[2022-09-01 02:57] choryuidentify opened #1312 "request help: cannot attach domain automatically (external-dns)?"
### Issue description

Hi.

I've install APISIX with Ingress controller on GKE Autopilot Cluster.

[External-DNS](https://github.com/kubernetes-sigs/external-dns) is DNS Record updater for assign Public IP to specific sub-domain.
I need automatic assign & update records, but It does not work.

I create Ingress and waiting few minute until appear Ingress's Public IP, but is not appeared.
I think it

[2022-09-01 04:48] tao12345666333 commented on #1312
You should add a configuration.

Refer to https://github.com/apache/apisix-ingress-controller/blob/0b999ec1d3087f7bf0037acbe2d398eaa0efab2a/conf/config-default.yaml#L40

[2022-09-01 05:02] akalittle commented on #1214
@tao12345666333
I just saw this. I will try to solve this  this weekend.

[2022-09-01 05:26] choryuidentify commented on #1312
@tao12345666333 Thanks Again! It many helps!

[2022-09-01 05:26] #1312 closed

[2022-09-01 05:32] tao12345666333 commented on #1312
You're welcome, so has this issue been resolved?

[2022-09-01 05:34] tao12345666333 commented on #1214
I will reopen this issue for tracking and assign it to you

[2022-09-01 05:42] choryuidentify commented on #1312
Yes!
I have re-install `apisix/apisix` Helm chart with `--set ingress-controller.config.ingressPublishService=ingress-apisix/apisix-gateway` parameter.
After that, the Ingress start displaying correct Public IP and External-DNS create a A record perfectly!

[2022-09-01 12:50] MBoui commented on #1309
- Knative support ? :)

[2022-09-01 16:50] tao12345666333 commented on #1309
thanks!  SGTM

This will help us expand the ecosystem

[2022-09-02 02:46] machinly commented on #1309
Support  multi cluster management should be helpful.
`ApisixClusterConfig` was designed for this, but not completed.

[2022-09-02 05:57] lihuawei321 opened #1316 "request help: 2个apisix-ingress-controller用同一个etcd时候无法隔离"
### Issue description

当我在一个k8s环境的2个命名空间各自部署一套apisix（包括ingress和dashboard），但是2套apisix用的同一个etcd，但是是不同的prefix。每个命名空间有不同的apisix.ingress的label，并且ingress-controller的配置里也配置不同的  app_namespaces和 namespace-selector。但是当我在其中一个命名空间里创建apisixroute和apisixupstream时候，2个命名空间下的apisixdashboard有对方命名空间的apisixroute和apisixupstream。查看etcd时候，2个prefix下都有同样的route和upstream。
就是当2个apisix使用同一个etcd时候，互相会有冲突。

### Environment

- yo

[2022-09-02 06:03] tao12345666333 commented on #1208
Sorry for delay.

Your scenario doesn't need to be done using public-api

[2022-09-02 06:08] AlinsRan commented on #1316
In fact, the apisix-ingress-controller is not aware of etcd.
The `app_namespaces` has been deprecated. Maybe it was affected by this bug #1238 .

[2022-09-02 06:18] AlinsRan commented on #1316
The problem of `namespace-selector` invalid will be fixed in v1.5.0.
You can use ingress resources, and then isolate resources through different [IngressClass](https://github.com/apache/apisix-ingress-controller/blob/master/conf/config-default.yaml#L69).

[2022-09-02 06:52] tao12345666333 commented on #1316
Please refer to #592

[2022-09-02 06:53] wolgod opened #1317 "bug: sometimes the k8s apisixroute will not sync to apisix"
### Issue description

apisixroute 内容变动的时候我通过client去更新apisixroute，k8s中apisixroute资源文件 内容也更新了status也显示成功，但是并没有同步到apisix中，
这个问题已经出现过多次了,没排查到原因

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):1.4.1
- your Kubernetes cluster version (output of kubectl version):1.18
- if you run apisix-ingress-controller in Bare-metal environment, also sho

[2022-09-02 07:03] wolgod commented on #1301
我也遇到过类似的问题，如果svc的port变化了，同步更新apisixroute的话就会出现这个问题，我这边的解决办法是如果port端口发生变化，我会删掉旧的apisixtroute 然后重新创建新的apisixroute,如果

[2022-09-02 07:49] TimVerbois commented on #1305
No, it doesn't, it did exist a while back, but it has been removed for over a week:

[code]

[2022-09-02 07:53] TimVerbois commented on #1304
I use

[code]

The result I get back is the old certificate.

I'm sure cert-manager updates the cert, because if I check the secret and use

[code]
i get a valid certificate (the dates have been updated).

[2022-09-02 08:10] AlinsRan commented on #1317
Can you give me a reproduction step unrelated to business.

[2022-09-02 08:45] tao12345666333 commented on #1317
Can you test with v1.5.0-rc1 version? The Helm chart has been released  (since its a pre-release,  so you need to add `--devel` flag to helm command.

[2022-09-02 09:01] lihuawei321 commented on #1316
我用了ingressclass，也是2个命名空间下的apisixdashboard都会创建。

[2022-09-02 09:14] lingsamuel commented on #515
If any CRD validation rules cannot be represented by markers, we should ensure that they are migrated to our code.

[2022-09-02 10:01] lingsamuel commented on #1226
The general idea is that our e2e cases are a combination of many small cases. We can achieve complex cases by combining small cases.
Here are some possible code snippets that describe how I think this proposal would work

Let's assume that we have a type called Tester that will contain the automation features we need.

1. Code snippet of basic functionality
[code]
Here we can notice that both `Exp

[2022-09-02 10:54] #1310 closed

[2022-09-02 21:28] fhuzero commented on #533
Here is a PR I was working on to add support for Knative #606.

[2022-09-03 01:30] #987 closed

[2022-09-03 11:58] tao12345666333 commented on #533
Thanks for your contribution, would you like to pick it up? @fhuzero

[2022-09-03 13:18] wolgod commented on #1317
我不知道问题啥时候发生的，是在业务使用过程中每隔几天就会出现，因为我的路由会同时生成到traefik中，我是通过定时任务对比发现traefik和apisix中路由的差异才发现路由丢失，进而去回溯事件发生的原因，在我的测试中也没有出现这个问题，不知道是否和生产环境中路由个数比较多有关，大约有3000多个apisixroute资源

[2022-09-03 13:18] wolgod commented on #1317
我不知道问题啥时候发生的，是在业务使用过程中每隔几天就会出现，因为我的路由会同时生成到traefik中，我是通过定时任务对比发现traefik和apisix中路由的差异才发现路由丢失，进而去回溯事件发生的原因，在我的测试中也没有出现这个问题，不知道是否和生产环境中路由个数比较多有关，大约有3000多个apisixroute资源

[2022-09-04 07:01] tao12345666333 commented on #1317
Maybe you can try to enable the debug mode log and see if there is any relevant information.

[2022-09-04 07:03] tao12345666333 commented on #1304
You can try to get the ssl resource object through APISIX's admin API and check whether the content is correct

[2022-09-04 07:06] tao12345666333 commented on #1309
@machinly Are you referring to managing multiple APISIX clusters through one APISIX Ingress controller?

[2022-09-04 07:09] tao12345666333 commented on #1309
In fact, we will achieve the goal of managing multiple APISIX instances through one Ingress controller.
This is necessary for a complete implementation of the Gateway API.

We can dynamically state the APISIX instance simply by creating a `Gateway` resource.

[2022-09-04 07:15] tao12345666333 commented on #1305
Then you can check, is it referenced by other resources? Such as Ingress or ApisixTls resources, etc.

[2022-09-04 13:49] papdaniel commented on #1221
I won't really have time for this, sorry.

[2022-09-05 02:51] machinly commented on #1309
The field `parentRefs` in `HTTPRoute` is exactly what I needed. Gateway API is awesome.

[2022-09-05 02:58] machinly commented on #1317
Similar problem. And I observed that normal sync generates two `ResourcesSynced` events, while abnormal sync only has one event

[2022-09-05 06:58] tao12345666333 commented on #1317
@machinly Can you provide steps to reproduce? Or provide more relevant information, thank you

[2022-09-05 08:24] tao12345666333 commented on #1221
Don't worry, thanks for your contribution

[2022-09-06 10:56] hyt05 opened #1321 "Create apisixupstream resource not showing on dashbord"
### Issue description

This is my config info, after I apply apisix-dashbord upstream doesn't show data
[code]
kubectl describe apisixupstreams.apisix.apache.org nginx
[code]

### Environment

apache/apisix-dashboard:2.13-alpine
apache/apisix:2.13.1-alpine
apache/apisix-ingress-controller:1.4.1
kubernetes：v1.24.2+rke2r1
Linux master1 5.15.0-39-generic #42-Ubuntu SMP Thu Jun 9 23:42:32 UTC 2022 x86

[2022-09-06 13:35] jaysonsantos opened #1322 "bug: controller will erase status from ingress that uses another class"
### Issue description

Hi there, I got an edge case where when I have an ingress that uses ALB and apisix is installed to control other ingresses, the controller erases the status from the load balancer even though the ingress is not managed by apisix with the class name.

To test if this was the problem, I applied this patch locally
[code]
But am not sure if it covers all the possibilities, like

[2022-09-06 14:48] jaysonsantos commented on #1322
i think a better approach would be this:

[code]

but i am still not sure why the event arrived in the first place if `isIngressEffective` is always called before `c.workqueue.Add`

[2022-09-06 18:27] jaikewhh166 opened #1323 "request help: apisix-ingress-controller metric 端口及路径"
### Issue description

1. 使用ApisixClusterConfig开启prometheus插件，默认的端口和路径是什么？
2. apisix-ingress-controller 容器内只监听 8080端口

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): helm  chart apisix-0.11.0
- your Kubernetes cluster version (output of kubectl version): 1.25
- if you run apisix-ingress-controller in Bare-metal environment, also show

[2022-09-06 18:33] #1323 closed

[2022-09-07 00:19] fhuzero commented on #533
@tao12345666333 Thanks for the follow-up! So glad to see that the APISIX ingress controller project has grown a lot since when I created this issue.

My schedule is tight right now, but I'm willing to pick it up from where I left if I have time in the future. By the way, I'm curious about the development machine and environment for the project. Any recommendations for setting up the environment? I

[2022-09-07 00:45] tao12345666333 commented on #533
Typically, we use KIND to start a local cluster when developing locally, and deploy 1 replica of APISIX and etcd in it.  That's enough.

In addition, if you don't want to develop locally, you can also choose a cloud environment like GitPod, which is also very convenient

[2022-09-07 05:39] tao12345666333 commented on #1321
You must create an ApisixRoute resource to use the ApisixUpstream.

[2022-09-07 05:58] tao12345666333 commented on #1322
maybe #1311 ？

[2022-09-07 06:09] hyt05 commented on #1321
How ApisixRoute resources reference ApisixUpstream

[2022-09-07 06:13] hyt05 commented on #1321
Thank you very much, after I created it successfully displayed on dashbord

[2022-09-07 06:13] #1321 closed

[2022-09-07 06:52] jaysonsantos commented on #1322
i will try and deploy latest master and see how it goes

[2022-09-07 10:30] xianshun163 commented on #1269
@tao12345666333  hi， I make a  debug at my local env,   may be this is a err :
look at the image  below,
the code:     portLevelSettings[port.Port] = &port.ApisixUpstreamConfig

the  value of the portLevelSettings will be  the same as  the au.Spec.PortLevelSettings ,
but as the show in the image ,  the value of the schema is not the same  for port 2080.
one is http, and  other is grpc.

![MJ~F%LYD

[2022-09-07 10:51] xianshun163 commented on #1269
I have  write some logs, make be it is more clear

![image](https://user-images.githubusercontent.com/32457473/188860719-ca52549d-984c-4604-9cfb-15510cf53fce.png)

[2022-09-07 13:14] tao12345666333 commented on #1269
Thanks for your report!

This is useful

[2022-09-07 23:12] fhuzero commented on #533
Thank you for the info!

[2022-09-08 13:18] cabrinoob commented on #1270
Hi,
Not now. I pause this POC for some days.

[2022-09-09 06:22] wolgod commented on #1317
今天又发现几个路由丢失的情况，出现的情况都是一个路由增加几个其他路由的场景，当我尝试去修改其中的一个路由里面的websocket字段为false后该路由会同步,但是另外几个新增的不会同步，应该是内存里已经有了路由所以对比没有变化就没有更新，手动去更新另外几个路由的其中一个字段也能同步更新

我尝试去定位一下是否是调用apisix失败导致丢失，但是没有找到相关日志
[code]

[2022-09-09 09:07] lingsamuel opened #1325 "feat: should follow desired error behavior of GatewayAPI"
For example:

https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1alpha2/httproute_types.go#L228-L232

[code]

[2022-09-09 12:19] stillfox-lee commented on #1325
I’d like to help.

[2022-09-09 14:47] tao12345666333 commented on #870
#1251 has been merged, we can close this one.

Thanks all @AlinsRan @MirtoBusico

[2022-09-09 14:48] #870 closed

[2022-09-09 14:48] tao12345666333 commented on #1157
#1251 has been merged. We can close this one

[2022-09-09 14:49] tao12345666333 commented on #1225
#1251 has been merged. This can be closed.

Thanks

[2022-09-09 14:50] #1225 closed

[2022-09-09 20:59] tao12345666333 commented on #1325
assigned, thanks @stillfox-lee

[2022-09-09 21:04] tao12345666333 commented on #1317
You can check both Ingress controller and APISIX's log.

If controller sync resource to APISIX, you can find the log

[2022-09-10 03:04] tao12345666333 commented on #1269
We checked the code and found that there is indeed a bug here, and the solution is very simple, would you like to submit a PR to fix it? @xianshun163

just change it to `portLevelSettings[port.Port] = port.ApisixUpstreamConfig`

https://github.com/apache/apisix-ingress-controller/blob/9d663abec02f09ece4af9aa99713de3e878146f6/pkg/providers/apisix/apisix_upstream.go#L165

https://github.com/apache/a

[2022-09-10 14:05] sanjimoh opened #1326 "Deletion of Kubernetes Gateway httproutes resource is not deleting the corresponding Apisix route configurations"
### Issue description

- Created a Gateway route configuration -

[code]

- The above route configuration created a corresponding apisix route resource -
[code]

- Deleted the Kubernetes Gateway API route configuration
- Post the above step I would expect the corresponding route configuration in apisix should be cleaned up. However, I still see the route configuration in the apisix API Gateway.

#

[2022-09-11 01:30] #1013 closed

[2022-09-11 06:59] tao12345666333 commented on #1326
#1315 has implemented this function and will carry it in the official version 1.5.0.  Will release next week

[2022-09-11 09:05] sanjimoh commented on #1326
Thanks!

[2022-09-11 09:12] xianshun163 commented on #1269
ok, I will do it .

[2022-09-12 11:59] tao12345666333 commented on #1326
Thanks for your willingness to actively try our pre-releases, it's important to us! We would like to receive various feedback from the community so that we can release a stable official version

[2022-09-13 07:25] nfrankel opened #1328 "bug: Incomplete display of the ApisixRoute"
### Issue description

Here's my definition of an `ApisixRoute`:

[code]

After it has been applied, I want to check the object:

[code]

Only `left` appears in the URL:

[code]

It's misleading: both `/left` and `/right` should be listed.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):

[code]

- your Kubernetes cluster version (out

[2022-09-13 08:05] xianshun163 commented on #1269
hi，@tao12345666333   ， I want to know  how the other branch  will  fix the bug,   after the code is commit to the master branch.

[2022-09-13 08:14] AlinsRan commented on #1269
After merge the master, use ` git cherry pick <commit>` in the target branch.

[2022-09-13 08:19] tao12345666333 commented on #1328
Thanks for your report.

The problem does exist, you can see the corresponding configuration from here

https://github.com/apache/apisix-ingress-controller/blob/85bcfbc9f5e697f367c33382a7410b446dc39cbb/samples/deploy/crd/v1/ApisixRoute.yaml#L302-L305

But we can't deal with this problem at present, this is due to the internal implementation limitation of Kubernetes, currently only the first one in

[2022-09-13 09:00] tao12345666333 commented on #1269
yes.

We plan to release v1.5.0 this week. If this issue can be fixed, we can cherry-pick it into v1.5.0.

[2022-09-13 10:54] xianshun163 commented on #1269
![image](https://user-images.githubusercontent.com/32457473/189883412-29af3740-0125-432b-9019-1ad4d0de1d92.png)

that seems  a problem, what can I  do for it .

[2022-09-14 03:33] lhmlihaomin opened #1332 "request help: Use certificates from AWS ACM service when deploying on Amazon EKS"
### Issue description

Hello,
Is it possible to tell apisix-ingress-gateway to read certificate files from ACM service?
Or if we set gateway.type to "LoadBalancer", is it possible to create the ELB listener with HTTPS:443 protocol instead of TCP:443?

### Environment

Ingress Controller Version:
Version: 1.4.1
Git SHA: no-git-module
Go Version: go1.16.15
Building OS/Arch: linux/amd64
Running OS/Ar

[2022-09-14 09:12] LinkMaq commented on #501
Organization: KubeGems
Location: ChengDu，China
Contact: [support@kubegems.io](support@kubegems.io)
Purpose:  Use apisix as one of the types for gateway chosen by the tenant.

组织：KubeGems
地点：中国·成都
方式：[support@kubegems.io](support@kubegems.io)
使用场景：使用 apisix 作为租户自定义网关类型的选项（开发中...）

[2022-09-16 01:17] #1221 closed

[2022-09-16 03:26] #1269 closed

[2022-09-16 04:56] tao12345666333 commented on #1332
Normally they can work together. But it needs to be verified.

[2022-09-16 13:09] stillfox-lee commented on #1325
Hi, guys. I want to use APISIX [health check](https://apisix.apache.org/docs/apisix/health-check/) to implement this feature at first. But health check seems didn't meet the requirements.

Here are health check logic:

Which GatewayAPI need return 500 instead of access to the upstream.

Should return 500 even though three is only one upstream which is invalid.

I don't know how I should implement

[2022-09-18 07:14] tao12345666333 opened #1339 "feat: Compatible with APISIX v3"
Apache APISIX v3 will be released some time later, in this version a lot of adjustments have been made to the Admin API (this is currently the main way APISIX Ingress controller communicates with APISIX)

So we need to be compatible with the Admin API in APISIX v3

The task is relatively simple

* Added APISIX v3 image for e2e test. (You can use apache/apisix:dev)
* Modify the processing logic of

[2022-09-19 01:31] #1026 closed

[2022-09-19 01:45] xiangtianyu opened #1340 "bug: unexpected result when ingress restarted"
### Issue description

if we apply yaml quickly just after the ingress restarted, it will cause some unexpected appearance

It occurs when i apply new yaml just after ingress restart, if i restart and wait for a minute, it will handle this case as usual.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): 1.5.0-rc1
- your Kubernetes clus

[2022-09-19 02:37] AlinsRan commented on #1340
No matter how I reproduce it, it is normal.

[2022-09-19 02:47] xiangtianyu commented on #1340
I retried again and definitely reproduce it.
<img width="1149" alt="截屏2022-09-19 10 45 16" src="https://user-images.githubusercontent.com/10825900/190942163-86a9ada4-2fbf-47e9-95dc-b658b2ca4241.png">
this time i used the execute file built by the newest code

Or you can stop the ingress and apply yaml and start the ingress.

[2022-09-19 02:51] AlinsRan commented on #1340
Maybe you applied yaml before initialization.

[2022-09-19 02:55] xiangtianyu commented on #1340
yes, so if the ingress is stopped, and then it start again, it will not sync this data between the gap?

[2022-09-19 03:02] AlinsRan commented on #1340
Yes, when it is started, it only watches the latest data and does not compare versions. Therefore, operations during this period will be lost.

[2022-09-19 03:08] xiangtianyu commented on #1340
IMO, this is a bug, ingress controller unavailable is unavoidable online.So it will certainly cause dirty data. This is inacceptable to me.

[2022-09-19 06:40] xiangtianyu commented on #1340
So, is there any suggestion to avoid this? Or it will be fixed in code?

[2022-09-19 07:07] AlinsRan commented on #1340
My idea is that at startup, the controller deletes all apisix objects. Or more granular deletion. For example, delete resource label is `managed-by: apisix-ingress-controller` or `crd: ApisixRoute`.

[2022-09-19 07:13] xiangtianyu commented on #1340
But if do deletions like this, the online applications will be effected. In a short time, some requests cannot trans in correct way

[2022-09-19 07:35] AlinsRan commented on #1340
By comparing resources, only redundant objects can be deleted.

[2022-09-19 07:38] xiangtianyu commented on #1340
Will it be added into the future version of apisix ingress controller?

[2022-09-19 07:52] tao12345666333 commented on #1076
#1222 has been merged. I will close this one. thanks

[2022-09-19 07:52] #1076 closed

[2022-09-19 08:32] tao12345666333 commented on #1340
No. This is too dangerous. and may lead to accidents

[2022-09-19 08:52] AlinsRan commented on #1340
It will be. I will fixes it as soon as possible.

[2022-09-20 12:08] Yousri commented on #501
组织：xmfunny ( 真有趣公司 )
地点：中国厦门
联系方式： Yousri (qingxianyan at gmail dot com)
使用场景：用于内网 kubernetes 集群 API 网关，少部分业务（主要SDK）使用中结合APISIX使用，目前其他大部分还是Traefik，待研究学习中；外网线上ACK部署用于代替阿里云 API 网关产品的功能；

[2022-09-20 14:20] stillfox-lee opened #1349 "feat: Support Gateway API route attachment constraints"
Gateway API has some constraints about Route Attachment.
Such as:

- Gateway [AllowedRoutes](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.AllowedRoutes) defines which Routes may be attached
- CommomRouteSpec [ParentReference](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.ParentReference) defines which Gateway it want to att

[2022-09-21 02:57] tao12345666333 commented on #1349
cool! Thanks for your help!

[2022-09-21 07:13] #1194 closed

[2022-09-21 07:15] tao12345666333 opened #1351 "v1.5.0 release process"
## wait to be done

- [x] #1290 upgrade all deps
- [x] #1357

## need to do

- [x] create v1.5.0 tag
- [x] send vote email
- [x] send announce email
- [x] make a new release
- [x] update container image on DockerHub
- [x] make a new Helm chart release

[2022-09-21 09:05] AlinsRan opened #1352 "discuss: Enable webhook in apisix-ingress-controller"
## Describe
  I noticed that webhook is not used in our project, and I suggest enable it.

### Advantage：
* It can help verify the schema of plugin.
* Because kubebuilder generate CRD resource does not support `oneOf` and `anyOf` verification methods Need the help of webhook.
* For example, for resources such as Gateway API Ingress etc.. We can configure plugins through annotations, and verifying

[2022-09-21 20:29] checkin247 opened #1353 "request help: Unable to enable Apisix plugins on ingress resource using ApisixPluginConfig"
### Issue description

I have setup apisix on kubernetes and deployed a test pod. I was then following [Annotation guide](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/concepts/annotations.md) to enable plugins on my ingress resources which I deployed using the following yaml:

[code]

Apisix is setup in the "ingress-apisix" namespace. I believe the "ApisixPluginCo

[2022-09-22 03:51] tao12345666333 commented on #1353
This feature was implemented in version v1.5 #1139

You can use the v1.5.0-rc1 version for testing.

Now we have entered the v1.5.0 release window. Expected to be available next week

[2022-09-22 14:26] checkin247 commented on #1353
@tao12345666333 thank you for your feedback.

I didn't see this was just released. I appreciate the feedback and will test it with the newer release soon.

[2022-09-23 02:18] tao12345666333 commented on #1353
thanks, please follow #1351 for detail

[2022-09-23 02:18] tao12345666333 commented on #1353
I will close this one.

[2022-09-23 02:18] #1353 closed

[2022-09-23 09:50] chrecht opened #1359 "request help: how to configure ingress controller to limit watch ingress resources"
### Issue description

Hello,

How do you limit which kubernetes ingress resources are exposed as apisix route/upstream ?

Currenlty I only want to use the custom CRD to expose a route/upstream in apisix.
I've added appNamspaces and/or namespaceSelector that only those "ingress" resources would be exposed but I think now that this has nothing todo with the sync behavoir from ingress <=> apisix...

[2022-09-23 20:26] tao12345666333 commented on #1359
You can add Ingress class for Ingress resources.

xref: https://github.com/apache/apisix-ingress-controller/blob/3619b741fd8a2779c92b0b3ae0a95bed3bc3cd4b/test/e2e/suite-ingress/suite-ingress-features/namespace.go#L74-L90

[2022-09-23 20:27] tao12345666333 commented on #1359
you can set it to `apisix` by default. it is configurable

[2022-09-24 01:30] #1047 closed

[2022-09-24 07:06] chrecht commented on #1359
We have a default ingressClass already set in the cluster. nginx-ingress-controller.

All our exisiting ingress resources do not have ingressClass set, because of they should fallback to the default.

But apisix exposes all of them as a route :-/

[2022-09-26 06:53] dc-weizhenhua opened #1368 "Cant sync apisixroute and apisixupstream to apisix-dashboard"
### Issue description

I'm testing canary release using apisix ingress；So I create apisixroute and apisixupstream yaml-file as follow，but I could not seen route and upstream in apisix-dashboard， and Can't visit backends service。

[code]

**apisix-ngress-controller  pod logs：**

[code]
**visit error:**
![image](https://user-images.githubusercontent.com/69373646/192210299-9f9d1cfe-0d36-4145-85d6-982

[2022-09-27 04:52] amartincolby commented on #1302
Hi. I encountered this same issue and solved it as described. The second issue I found is that if no namespace labels match the `namespaceSelector`, then it defaults to using `appNamespaces`. This was confusing to me since I would have assumed that if no namespace labels match the `namespaceSelector`, then no namespaces should be watched.

[2022-09-27 17:58] CrazyCollin commented on #1146
Hi, @Erhao , are you still working on this issue? I'm a new learner of apisix ingress controller. Maybe I can have a try on this.

[2022-09-28 00:23] tao12345666333 commented on #1146
thanks! Please!

[2022-09-28 01:44] tao12345666333 commented on #1302
This logic is fixed in our upcoming v1.5.0 release. The release has entered the release window, and voting is currently underway. will be published soon https://lists.apache.org/thread/tmmlbys8y82t9v7kf4xjzhjxvp2lsqlt

[2022-09-28 01:47] tao12345666333 commented on #1368
Hi, For clarity, are you using Istio?
Injected sidecar for APISIX Ingress?

[2022-09-28 01:48] tao12345666333 commented on #1368
you can refer to this one https://apisix.apache.org/blog/2021/12/17/exposure-istio-with-apisix-ingress/

[2022-09-29 02:30] dc-weizhenhua commented on #1368
yes

[2022-09-29 08:57] LL1024LL commented on #1187
May I know how many service/route you have in kong to cause the problem ? We need some infomation to decide kong or apisix . Appreciate for help 🙏

[2022-09-29 09:02] maristeslk opened #1371 "使用helm安装apisix-ingress-controller 没有生成对应的ingressclass"
### Issue description

我在集群当中想安装多个ingress controller并且开启了hostNetwork,通过nodeselecter来防止ingress冲突 集群中所有pod都能正常允许
我跟着官网文档
https://apisix.apache.org/zh/docs/ingress-controller/tutorials/proxy-the-httpbin-service-with-ingress/
创建了ingress 也能查到route 但是访问域名一直是404
![image](https://user-images.githubusercontent.com/47805146/192991192-bc9f842e-fac2-49a7-ad0d-14965e826789.png)

![image](https://user-images.gi

[2022-09-30 01:30] #1048 closed

[2022-09-30 02:03] tao12345666333 commented on #1371
please refer to this one https://github.com/apache/apisix-helm-chart/issues/343

[2022-09-30 02:06] tao12345666333 commented on #1368
Did you follow the documentation exactly?
The function is proven. Maybe there is some problem in your configuration

[2022-09-30 02:09] tao12345666333 opened #1372 "Proposal: Add support for APISIXPluginMetadata function"
## Background
There are two ways to configure plugins in APISIX. One is the configuration of Plugin itself, which is effective for Plugins bound to Route.
The other is a configuration that takes effect on all Plugins in APISIX instances, called PluginMedatada.
For specific differences, please refer to the APISIX documentation[1]

Although this feature is not used frequently, in order to align the

[2022-09-30 02:09] tao12345666333 commented on #1372
cc @AlinsRan @lingsamuel

[2022-09-30 05:18] AlinsRan commented on #1372
I agree, this is an existing function of APISIX, which should be supported and will not affect the existing function.

[2022-09-30 05:33] dc-weizhenhua commented on #1368
Have you seen the description of my problem carefully including environment?  I just follow the documentation every step，and bookinfo apisixroute can sync  to dashboard，but it cant，when I create an new apisixroute and  apisixbackend   with different upstream

[2022-09-30 08:46] #1148 closed

[2022-10-02 12:07] CrazyCollin commented on #1146
Hi, @tao12345666333 , feel sorry to bother you, after I build ingress controller image and load it into kind cluster, I have no good way to deploy it, sincerely looking forward to your advice.

[2022-10-03 01:17] tao12345666333 commented on #1146
You can change manifests under `sample/deploy` directory

[2022-10-03 15:45] CrazyCollin commented on #1146
Many thanks to you.

[2022-10-05 01:29] #1065 closed

[2022-10-05 14:05] chrecht commented on #1359
and now ? :)

[2022-10-06 12:50] tao12345666333 commented on #1359
We already have an isIngressEffective function that handles this logic, you can try the latest version

[2022-10-07 01:30] #849 closed

[2022-10-07 01:30] #1069 closed

[2022-10-07 01:30] #1070 closed

[2022-10-08 01:26] tao12345666333 commented on #1368
I don't fully understand what you actually mean. Can you describe it more clearly?

[2022-10-09 10:03] tao12345666333 commented on #1351
https://lists.apache.org/thread/n82hhkr51xw0kqd2hhyrt34sh2392tth

[2022-10-09 10:03] #1351 closed

[2022-10-09 10:03] shareinto opened #1374 "feat: support k8s native ingress and backend service in the different namespace"
[code]
Like the example above, ingress is under the namespace apisix, and service details is under the default namespace.
In actual production, we did encounter such a scenario, which is to use the externalName type of Service that the nginx ingress controller can support. We now want to migrate to apisix and use the old ingress api. There is a problem with the externalName supported by the nginx

[2022-10-10 01:47] cyrpg520 opened #1375 "help request: unsupported resource record"
### Description

I want to use the features of ApisixPluginConfig, customize 2 plugins, and configure annotations in ingress, but The apisix controller reported the following error:

[code]

ApisixPluginConfig is configured as follows:

[code]

Ingress is configured as follows:
[code]

ask for advice

### Environment

- APISIX version (run `apisix version`):2.13.0
- APISIX Ingress Controller versi

[2022-10-10 07:15] hyt05 opened #1376 "feature request: ApisixRoute resources use vars in Route"
### Issue description

In the example you can register a route using vars to match http requests
[code]
The scope in ApisixRoute does not seem to support customization, only Header, Query and CookiePath are supported
[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):   apisix-ingress-controller:1.4.1
- your Kubernetes cluster ver

[2022-10-10 09:10] chrecht commented on #1359
@tao12345666333  thank you, in the latest Version it is fixed :)

[2022-10-10 09:10] #1359 closed

[2022-10-10 09:54] cyrpg520 commented on #1375
看了下源代码1.15.0版本 /pkg/ingress/status.go中apisixpluginconfig好像没有v2版本的类型，所以注解中添加插件时报错：`error ingress/status.go:336 unsupported resource record`
这是不是1.15.0版本的bug啊？

[code]

[2022-10-10 13:40] tao12345666333 commented on #1376
Yes. If I remember correctly, the feature is not implemented yet

[2022-10-10 15:01] hyt05 commented on #1376
Is it in the plan

[2022-10-11 01:35] tokers commented on #1376
@hyt05 We don't have a specific proposal for this, but maybe extend the `exprs` would be a good idea, i.e., adding a new scope type `Variable`.

[code]

[2022-10-11 03:06] tao12345666333 commented on #1376
Yes, we can add this to our plan.

Currently we are in the development cycle of v1.6 version, I think it can add in v1.6

[2022-10-11 03:07] tao12345666333 commented on #1376
Are you interested in making it happen?  Contact me if you need help

[2022-10-11 07:49] AlinsRan commented on #1375
yeah，i reproduce it. Are you interested in submitting pr to fix it?

[2022-10-12 07:56] hwdef commented on #1339
/cc

[2022-10-12 14:42] shareinto opened #1378 "bug: init stuck case many namespace"
### Issue description

my k8s cluster has about 15k namespaces
[code]
and log dispaly that every namespace stuck 10 seconds, so the provider start took a long time
[code]
and i debug the code found that is the provider_init.go
https://github.com/apache/apisix-ingress-controller/blob/8a17eea26e96570dd1054f258e484bf7814627eb/pkg/providers/apisix/provider_init.go#L141

### Environment

- your apisix-

[2022-10-13 10:56] Cabel-T opened #1379 "bug: configmap的default_cluster_base_url参数不支持lb地址"
### Issue description

configmap的default_cluster_base_url参数只能为apisix的IP地址，我有多个apisix服务器做负载，此处填写单一IP显然是非高可用的，如果此IP down掉呢；我在此处填写lb的地址，lb后端是多个apisix集群，可是在创建了apisix-route后无法delete掉，而且日志也有各种报错，此处为bug吧

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress

[2022-10-13 11:32] hyt05 commented on #1376
Thank you for your trust, I don't have development capabilities at the moment, and if I did, I would be honored to make it happen

[2022-10-14 01:30] #1081 closed

[2022-10-14 01:30] #1084 closed

[2022-10-14 06:02] AlinsRan commented on #1378
This can be optimized by listing all the resources of the watch instead of polling all the ns.

[2022-10-14 07:20] tao12345666333 commented on #1378
yes.We can do a quick fix.
Just look at the currently watched namespaces.

[2022-10-14 07:21] tao12345666333 commented on #1378
@shareinto Are you interested in submitting a PR to fix it?  Feel free to contact me if you need any help

[2022-10-14 08:43] tao12345666333 commented on #1379
It looks like your backend APISIX is in an abnormal state.

[2022-10-14 08:44] tao12345666333 commented on #1379
Does your LB have a retry mechanism?

[2022-10-14 09:01] cyrpg520 commented on #1375
Hello, you can modify it directly

[2022-10-14 09:02] cyrpg520 commented on #1375
Hello, you can modify it directly

[2022-10-14 09:03] cyrpg520 commented on #1375
@tao12345666333 Hello, you can modify it directly

[2022-10-14 09:04] tao12345666333 commented on #1375
okay

[2022-10-14 10:48] shareinto opened #1387 "bug: ingress extensions/v1beta1 seems like does not support tls"
### Issue description

https://github.com/apache/apisix-ingress-controller/issues/586
now it support networking.k8s.io/v1 networking.k8s.io/v1beta1
i don't know why extensions/v1beta1 is not supported
it's a pity that I have a large number of extensions/v1beta1 that have not been upgraded

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long

[2022-10-14 16:02] misstick86 opened #1388 "bug: controller auth 403"
### Issue description

Enter the following command. I get 403 error in controller. So, this is my operator problem.

[code]
and then. you should change **default_cluster_base_url** value in configmap name is `apisix-ingress-controller-configmap`. and change deployment yaml for init container settings.

someboy can try do this again.  see if there will be this problem.

### Environment

- your apis

[2022-10-14 16:33] misstick86 commented on #1388
I already know the reason. may be we should give a note in repo docs for [here](https://github.com/apache/apisix-helm-chart/blob/master/docs/en/latest/apisix.md).

[reason](https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/templates/configmap.yaml#L247). apisix has some rule for access requests.

[2022-10-14 19:59] tao12345666333 commented on #1387
`extensions/v1beta1`  This version is too old.

The extensions/v1beta1 and networking.k8s.io/v1beta1 API versions of Ingress is no longer served as of v1.22.

We don't want to continue adding support for such an old version.

Of course, we also accept PRs if anyone is interested in implementing it

[2022-10-14 20:03] tao12345666333 commented on #1388
you can see  https://github.com/apache/apisix-helm-chart/blob/0271a095d8294554319407c64dd60c525117e127/charts/apisix/templates/configmap.yaml#L255-L257

Our recommended installation is to install all components in one command.
[code]

[2022-10-14 20:03] tao12345666333 commented on #1388
you can see  https://github.com/apache/apisix-helm-chart/blob/0271a095d8294554319407c64dd60c525117e127/charts/apisix/templates/configmap.yaml#L255-L257

Our recommended installation is to install all components in one command.
[code]

[2022-10-15 02:20] misstick86 commented on #1388
yeap.

[2022-10-15 02:20] #1388 closed

[2022-10-15 05:33] AlinsRan commented on #1378
We can use the local cache to do this, that is, client-go Informer
1. Make sure the Informer is started.
2. Wait for API Server synchronize data to local cache.
3. To be able to get or compare these objects from informer.

[2022-10-17 01:25] AlinsRan commented on #1374
I have a few doubts.
1. Why cross ns?
2. Can't the same namespace be used for the ingress resource and service?

It should be noted that if the `namespace_selector` flag is enabled and the `namespace: default` is not in the monitoring range, the update of Endpoints API will be lost.

[2022-10-17 05:59] shareinto commented on #1374
Yes, I can understand your doubts, our business sometimes requires ingress and service to be in different namespaces, which depends on the choice of our customers. We found some implementations of the same:
(1) https://github.com/nginxinc/kubernetes-ingress/tree/v2.3.0/examples/custom-resources/cross-namespace-configuration
(2) type of externalName service in nginx ingress controller

[2022-10-18 01:30] #1089 closed

[2022-10-18 08:47] wofr commented on #1082
I run into the same problem.  I deployed apisix by using helm-chart therefore I had to adapt the following paramter

[code]
which changes the value apisix.ssl.listen_port to 443, just in case somebody runs into the same problem.  I suggest the documentation (https://apisix.apache.org/docs/apisix/plugins/redirect/) should be updated.

[2022-10-18 10:06] shareinto opened #1393 "perf: When a large number of resources exist, the data in the cache is not synchronized"
### Issue description

When the tls of the ingress is translated, it needs to obtain the secret from the lister, but the informer may not be completed synchronously at this time, so the acquisition of the secret fails.

What I can be sure of is that the secret does exist

[code]
error log

[code]

https://github.com/apache/apisix-ingress-controller/blob/5f2c39815f483b30f4ae3305556564244563a589/pkg

[2022-10-20 01:52] shareinto commented on #1393
[code]
@tao12345666333

[2022-10-23 14:40] #1387 closed

[2022-10-24 01:30] #1100 closed

[2022-10-24 21:53] ohayak commented on #1082
Indeed it changes the container port but it dosn't solve the problem, redirect still rewrite the port to 9443. The workaround that worked for me was to edit the redirect plugin attribute "https_port" to match containerPort on 443
I m using the heml chart so it's sometjing like:
[code]

[2022-10-25 05:35] wofr commented on #1082
Out of interest, I alsow used the helm-chart but the pluginsAttrs redirect was not part of the config created by helm, I guess thats why I needed to adapt the containerport.

[2022-10-25 08:55] tao12345666333 commented on #1082
https://github.com/apache/apisix-helm-chart/blob/46d0096fd23fdcad58e8337d62c78550c0014b46/charts/apisix/values.yaml#L159

you can try to change this item to 443

[2022-10-25 09:03] wofr commented on #1082
For me adding the helm paramter `"gateway.tls.containerPort"  value: "443" `  did the trick!   First I tried to change ` "pluginAttrs.  redirect.https_port: 443'`  like @ohayak did but it did not work as ` "pluginAttrs.redirect.https_port'` was not part of the configuration.    Out of interest, I would like to know how he managed to add the prameter `"pluginAttrs.redirect.https_port"`  to the conf

[2022-10-25 09:14] tao12345666333 commented on #1393
This problem is worth fixing.

I would like to know more information. Do you have a large cluster? Or are you doing a stress test?

[2022-10-26 05:43] shareinto commented on #1393
yes i have a production cluster ,There are about 9000 ingresses, 80000 secrets and 15000 namespaces。I did remote debugging on this cluster. The exception was indeed that when the lister obtained the secret, a secret not found exception occurred. After I added waitforsynced to the informer, the exception disappeared.

[2022-10-26 07:40] jnystad opened #1408 "feat: Allow use of config maps and secrets in plugin configs"
Hi there,

Some plugins require secrets in their configs (e.g. openid-connect with client_secret and session.secret), but there is no way of injecting this from a Kubernetes secret that I can see. Likewise, obtaining some values from config maps could be very useful.

This makes it hard to automate deployments when using apisix-ingress-controller without writing custom scripts to inject secrets at

[2022-10-26 09:34] jnystad commented on #1408
Yes, please. And if you include the option to set secret key name as well, that would probably solve the most common use cases.

[2022-10-27 06:06] dickens7 commented on #1375
Will this bug be fixed for v1.5?

[2022-10-27 08:24] tao12345666333 commented on #1375
yes,   we will relase v1.5.1 and include this one.
https://github.com/apache/apisix-ingress-controller/pull/1409

[2022-10-27 10:33] dickens7 opened #1412 "bug: failed to reflect pluginConfig delete to cache: still in use"
### Issue description

An exception occurs when ApisixPluginConfig is used by multiple ApisixRoute or Ingress

https://github.com/apache/apisix-ingress-controller/blob/v1.5.0/pkg/ingress/apisix_route.go#L329-L336

https://github.com/apache/apisix-ingress-controller/blob/v1.5.0/pkg/kube/translation/apisix_route.go#L924-L927

### Environment

- your apisix-ingress-controller version (output of apisi

[2022-10-27 12:50] tao12345666333 commented on #1412
If pluginconfig is still used, we should not delete it

[2022-10-27 12:51] tao12345666333 commented on #1412
I see you describe the actual result.  Can you describe the expected result?

[2022-10-27 14:07] dickens7 commented on #1412
https://github.com/apache/apisix-ingress-controller/blob/21f39e966dedb0765a9848302f8cb713aa461cfe/pkg/ingress/apisix_route.go#L329-L339

- oldCtx
https://github.com/apache/apisix-ingress-controller/blob/21f39e966dedb0765a9848302f8cb713aa461cfe/pkg/kube/translation/apisix_route.go#L924-L928

After the above code `m.Diff(om)` is executed, deleted.PluginConfigs is not empty;

### Expected result

Api

[2022-10-28 09:28] zou8944 commented on #1146
@CrazyCollin How is this work going ?

[2022-10-29 01:29] #1105 closed

[2022-10-29 02:48] dickens7 commented on #1375
After merging #1409
Multiple ApisixRoute refer to the same ApisixPluginConfig

[code]

- error-log

[code]

[2022-10-29 10:08] helloxubo opened #1415 "request help: The apisixupstream is wrong!"
### Issue description

Hello!
     I update the apisix-ingress-controller to 1.5.0 from 1.4.0 use  the apisix-helm-charts(apisix-0.11.1) .  When I have a problem.  A apisixupstream use loadbalancer with chash changed to roundrobin. It was true before the upgrade!
    Who can help me, thinks?

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --l

[2022-10-29 15:01] #1415 closed

[2022-10-30 01:31] #1125 closed

[2022-10-31 03:34] zou8944 opened #1416 "feat: allow to custom port when `make kind-up`"
### Issue description

The default port of kind is 5000, and the script `make kind-up` does not support to custom port. In some case, 5000 is occupied by other process.

I am using macbook pro, and macOS Monterey, the 5000 port is used by Control Panel. Although I can release this port in setting. But it's inconvenient.

If you agree to allow to custom it, I can do it.

### Environment

OS: Darwin

[2022-10-31 07:10] tao12345666333 opened #1418 "feat: add support for Gateway API HTTPRouteFilter"
https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRouteFilter

HTTPRouteFilter can appear in [HTTPBackendRef](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPBackendRef) and [HTTPRouteRule](https://gateway-api.sigs.k8s.io/v1al:pha2/references/spec/#gateway.networking.k8s.io/v1beta1.HTTPRouteRule)

Since t

[2022-10-31 07:15] zou8944 opened #1419 "dev-env: registry container should also be deleted when `make kind-reset`"
### Issue description

`make kind-up` start registry and k8s cluster, while `make kind-reset` delete k8s cluster only and registry container is remaining, there are 2 disadvantages.

- Semantically, `make kind-reset` should be opposite to `make kind-up`, current script breaks this rule.
- If registry container start failed when `make kind-up` (may be port occupy conflict), to clean the environment

[2022-10-31 07:40] AlinsRan commented on #1418
let me make it happen.

[2022-11-01 06:15] dickens7 opened #1420 "discuss: ingress annotations supports the specified upstream protocol"
### Issue description

# Describe

Use ingress to expose resources upstream of gRPC, gRPCs, or https

We can add Ingress annotations `k8s.apisix.apache.org/upstream-protocol`

[code]

- http
- https
- gRPC
- gRPCs

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you r

[2022-11-01 06:28] #1374 closed

[2022-11-01 07:11] tao12345666333 commented on #1420
SGTM!

[2022-11-01 07:17] tao12345666333 commented on #1419
This is a problem.

But I have some different ideas.

Since the registry can be used to store images, it is stateful. Users can use it to store some images.

I'm leaning towards us adding some logic, or some options.
Allow the user to have a registry, or allow the user to control whether to clean up the registry

WDYT @lingsamuel @AlinsRan

[2022-11-01 07:18] checkin247 opened #1421 "docs: Provides configuration in different Kubernetes versions for the Ingress resource"
### Issue description

Hi,

I have found [examples](https://apisix.apache.org/docs/ingress-controller/tutorials/proxy-the-httpbin-service-with-ingress/) which use the 'annotation' or the 'spec' part of the kubernetes manifest to define the ingress controller class.

Using v. 1.5.0
respectively: apache/apisix-ingress-controller:1.5.0

It seems to work with the 'spec' definition:

[code]

however, I

[2022-11-01 07:23] tao12345666333 commented on #1421
https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation

[2022-11-01 07:26] checkin247 commented on #1421
@tao12345666333 thank you for the immediate resonse.
Some of the documentations are using the annotation version, example:
https://apisix.apache.org/docs/ingress-controller/concepts/annotations/#redirect

I think this should be updated then.